  <!-- InstanceBeginEditable name="main" -->
  <article class="container" id="challenge-research">
    <div class="row">
        <div class="text-center">
          <img style="width: 350px; height: auto;" src="https://res.cloudinary.com/shingo/image/upload/v1549391222/WebDesign/Logos/Shingo_Institute_Alumni_Logo.jpg" alt="Shingo Institute - Shingo Institute Alumni" />
        </div>
        <br>
        <div class="nine centered text-center columns">
            
            <h4>The Shingo Alumni consists of individuals from a wide variety of organizations and industries around the world who have attended the Shingo workshop series.</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <p>These individuals have distinguished themselves by applying what they learned in the workshops and implementing systems that help to drive their cultural transformation. A Shingo Alum’s cultural transformation is highlighted by measured improvement in key performance indicators driven by the appropriate behaviors.</p>
  		<h4 style="text-align: center;"><strong>Benefits for Shingo Alumni</strong></h4>
  		<ul class="square" style="max-width: 342px; margin: auto;">
  			<li>Recognition at a Shingo Awards Gala</li>
  			<li>Discount to Shingo conferences and summits</li>
  			<li>Name and company listed on the Shingo website</li>
  			<li>Shingo Alumni graphic for email signature line</li>
  		</ul>
        <br>
        <p>If you are interested in joining this elite group, please click on the red button below to submit your application. Be prepared to share dates and locations of the required workshops, as well as information relating to any projects you have completed as a result of your workshop learnings.</p>
        <br>
        <div class="row text-center">
            <div class="large rounded btn" style="background: #2FA3F0"><a href="https://huntsmancrm.tfaforms.net/359029" target="_blank">Shingo Alumni Application</a></div>
        </div>
        <br>
        <br>
        <div class="twelve columns">
            <table class="striped">
                <tbody>
                    <tr>
                        <td colspan="4"><h4 class="roboto"><strong>Shingo Alumni</strong> Recipients</h4></td>
                    </tr>
                    <tr>
                    <td>Name</td>
                    <td colspan="2">Title</td>
                    <td>Company</td>
                    </tr>
                    {{#each awards}}
                        {{>_recipient-table this}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
  </article>
  <!-- InstanceEndEditable -->
