  <!-- InstanceBeginEditable name="main" -->
  <article class="container" id="challenge-research">
    <div class="row">
        <div class="text-center">
          <img style="width: 500px; height: auto;" src="https://res.cloudinary.com/shingo/image/upload/v1481222893/WebDesign/Logos/ShingoLogo-Tagline-2016.png" alt="Shingo Institute - Home of the Shingo Prize" />
        </div>
        <div class="nine centered text-center columns">
            <h2 class="quattrocento">Shingo Alumni</h2>
            <h4>The Shingo Alumni list consists of individuals from a wide variety of organizations and industries around the world that have attended the Shingo workshop series.</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <p>These individuals have distinguished themselves by applying what they learned in the workshops and implementing systems that help to drive their cultural transformation. A Shingo Alum’s cultural transformation is highlighted by measured improvement in key performance indicators driven by the appropriate behaviors.</p>
  		<h4><strong>Benefits of Becoming a Shingo Alumni</strong></h4>
  		<ul class="square">
  			<li>Recognized at the annual Shingo Awards Gala.</li>
  			<li>25% discount to the annual Shingo Conference.</li>
  			<li>Name and company listed on the Shingo Website.</li>
  			<li>Shingo Alumni graphic provided for email signature line.</li>
  		</ul>
        <div class="row text-center">
            <div class="medium secondary rounded btn"><a href="https://huntsmancrm.tfaforms.net/359029" target="_blank">Shingo Alumni Application</a></div>
        </div>
        <br>
        <div class="twelve columns">
            <table class="striped">
                <tbody>
                    <tr>
                        <td colspan="4"><h4 class="roboto"><strong>Shingo Alumni</strong> Recipients</h4></td>
                    </tr>
                    <tr>
                    <td>Name</td>
                    <td colspan="2">Title</td>
                    <td>Company</td>
                    </tr>
                    {{#each awards}}
                        {{>_recipient-table this}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
  </article>
  <!-- InstanceEndEditable -->
