<<!-- InstanceBeginEditable name="main" -->
<article class="container" id="recipients">
<div class="row">
  	<div class="nine centered columns text-center">
          <h2 class="quattrocento">We promote and recognize world-class organizational culture that drives results.</h2>
          <br>
          <div class="row text-center">
              <img src="https://res.cloudinary.com/shingo/image/upload/c_crop,g_west,h_197,w_145/c_scale,h_105/v1421100749/Shingo_Prize_Web_q8vq0p.png"> &nbsp; &nbsp;
              <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,w_95/v1433881373/2015_April-Silver_Medallion_Only_fgn7n4.png"> &nbsp; &nbsp;
              <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,w_95/v1433881373/2015_April-Bronze_Medallion_Only_oshqky.png"> &nbsp; &nbsp;
              <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,w_95/v1427305802/research-medallion_skkysw.png">
          </div>
          <br>
          <h4>The Shingo Prize is the world's highest standard for operational excellence.</h4>
          <br>
          <h6 class="quattrocento"><em>Learn more about challenging for the <a href="./challengefortheprize">Shingo Prize</a> or <a href="./researchaward">Research Award</a>.</em></h6>
      </div>
  </div>
  <br>
  <div class="row">
  	<section class="vertical tabs row">
          <ul class="tab-nav two columns">
              <li class="active"><a href="#">Shingo Prize</a></li>
              <li><a href="#">Silver</a></li>
              <li><a href="#">Bronze</a></li>
              <!-- <li><a href="#">Research</a></li>
              <li><a href="#">Historical Data</a></li> -->
          </ul>
          <div class="tab-content active ten columns">
              <table class="striped">
                  <tbody>
                  	<tr>
                      	<td colspan="3"><h4 class="roboto"><strong>Shingo Prize</strong> Recipients</h4></td>
                      </tr>
            		      <tr>
                    			<td>2016</td>
                    			<td><a href="awards/prize-boston">Boston Scientific Cork</a></td>
                    			<td>Cork, Ireland</td>
            		      </tr>
                      <tr>
                          <td></td>
                          <td><a href="awards/prize-rexam-bev">Rexam Querétaro</a></td>
                          <td>Querétaro, Mexico</td>
                      </tr>
											<tr>
                          <td>2015</td>
                          <td><a href="awards/prize-abbott">Abbott Diagnostics Longford</a></td>
                          <td>Longford, Ireland</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="awards/prize-eca">Envases Universales Rexam de Centroamerica, S.A.</a></td>
                          <td>Amatitlan, Guatemala</td>
                      </tr>
                      <tr>
                          <td>2014</td>
                          <td><a href="awards/prize-newsprinters">NewsUK - Newsprinters Ltd</a></td>
                          <td>Holytown, Motherwell, UK</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="awards/prize-barnes-ogden">Barnes Aerospace OEM Strategic Business</a></td>
                          <td>Ogden, Utah</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="awards/prize-depuysynthes-ireland">DePuy Synthes Ireland</a></td>
                          <td>Cork, Ireland</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="awards/prize-abbottvascular-ireland">Abbott Vascular</a></td>
                          <td>Clonmel, Tipperary, Ireland</td>
                      </tr>
                      <tr>
                          <td>2012</td>
                          <td><a href="awards/prize-ethicon">Ethicon Inc.</a></td>
                          <td>Juarez, Chihuahua, Mexico</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="awards/prize-rexam">Rexam Beverage Can, Águas Claras Cans</a></td>
                          <td>Águas Claras, Rio Grande do Sul/Viamão, Brazil</td>
                      </tr>
                      <tr>
                          <td>2011</td>
                          <td><a href="awards/prize-goodyear-brasil">Goodyear do Brasil Produtos de Borracha Ltda</a></td>
                          <td>São Paulo, Brazil</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-USSynthetic.pdf">US Synthetic</a></td>
                          <td>Orem, Utah</td>
                      </tr>
                      <tr>
                          <td>2010</td>
                          <td><a href=" https://www.youtube.com/watch?v=YnyxaLSO3QU&feature=youtu.be" target="blank">John Deere Power Products</a></td>
                          <td>Greeneville, Tennessee</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td>Lycoming Engines</td>
                          <td>Williamsport, Pennsylvania</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="tab-content ten columns">
              <table class="striped">
                  <tbody>
                  	<tr>
                      	<td colspan="3"><h4 class="roboto"><strong>Silver Medallion</strong> Recipients</h4></td>
                      </tr>
                      <tr>
						<td>2017</td>
                        <td><a href="awards/silver-hospira">Hospira Limited - a Pfizer Compa</a></td>
						<td>Haina, San Cristobal, Dominican Republic</td>
                      </tr>
                      <tr>
						<td>2016</td>
                        <td><a href="awards/silver-medarottapharm">Meda Rottapharm Ltd – a Mylan company</a></td>
						<td>Dublin, Ireland</td>
                      </tr>
                      <tr>
						<td>2015</td>
                        <td><a href="awards/silver_commonwealth">Commonwealth Bank of Australia</a></td>
						<td> Sydney, Australia</td>
                      </tr>
                      <tr>
                          <td>2014</td>
                          <td><a href="awards/silver_rexam-jacarei">Rexam Beverage Can South America, Jacareí</a></td>
                          <td>Jacareí, São Paulo, Brazil</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="awards/silver_pympsa">PyMPSA Plásticos y Materias Primas</a></td>
                          <td>Guadalajara, Jalisco, Mexico</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/A%20-%20General%20-%20Company%20profile%20-%20Rexam%20Neuenburg.pdf">Rexam Healthcare, Neuenburg</a></td>
                          <td>Neuenburg am Rhein, Germany</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/Profile%20-%20Rexam%20Enzesfeld.pdf">Rexam Beverage Can, Enzesfeld</a></td>
                          <td>Enzesfeld, Vienna, Austria</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/Profile%20Sheet%20-%20Boston%20Scientific%20Maple%20Grove.pdf">Boston Scientific, Maple Grove</a></td>
                          <td>Maple Grove, Minnesota</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/Profile%20Sheet%20-%20CNR%20Jan%202014%20-%20Vale%20Refinery.pdf">Vale Europe Ltd., Clydach Refinery</a></td>
                          <td>Clydach, Swansea, UK</td>
                      </tr>
                      <tr>
                          <td>2013</td>
                          <td><a href="assets/press/ProfileSheet-MEIQueretaroMX.pdf">MEI Queretaro</a></td>
                          <td>El Marques, Querétaro, Mexico</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-PentairMoorparkCA.pdf">Pentair Water Pool and Spa</a></td>
                          <td>Moorpark, California</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/Profile%20-%20Rexam%20BCSA%20Manaus.pdf">Rexam Beverage Can South America, Manaus Ends</a></td>
                          <td>Manaus, Amazonas, Brazil</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/Profile%20-%20Rexam%20BCSA%20Extrema.pdf">Rexam do Brasil Ltda Extrema Can Plant</a></td>
                          <td>Extrema, Minas Gerais, Brazil</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/Profile%20sheet%20-%20Visteon%20Climate%20India.pdf">Visteon Climate Systems India Ltd</a></td>
                          <td>Bhiwadi, Alwar, Rajasthan, India</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/Profile%20Sheet%20-%20Visteon%20Electronica%20Saucito%20MX.pdf">Visteon Electronica Mexico - Saucito Plant</a></td>
                          <td>Chihuahua, Chihuahua, Mexico</td>
                      </tr>
                      <tr>
                          <td>2012</td>
                          <td><a href="assets/press/ProfileSheet-PentairMX.pdf">Pentair Technical Products</a></td>
                          <td>Reynosa, Tamaulipas, Mexico</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-TYADCOMSEC.pdf">Tobyhanna Army Depot, COMSEC</a></td>
                          <td>Tobyhanna, Pennsylvania</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-VisteonCarolinasMX.pdf">Visteon Electronica Mexico - Carolinas Plant</a></td>
                          <td>Chihuahua, Chihuahua, Mexico</td>
                      </tr>
                      <tr>
                          <td>2011</td>
                          <td><a href="assets/press/ACW-CompanyProfile.pdf">Autoliv (China) Steering Wheel Co., Ltd.</a></td>
                          <td>Shanghai, China</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-BarnesAerospaceOgdenUT.pdf">Barnes Aerospace OEM Strategic Business</a></td>
                          <td>Ogden, Utah</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-DjorthopedicsdeMexicoTijuanaMX.PDF">dj Orthopedics de Mexico S.A. de C.V.</a></td>
                          <td>Tijuana, Baja California, Mexico</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-LundbeckCopenhagen_000.pdf">Lundbeck, Supply Operation &amp; Engineering (Valby and Lumsas site)</a></td>
                          <td>Valby, Copenhagen, Denmark</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-RemyComponentesSLPMX.pdf">Remy Componentes, S. de R.L. de C.V.</a></td>
                          <td>San Luis Potosi, SLP, Mexico</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-RexamRecife.pdf">Rexam Beverage Can South America-Recife Ends</a></td>
                          <td>Cabo Sto Agostinho, Cabo Sto Agostinho, Brazil</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-TYADMiniMutes.pdf">Tobyhanna Army Depot (AN/MST-T1(V))</a></td>
                          <td>Tobyhanna, Pennsylvania</td>
                      </tr>
                      <tr>
                          <td>2010</td>
                          <td><a href="assets/press/ProfileSheet-AutolivAQWMexico.pdf">Autoliv Steering Wheels Mexico AQW S. de R.L. de C.V.</a></td>
                          <td>El Marqués, Mexico</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/10-GoodyearLawton.pdf">Goodyear Tire &amp; Rubber</a></td>
                          <td>Lawton, Oklahoma</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/10-HiTechGearsIndia.pdf">Hi-Tech Gears Ltd.</a></td>
                          <td>Manesar, India</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="tab-content ten columns">
              <table class="striped">
                  <tbody>
                  	<tr>
                      	<td colspan="3"><h4 class="roboto"><strong>Bronze Medallion</strong> Recipients</h4></td>
                      </tr>
                      <tr>
						<td>2017</td>
                        <td><a href="awards/bronze-landapparel">Land Apparel S.A.</a></td>
						<td>Puerto Cortés, Honduras</td>
                      </tr>
                      <tr>
                          <td>2015</td>
                          <td><a href="awards/bronze_lake">Lake Region Medical</a></td>
                          <td>New Ross, Wexford, Ireland</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td>Boston Scientific, Costa Rica</td>
                          <td>El Coyol, Alajuela, Costa Rica</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td>Carestream Health, Yokneam</td>
                          <td>Yokneam, Israel</td>
                      </tr>
                      <tr>
                          <td>2014</td>
                          <td><a href="awards/bronze_lundbeck-italy">Lundbeck Pharmaceuticals Italy S.p.A.</a></td>
                          <td>Padova, Italy</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="awards/bronze_vistaprint-australia">Vistaprint Deer Park Australia</a></td>
                          <td>Derrimut, Victoria, Australia</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/Recipient%20Profile%20-%20Corporation%20Steris%20Canada.pdf">Corporation Steris Canada</a></td>
                          <td>Québec, QC, Canada</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ACI-CompanyProfile.pdf">Autoliv (China) Inflator Co., Ltd.</a></td>
                          <td>Shanghai, China</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/Profile%20Sheet%20-%20Rexam%20Rio%20de%20Janeiro.pdf">Rexam Beverage Can South America, Rio de Janeiro</a></td>
                          <td>Rio de Janeiro, Brazil</td>
                      </tr>
                      <tr>
                          <td>2013</td>
                          <td><a href="assets/press/ProfileSheet-CovidienAthlone.pdf">Covidien</a></td>
                          <td>Athlone, Ireland</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/Profile%20-%20LEAD%20Force%20Provider.pdf">Letterkenny Army Depot, Force Provider</a></td>
                          <td>Chambersburg, Pennsylvania</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/Profile%20Sheet%20-%20Regeneron%20IOPS.pdf">Regeneron Pharmaceuticals Inc. (IOPS)</a></td>
                          <td>Rensselaer, New York</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-RexamBCSACuiaba.pdf">Rexam Beverage Can South America, Cuiabá Cans</a></td>
                          <td>Cuiabá, Mato Grosso, Brazil</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-Starkey2013.pdf">Starkey de Mexico S.A. de C.V.</a></td>
                          <td>Matamoros, Tamaulipas, Mexico</td>
                      </tr>
                      <tr>
                          <td>2012</td>
                          <td><a href="assets/press/ProfileSheet-JCIMX.pdf">Johnson Controls Lerma Plant</a></td>
                          <td>Lerma, Mexico</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-LakeRegionMedicalIreland.pdf">Lake Region Medical Limited</a></td>
                          <td>New Ross, Co. Wexford, Ireland</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-RemyAutomotiveBrasil.pdf">Remy Automotive Brasil Ltda.</a></td>
                          <td>Brusque, Santa Catarina, Brazil</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/Profile%20Sheet%20-%20State%20Farm%20Life%20Bloomington.pdf">State Farm Life Insurance Company, Operations Center</a></td>
                          <td>Bloomington, Illinois</td>
                      </tr>
                      <tr>
                          <td>2011</td>
                          <td><a href="assets/press/ProfileSheet-DenverHealth.pdf">Denver Health, Community Health Services</a></td>
                          <td>Denver, Colorado</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-LEADAGPU.pdf">Letterkenny Army Depot, Aviation Ground Power Unit</a></td>
                          <td>Chambersburg, Pennsylvania</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-LeylandTrucksLancashireUK.pdf">Leyland Trucks Ltd.</a></td>
                          <td>Leyland, Lancashire, UK</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-RexamJundiai.pdf">Rexam Plastic Packaging do Brasil</a></td>
                          <td>Jundiaí, São Paulo, Brazil</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/ProfileSheet-ARDEC.pdf">US Army Armament Research, Development &amp; Engineering Center</a></td>
                          <td>Picatinny Arsenal, New Jersey</td>
                      </tr>
                      <tr>
                          <td>2010</td>
                          <td><a href="assets/press/10-LEADPatriotMissile.pdf">Letterkenny Army Depot, Patriot Missile</a></td>
                          <td>Chambersburg, Pennsylvania</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><a href="assets/press/10-TYADSidewinder.pdf">Tobyhanna Army Depot, AIM-9M Sidewinder Missile</a></td>
                          <td>Tobyhanna, Pennsylvania</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <p class="text-center"><a href="assets/press/Database-Past_Recipients_2009_back.pdf"><em>View the recipient archive, 1988 - 2009</em></a></p>
      </section>
  </div>
</article>
<!-- InstanceEndEditable -->
