<!-- InstanceBeginEditable name="main" -->
<article class="container" id="challenge-prize">
    <div style="margin: auto; width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center;">
        <div class="award-icon-container">
            <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_131/v1489102402/WebDesign/Logos/Shingo-Prize-Logo-2017.png"> &nbsp; &nbsp;
            <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,w_119/v1519246141/WebContent/Silver_Medallion.png"> &nbsp; &nbsp;
            <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,w_119/v1519246141/WebContent/Bronze_Medallion.png"> &nbsp; &nbsp;
        </div>
    </div>
    <br>
    <div class="row">
        <p>The Shingo Prize is based on a complete assessment of an organization’s culture and how well it drives world-class
            results. Shingo examiners focus on the degree to which the <em>Shingo Guiding Principles</em> of the <em>Shingo Model™</em> are evident in the behavior of every employee. The examiners observe behavior and determine the frequency, duration,
            intensity and scope of the desired principle-based behavior. They also observe the degree to which leaders focus
            on principles and culture, and managers focus on aligning systems to drive ideal behaviors at all levels.</p>
        <p>This focus is unique in the world and is the most rigorous way to determine whether an organization is fundamentally
            improving for the long-term, or just going through the motions of another flavor-of-the-month initiative.</p>
        <p>Most organizations do not wait to challenge for the Shingo Prize until they are likely to win it. Rather, they use
            their challenge as part of their progression as a way to guide their journey of continuous improvement. Many
            organizations do not intend to ever challenge for the Shingo Prize but use the <em>Shingo Model™</em> as the
            standard of excellence to which they aspire.</p>
        <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
            <div class="text-center">
                <div class="medium info rounded btn" style="width: 200px; background: #640921;"><a href="https://usu.box.com/s/soon7kiuivk7kdftg80zpcyz6cfh8a2b" target="_blank">Application Guidelines</a></div>
            </div>
            <div class="text-center" >
                <div class="medium info rounded btn" style="width: 200px; background: #640921;"><a href="#" class="switch" gumby-trigger="#challenge">Application Form</a></div>
            </div>
            {{!-- <div class="four columns text-center">
                <div class="medium info rounded btn"><a href="#" class="switch" gumby-trigger="#rechallenge">Re-Challenge Application Form</a></div>
            </div> --}}
        </div>
    </div>
    <br>
    <div style="display: flex; flex-direction: column">
        <div class="floated-videos">
            <iframe class="award-vid" width="420" height="236" src="https://www.youtube.com/embed/knnowL0CNow?showinfo=0" frameborder="0" allowfullscreen></iframe>
            <iframe class="award-vid" width="420" height="236" src="https://www.youtube.com/embed/ICzbKJVbuVw?showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="floated-videos">
            <iframe class="award-vid" width="420" height="236" src="https://www.youtube.com/embed/FYsG5mDy_N8?showinfo=0" frameborder="0" allowfullscreen></iframe>
            <iframe class="award-vid" width="420" height="236" src="https://www.youtube.com/embed/DpHSursCF88?showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <br>
            <h5><strong>View our frequently asked questions <a href="prizefaq">here</a>.</strong></h5>
            <h5><strong>View our previous Shingo Award recipients <a href="awards">here</a>.</strong></h5>
            {{!-- <div class="row valign">
                <div>
                    <p>Click on the thumbnail to view a flow chart of the application process: &nbsp; </p>
                </div>
                <div>
                    <a href="assets/press/prize/Assessment_Process_Flow_Chart.pdf" target="_blank"><img src="https://res.cloudinary.com/shingo/image/upload/bo_2px_solid_rgb:b17c31,c_thumb,h_60,w_60/v1428963364/Assessment_Process_Flow_Chart_zsakbx.png"
                            alt="Assessment Process Flow"></a>
                </div>
            </div> --}}
            <br>
            <div class="row">
                <div class="nine centered text-center columns">
                    <h3><em>"The Shingo principles, founded in logic and built over time, have assisted us in moving further towards operational excellence.” - Pat Kealy, Business Excellence Manager, Abbott Vascular, Ireland</em></h3>
                </div>
            </div>
            <br>
            <div>
                <p class="footnotes">*Note: Achievement reports will be accepted at anytime throughout the year. Achievement reports not received
                in time to process before the International Shingo Conference and Awards Ceremony (usually held in April
                or May) will be recognized at the following International Shingo Conference and Awards Ceremony.</p>
                <p class="footnotes">If you are trying to assure recognition at a specific year’s International Shingo Conference, you should submit
                your achievement report by August 1. If the achievement report is turned in after this date, we will process
                it as quickly as possible on a FIFO basis. It still may be processed in time for the conference.</p>
            </div>
        </div>
    </div>
    <div class="modal" id="challenge">
        <div class="content">
            <a href="" class="close switch" gumby-trigger="|#challenge"><i class="icon-cancel"></i></a>
            <div class="row" style="text-align: left;">
                <div>
                    {{>_download-prize-app}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="rechallenge">
        <div class="content">
            <a href="#" class="close switch" gumby-trigger="|.modal"><i class="icon-cancel"></i></a>
            <div class="row">
                <div class="">
                    {{>_download-prize-reapp}}
                </div>
            </div>
        </div>
    </div>
</article>
<!-- InstanceEndEditable -->
