  <!-- InstanceBeginEditable name="main" -->
  <article class="container" id="challenge-research">
    <div class="row">
        <div class="nine centered text-center columns">
            <h2 class="quattrocento">Shingo Professional Publication Award</h2>
            <h4>This award recognizes and promotes writing that has had a significant impact and advances the body of knowledge regarding operational excellence. The Shingo Institute is most interested in recognizing thought leadership.</h4>
        </div>
    </div>
    <br>
    <div class="row">
  		<h4><strong>Award Criteria</strong></h5>
  		<h6>Awards are given in two categories:</h6>
  		<ul class="square">
  			<li>New Knowledge and Understanding of Operational Excellence</li>
  			<li>Extension of Existing Knowledge and Understanding of Operational Excellence</li>
  		</ul>
  		<h6>Submissions are assessed based on the following criteria:</h6>
  		<ul class="square">
  			<li>Significant Impact (generally based on sales, but could also be based on a measure of usage in some cases; new publications may not be eligible if appropriate documentation of impact is not provided)</li>
  			<li>Premise</li>
  			<li>Content</li>
  			<li>Presentation</li>
  		</ul>
      <h6>Types of accepted submissions include:</h6>
      <ul class="square">
        <li>Books</li>
        <li>Articles</li>
        <li>Case Studies</li>
        <li>Applied publications/multimedia programs</li>
      </ul>

  		<p><strong>Reviews, re-statements, second editions, textbooks and/or edited versions are generally not considered. All works must be published at the time of submission. Applications are accepted continuously throughout the year.</strong></p>

      <div class="row text-center">
        <div class="medium secondary rounded btn"><a href="assets/Publication-Award-Application-Form.pdf" target="_blank">Application &amp; Guidelines</a></div>
      </div>
    </div>
  </article>
  <!-- InstanceEndEditable -->
