  <!-- InstanceBeginEditable name="main" -->
  <article class="container" id="challenge-research">
    <div class="row">
        <div class="nine centered text-center columns">
            <h2 class="quattrocento">The Shingo Research and Professional Publication Award</h2>
            <h4>This award was created to recognize and promote research and writing that advances the body of knowledge regarding lean and operational excellence.</h4>
        </div>
    </div>
    <br>
    <div class="row">
      <h5>SUBMISSION PROCESS AND AWARD CRITERIA</h5>
      <p>The Shingo Research and Professional Publication Award recognizes and promotes research and writing regarding new knowledge and understanding of lean and operational excellence. Awards are given in four categories: (1) books (monographs), (2) published articles, (3) case studies and (4) applied publications/multimedia programs.</p>
      <p>Research or publications submitted should provide new theory or novel application. Reviews, re-statements, textbooks and/or edited versions will generally not be considered.</p>
      <p>The Shingo Institute uses a principle-based model that is divided into four primary categories: (1) Cultural Enablers, (2) Continuous Process Improvement, (3) Consistent Lean Enterprise and (4) Business Results. All submissions for the Professional Publication and Research Award should fit into one or more categories and contribute to the philosophy inherent in the <em>Shingo Model™</em>.</p>
      <p>Submissions are assessed based on the following criteria: Content, Potential for Significant Impact, Premise, and Presentation. See below for the complete criteria.</p>
      <h5>APPLICATION REQUIREMENTS</h5>
      <p>Submit requirements 1 through 4 via electronic copy to <a href="mailto:joshua.shelhamer@usu.edu">joshua.shelhamer@usu.edu.</a></p>
      <ol>
        <li>Research Award Application Form – provides information about authors and submitted work</li>
        <li>Research Award Criteria Questionnaire – detailing how the work meets the criteria</li>
        <li>Abstract – maximum one page in length</li>
        <li>Author Biography – maximum two pages in length</li>
        <li>Copies of the work as defined in the table below</li>
        <li>Application Fee as defined in the table below</li>
      </ol>
      <table>
        <tr>
          <th>FORMAT</th>
          <th>Application Fee*</th>
          <th>Number of Copies</th>
        </tr>
        <tr>
          <td>Books/Monographs</td>
          <td>$400</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Published Articles**</td>
          <td>$100</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Case Studies</td>
          <td>$100</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Applied Publications/Multimedia Programs</td>
          <td>$400</td>
          <td>10</td>
        </tr>
      </table>
      <p>* $50 nonrefundable handling fee is included in each listed price. Submissions that do not pass the pre-screening process will be refunded the application fee, less the handling fee.</p>
      <p>** Maximum length 30 pages double-sided, with bibliography in Modern Language Association (MLA) standard at end of article.</p>
      <div class="row text-center">
        <div class="medium secondary rounded btn"><a href="assets/Research-Award-Application-Form.pdf" target="_blank">Application &amp; Guidelines</a></div>
      </div>
    </div>
  </article>
  <!-- InstanceEndEditable -->
