  <!-- InstanceBeginEditable name="main" -->
  <article class="container" id="challenge-research">
    <div class="row">
        <div class="nine centered text-center columns">
            <h2 class="quattrocento">The Shingo Research and Publication Awards</h2>
            <h4>These awards were created to recognize and promote research and writing that advances the body of knowledge regarding lean and operational excellence.</h4>
        </div>
    </div>
    <br>
    <div class="row">
      <h4 class="text-center"><strong>Shingo Publication Award</strong></h4>
  		<h5>This award was created to recognize writing that has had a significant impact and advanced the body of knowledge regarding operational excellence. The Shingo Institute is most interested in recognizing thought leadership.</h5>
  		<h5><strong>Award Criteria</strong></h5>
  		<p>Awards are given in four categories:</p>
  		<ul class="square">
  			<li>Books</li>
  			<li>Articles</li>
  			<li>Case Studies</li>
  			<li>Applied publications/multimedia programs</li>
  		</ul>
  		<p>Submissions are assessed based on the following criteria:</p>
  		<ul class="square">
  			<li>Significant Impact (This is generally based on sales but could also be based on a measure of usage in some cases)</li>
  			<li>Premise</li>
  			<li>Content</li>
  			<li>Presentation</li>
  		</ul>
  		<p><strong>Reviews, re-statements, second editions, textbooks and/or edited versions will generally not be considered. All works must be published at the time of submission.</strong></p>

  		<h4 class="text-center"><strong>Shingo Research Award</strong></h4>
  		<h5>This award was created to recognize research that has had a significant impact with regards to new knowledge and understanding regarding operational excellence. The Shingo Institute is most interested in recognizing thought leadership.</h5>
  		<h5><strong>Award Criteria</strong></h5>
  		<p>Awards are given in three categories:</p>
  		<ul class="square">
  			<li>Qualitative</li>
  			<li>Quantitative</li>
  			<li>Pragmatic</li>
  		</ul>
  		<p>Submissions are assessed based on the following criteria:</p>
  		<ul class="square">
  			<li>Significant Impact (This is generally based on number of citations)</li>
  			<li>Premise</li>
  			<li>Content</li>
  			<li>Presentation</li>
  		</ul>
  		<p><strong>All works must be published at the time of submission.</strong></p>
      <div class="row text-center">
        <div class="medium secondary rounded btn"><a href="assets/Research-Award-Application-Form.pdf" target="_blank">Application &amp; Guidelines</a></div>
      </div>
    </div>
  </article>
  <!-- InstanceEndEditable -->
