<section id="home">
    <div id="box" class="row">
      <div class="text-center">
        <!-- <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_350/v1478125375/Events/IntlConference/29th-Logo-web.png" alt="" /> -->

        <!-- <div class="large-12 columns text-center">s

          <section>
            <div class="row text-center">
              <h2>29<sup>th</sup> Annual International Shingo Conference</h2>
              <h3>April 25-29, 2016</h3>
              <h2>Washington, DC, USA</h2>
            </div>
          </section>

            <p class="roboto"><em>Come and rub shoulders with professionals like you and hear from leaders who've taken organizations from underperformance to world-class. They'll share details on how they did it.
           <br>Attend a workshop to learn more about the Shingo Model™&nbsp; and how it can shape your organization into one where improvement ideas come from employees at all levels.</em></p>
           <br>
           <p><strong><a href="https://shingoconference.wufoo.com/forms/call-for-presentations" target="new">Call for Presentations</a></strong></p>
        </div> -->
    </div>
</section>

<section>
  <div class="row">
    <div class="small-6 columns left">
      <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_350/v1478125375/Events/IntlConference/29th-Logo-web.png" alt="" />
    </div>
    <div class="small-6 columns right copy" >
        <p>The 29th International Shingo Conference provides a low-stress learning atmosphere where leaders and managers can learn from transformation gurus. Find the right combination of culture, systems and tools to improve your results. Attend this conference to change the way you think about continuous improvement.</p>
        <p>Past attendees have included leaders and managers from manufacturers, healthcare providers, finance and insurance industry leaders, to name a few. Any leader or manager looking for sustainable results should attend.</p>
    </div>
  </div>
</section>

<!-- Atendee Video -->
<!-- <section id="video" class="row">
  <div class="text-center">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/shLYMZo_Vlw?showinfo=0" frameborder="0" style="max-width: 100%;" allowfullscreen></iframe>
    <p id="expvideo"><em>What you can expect from the conference</em></p>
  </div>
</section> -->

<!--<div class="row">
<p><strong>Download the PDF version of the agenda <a href="assets/Schedule May 2015.pdf" target="_blank" title="2015 Shingo Intl Conference Schedule">here.</a></strong></p>
</div>-->
</section>
<section id="s-registration" class="row">
  <div class="row">
    <div class="six columns centered">
      <h3 class="text-center">REGISTRATION</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="large-7 columns">
      <table cellspacing="0">
        <thead>
          <tr>
            <th colspan="2">Events Pricing</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><h5>Main Conference (Wed/Th)</h5></td>
            <td><h5>US$1,595</h5></td>
          </tr>
          <tr>
            <td><h5>Discover Excellence Workshop (Mon/Tues)</h5></td>
            <td><h5>US$1,595</h5></td>
          </tr>
          <tr>
            <td><h5>Full-day Workshops (Tues)</h5></td>
            <td><h5>US$795</h5></td>
          </tr>
          <tr>
            <td><h5>Fireside Chat with Ritsuo Shingo (Th)</h5></td>
            <td><h5>US$295</h5></td>
          </tr>
          <tr>
            <td><h5>Site Tours (Fri)</h5></td>
            <td><h5>US$295</h5></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="large-5 columns text-center left">
      <br>
      <a href="http://www.cvent.com/d/kvq3wt/4W" target="new" class="centered large button radius" id="2016Registration">Register</a>
      <br><br>
      <p id="discount"></p>
    </div>
  </div>
</section>
