<div id="manufacturing">
    <article class="container" id="home">
        <br>
        <div class="row text-center" id="transborder">
            <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_150/v1435177413/ShingoAllWhite_h7jwhw.png">
            <h1><strong>Manufacturing Summit</strong></h1>
            <h2><strong>September 20-21, 2016</strong></h2>
            <h3><strong>Knoxville, Tennessee</strong></h3>
        </div>
        <br>
        <br>
    </article>

    <article class="container" id="s-text">
        <div class="row">
            <div class="six columns centered">
                <!-- <h3 class="text-center">Thank you!</h3> -->
                <hr>
            </div>
        </div>
        <div id="s-text" class="row text-center">
            <p>Come learn from manufacturing leaders about how mid-level managers can make big transformations in their organizations using the principles of the <em>Shingo Model</em>™. Smart, dedicated managers are critical for enterprise excellence. At
                this summit, you will discover what managers like you have done to make notable improvements to their organizations. Listen to experienced leaders in keynote and break-out sessions and join in on the discussion. Network with leaders and
                managers like you who are all striving to improve their manufacturing companies. If you’re in manufacturing and want continuous improvement, this summit for you!</p>
        </div>
        <div class="hidden" id="agenda">&nbsp;</div>
    </article>



    <!-- <article class="container" id="s-agenda">
  <div class="row">
    <div class="six columns centered">
      <h3 class="text-center">AGENDA</h3>
      <hr>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="tabs">
      <ul class="tab-nav"> -->
    <!-- <li class="active"><a href="#tuesday">Tuesday</a></li> -->
    <!-- <li class="active"><a href="#wednesday">Wednesday</a></li>
        <li><a href="#thursday">Thursday</a></li>
        <li><a href="#friday">Friday</a></li>
      </ul> -->
    <!-- <div class="tab-content active"> -->
    <!--All 'detail' modals are at the end of each table-->
    <!-- <table class="striped" id="tuesday">
          <thead>
            <tr>
              <th colspan="3">Tuesday, November 29 - Main Conference</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tabular">08:30 - 08:50</td>
              <td><strong>Welcome/Shingo Announcements</strong></td>
              <td><a href="#" class="switch" gumby-trigger="#demo">How Could I Be A Successful Leader in China</a></td>
            </tr>
            <tr>
              <td class="tabular">08:50 - 09:00</td>
              <td>Intermission</td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">09:00 - 09:50</td>
              <td><strong>Keynote Presentation</strong></td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">09:50 - 10:20</td>
              <td>Networking Break</td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">10:20 - 11:10</td>
              <td><strong>Keynote Presentation</strong></td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">11:10 - 11:20</td>
              <td>Intermission</td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">11:20 - 12:10</td>
              <td><strong>Keynote Presentation</strong></td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">12:10 - 13:30</td>
              <td><strong>Lunch</strong></td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">13:30 - 14:30</td>
              <td>
                  <strong>Plenary Session </strong><br>
                  <strong>Plenary Session </strong><br>
                  <strong>Plenary Session </strong>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">14:30 - 15:00</td>
              <td>Networking Break</td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">15:00 - 16:00</td>
              <td>
                  <strong>Plenary Session </strong><br><br>
                  <strong>Plenary Session </strong><br>
                  <strong>Plenary Session </strong>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">16:00 - 17:00</td>
              <td><strong>Intermission</strong></td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">17:00 - 18:00</td>
              <td><strong>Guided Tour of Historical Downtown</strong></td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">18:00 - 20:00</td>
              <td><strong>VIP Cocktail Reception</strong></td>
              <td></td>
            </tr>
          </tbody>
        </table>
Modal Template
        <div class="modal" id="demo">
          <div class="content">
            <a class="close switch" gumby-trigger="|.modal"><i class="icon-cancel"></i></a>
            <br>
            <div class="row">
              <div class="eleven columns centered">
                <h4>Associates: How They Live Operational Excellence</h4>
                <h5 class="quattrocento">Alejandro Ponce</h5>
                <br>
                <p>Alejandro Ponce will share his experience on how the associate (employees adding direct value) lives "Operational Excellence"	not only in their organizations but also within their community and day-to-day life. He will share how he’s been able to impact and improve their personal lives through "Operational Excellence."</p>
                <br>
                <div class="text-center"><p class="btn secondary medium"><a href="#" class="switch" gumby-trigger="|.modal">Close</a></p></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    <!-- Wednesday Schedule -->
    <!-- <div class="tab-content"> -->
    <!-- <div class="tab-content active">
        <table class="striped" id="wednesday">
          <thead>
            <tr>
              <th colspan="3">Wednesday, November 30</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tabular">13:00 - 15:30</td>
              <td>
                <strong>Lundbeck Tour</strong>
                <p>Lundbeck is a Danish based pharmaceutical company engaged in research to find new drugs for the treatment of brain disorders, including Depression, Schizophrenia, Alzheimer’s disease, Parkinson’s disease and Alcohol Dependence. Lundbeck’s mission is to improve the quality of life of people suffering from psychiatric and neurological disorders. Lundbeck is the only fully integrated pharmaceutical company that focus exclusively on brain disorders. Lundbeck has a turnover of approximately 2 billion Euros and employ 5.000 people.</p>
                <p>**Bus will depart at 12:30 and return by 16:00</p>
              </td>
              <td></td> -->
    <!-- <td><a href="#" class="switch" gumby-trigger="#demo">How Could I Be A Successful Leader in China</a></td> -->
    <!-- </tr> -->
    <!-- <tr>
              <td class="tabular">08:50 - 09:00</td>
              <td>Intermission</td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">09:00 - 09:50</td>
              <td><strong>Keynote Presentation</strong></td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">09:50 - 10:20</td>
              <td>Networking Break</td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">10:20 - 11:10</td>
              <td><strong>Keynote Presentation</strong></td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">11:10 - 11:20</td>
              <td>Intermission</td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">11:20 - 12:10</td>
              <td><strong>Keynote Presentation</strong></td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">12:10 - 13:30</td>
              <td><strong>Lunch</strong></td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">13:30 - 14:30</td>
              <td>
                  <strong>Plenary Session </strong><br>
                  <strong>Plenary Session </strong><br>
                  <strong>Plenary Session </strong>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">14:30 - 15:00</td>
              <td>Networking Break</td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">15:00 - 16:00</td>
              <td>
                  <strong>Plenary Session </strong><br>
                  <strong>Plenary Session </strong><br>
                  <strong>Plenary Session </strong>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">16:00 - 17:00</td>
              <td><strong>Keynote Presentation</strong></td>
              <td></td>
            </tr> -->
    <!-- </tbody>
        </table> -->
    <!-- Modal Tempalate -->
    <!-- <div class="modal" id="demo">
          <div class="content">
            <a class="close switch" gumby-trigger="|.modal"><i class="icon-cancel"></i></a>
            <br>
            <div class="row">
              <div class="eleven columns centered">
                <h4>Fireside Chat</h4>
                <h5 class="quattrocento">Ritsuo Shingo</h5>
                <br>
                <p>Former US President Franklin D. Roosevelt led his nation through two of the greatest crises in its history: the Great Depression of the 1930s and World War II. From March 1933 to June 1944 President Roosevelt addressed the American people in some 30 speeches broadcast via radio, speaking on a variety of topics from banking to unemployment to fighting fascism in Europe. Millions of people found comfort and renewed confidence in these speeches, which became known as the "fireside chats."</p>
                <p>Today, we expand on this concept by bringing in best practitioners and leaders who have a wealth of knowledge on the pursuit of enterprise excellence and how to build a culture of continuous improvement. Spend an evening with these leaders as they share their experience with you in an intimate setting and give you valuable time to ask questions and to network with other like-minded people.</p>
                <br>
                <div class="text-center"><p class="btn secondary medium"><a href="#" class="switch" gumby-trigger="|.modal">Close</a></p></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    <!-- Thursday  -->
    <!-- <div class="tab-content">
        <table class="striped" id="thursday">
          <thead>
            <tr>
              <th colspan="3">Thursday, December 1 - Main Conference</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tabular">07:00 - 09:00</td>
              <td><strong>Breakfast &amp; Registration</strong></td>
              <td></td> -->
    <!-- <td><a href="#" class="switch" gumby-trigger="#demo">How Could I Be A Successful Leader in China</a></td> -->
    <!-- </tr>
            <tr>
              <td class="tabular">09:00 - 09:50</td>
              <td><strong>Keynote Presentation</strong> - <strong>Ken Snyder</strong></td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">09:50 - 10:00</td>
              <td>Intermission</td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">10:00 - 10:50</td>
              <td><strong>Keynote Presentation</strong> - <strong>Ciarán Corcoran</strong> &amp; <strong>Seán Kelly</strong></td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">10:50 - 11:20</td>
              <td>Networking Break</td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">11:20 - 12:10</td>
              <td><strong>Keynote Presentation</strong> - <strong>Håkan Forss</strong></td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">12:10 - 13:30</td>
              <td><strong>Lunch</strong></td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">13:30 - 14:30</td>
              <td>
                  <strong>Concurrent Sessions</strong>
                  <ul class="square">
                    <li>Stefan de Raedemaecker - Senior Expert Operations, McKinsey &amp; Company</li>
                    <li>Mustafa Kemal Altay - Production System Manager, Bosch</li>
                    <li> </li>
                  </ul>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">14:30 - 15:00</td>
              <td>Networking Break</td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">15:00 - 16:00</td>
              <td>
                <strong>Concurrent Sessions</strong>
                <ul class="square">
                  <li>Jacob Eskildsen, Professor in Business &amp; Quantitative Methods, Aarhus University</li>
                  <li>Jose Luis Ordorica, Sr. Consultant Continental Business System, Continental Automotive Systems</li>
                  <li> </li>
                </ul>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">17:30 - 21:00</td>
              <td>
                <strong>Dinner &amp; Entertainment</strong>
                <ul class="square">
                  <li>Wallman's Dinnershow</li>
                </ul>
                ** Guests must be seated by 18:30
              </td>
              <td>
                <br>
                <a href="http://www.wallmans.dk/en/new-show-music-box" target="blank">Details</a>
              </td>
            </tr>
          </tbody>
        </table> -->
    <!-- Modal Tempalate -->
    <!-- <div class="modal" id="demo">
          <div class="content">
            <a class="close switch" gumby-trigger="|.modal"><i class="icon-cancel"></i></a>
            <br>
            <div class="row">
              <div class="eleven columns centered">
                <h4>Fireside Chat</h4>
                <h5 class="quattrocento">Ritsuo Shingo</h5>
                <br>
                <p>Former US President Franklin D. Roosevelt led his nation through two of the greatest crises in its history: the Great Depression of the 1930s and World War II. From March 1933 to June 1944 President Roosevelt addressed the American people in some 30 speeches broadcast via radio, speaking on a variety of topics from banking to unemployment to fighting fascism in Europe. Millions of people found comfort and renewed confidence in these speeches, which became known as the "fireside chats."</p>
                <p>Today, we expand on this concept by bringing in best practitioners and leaders who have a wealth of knowledge on the pursuit of enterprise excellence and how to build a culture of continuous improvement. Spend an evening with these leaders as they share their experience with you in an intimate setting and give you valuable time to ask questions and to network with other like-minded people.</p>
                <br>
                <div class="text-center"><p class="btn secondary medium"><a href="#" class="switch" gumby-trigger="|.modal">Close</a></p></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    <!-- Friday -->
    <!-- <div class="tab-content">
        <table class="striped" id="friday">
          <thead>
            <tr>
              <th colspan="3">Friday, December 2 - Main Conference</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tabular">07:30 - 09:00</td>
              <td><strong>Breakfast &amp; Exhibitors</strong></td>
              <td></td>
              <td><a href="#" class="switch" gumby-trigger="#demo">How Could I Be A Successful Leader in China</a></td>
            </tr>
            <tr>
              <td class="tabular">09:00 - 10:00</td>
              <td>
                  <strong>Concurrent Sessions</strong>
                  <ul class="square">
                    <li> </li>
                    <li> </li>
                    <li> </li>
                  </ul>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">10:00 - 10:10</td>
              <td>Intermission</td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">10:10 - 11:10</td>
              <td>
                  <strong>Concurrent Sessions</strong>
                  <ul class="square">
                    <li> </li>
                    <li> </li>
                    <li> </li>
                  </ul>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">11:10 - 11:40</td>
              <td>Networking Break</td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">11:40 - 12:40</td>
              <td><strong>Keynote</strong> - <strong>Billy Taylor</strong></td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">12:40 - 13:30</td>
              <td><strong>Lunch</strong></td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">13:30 - 14:30</td>
              <td><strong>Keynote</strong></td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">14:30 - 15:00</td>
              <td>Networking Break</td>
              <td></td>
            </tr>
            <tr>
              <td class="tabular">15:00 - 16:00</td>
              <td><strong>Keynote</strong></td>
              <td></td>
            </tr>
          </tbody>
        </table> -->
    <!-- Modal Tempalate -->
    <!-- <div class="modal" id="demo">
          <div class="content">
            <a class="close switch" gumby-trigger="|.modal"><i class="icon-cancel"></i></a>
            <br>
            <div class="row">
              <div class="eleven columns centered">
                <h4>Fireside Chat</h4>
                <h5 class="quattrocento">Ritsuo Shingo</h5>
                <br>
                <p>Former US President Franklin D. Roosevelt led his nation through two of the greatest crises in its history: the Great Depression of the 1930s and World War II. From March 1933 to June 1944 President Roosevelt addressed the American people in some 30 speeches broadcast via radio, speaking on a variety of topics from banking to unemployment to fighting fascism in Europe. Millions of people found comfort and renewed confidence in these speeches, which became known as the "fireside chats."</p>
                <p>Today, we expand on this concept by bringing in best practitioners and leaders who have a wealth of knowledge on the pursuit of enterprise excellence and how to build a culture of continuous improvement. Spend an evening with these leaders as they share their experience with you in an intimate setting and give you valuable time to ask questions and to network with other like-minded people.</p>
                <br>
                <div class="text-center"><p class="btn secondary medium"><a href="#" class="switch" gumby-trigger="|.modal">Close</a></p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h5><strong><a href="https://shingoconference.wufoo.com/forms/call-for-presentations" target="new">Call for Presentations</a></strong></h5>
      <h6><em>The language of the Summit will be English.</em></h6>
    </div>
  </div>
  <div class="hidden" id="registration">&nbsp;</div>
</article> -->

    <article class="container" id="s-registration">
        <div class="row">
            <div class="six columns centered">
                <h3 class="text-center">REGISTRATION</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="seven columns">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h4>Pricing for Main Conference</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h5>Registration</h5></td>
                            <td>
                                <h5>$895</h5>
                                <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="five columns text-center">
                <br>
                <br>
                <div class="text-center large info btn"><a href="https://shingoconference.wufoo.com/forms/2016-shingo-manufacturing-summit/ " target="_blank">Register</a></div>
                <br>
                <br>
                <!-- <p id="discount"></p> -->
            </div>
        </div>
        <div class="hidden" id="speakers">&nbsp;</div>
    </article>

    <article class="container" id="s-speakers">
        <div class="row">
            <div class="six columns centered">
                <h3 class="text-center">SPEAKERS</h3>
                <hr>
            </div>
        </div>
        <div class="row" id="all-speakers">
            <h4 class="text-center">Keynote Speakers</h4>
            <ul class="three_up tiles speakers">
                {{#each keynote}}
                    {{>_speaker speaker=this}}
                {{/each}}
            </ul>
            {{#each keynote}}
              {{>_speaker-bio speaker=this}}
            {{/each}}
            <!-- Concurrent Speakers -->
            <!-- Jose Ordorica Bio -->
            <h4 class="text-center">Concurrent Speakers</h4>
            <ul class="four_up tiles speakers">
                {{#each concurrent}}
                    {{>_speaker speaker=this}}
                {{/each}}
            </ul>
            {{#each concurrent}}
              {{>_speaker-bio speaker=this}}
            {{/each}}
        </div>
        <div class="hidden" id="travel">&nbsp;</div>
    </article>

    <!-- <article class="container" id="s-travel">
  <div class="row">
    <div class="six columns centered">
      <h3 class="text-center">TRAVEL &amp; ACCOMMODATIONS</h3>
      <hr>
      <h4 class="roboto text-center">This year's European Summit will be held in Copenhagen, Denmark.</h4>
    </div>
  </div>
  <br>
  <div class="row">
    <table class="hide-for-small accommodations">
      <tr>
        <td id="loc">
          <h5 class="text-center">LOCATION</h5>
          <p><strong>Scandic Copenhagen <a href="https://goo.gl/maps/5sGSyKbSmGC2" title="https://goo.gl/maps/5sGSyKbSmGC2" target="_blank"><i class="icon-location"></i></a></strong><br>
            Vester Søgade 6,<br>
            Dk- 1601 København V,<br>
            Copenhagen, Denmark<br>
          </p>
        </td>
        <td id="trav">
          <h5 class="text-center">TRAVEL</h5>
          <p>
            McGhee Tyson Airport (TYS)
            Free parking in downtown Knoxville after 5 pm
          </p>
        </td>
        <td id="hot">
          <div class="row">
            <h5 class="text-center">HOTEL</h5>
            <p><strong>Scandic Copenhagen</strong><br>
            Vester Søgade 6,<br>
            Dk- 1601 København V,<br>
            Copenhagen, Denmark<br>
            +45 33 75 70 88
            </p>
            <p><a href="#ratesinfo" class="toggle" gumby-trigger="#rates">Rates &amp; Information</a></p>
          </div>
          <div class="row drawer" id="rates">
            <a href="http://www.scandichotels.dk/Hotels/Danmark/Kobenhavn/Scandic-Copenhagen/#.Vqp-HRgrIsk">Scandic Copenhagen</a>
            <p>Single room rate, <strong>DKK 1,345</strong><br>
            Double room rate, <strong>DKK 1545</strong><br>
            Discount Booking Code: <strong>BSHI301116</strong>
            <a href="mailto:copenhagen@scandichotels.com">copenhagen@scandichotels.com</a>
            </p>
            <p><em>Rates include complimentary<br>
            breakfast and Internet.</em></p>
          </div>
        </td>
      </tr>
      <tr>
        <td id="park">
          <h5 class="text-center">PARKING</h5>
          <p>Free parking in downtown Knoxville after 5 pm</p>
        </td>
        <td id="int">
          <h5 class="text-center">INTERNET</h5>
          <p>Complimentary Wi-Fi Internet access is available in all areas of the convention center as well as the hotel for conference participants.</p>
        </td>
        <td id="todo">
          <h5 class="text-center">THINGS TO DO</h5>
          <p>Wondering what to do in your free time? Do you have family members traveling with you? Learn more about <a href="http://www.visitcopenhagen.com/copenhagen-tourist" target="_blank">visiting Copenhagen</a>. <br> Also, the <a href="http://www.visitcopenhagen.com/copenhagen/sightseeing/top-30-attractions">Top 30 Attractions</a> of the city</p>
        </td>
      </tr>
    </table>
    <div class="show-for-small accommodations">
      <div class="row">
        <div class="four columns">
          <h5 class="text-center">LOCATION</h5>
          <p><strong>Club Industriales de Querétaro A.C. <a href="https://goo.gl/maps/6t6JN" title="https://goo.gl/maps/0b7JJ" target="_blank"><i class="icon-location"></i></a></strong><br>
          Estadio 113, Fraccionamiento Colinas de Cimatario,<br>
          76090 Santiago de Querétaro<br>
          Qro., Mexico</p>
        </div>
        <div class="four columns">
          <h5 class="text-center">TRAVEL</h5>
          <p>The Querétaro airport is about 30 minutes from the convention center. The hotel provides complimentary shuttle to and from the airport.</p>
        </div>
        <div class="four columns">
          <h5 class="text-center">HOTEL</h5>
          <p><strong>Hotel Casa Inn Querétaro</strong><br>
          Paseo de Miranda 2 Monte Miranda cp,<br>
          El Marqués, Santiago de Querétaro,<br>
          Qro., Mexico<br>
          +52 442 101 4100</p>
        </div>
      </div>
      <div class="row">
        <div class="four columns">
          <h5 class="text-center">PARKING</h5>
          <p>All conference attendees will enjoy free parking at the convention center in designated lots. Guests of the hotel will enjoy free parking in designated hotel lots.</p>
        </div>
        <div class="four columns">
          <h5 class="text-center">INTERNET</h5>
          <p>Complimentary Wi-Fi Internet access is available in all areas of the convention center as well as the hotel for conference participants.</p>
        </div>
        <div class="four columns">
          <h5 class="text-center">THINGS TO DO</h5>
          <p>Wondering what to do in your free time? Do you have family members traveling with you? Learn more about visiting Copenhagen <a href="http://www.visitcopenhagen.com/copenhagen-tourist" target="_blank">here</a>. Also, <a href="http://www.visitcopenhagen.com/copenhagen/sightseeing/top-30-attractions" target="_blank">The Top 30 Attractions</a></p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="hidden" id="sponsors"></div>
</article> -->




    <article class="container" id="s-sponsors">
        <div class="row">
            <div class="six columns centered">
                <h3 class="text-center">SPONSORS &amp; EXHIBITORS</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <p>Exhibitors at the Shingo Manufacturing Summit get the chance to talk with the people who make and influence purchasing decisions within manufacturing companies. Only a limited number of exhibitor slots are available in this low-key, low-pressure
                event designed for about 400 attendees. It’s a terrific opportunity to talk seriously to your future customers and begin lasting relationships with them.</p>
            <p>As an exhibitor at the Shingo Manufacturing Summit, your company will get an opt-in list of attendees, have your name and logo on the Shingo App and various printed materials at the Summit. You’ll also have your name and logo as an exhibitor
                on announcements that go out to over 25,000 leaders and manager around the world. This is your chance to position your company as a leader committed to manufacturing excellence in front of the people who can bring the most to your bottom
                line.</p>
            <p>For more information about exhibiting or becoming a sponsor, please contact Mary Price: <a href="mailto:mary.price@usu.edu">mary.price@usu.edu</a> &nbsp; | &nbsp; (435) 7979-3785</p>
        </div>
        <div class="hidden" id="faq">&nbsp;</div>
    </article>
</div>
