<footer>
  <article class="container" id="footer">
  	<div class="row text-center">
      	<h6 class="quattrocento">© 2019 Utah State University | <a href="../privacy-policy">Privacy Policy &amp; Copyright Information</a></h6>
          <h6 class="quattrocento">3521 Old Main Hill, Logan, Utah 84322 | <a href="tel:4357972279">435.797.2279</a> | <a href="mailto:shingo.info@usu.edu">shingo.info@usu.edu</a> | <a href="https://www.facebook.com/pages/Shingo-Institute/99723968388" target="_blank"><i class="icon-facebook-circled"></i></a> <a href="https://plus.google.com/+ShingoOrg/posts" target="_blank"><i class="icon-gplus-circled"></i></a> <a href="https://twitter.com/ShingoPrize" target="_blank"><i class="icon-twitter-circled"></i></a> <a href="https://www.linkedin.com/company/shingo-institute" target="_blank"><i class="icon-linkedin-circled"></i></a></h6>
          <a href="https://huntsman.usu.edu" target="_blank"><img src="../images/Huntsman_Logo.png"></a>
      </div>
  </article>

    <!-- Global site tag (gtag.js) - AdWords: 1010882071 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1010882071"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'AW-1010882071');
    </script>

</footer>
