<article class="navcontain">
    <nav class="navbar" id="main-nav" gumby-fixed="top">
        <div class="row valign">
            <a class="toggle"  gumby-trigger="#main-nav > .row > .eight > ul" href="#"><i class="icon-menu"></i></a>
            <div class="four columns logo">
                <a href="/"><img src="../images/Huntsman-Shingo-Logo.png" alt="Shingo Institute" style="height: 85; width: auto;"></a>
            </div>
            <div class="eight columns">
                <ul>
                    <li><a href="../model">The Shingo Model</a></li>
                    <li>
                    <a href="../education">Workshops</a>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="../education">Shingo Workshops</a>
                                <div class="dropdown">
                                    <ul>
                                        <li><a href="../education/discover">Discover Excellence</a></li>
                                        <li><a href="../education/enable">Cultural Enablers</a></li>
                                        <li><a href="../education/improve">Continuous Improvement</a></li>
                                        <li><a href="../education/align">Enterprise Alignment & Results</a></li>
                                        <li><a href="../education/build">Build Excellence</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                    <a href="../workshops">Workshop Schedule</a>
                            </li>
                            <li>
                                <a href="../affiliates">Workshop Providers</a>
                            </li>   
                            {{!-- <li><a href="../education#online">Online Training</a></li>  --}}
                            <li>
                                <a>Online Training</a>
                                <div class="dropdown">
                                    <ul>
                                        <li><a href="../additional">Visual Workplace</a></li>
                                        <li><a href="https://www.myeducator.com/reader/web/1333b/" target="blank">Shingo Associate Overview</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    </li>
                    <li>
                        <a href="https://events.shingo.org/#!/upcoming">Events</a>
                    </li>
                    <li>
                        <a href="../awards">Awards</a>
                        <div class="dropdown">
                            <ul>
                                <li><a href="/challengefortheprize">Challenge for The Shingo Prize</a></li>
                                <li><a href="../awards">Shingo Recipients</a></li>
                                <li><a href="../researchaward">Research Award</a></li>
                                <li><a href="../publicationaward">Publication Award</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                    <a href="../about">About</a>
                        <div class="dropdown" height="500px">
                            <ul>
                                <li><a href="../affiliates">Affiliates</a></li>
                                <li><a href="../seab">Shingo Executive Advisory Board</a></li>
                                <li><a href="../academy">Shingo Academy</a></li>
                                <li><a href="../alumni">Shingo Alumni</a></li>
                                <li><a href="../faculty-fellows">Shingo Faculty Fellows</a></li>
                                <li>
                                    <a href="../siteexaminers">Examiners</a>
                                    <div class="dropdown">
                                        <ul>
                                            <li><a href="../siteexaminers">Site Examiners</a></li>
                                            <li><a href="../researchpublicationexaminers">Research and Publication Examiners</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                    <a href="#">Latest</a>
                        <div class="dropdown dropdown--size-small">
                            <ul>
                            <li><a href="https://blog.shingo.org" target="_blank">Articles</a></li>
                            <li><a href="https://news.shingo.org" target="_blank">News</a></li>
                            </ul>
                        </div>
                    </li> 
                    {{!--        
                    <li>
                    <a href="../insight/about">Insight</a>
                        <div class="dropdown dropdown--size-small">
                            <ul>
                            <li><a href="../insight/about">About</a></li>
                            <li><a href="../insight/details">Details</a></li>
                            <li><a href="../insight/pricing-and-FAQ">Pricing and FAQ</a></li>
                            <li><a target="_blank" href="https://huntsmancrm.tfaforms.net/358976">Sign Up</a></li>
                            </ul>
                        </div>
                    </li>
                    --}}
                </ul>
            </div>
        </div>
    </nav>
</article>
