  <article class="navcontain">
      <nav class="navbar" id="main-nav" gumby-fixed="top">
          <div class="row valign">
              <a class="toggle" gumby-trigger="#main-nav > .row > .eight > ul" href="#"><i class="icon-menu"></i></a>
              <div class="four columns logo">
                  <a href="/"><img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_85/v1436391320/Shingo-Mixed-Logos_ztu3bw.png" alt="Shingo Institute"></a>
              </div>
              <div class="eight columns">
                  <ul>
                      <li><a href="../model">The Shingo Model</a></li>
                      <li>
                          <a href="../education">Education</a>
                          <div class="dropdown">
                              <ul>
                              	<li><a href="../education#attend">Attend a Workshop</a></li>

                                  <li><a href="http://shingo.org/shingomba">Shingo MBA</a></li>
                                  <li><a href="../japanstudytour">Japan Study Tour</a></li>
                                  <li><a href="../usastudytour">USA Study Tour</a></li>
                                  <li><a href="http://shingo.org/2016Conference">Conferences &amp; Summits</a>
                                  	<div class="dropdown">
                                          <ul>
                                          	<li><a href="http://shingo.org/2016Conference">International Conference</a></li>
                                              <li><a href="http://shingo.org/regional/mexico.html">Latin America Summit</a></li>
                                              <li><a href="http://shingo.org/regional/europe.html">European Summit</a></li>
                                          </ul>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </li>
                      <li>
                          <a href="../challengefortheprize">Awards/Recognition</a>
                          <div class="dropdown">
                              <ul>
  																<li><a href="../challengefortheprize">Shingo Prize</a></li>
                                  <li><a href="../awards">Shingo Prize Recipients</a></li>
                                  <li><a href="../researchaward">Shingo Research Award</a></li>
                              </ul>
                          </div>
                      </li>
                      <li><a href="../affiliates">Affiliates</a></li>
                      <li>
                      	<a href="../about">About</a>
                          <div class="dropdown">
                              <ul>
                              	<li><a href="../about">Mission</a></li>
                                  <li><a href="../seab">Shingo Executive Advisory Board</a></li>
                                  <li><a href="../academy">Shingo Academy</a></li>
                                  <li><a href="../examiners">Examiners</a></li>
                                  <!-- <li><a href="../shingoteam">The Shingo Team</a></li> -->
                              </ul>
                          </div>
                      </li>
                      <li><a href="http://shingo.org/blog" target="_blank">Blog</a></li>
                      <!-- <li>
                        <a href="../spanish"><i class="material-icons" style="font-size:22px; vertical-align: text-bottom;">language</i></a>
                          <div class="dropdown">
                            <ul>
                                <li><a href="../spanish" class="width:auto">Spanish</a></li>
                                <li><a href="../chinese" class="width:auto">Chinese</a></li>
                            </ul>
                          </div>
                      </li> -->
                  </ul>
              </div>
          </div>
      </nav>
  </article>
