  <article class="navcontain">
      <nav class="navbar" id="main-nav" gumby-fixed="top">
          <div class="row valign">
              <a class="toggle"  gumby-trigger="#main-nav > .row > .eight > ul" href="#"><i class="icon-menu"></i></a>
              <div class="four columns logo">
                  <a href="/"><img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_85/v1474478583/WebContent/Huntsman-Shingo-Logo.png" alt="Shingo Institute"></a>
              </div>
              <div class="eight columns">
                  <ul>
                      <li><a href="../model">The Shingo Model</a></li>
                      <li>
                          <a href="../education">Events</a>
                          <div class="dropdown">
                              <ul>
                                <li><a href="../education#attend">Attend a Workshop</a></li>
                                <li><a href="../irelandstudytour">Ireland Study Tour</a></li>
                                <li><a href="../japanstudytour">Japan Study Tour</a></li>
                                <li><a href="/events/international">International Conference</a></li>
                                <!-- <li><a href="events/international">Conferences &amp; Summits</a> -->
                                  <!-- <div class="dropdown"> -->
                                    <!-- <ul> -->

                                      <!-- <li><a href="events/latinamerica">Congreso Latin America</a></li> -->
                                      <!-- <li><a href="events/europe">European Conference</a></li> -->
                                      <!-- <li><a href="events/manufacturing">Manufacturing Summit</a></li> -->
                                    <!-- </ul> -->
                                  <!-- </div> -->
                                <!-- </li> -->
                              </ul>
                          </div>
                      </li>
                      <li>
                          <a href="../challengefortheprize">Awards</a>
                          <div class="dropdown">
                              <ul>
                                  <li><a href="../challengefortheprize">Shingo Prize</a></li>
                                  <li><a href="../awards">Shingo Prize Recipients</a></li>
                                  <li><a href="../researchaward">Research Award</a></li>
                                  <li><a href="../publicationaward">Professional Publication Award</a></li>

                              </ul>
                          </div>
                      </li>
                      <li><a href="../affiliates">Affiliates</a></li>
                      <li>
                      	<a href="../about">About</a>
                          <div class="dropdown">
                              <ul>
                              	<li><a href="../about">Mission</a></li>
                                  <li><a href="../seab">Shingo Executive Advisory Board</a></li>
                                  <li><a href="../academy">Shingo Academy</a></li>
                                  <li><a href="../examiners">Examiners</a></li>
                                  <!-- <li><a href="../shingoteam">The Shingo Team</a></li> -->
                              </ul>
                          </div>
                      </li>
                      <!-- Leave as http for functionality with joomla -->
                      <li><a href="http://blog.shingo.org" target="_blank">Blog</a></li>
                      <!-- <li>
                        <a href="../spanish"><i class="material-icons" style="font-size:22px; vertical-align: text-bottom;">language</i></a>
                          <div class="dropdown">
                            <ul>
                                <li><a href="../spanish" class="width:auto">Spanish</a></li>
                                <li><a href="../chinese" class="width:auto">Chinese</a></li>
                            </ul>
                          </div>
                      </li> -->
                  </ul>
              </div>
          </div>
      </nav>
  </article>
