<article class="navcontain">
    <nav class="navbar" id="main-nav" gumby-fixed="top">
        <div class="row valign">
            <a class="toggle"  gumby-trigger="#main-nav > .row > .eight > ul" href="#"><i class="icon-menu"></i></a>
            <div class="four columns logo">
                <a href="/"><img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_85/v1474478583/WebContent/Huntsman-Shingo-Logo.png" alt="Shingo Institute"></a>
            </div>
            <div class="eight columns">
                <ul>
                    <li><a href="../model">The Shingo Model</a></li>
                    <li>
                    <a href="../education">Workshops</a>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="../education">Shingo Workshops</a>
                            </li>
                            <li>
                                    <a href="../workshops">Workshop Schedule</a>
                            </li>
                            <li>
                                <a href="../affiliates">Workshop Providers</a>
                            </li>   
                            {{!-- <li><a href="../education#online">Online Training</a></li>  --}}
                            <li>
                                <a>Online Training</a>
                                <div class="dropdown">
                                    <ul>
                                        <li><a href="../additional">Visual Workplace</a></li>
                                        <li><a href="https://www.myeducator.com/reader/web/1333b/" target="blank">Shingo Associate Overview</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    </li>
                    <li>
                        <a href="https://events.shingo.org/#!/upcoming">Events</a>
                    </li>
                    <li>
                        <a href="../awards">Awards</a>
                        <div class="dropdown">
                            <ul>
                                <li><a href="/challengefortheprize">Challenge for The Shingo Prize</a></li>
                                <li><a href="../awards">Shingo Recipients</a></li>
                                <li><a href="../researchaward">Research Award</a></li>
                                <li><a href="../publicationaward">Publication Award</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                    <a href="../about">About</a>
                        <div class="dropdown" height="500px">
                            <ul>
                            <li><a href="../affiliates">Affiliates</a></li>
                            <li><a href="../seab">Shingo Executive Advisory Board</a></li>
                            <li><a href="../academy">Shingo Academy</a></li>
                            <li><a href="../faculty-fellows">Shingo Faculty Fellows</a></li>
                            <li><a href="../examiners">Examiners</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                    <a href="#">Latest</a>
                        <div class="dropdown dropdown--size-small">
                            <ul>
                            <li><a href="https://blog.shingo.org" target="_blank">Articles</a></li>
                            <li><a href="#" target="_blank">News</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                </ul>
            </div>
        </div>
    </nav>
</article>
