<footer>
  <article class="container" id="footer">
    <div class="row">
      <div class="four columns text-center">
          <h6 class="roboto">REGISTRATIONS &amp; QUESTIONS</h6>
          <h6 class="quattrocento"><strong>Mary Price</strong></h6>
          <p>Events Manager<br>
          +1 (435) 797-3785<br>
          <a href="mailto:mary.price@usu.edu">mary.price@usu.edu</a></p>
      </div>
      <div class="four columns text-center">
        <a href="https://huntsman.usu.edu" target="_blank"><img src="https://res.cloudinary.com/shingo/image/upload/c_scale,w_150/v1392670458/huntsmanLogo_weqx3o.png"></a>
      </div>
      <div class="four columns text-center">
          <h6 class="quattrocento">© 2016 Utah State University</h6>
          <h6 class="quattrocento">3521 Old Main Hill, Logan, Utah 84322 <a href="tel:4357972279">435.797.2279</a></h6>
          <h6><a href="mailto:shingo.info@usu.edu">shingo.info@usu.edu</a> | <a href="https://www.facebook.com/pages/Shingo-Institute/99723968388" target="_blank"><i class="icon-facebook-circled"></i></a> <a href="https://plus.google.com/+ShingoOrg/posts" target="_blank"><i class="icon-gplus-circled"></i></a> <a href="https://twitter.com/ShingoPrize" target="_blank"><i class="icon-twitter-circled"></i></a> <a href="https://www.linkedin.com/company/shingo-institute" target="_blank"><i class="icon-linkedin-circled"></i></a></h6>
          <h6><a href="../privacy-policy">Privacy Policy &amp; Copyright Information</a></h6>
        </div>
    </div>
  </article>
</footer>
