<div id="sticky-Right-Banner" class="text-center valign row">
    <a href="https://huntsmancrm.tfaforms.net/358965" target="_blank">
        <h4>Get our Monthly Newsletter!</h4>
    </a>
    {{!--<a href="#" class="close toggle" gumby-trigger="|#sticky-Right-Banner"><i style="color: white; cursor: pointer; font-size: 150%;" class="icon-cancel" /></i></a>--}}
</div>

<!-- <div class="modal" id="mailing-list">
  <a class="close switch" gumby-trigger="|#mailing-list"><i style="color: white; cursor: pointer; font-size: 150%;" class="icon-cancel" /></i></a>
    <div class="row" style="background-color:white">
        COMMENTED OUT <iframe height="796" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://shingoconference.wufoo.com/embed/m14co4i30u248ez/"><a href="https://shingoconference.wufoo.com/forms/m14co4i30u248ez/">Fill out my Wufoo form!</a></iframe><div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;"><span class="notranslate">Use <a href="http://www.wufoo.com/gallery/templates/">Wufoo templates</a> to make your own HTML forms.</span></div> END COMMENT
        <div id="wufoo-m14co4i30u248ez">
            Fill out my <a href="https://shingoconference.wufoo.com/forms/m14co4i30u248ez">online form</a>.
        </div>
        <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;"></div>
        <script type="text/javascript">
            var m14co4i30u248ez;
            (function(d, t) {
                var s = d.createElement(t),
                    options = {
                        'userName': 'shingoconference',
                        'formHash': 'm14co4i30u248ez',
                        'autoResize': true,
                        'height': '796',
                        'async': true,
                        'host': 'wufoo.com',
                        'header': 'show',
                        'ssl': true
                    };
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function() {
                    var rs = this.readyState;
                    if (rs)
                        if (rs != 'complete')
                            if (rs != 'loaded') return;
                    try {
                        m14co4i30u248ez = new WufooForm();
                        m14co4i30u248ez.initialize(options);
                        m14co4i30u248ez.display();
                    } catch (e) {}
                };
                var scr = d.getElementsByTagName(t)[0],
                    par = scr.parentNode;
                par.insertBefore(s, scr);
            })(document, 'script');
        </script>
    </div>
</div> -->
