<article class="container" id="nav-sites">
  <div class="row">
    <ul class="tab-nav">
      <li><a href="europe">European Conference</a></li>
      <li><a href="latinamerica">Congreso Latin America </a></li>
      <li><a href="manufacturing">Manufacturing Summit</a></li>
    </ul>
  </div>
</article>

<article class="navcontain">
  <nav class="navbar" gumby-fixed="top" id="main-nav">
    <div class="row">
      <a class="toggle" gumby-trigger="#main-nav > .row > .eight > ul" href="#"><i class="icon-menu"></i></a>
      <div class="four columns logo">
        <a href="/"><img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_85/v1436391320/Shingo-Mixed-Logos_ztu3bw.png" alt="Europe Regional Shingo Conference"></a>
      </div>
      <div class="eight columns">
        <ul>
          <li><a href="#agenda">Agenda</a></li>
          <li><a href="#speakers">Speakers</a></li>
          <li><a href="#travel">Travel</a></li>
          <li><a href="#sponsors">Sponsors</a></li>
        </ul>
      </div>
    </div>
  </nav>
</article>
