<footer>
  <article class="container" id="footer">
  	<div class="row text-center">
      	<h6 class="quattrocento">© 2017 Utah State University | <a href="../privacy-policy" target="blank">Privacy Policy &amp; Copyright Information</a></h6>
          <a href="https://huntsman.usu.edu" target="_blank"><img src="https://res.cloudinary.com/shingo/image/upload/c_scale,w_150/v1392670458/huntsmanLogo_weqx3o.png"></a>
      </div>
  </article>
</footer>
