<title>{{title}}</title>
<meta charset="utf-8">

<meta name="description" content="{{event.name}}" />
<meta name="keywords" content="Shingo, Prize, institute, lean, education, kaizan, discover, excellence, enable, culture, improve, align, utah state university" />
<meta name="author" content="The Shingo Institute at Utah State University">

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<!-- Favorite Content -->
<link rel="Bookmark" href="/images/favicon.ico">
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

<!-- Facebook Metadata /-->
<meta property="fb:page_id" content="Shingo Institute" />
<meta property="og:image" content="https://res.cloudinary.com/shingo/image/upload/v1436391320/Shingo-Mixed-Logos_ztu3bw.png" />
<meta property="og:description" content="{{event.name}}"/>
<meta property="og:title" content="Shingo Institute"/>

<!-- Google+ Metadata /-->
<meta itemprop="name" content="Shingo Institute">
<meta itemprop="description" content="{{event.name}}">
<meta itemprop="image" content="https://res.cloudinary.com/shingo/image/upload/v1436391320/Shingo-Mixed-Logos_ztu3bw.png">

<!-- StyleSheets -->
<!-- <link rel="stylesheet" href="/stylesheets/gumby.css"> -->
<link rel="stylesheet" href="/stylesheets/gumby.css">
<link rel="stylesheet" href="/stylesheets/summit-style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script src="/javascripts/modernizr-2.6.2.min.js"></script>

<!-- Head Javascripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="/javascripts/googletagmanager.js"></script>
<script src="/javascripts/googleanalytics.js"></script>

<!-- googletagmanager.js no js addition -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M597M9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
