<article class="navcontain">
  <nav class="navbar" gumby-fixed="top" id="main-nav">
    <div class="row">
      <a class="toggle" gumby-trigger="#main-nav > .row > .eight > ul" href="#"><i class="icon-menu"></i></a>
      <div class="four columns logo">
        <a href="https://partners.usu.edu"><img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_75/v1490219783/WebDesign/Logos/PIBLogo-2017.png" alt="Partners in Business"></a>
      </div>
      <div class="eight columns">
        <ul>
          <li><a href="#agenda">Agenda</a></li>
          <li><a href="#speakers">Speakers</a></li>
          <li><a href="#travel">Travel</a></li>
          <li><a href="#sponsors">Sponsors</a></li>
        </ul>
      </div>
    </div>
  </nav>
</article>
