<div>
    <h2 style="text-align: center;">Upcoming {{workshopType}} Workshops</h2>
    <br>
    <div id="workshop-list">
        {{#each workshops}}
			{{>_aff-event this color=color}}
		{{/each}}
    </div>
    <br>
</div>