<article class="display-row shingo-buttons">
    <a href="../education/discover"><img class="shingoButton" src="../images/DiscoverButton.png" alt="Discover Excellence information button"></a>
    <a href="../education/enable"><img class="shingoButton" src="../images/EnableButton.png" alt="Cultural Enablers information button"></a>
    <a href="../education/improve"><img class="shingoButton" src="../images/ImproveButton.png" alt="Continuous Improvement information button"></a>
    <a href="../education/align"><img class="shingoButton" src="../images/AlignButton.png" alt="Enterprise Alignment & Results information button"></a>
    <a href="../education/build"><img class="shingoButton" src="../images/BuildButton.png" alt="Build Excellence information button"></a>
</article>