<article class="row">
    <a href="../education/discover"><img class="shingoButton" src="../images/DiscoverButton.png"></a>
    <a href="../education/enable"><img class="shingoButton" src="../images/EnableButton.png"></a>
    <a href="../education/improve"><img class="shingoButton" src="../images/ImproveButton.png"></a>
    <a href="../education/align"><img class="shingoButton" src="../images/AlignButton.png"></a>
    <a href="../education/build"><img class="shingoButton" src="../images/BuildButton.png"></a>
</article>