<div class="col-xs-3" id="leftnav">
<ul>
  <li><a class="current" href="/teaching-lean">Teaching LEAN</a>
    <ul>
      <li><a href="/teaching-lean/professors/">Professors</a></li>
      <li><a href="/teaching-lean/events/">Events</a></li>
      <li><a href="/teaching-lean/resources/">Resources</a></li>
      <li><a href="about">About Us</a></li>
    </ul>
  </li>
</ul>
