<!DOCTYPE html>
<html>
  <head>
     {{>_head}}
  </head>
  <header>
    {{>_header}}
  </header>
  <body>

    {{>_mailinglist}}
      {{{body}}}

    {{>_footer}}
    {{>_jsdefault}}

  </body>
</html>
