<!DOCTYPE html>
<html>
  <head>
     {{>_head}}
  </head>
  <header>
    {{>_header}}
  </header>
  <body>

    {{>_mailinglist}}
    <!--<span class="v-75-gt-md"><! vspace here ></span>-->
    {{{body}}}

    {{>_footer}}
    {{>_jsdefault}}

  </body>
</html>
