<!DOCTYPE html>
<html>
  {{>_intl-head}}

  <header>
    <nav>
      <div class="text-center">
        <div class="logo left">
          <a href="/" id="logo"><img src="http://res.cloudinary.com/shingo/image/upload/c_scale,w_300/v1476725835/Events/IntlConference/2017/29th-Logo.png" alt="Shingo International Conference"></a>
        </div>
        <div id="big-menu" class="centered text-center">
          <br>
          <br>
      <!--   <ul>
            <li><a href="#agenda">Agenda</a></li>
            <li><a href="#registration">Registration</a></li>
            <li><a href="#speakers">Speakers</a></li>
            <li><a href="#travel">Travel</a></li>
            <li><a href="#sponsors">Sponsors</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <div class="right show-for-medium-down">
          <a href="#smallMenu" class="button" data-dropdown="small-menu"><i class="fa fa-bars fa-2x"></i></a>
          <ul id="small-menu" class="small content f-dropdown" data-dropdown-content>
            <li><a href="#agenda">Agenda</a></li>
            <li><a href="#registration">Registration</a></li>
            <li><a href="#speakers">Speakers</a></li>
            <li><a href="#travel">Travel</a></li>
            <li><a href="#sponsors">Sponsors &amp; Exhibitors</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul> -->
        </div>
      </div>
    </nav>
  </header>

  <body>

    {{{body}}}

  </body>
  <footer>
      <div id="footer">
        <div class="row">
          <div id="contact" class="small-6 columns left">
            <div class="half">
              <h6 class="roboto">REGISTRATIONS &amp; QUESTIONS</h6>
              <h6 class="quattrocento"><strong>Mary Price</strong></h6>
              <p>Events Manager<br>
              +1 (435) 797-3785<br>
              <a href="mailto:mary.price@usu.edu">mary.price@usu.edu</a></p>
            </div>
          </div>
          <div id="footer-logo" class="small-6 columns right">
            <div class="row">
              <a href="/"><img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_85/v1474478583/WebContent/Huntsman-Shingo-Logo.png" alt="Shingo Logo"></a>
            </div>
            <div class="row">
              <p class="">© 2016 Utah State University | Shingo Institute</p>
            </div>
          </div>
        </div>
      </div>
  </footer>
</html>
