<!DOCTYPE html>
<html>
  <head>
     {{>_summit-partners-head}}
  </head>
  <header>
    {{>_summit-partners-nav}}
  </header>
  <body>

      {{{body}}}

    {{>_summit-partners-footer}}
    {{>_jsdefault}}

  </body>
</html>
