<!DOCTYPE html>
<html>
  <head>
     {{>_summit-head}}
  </head>
  <header>
    {{>_summit-nav}}
  </header>
  <body>
    
    {{>_mailinglist}}
    <span class="v-75-gt-md"><!-- vspace here --></span>
      {{{body}}}

    {{>_mailinglist}}
    {{>_jsdefault}}

  </body>
</html>
