<!DOCTYPE html>
<html>
  <head>
     {{>_summit-head}}
  </head>
  <header>
    {{>_summit-nav}}
  </header>
  <body>

      {{{body}}}

    {{>_mailinglist}}
    {{>_footer}}
    {{>_jsdefault}}

  </body>
</html>
