{{#if error}}
    <div style="padding: 30px">
        <h2 style="color: orange">HTTP CODE: {{status}}</h2>
        <pre class="terminal error">{{error.stack}}</pre>
    </div>
{{else}}
    <div class="row text-center">
        {{{message}}}
    </div>
{{/if}}