<!-- Begin Body Content -->
<!-- International Conference Section -->
<article class="container" id="home">
    <section>
      <div class="row">
        <div class="twelve columns">
          <h2 class="text-center">Be sure to join us in Atlanta!</h2>
        </div>
      </div>
        <div class="row">
            <div class="twelve columns">
                <a href="events/international">
                    <div id="manufacturing">
                        <div class="row" id="transborder">
                            <div class="span4"></div>
                            <div class="span4"><img class="gridImg" style="margin-top: 10px" src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_300/v1480443896/Events/IntlConference/2017/Homepage-Banner-Logo-Atlanta-2016.png" /></div>
                            <div class="span4"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <h2 class="text-center"><em>Early bird pricing ends Friday, Feb 3. Don’t miss out!</em></h2>
        </div>
    </section>
</article>

<article class="container" id="home-tri">
    <br>
    <div class="row">
        <div class="four columns" id="home-education">
            <div class="tri-overlay">
                <ul>
                    <li><a href="../education"><h3>EDUCATION</h3></a></li>
                    <li><a href="../education#attend"><h4>Workshops</h4></a></li>
                    <li>
                        <a href="../usastudytour"><h4>Study Tours</h4></a>
                        <!-- Links to next tour available -->
                        <ul class="droplist">
                            <li><a href="../japanstudytour"><h4>Japan Tour</h4></a></li>
                            <li><a href="../usastudytour"><h4> USA Tour</h4></a></li>
                        </ul>
                    </li>
                    <li><a href="/events/international"><h4>International Conference</h4></a></li>
                    <!-- <li>
                        <h4>Conferences &amp; Summits</h4>
                        <ul class="droplist">
                            <li><a href="events/international"><h4>International Conference</h4></a></li>
                            <li><a href="events/latinamerica"><h4>Congreso Latin America</h4></a></li>
                            <li><a href="events/europe"><h4>European Conference</h4></a></li>
                            <li><a href="events/manufacturing"><h4>Manufacturing Summit</h4></a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
            <h6>Dive deep into the <em>Shingo Model</em> and accelerate your improvement efforts.</h6>
            <div class="text-center">
                <div class="medium primary btn"><a href="education">Learn More</a></div>
            </div>
        </div>
        <div class="four columns" id="home-recognition">
            <div class="tri-overlay">
                <ul>
                    <li><a href="../challengefortheprize"><h3>THE SHINGO PRIZE</h3></a></li>
                    <li><a href="../model"><h4>Shingo Model™</h4></a></li>
                    <li><a href="../researchaward"><h4>Research Award</h4></a></li>
                    <li><a href="../awards"><h4>Recipients</h4></a></li>
                </ul>
            </div>
            <h6>We promote and recognize world-class organizational culture that drives results.</h6>
            <div class="text-center">
                <div class="medium secondary btn"><a href="awards">Learn More</a></div>
            </div>
        </div>
        <div class="four columns" id="home-research">
            <div class="tri-overlay">
                <ul>
                    <li><a href="../research"><h3>RESEARCH</h3></a></li>
                    <li><a href="../insight"><h4>Shingo Insight</h4></a></li>
                    <!-- Leave as http -->
                    <li><a href="http://blog.shingo.org"><h4>Articles</h4></a></li>
                </ul>
            </div>
            <h6>The Shingo Institute uses research to continually improve the <em>Shingo Model</em> and its teachings.</h6>
            <div class="text-center">
                <div class="medium info btn"><a href="../research">Learn More</a></div>
            </div>
        </div>
    </div>
</article>

<article class="container" id="home-model">
    <div class="row text-center">
        <div class="eight centered columns">
            <h3>Discover the <em>Shingo Model™</em> and learn what makes the difference.</h3>
            <h3><i class="icon-dot"></i><i class="icon-dot"></i><i class="icon-dot"></i></h3>
            <!--<img src="images/diamonds.png">-->
            <h4>Our clients are experiencing sustained improvement and are consistently delivering new levels of success to all their stakeholders.</h4>
            <div class="medium primary btn"><a href="model">Learn More</a></div>
        </div>
    </div>
</article>

<article class="container" id="home-aff">
    <div class="row valign">
        <img src="images/world.png">
        <h3>Shingo Institute Licensed Affiliates bring years of experience and a wide array of expertise to our clients.</h3>
        <br>
        <h5>They serve as an extension of the Shingo Institute team as they share, promote and deploy the <em>Shingo Model™</em> throughout the world.</h5>
        <br>
        <p class="medium secondary btn"><a href="affiliates">Meet Them &raquo;</a></p>
    </div>
</article>
