<!-- Begin Body Content -->
<!-- International Conference Section -->
<article class="container home-model" style="margin-top: 0">
    <div class="row text-center">
        <div class="eight centered columns" style="width: 100%; margin: auto;">
            <h2 style="max-width: 95vw; margin: auto;">Shape your culture to drive operational excellence.</h2>
            <div class="journey-button-container">
                <a href="/model" class="journey-button">Introduction to Shingo</a>
                <a href="/journey" class="journey-button">Your Shingo Journey</a>
            </div>
        </div>
    </div>
</article>

<article class="container">
    <div style="display: flex; flex-flow: column nowrap; align-items: center; justify-content: space-around;">
        <div style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-around; padding-top:2em;">
            <!-- <a class="column" href="/financialservices2018"><img class="clickable" src="images/FS_homepage.png" /></a> -->
            <!-- <a class="column" href="/ireland2018"><img class="clickable" src="images/homepage-Ireland.png" /></a> -->
            <a href="https://www.shingo.org/mfg2019"><img src="https://res.cloudinary.com/shingo/image/upload/v1566941998/WebContent/Manufacturers_Summit_Banner_-_03-2019.jpg" alt="Moutain West Study Tour" width='1175'>
            </a>
        </div>
    </div>
</article>
<article>
    <br>
    <div class="row">
        <p style="font-size: 36px; text-align: center;">What we do...</p>
    </div>

    <div class="display-row" style="width: 90%; margin: auto;">
        <div class="four columns" id="home-education">
            <div class="tri-overlay">
                <ul>
                    <li><a href="https://events.shingo.org/#!/upcoming"><h3>TRAINING</h3></a></li>
                    <li><a href="../education#workshops"><h4>Workshops</h4></a></li>
                    
                    {{!-- <li><a href="/events/international"><h4>30th Shingo Conference</h4></a></li> --}}
                    <li><a href="http://www.sme.org/LeanWhitePaper/" target="_blank"><h4>Lean Certification</h4></a></li>
                    <li>
                        <a href="https://events.shingo.org/#!/upcoming#studytours"><h4>Study Tours</h4></a>
                        <!-- Links to next tour available -->
                    </li>
                    <li><a href="https://events.shingo.org/#!/upcoming"><h4>Showcases</h4></a></li>
                    <li><a href="https://huntsman.usu.edu/omba/shingo-online-mba "><h4>Shingo MBA</h4></a></li>
                </ul>
            </div>
            {{!--<h6>Dive deep into the <em>Shingo Model</em> and accelerate your improvement efforts.</h6>
            <div class="text-center">
                <div class="medium primary btn"><a href="education">Learn More</a></div>
            </div>--}}
        </div>
        <div class="four columns" id="home-events">
            <div class="tri-overlay">
                <ul>
                    <li><h3>EVENTS</h3></li>
                    <li><a href="https://events.shingo.org"><h4>Conferences</h4></a></li>
                    <!-- Leave as http -->
                    <li><a href="https://events.shingo.org"><h4>Summits</h4></a></li>
                </ul>
            </div>
            {{!--<h6>The Shingo Institute uses research to continually improve the <em>Shingo Model</em> and its teachings.</h6>
            <div class="text-center">
                <div class="medium info btn"><a href="../research">Learn More</a></div>
            </div>--}}
        </div>
        <div class="four columns" id="home-recognition">
            <div class="tri-overlay">
                <ul>
                    <li><a href="../awards"><h3>ASSESSMENT</h3></a></li>
                    <li><a href="../awards"><h4>The Shingo Prize</h4></a></li>
                    <li><a href="../insight"><h4>Shingo Insight</h4></a></li>
                    <li><a href="../researchaward"><h4>Research Award</h4></a></li>
                    <li><a href="../publicationaward"><h4>Publication Award</h4></a></li>                    
                </ul>
            </div>
            {{!--<h6>We promote and recognize world-class organizational culture that drives results.</h6>
            <div class="text-center">
                <div class="medium secondary btn"><a href="awards">Learn More</a></div>
            </div>--}}
        </div>
        <div class="four columns" id="home-research">
            <div class="tri-overlay">
                <ul>
                    <li><h3>RESEARCH</h3></li>
                    <!-- Leave as http -->
                    <li><a href="http://blog.shingo.org"><h4>Articles</h4></a></li>
                    <li><a><h4 class="no-hover"><span style="color: #d04526">Books</span> - Coming Soon</h4></a></li>
                </ul>
            </div>
            {{!--<h6>The Shingo Institute uses research to continually improve the <em>Shingo Model</em> and its teachings.</h6>
            <div class="text-center">
                <div class="medium info btn"><a href="../research">Learn More</a></div>
            </div>--}}
        </div>
    </div>
</article>

<article class="container home-model">
    <div class="row text-center">
        <div class="eight centered columns">
            <h3>Discover the <em>Shingo Model™</em> and learn what makes the difference.</h3>
            <h3><i class="icon-dot"></i><i class="icon-dot"></i><i class="icon-dot"></i></h3>
            <!--<img src="images/diamonds.png">-->
            <h4>Experience sustained improvement that consistently delivers new levels of success to all stakeholders.</h4>
            <div class="medium primary btn"><a href="model">Learn More</a></div>
        </div>
    </div>
</article>

<article class="container" id="home-aff">
    <div class="row valign">
        <img src="images/world.png">
        <h3>Shingo Institute Licensed Affiliates bring years of experience and a wide array of expertise to our clients.</h3>
        <br>
        <h5>They serve as an extension of the Shingo Institute team as they share, promote and deploy the <em>Shingo Model™</em> throughout the world.</h5>
        <br>
        <p class="medium secondary btn"><a href="affiliates">Meet Them &raquo;</a></p>
    </div>
</article>
