<div class="row">
{{#if files}}
<h2>Presentations</h2>
<ul>
  {{#each files}}
    <li><a href="{{this.file}}" target="_blank">{{this.name}}</a>
  {{/each}}
</ul>
{{else}}
No files to download. Please check back later...
{{/if}}
</div>
