<article class="container recipient">
	<div class="row text-center">
    	<h2>Ball Beverage Packaging Mont</h2>
      <h3>Mont, France</h3>
      <br>
        <p class="text-centr">
        <img src="http://res.cloudinary.com/shingo/image/upload/v1491325208/PrizeRecipients/2017/Ball/Ball-Logo-2017.png" alt="Ball Beverage">
				</p>
        <h5>Read the press release <a href="silver-ballbeverage-pr">here.</a></h5>
        <br>
    </div>
    <div class="row">
			<h4><strong>Corporate Overview</strong></h4>
					<p>Ball is the world leading beverage can maker. It employs
						some 18,700 people in factories and offices across five
						continents with a turnover of $11 billion. We make
						beverage cans for many of the world’s favourite brands.
						94 billions of them annually in 62 factories. </p>
					<p>We understand and appreciate the road that brought us
						to where we are today, and we believe our heritage is a
						competitive advantage – offering a strong foundation for
						future success. Not only that, but we have a clear path to
						attain that success. We call it “Drive for 10.”</p>
					<p>Our Drive for 10 vision identifies these five
						levers as key to growing our business and achieving longterm
						success:
						<ul style="list-style-type: circle; margin-left: 2rem">
							<li>Maximizing value in our existing businesses</li>
							<li>Expanding into new products and capabilities</li>
							<li>Aligning ourselves with the right customers and markets </li>
							<li>Broadening our geographic reach</li>
							<li>Leveraging our know-how and technological expertise to provide a competitive advantage </li>
						</ul>
					 </p>
			<h4><strong>The Mont Facility</strong></h4>
				<p>Mont plant, part of Ball Beverage Packaging Europe
					(BBPE) region of Ball, is in the village of Mont, 30 km
					West of Pau (South West of France). The plant started in
					1990 with Module 1, followed in 1991 by Module 2, in
					1993 by Module 3 and in 2008 by Module 4.
					Mont is one of five Ball End manufacturing plants in
					Europe. We have 187 employees producing 10 billion
					max capacity ends annually.</p>
				<p>The 13,250 sq.m facility is divided into four “Modules”
					(continuous flow processing lines) including eleven high
					speed stamping presses and a high level of automation.
					Key customers include Red Bull, Coca-Cola and
					Carlsberg. We operate a 24/7 pattern of work where
					our customers’ expectations drive us to perform at our
					very best every day. </p>

			<h5><strong>Product and Process</strong></h5>
			 <p>Mont produces two End sizes (200 & 202) with two
				designs for the 202 (B64 & CDL). Through a combination
				of customers’ requirements including coloured metal, cutout
				tab and laser engraving we have more than 120
				SKUs. The process has four recognizably phases: cutting
				and shaping from rolled aluminium stock into basic disc
				ends, sealing compound application, the shaping and
				cutting with tab (ring pull) attachment, and the finished
				ends packed onto pallets ready for dispatch. </p>
				<p>A thorough approach is taken towards safety and training
				to deliver a healthy work environment and great customer
				service. Production is carried out and controlled using the
				concept of “Quality at Source” which gives us a focus on
				the quality of the process rather than the products
				characteristics. </p>

			<h5> <strong>Continuous improvement</strong> </h5>
				<p>In 2000 Ball “formerly Rexam” started its global Lean
					journey bases on a specific set of tools: Culture, VSM and
					5S, TPM, SMED and Six Sigma. From 2004, progress has
					been annually reviewed in the form of an internal
					assessment and performance was awarded as a prize of
					Bronze, Silver or Gold. Mont achieved Silver the first year
					and achieved Gold the third year and again in 2009,
					2010 and 2011. In 2011 Ball introduced the Shingo
					model based internal assessment. Mont achieved Bronze
					in 2015 and Silver in 2016. </p>
				<p>To pursue our journey toward excellence we started in
					2016 the “Zero Loss” project. </p>
				<p>Zero Loss is a concept, a way of thinking! In order to have
					zero anything, it must be prevented from happening even
					once. Zero Loss focuses on elimination of injuries,
					stoppages and defects. Zero Loss uses TPM to achieve
					the objective of ZERO. </p>
					<p>The key of success is the implication of all plant
					employees, the best example to show that it's not only a
					management project but a plant project is that the Zero
					Loss project leader is an operator detached for that
					mission.</p>

			<h5> <strong>Noteworty Achievements for our Factory</strong> </h5>
					<ul style="list-style-type: circle; margin-left: 2rem">
						<li>1000 Days without a Lost Time Accident (LTA) (Feb’16)</li>
						<li>Multiple Gold awards in Lean Audits</li>
						<li>We reduced the number of customer claims by 80% in the last 3 years</li>
						<li>Best plant of the sector for quality in 2016</li>
						<li>Mont is the sector benchmark for the number of Ends per Man Hour</li>
						<li>We reduced by 66% the % of HFI (hold for inspection) created over total ends production in the last 4 years. </li>
						<li>Reduced by 50% the absenteeism in the last 4 years </li>
						<li>Increase by 50% the training hours given to our employee in the last 4 years</li>
					</ul>

			<h5> <strong>Safety & Environment</strong> </h5>
				<ul style="list-style-type: circle; margin-left: 2rem">
					<li> Mont was the first plant of the sector to implement the Behaviour Base Safety program in 2010, we have now more than 230 safety visits done every month. </li>
					<li>ISO 14001 accreditation since 2003</li>
					<li>OHSAS 18001 accreditation since 2006</li>
					<li>Evacuation drill training provide to all employees annually </li>
					<li>Number of near misses reported included in the plant bonus scheme since 2006</li>
				</ul>

			<h5> <strong>Quality</strong> </h5>
				<ul style="list-style-type: circle; margin-left: 2rem">
					<li>ISO 9000 accreditation since 1994</li>
					<li>British Retail Consortium (BRC) accreditation since 2002 </li>
					<li>ISO 22000 accreditation since 2010</li>
					<li>Our NOC per billion Produced reduced from 5.9 in 2014 to 1 in 2016. Benchmark for all plants in BCE. </li>
					<li>Digital inspection camera systems installed on all conversion presses.</li>
					<li>Real time visual system and downtime management in operation (Viscan).</li>
					<li>Real time Quality System Management and Statistical control (ShopFloor). </li>
					<li>Ball Quality Audit 95.4% in 2016.</li>
					<li>Heineken Quality Audit 95% in 2016. </li>
				</ul>

			<h5> <strong>Employee Morale</strong> </h5>
				<ul style="list-style-type: circle; margin-left: 2rem">
					<li>Absenteeism has reduced by 50% in the last 4 years</li>
					<li>Yearly appraisal interview done for all employees</li>
					<li>All shift supervisors, all technical supervisors, technical manager, quality manager and plant manager are coming from internal promotion.</li>
					<li>New year event organize every January for employees and their family </li>
					<li>“Blue Chip” recognition awards</li>
					<li>Employee average age 42.6 Years old</li>
					<li>Employee average seniority 15 Years</li>
				</ul>

			<h5> <strong>Cost Reductions</strong> </h5>
				<ul style="list-style-type: circle; margin-left: 2rem">
					<li>6 million Euro of ‘Lean’ Savings since 2012</li>
					<li>End per Man Hour increased by 10% from 2014 to 2016 </li>
					<li>Ends per press day DRT increased by 20% from 2014 to 2016 </li>
					<li>Repair cost per ends produced decreased by 10% from 2010 to 2016 </li>
				</ul>

			<h5> <strong>People</strong> </h5>
				<p>Our mission, always is to develop our people into leaders
				that can take us to the next level in our journey to
				becoming the best End maker in the world. We would not
				have achieved all that that without the engagement of our
				team. The Zero Loss project is the best way to engage and
				empower all our employees in order to accelerate the
				movement toward excellence. </p>

			<h5> <strong>For more information contact:</strong> </h5>
				<ul>
					<li>Ray Howcroft</li>
					<li>Lean Six Sigma Manager</li>
					<li>Direct Line +44 (0) 1924 834017</li>
					<li>Mobile +44 (0) 7766 160993</li>
					<li>Email: <a href="mailto:ray.howcroft@ball.com">ray.howcroft@ball.com</a> </li>
				</ul>
</article>
