<!-- InstanceBeginEditable name="main" -->
<article class="container recipient">
	<div class="row text-center">
    <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_150/v1491335653/PrizeRecipients/2017/Medarottapharm/Mylan-Logo-2017.jpg" alt="Meda Rottapharm Logo">
		<h2>Meda Rottapharm Ltd – a Mylan Company</h2>
    <br>
    </div>
    <div class="row">
		<h3>Meda Rottapharm Ltd – a Mylan Company Receives International Recognition for Operational Excellence</h3>
		<p>Summary: After trained examiners and accomplished business professionals performed a thorough assessment of its facility, Meda Rottapharm Ltd – a Mylan company, has been awarded the internationally recognized Shingo Silver Medallion from the Shingo Institute, part of the Jon M. Huntsman School of Business.</p>
		<p>LOGAN, Utah – The Shingo Institute, part of the Jon M. Huntsman School of Business at Utah State University, has awarded Meda Rottapharm Ltd – a Mylan company in Dublin, Ireland with the Shingo Silver Medallion.</p>
		<p>“Receipt of the Shingo Silver Medallion signifies not only an organization’s mastery of tools and techniques, but also that it has developed mature systems for improving an organization's operations,” said Ken Snyder, executive director at the Shingo Institute.“</p>
		<p>Meda Rottapharm Ltd, part of the Mylan corporation, is a medium-sized pharmaceutical manufacturing facility operating in Dublin since 1999. The company supplies pharmaceutical product globally to more than 67 markets. Rottapharm has an API plant, 4 bulk manufacturing areas and 10 packaging lines where a range of products from oral liquid drops to capsules, tablets and sachets are manufactured and packaged.</p> 
		<p>Jason, a technical services chemist at Rottapharm, says, “The Shingo accreditation is a real validation of the excellent work and culture being achieved in Rottapharm. All members of the company, from associates to the leadership team, are working together towards our goals.” And Patricia, a production associate, says, “With the Shingo Model I have been empowered to share my ideas, to learn from others, to develop and become involved in working as a team. This in turn makes for a happier, safer and more productive workplace, which ultimately assures quality and value for our customers."</p>
		<p>Meda Rottapharm has noted a number of significant improvements, including a 98% reduction in lost work days from 2011 to 2014, a 60% reduction in customer complaints between 2010 and 2015, and a 43% reduction in cost per pack between 2008 and 2015. Rottapharm recorded an increase of 51% in output per employee between 2010 and 2015. On-time delivery has increased by 24% since 2010, and employee engagement in 2016 was 80%.</p>
		<p>By “challenging” or applying for an award, organizations invite a group of accomplished professionals and trained examiners to thoroughly review their culture and operations. The examiners evaluate the challengers based on a rigorous set of standards and the Shingo Institute awards the organizations according to their assessment results.</p>
		<p>Team members from Meda Rottapharm will receive the award during the Awards Gala at the 29th Shingo International Conference held the week of April 24-28, 2016 in Atlanta, Georgia, USA. The conference is a five-day event featuring a selection of workshops, plant tours, keynote speakers and breakout sessions designed to provide ongoing knowledge, insights and experience for organizations in their pursuit of operational excellence.</p>

		<h5>About the Shingo Institute</h5>
		<p>The Shingo Institute is home of the Shingo Prize, an award that recognizes organizations that demonstrate an exceptional culture that fosters continuous improvement. Part of the Jon M. Huntsman School of Business at Utah State University, the Shingo Institute is named after Japanese industrial engineer and Toyota advisor, Shigeo Shingo. Dr. Shingo distinguished himself as one of the world’s thought leaders in concepts, management systems and improvement techniques that have become known as the Toyota Production System.</p>
		<p>Drawing from Dr. Shingo’s teachings and years of experience working with organizations worldwide, the Shingo Institute developed the Shingo Model™ which is the basis for its several educational offerings, including workshops, study tours and conferences. Workshops are available in multiple languages through the Institute’s licensed affiliates. For more information on workshops, affiliates, or to register to attend the International Shingo Conference, please visit <a href="/">www.shingo.org</a>.</p>

		</h5>About Mylan</h5>
		<p>Mylan, a global pharmaceutical company committed to setting new standards in healthcare, offers a growing portfolio of more than 2,700 generic and branded pharmaceuticals, including antiretroviral therapies on which approximately 50% of people being treated for HIV/AIDS in the developing world depend. Mylan markets its products in more than 165 countries and territories. Its global R&amp;D and manufacturing platform includes more than 50 facilities, and it is one of the world’s largest producers of active pharmaceutical ingredients. Every member of its more than 40,000-strong workforce is dedicated to creating better health for a better world, one person at a time. To learn more, visit <a href="www.mylan.com">www.mylan.com</a>.</p>
		<h4>Contact</h4>
		<p><strong>Dominic Bria</strong>, Marketing Manager - Shingo Institute &nbsp; | &nbsp; Phone: 435-797-0771 &nbsp; | &nbsp; Email: <a href="mailto:dominic.bria@usu.edu">dominic.bria@usu.edu</a></p>
		<p><strong>Patrick Garrahy</strong>, Managing Director - Mylan &nbsp; | &nbsp; Phone: 00 353 1 8852702 &nbsp; | &nbsp; Email: <a href="mailto:pat.garrahy@mylan.com">pat.garrahy@mylan.com </a></p>
  </div>
</article>
<!-- InstanceEndEditable -->
