<!-- InstanceBeginEditable name="main" -->
<article class="container recipient">
	<div class="row text-center">
		<h2>Ball Beverage Packaging Mont</h2>
    <br>
		<img src="http://res.cloudinary.com/shingo/image/upload/v1491325208/PrizeRecipients/2017/Ball/Ball-Logo-2017.png" alt="Hospira">
    </div>
    <div class="row">
		<h3 class="text-center">Ball Beverage Packaging Mont Receives International Recognition for Operational Excellence</h3><br>
		<p><em>Summary: After trained examiners and accomplished business professionals performed a thorough assessment of its facility, Ball Beverage Packaging Mont has been awarded the internationally recognized Shingo Silver Medallion from the Shingo Institute, part of the Jon M. Huntsman School of Business</em></p>
		<p>LOGAN, Utah – The Shingo Institute, a program in the Jon M. Huntsman School of Business at Utah State University, has awarded the Ball Beverage Packaging Plant in Mont, France with the Shingo Silver Medallion.</p>

		<p>“Receipt of the Shingo Silver Medallion signifies not only an organization’s mastery of tools and techniques, but also that it has developed mature systems for improving an organization's operations,” said Ken Snyder, executive director at the Shingo Institute.</p>

		<p>Ball is one of the world-leading beverage can makers, and the plant in Mont is one of Ball’s four end manufacturing plants in Europe.</p>

		<p>Plant manager Jean-Denis Brun says, “The best result of our Shingo journey is the engagement of all the team toward a common challenge. I’m convinced that the momentum given by the Shingo assessment will continue and that we are only at the beginning of that journey. The Shingo Silver Medallion is an exceptional result which is well deserved by the team.”</p>

		<p>Céline Jungas, the EHS manager, says, “Our people are our most valuable resource, so maintaining a safe and healthy work environment according to Shingo requirements is and will remain a top priority for our plant.”</p>

		<p>The plant in Mont has noted a number of significant improvements. Some of their most noteworthy achievements include reaching 1,000 days without a Lost Time Accident and reducing the number of customer claims by 80%. The Mont facility was the first plant in the European region to implement the Behaviour Base Safety program in 2010 and they now have more than 230 safety visits done every month. Additionally, absenteeism has been reduced by 50% and 6 million euro of “Lean savings” has been achieved since 2012.</p>

		<p>By “challenging” or applying for an award, organizations invite a group of accomplished professionals and trained examiners to thoroughly review their culture and operations. The examiners evaluate the challengers based on a rigorous set of standards and the Shingo Institute awards the organizations according to their assessment results.</p>

		<p>Team members from Ball Beverage Packaging Mont will receive the award during the Awards Gala at the Shingo Conference held the week of April 28–May 3, 2019 in Cincinnati, Ohio, USA. The conference is a five-day event featuring a selection of workshops, plant tours, keynote speakers, and breakout sessions designed to provide ongoing knowledge, insights, and experience for organizations in their pursuit of operational excellence.</p>

		<h5><strong>About the Shingo Institute</strong></h5>
		<p>The Shingo Institute is home of the Shingo Prize, an award that recognizes organizations that demonstrate an exceptional culture that fosters continuous improvement. Part of the Jon M. Huntsman School of Business at Utah State University, the Shingo Institute is named after Japanese industrial engineer and Toyota advisor, Shigeo Shingo. Dr. Shingo distinguished himself as one of the world’s thought leaders in concepts, management systems and improvement techniques that have become known as the Toyota Production System.</p>
		<p>Drawing from Dr. Shingo’s teachings and years of experience working with organizations worldwide, the Shingo Institute developed the Shingo Model™ which is the basis for its several educational offerings, including workshops, study tours and conferences. Workshops are available in multiple languages through the Institute’s licensed affiliates. For more information on workshops, affiliates, or to register to attend the International Shingo Conference, please visit <a href="/">www.shingo.org</a>.</p>

		<h4>Contact</h4>
		<p><strong>Dominic Bria</strong>, Marketing Manager - Shingo Institute &nbsp; | &nbsp; Phone: 435-797-0771 &nbsp; | &nbsp; Email: <a href="mailto:dominic.bria@usu.edu">dominic.bria@usu.edu</a></p>
  </div>
</article>
<!-- InstanceEndEditable -->
