<article class="container recipient">
	<div class="row text-center">
    	<h2>Visteon Electronics Tunisia – Bir El Bey Plant</h2>
      <h3>Bir El Bey, Tunis, Tunisia</h3>
      <br>
        <p class="text-centr">
        <img src="http://res.cloudinary.com/shingo/image/upload/v1506715760/visteonLogo_rvoep2.png" alt="Visteon">
				</p>
        <h5>Read the press release <a href="silver-visteon-pr">here.</a></h5>
        <br>
    </div>
    <div class="row">
			<h4><strong>Corporate Overview</strong></h4>
				<p>
                    Visteon is at the epicenter of the connected car driving revolution, with one of the broadest cockpit electronics portfolios in the industry. Visteon designs, engineers and manufactures vehicle cockpit electronics products and connected car solutions that deliver a rich, connected experience for drivers and passengers.
				</p>
                <p>
                    Visteon is well-positioned to address emerging cockpit electronics trends, with solutions including Phoenix™ infotainment, SmartCore™ domain controllers and an autonomous driving approach that uses artificial intelligence and machine learning. Named a top-five Tier 1 supplier for connected car solutions by ABI Research, Visteon is technology-driven, flexible and enjoys a diversified customer base and broad global footprint.          
                </p>
                <ul>
                    <li><h4>Vision</h4></li>
                    <p>
                        A top-three cockpit electronics player
                        delivering a rich, connected cockpit
                        experience for every car from luxury
                        to entry.
                    </p>
                    <li><h4>Headquarters</h4></li>
                    <p>
                        Van Buren Township, Michigan, U.S.
                    </p>
                    <li><h4>President and CEO</h4></li>
                    <p>
                        Sachin Lawande
                    </p>
                    <li><h4>2016 Revenue</h4></li>
                    <p>
                        $3.16 billion
                    </p>
                    <li><h4>NYSE Stock Symbol</h4></li>
                    <p>
                        VC
                    </p>
                    <li><h4>Core Business</h4></li>
                    <p>
                        Automotive cockpit electronics
                    </p>
                    <li><h4>Products</h4></li>
                    <p>
                        <ul>
                            <li>Instrument clusters</li>
                            <li>Head-up displays</li>
                            <li>Information displays</li>
                            <li>infotainment</li>
                            <li>Audio systems</li>
                            <li>Telematics</li>
                            <li>SmartCore™ cockpit domain controllers</li>
                        </ul>
                    </p>
                    <li><h4>Customers</h4></li>
                    <p>
                        Ford, Renault/Nissan, Mazda, BMW, GM, Honda, PSA, JLR, VW, Daimler and others 
                    </p>
                    <li><h4>Employees</h4></li>
                    <p>
                        Approximately 10,000 in 19 countries
                    </p>
                </ul>
			<h4><strong>Visteon Electronics Tunisia Overview</strong></h4>
				<p>
					Visteon Electronics Tunisia Bir El Bey Plant has reached a Visteon benchmark manufacturing location with more than 400 highly skilled, engaged and ethical employees. The manufacturing area is equipped with:
                    <ul class = "square">
                        <li>Three Standard SMT lines with continuous Lean concepts and high-volume components, last generation chip shooter, Pick & Place machines and 3D SPI & AOI machines. All the lines are dual-lane types and can produce double-side reflow printed circuit boards, allowing more efficient space use and lower energy consumption.</li>
                        <li>Eight Mono & Bi-Material injection machines that produce more than 12,000 parts per day.</li>
                        <li>Twenty assembly lines with customized solutions for each product and customer and high content of poka yoke systems that produce 48,000 parts per day. The plant has an extend Know How in Winding, on-line Heat Sealing and Pointer Insertion Process, among others. For inspection, they are using Color Vision system in most of the assembly lines.</li>
                    </ul>
				</p>
        <p>
            The large product portfolio includes: displays & multimedia, clocks, parking systems, key fobs, immobilizers and compasses to ensure a strong and growing customer base.
        </p>
        <h4><strong>Plant Vision and Mission</strong></h4>
        <p>
          The plant’s vision is to create a first-class Visteon manufacturing location with a highly skilled, engaged and ethical team to satisfy customers with high-quality and high-tech processes. For that, the management team continuously empowers all employees to provide solutions for customers and to build a network of sustainable, mutually beneficial business relationships. The mission is to transform operators into cultural change agents, always seeking for improvement, and to engage team members to create the sense of process ownership to the operator level. 
        </p>  
        <p>
            The key success tool is the self-directed work teams deployed through all departments and involving all employees at all levels with a primary mission of waste elimination and process performance improvement. According to the last employee survey, 98% of employees have a deep understanding of customer wants and needs; they confirm that they are able to meet short-term demands without compromising their long-term vision.
        </p>
      <h4><strong>Continuous Improvement</strong></h4>
        <p>
          Visteon Bir El Bey demonstrates the commitment to continuous improvement in actions and effectiveness of the operating system. Developing and recognizing the staff is the success key to implement global Lean systems with 5S, VM, TPM, QCO, Kaizen, SW and VSM.
        </p>  
        <p>
            Furthermore, six sigma is now part of the culture, with 21 certified green belt and 3 certified black belts. All projects are documented and shared within Visteon plants to ensure best business practice implementations. Managing improvement projects, conduct workshops (Lean Academy, Green Belt Workshop, Energy Hunt, Waste Walk, Recognize & Define), and CI roadmap monitoring are the main activities of the OPEX team.
        </p>
        <p>
            Achievement of the approach is demonstrated by:
        </p>
        <p>
            <ul class="square">
                <li>Exceeding the annual continuous improvement saving tasks from one year to another and the excellent results in Visteon Operational Excellence audits.</li>
                <li>Number of ideas coming from operators/managers exceeds 300 improvement ideas/year, generating more than $350k/pear savings in labor and overhead.</li>
                <li>Top level 5 among Visteon plants on OPEX Assessment during 2015, 2016 & 2017.</li>
                <li>Scrap reduction more than 58% in 2016 as compared to 2015 performance.</li>
                <li>Integrated level in Six Sigma deployment strategy, considered as best performance within Visteon plants.</li>
            </ul>
        </p>
      <h4><strong>Quality</strong></h4>
        <p>
            <strong><em> Exceeding customers’ expectations, sustainable growth and continuous improvement are the 3 pillars of Visteon Bir El Bey Quality Policy.</strong></em>
        </p>
        <p>
            This will ensure that all internal quality issues, both small and large, have a proper problem-solving focus, resulting root-cause analysis and actions to prevent reocurrence and avoid escape to the customer side. They improve quality performance by working together as a team, with a powered supplier quality, manufacturing quality and customer quality engineers, technicians and operators. The outstanding performance with one digit customer ppm level for more than 12 months is the main evidence of this efficient process.
        </p>
        <h4><strong>Delivery</strong></h4>
        <p>
            The logistics KPIs were significantly improved thanks to the effort of all logistics and manufacturing teams.
        </p>
        <p>
            Applying Lean standards, FIFO, Kanban as a pull system, total flexibility with the customer requirements such us the incoterms that are changing from one customer to another (DAP, FOB, FCA, etc.), Visteon Bir El Bey can have different types of customer sales orders with several criteria based on the customer needs. 
        </p>
      <h4><strong>Customer Satisfaction</strong></h4>
        <strong><em>Surveys, Awards & Customer Recognitions</em></strong>
        <p>
            Visteon Bir El Bey Plant is one of the automotive electronics manufacturer plant and is continually audited by customers and third party certification organizations.
        </p>
        <p>
            <ul class="square">
                <li>ISO/TS 16949: Automotive World Wide Certification.</li>
                <li>ISO 14001: Environment Certification 2007</li>
                <li>OHSAS 18001</li>
                <li>2013 Classified 28th among 500 Tunisian companies for net sales</li>
                <li>2013 Classified 9th among 150 companies  for exportation </li>
                <li>2015 Best PSA Supplier’s Award</li>
                <li>2016 Best PSA Supplier’s Award</li>
                <li>2016 A rating for VW</li>
                <li>2017 Best of the Best PSA Supplier’s Award</li>
                <li>2017 0 Non-Conformity/Remarks in ISOTS Audit</li>
            </ul>
        </p>
        <p>
            The customer’s evaluation is the main focused KPI; the green status for all customers maintained for more than 12 months is the main evidence of this achievement.
        </p>
      <h4><strong>People</strong></h4>
        <p>
            Visteon Electronics Tunisia fully adopts corporate culture principles, assumed as a key concept for the efficiency of the organization. Corporate culture principles are inspired from the values of Visteon and supported by a management system and structures that allow the desired behaviors to take place consistently. According to the employee survey:
        </p>
        <p>
            <ul class="square">
                <li>94% of people understand what needs to be done for them to succeed in the long run.</li>
                <li>94% of people confirm there is widespread agreement about ambitious and realistic goals.</li>
                <li>98% of people agree there is a clear agreement about the right way and the wrong way to do things.</li>
                <li>97% of people consider that work is organized so that each person can see the relationship between his or her job and the goals of the organization.</li>
            </ul>
        </p>
        <p>
            Furthermore the facility exceeds 1,250 days without a lost time case, which is a good performance to ensure safe work conditions for all employees.
        </p>
				{{!--<p><strong>Patrick Garrahy</strong>, Managing Director &nbsp; | &nbsp; Phone: 00 353 1 8852702 &nbsp; | &nbsp; Mobile: 00 353 86 8107974 &nbsp; | &nbsp; Email: <a href="mailto:pat.garrahy@mylan.com">pat.garrahy@mylan.com </a></p>
				<br>--}}
    </div>
		 <div class="row">
      	<section class="vertical tabs gallery row">
              <ul class="tab-nav three columns two_up tiles">
                  <li class="active"><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_400,w_600/v1506715550/Group_Picture_khc0tn.jpg"></a></li>
                  <li><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_400,w_600/v1506715549/Bir_El_Bey_Plant_Photo_xoqkvw.jpg"></a></li>                
              </ul>
              <div class="tab-content active nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_400,w_600/v1506715550/Group_Picture_khc0tn.jpg">
              </div>
              <div class="tab-content nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_400,w_600/v1506715549/Bir_El_Bey_Plant_Photo_xoqkvw.jpg">
              </div>
          </section>
      </div>
</article>
