<article class="container recipient">
	<div class="row text-center">
    	<h2>Hospira Limited, a Pfizer Company </h2>
      <h3>Haina, San Cristobal, Dominican Republic</h3>
        <p class="text-centr">
        <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_150/v1488834881/CompanyLogos/HospiraLogo2017.jpg" alt="Hospira">
				</p>
        {{!--<h5>Read the press release <a href="silver-medarottapharm-pr">here.</a></h5>--}}
        <br>
    </div>
    <div class="row">
			<h4><strong>Corporate Overview</strong></h4>
				<p>
          Hospira is a global leader of injectable drugs and infusion technologies provider. The name "Hospira" is derived from the words hospital, spirit, inspire and the Latin word spero, which means hope. It reflects the primary market focus and expresses the hope and optimism that are critical in the healthcare industry. In September 2015, Hospira was acquired by Pfizer to create a leading Global Established Pharmaceutical (GEP) Business. Pfizer applies science and global resources to bring therapies to people that extend and significantly improve their lives. Pfizer’s global portfolio includes medicines and vaccines as well as many of the world’s best-known consumer healthcare products. For more than 150 years, Pfizer colleagues work across developed and emerging markets to advance wellness, prevention, treatments and cures that challenge the most feared diseases of our time.
				</p>
			<h4><strong>The Dominican Republic Facility</strong></h4>
				<p>
					This facility started operations in 1990 at Haina, San Cristobal. With more than 25 years in the country, the facility has 147,000 square feet: 49,000 sq. ft. for manufacturing and 98,000 sq. ft. for supporting space, with a Clean Room Class ISO 8 and 9 manual assembly lines. Hospira produces close to 230 SKUs, with an average annual volume of 95 million units. There are around 900 employees on site: 760 direct and indirect employees and 140 employees for supporting and management areas.
				</p>
			<h4><strong>Process &amp; Products</strong></h4>
				<p>
          Hospira Dominican Republic produces intravenous therapy sets. The portfolio of premier IV sets is mainly focused on patient’s safety. It is engineered for contamination control, needle stick prevention and reliable intravenous drug delivery performance. Production and process controls are designed to ensure that products meet customer specifications. These controls include written procedures that fully describe manufacturing processes; the appropriate equipment to use during assembly and packaging; the handling of products during all stages such as receipt, production, distribution and installation, as well as requirements for the sampling and testing of in-process materials (e.g. Statistical Process Control testing); controls to prevent microbiological contamination; and requirements for records as evidence that products have been safely manufactured and meet their intended use.
        </p>  
      <h4><strong>Hospira Philosophy</strong></h4>
        <blockquote>Advancing Wellness™... through the right people and the right products.</blockquote>
				<p>
          Hospira’s vision guides everything they do. "Advancing" focuses on Hospira’s progressive, positive and purposeful approach as they look to the future. “Wellness” demonstrates a broad commitment to healthcare, supported by a wide variety of products that help improve the wellbeing of patients around the world. The “right people” – Hopsira’s employees – are a talented group of dedicated, customer-focused, entrepreneurial individuals who are committed to working under the highest standards, integrity and ethics, and pursuing operational excellence.
        </p>  
      <h4><strong>Continuous Improvement</strong></h4>
        <p>
          Hospira Performance System (HPS) is the name of the continuous improvement system in place at Hospira. Its main purpose is to strive for operational excellence through the right behaviors, core principles and customer-based processes (patient’s safety first). Their journey began in 2010, through staff engagement and pilot implementation in specific small areas. They were able to establish a new mindset and drive behavioral change. The first steps were focused on providing basic training of lean principles to employees at all levels to assure a standard knowledge of the set of tools being implemented. Then they continued with visual management tools, posting boards among the different areas to start tracking metrics such as the overall equipment effectiveness (OEE), weekly trends of units produced, machine downtime, quality defects, complaints received from customers, etc. With the information collected, employees started to create pareto charts to identify major drivers and focus efforts in solving those issues with problem-solving tools such as PDCA worksheet, 5 Whys, cause & effect analysis, etc. After several months of exercising this philosophy, Hospira started to see huge improvements in the processes, and people were eager to keep looking for opportunities of being better and making the job easier every day. In this way, Hospira was able to advance in the cultural change process. <br><br>
          To keep this momentum growing, they implemented another tool which is very critical to the continuous improvement journey. Hospira started to perform management gemba walks. In this process, managers got involved by looking for opportunities, challenging the tasks and processes, participating with employees in the root-cause analysis process, and providing the resources required to make them successful in their projects. At this stage the site was maturing and Lean was seen as a way to work instead of an initiative to implement improvements and look for savings. <br><br>
          The next steps were focused on implementing tools to keep expanding the sources of opportunities, such as Red Bins & Red Books, to monitor the defects found during the assembly and the reasons of downtime of the equipment, Skills Matrix sheets of employees to keep track of the abilities of each person and to outline a training plan for each one of them. They continued with tools focused to increase the employee engagement by creating recognition programs such as jidoka (stop and fix) where employees are recognized when they find and report any quality or performance event; a program to submit ideas for improvements called “Eugene,” where employees are encouraged to submit ideas to make the processes and tasks better every day and then recognized for their contributions; and another tool in which the improvements implemented in a particular area are shared with other areas and sites named yokoten. The next steps were focused to expand operational excellence practices to some suppliers in order to implement a kanban system for key components, by reducing the lot sizes, increasing frequency of deliveries and transferring molds from international to local suppliers. They were able to reduce the amount of inventory held in house by more than 50%, enabling the site to eliminate a rented warehouse in a neighboring building. <br><br>
          At this point Hospira was able to create a formal lean training and education system, named the “HPS Academy.” In these training employees are able to gain advanced knowledge of lean manufacturing and its tools with courses distributed among four different modules. <br><br>
          Throughout this journey the site has been recognized on several occasions by the senior leadership team at Hospira Corporate, obtaining the following: 
        </p>
        <ul class="square">
          <li>Lean Project of the Year (2013)</li>
          <li>Lean Site and Lean Coach of the Year (2011-2012 &amp; 2013)</li>
          <li>HOSCARS: Best All-around Site Devices &amp; Culture Champion awards (2013 &amp; 2014)</li>
          <li>2016 Pfizer PGS Awards – President’s Award – Gold Prize</li>
        </ul>
      <h4><strong>Achievements</strong></h4>
        <h5><strong>Quality</strong></h5>
        <p>
          Hospira’s Quality Management System ensures compliance with global standards, regulations, customer requirements and strategic objectives, and facilitates continuous improvement. They have improved quality metrics during the last four years: defects per million units has decreased 96% and complaints per million units has decreased 34%.
        </p>
        <h5><strong>Cost/Productivity</strong></h5>
        <p>
          Hospira has been able to promote and sustain improvements in cost and productivity. Throughout their journey, they have improved costs by more than US$2.5 million, inventory turns have increased steadily up to 51.6%, warehouse space utilization was reduced by 40%, and material usage variance has decreased by 48%.
        </p>
        <h5><strong>Customer Satisfaction</strong></h5>
        <p>
          In recognition of Hospira’s service excellence commitment, the plant has recently received the PGS Awards Customer Service Excellence. During the last four years, they have sustained a steady customer service level over 99.6%. Manufacturing schedule adherence has improved 20.4% in the last three years.
        </p>
        <h5><strong>Safety/Environment &amp; Morale</strong></h5>
        <p>
          The EHS Management System is aligned to OSHA requirements and under VPP star level certification (OSHA, Voluntary Protection Program). Hospira was awarded the OSHA Voluntary Protection Program Star Level in 2010 and re-certified in 2012. During the last four years, the total incident rate has been below 0.1, and they have more than 5.9 million worked hours without lost time due to accidents. 
        </p>	
        <br>
				{{!--<p><strong>Patrick Garrahy</strong>, Managing Director &nbsp; | &nbsp; Phone: 00 353 1 8852702 &nbsp; | &nbsp; Mobile: 00 353 86 8107974 &nbsp; | &nbsp; Email: <a href="mailto:pat.garrahy@mylan.com">pat.garrahy@mylan.com </a></p>
				<br>--}}
    </div>
		 <div class="row">
      	<section class="vertical tabs gallery row">
              <ul class="tab-nav three columns two_up tiles">
                  <li class="active"><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1488835049/PrizeRecipients/2017/Hospira/foto-6.jpg"></a></li>
                  <li><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1488835049/PrizeRecipients/2017/Hospira/foto-5.jpg"></a></li>
                  <li><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1488835049/PrizeRecipients/2017/Hospira/foto-4.jpg"></a></li>
									<li><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1488835049/PrizeRecipients/2017/Hospira/02Hospira_Huddle_Met.jpg"></a></li>
									<li><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1488835047/PrizeRecipients/2017/Hospira/01Hospira_Policy_Deployment.jpg"></a></li>                  
              </ul>
              <div class="tab-content active nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1488835049/PrizeRecipients/2017/Hospira/foto-6.jpg">
              </div>
              <div class="tab-content nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1488835049/PrizeRecipients/2017/Hospira/foto-5.jpg">
              </div>
							<div class="tab-content nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1488835049/PrizeRecipients/2017/Hospira/foto-4.jpg">
              </div>
							<div class="tab-content nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1488835049/PrizeRecipients/2017/Hospira/02Hospira_Huddle_Met.jpg">
              </div>
              <div class="tab-content nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1488835047/PrizeRecipients/2017/Hospira/01Hospira_Policy_Deployment.jpg">
              </div>
          </section>
      </div>
</article>
