<!-- InstanceBeginEditable name="main" -->
<article class="container recipient">
<div class="row text-center">
    <h2>Commonwealth Bank of Australia</h2>
      <p class="text-centr">
      <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_100/v1456960664/pr/commonwealth.png" alt="CommonWealth">
      </p>
      <h5>Read the press release <a href="../pr/pr_commonwealth_silver.html">here.</a></h5>
      <br>
  </div>
  <div class="row">
          <h4>Collections and Customer Solutions</h4>
          <h5>Introduction</h5>
            <p>For over 100 years the Commonwealth Bank of Australia (the Group) has been an essential part of the growth of Australia. Today, we are one of Australia's leading organisations providing integrated financial services to more customers than any other Australian bank. We have over 52,000 employees across our retail, business and institutional banking, funds management, superannuation, insurance, investment and broking businesses, as well as a range of interests around the world. Our market capitalisation is over AUD$138 billion. We have a very clear vision for the Group: to excel at securing and enhancing the financial wellbeing of people, businesses and communities. Our strategy to achieve our long-term vision is built around a customer-focused culture comprising people who thrive on providing outstanding service, a strong, flexible balance sheet, world-leading application of technology, and a focus on productivity that makes us efficient and easy to deal with. This is led proactively by our CEO Ian Narev and the Group Executive team. While the Programme has matured over 10 years, becoming Process Excellence and now Group Productivity, our commitment to continuous improvement has never wavered.</p>
          <h5>Engaged and Talented People</h5>
            <p>The success of the Commonwealth Bank is dependent on our people. That is why we continue to invest heavily in recruiting and development. We have one of the most comprehensive staff training programmes in the industry; we have more rigorous systems and processes, and we enforce higher standards. We offer a broad range of opportunities for our employees to continue to build on their skills and develop their careers in new and interesting directions. And that is also why we encourage diversity throughout the bank. We aspire to be a place where people with good values, a strong work ethic and talent can thrive regardless of their gender, ethnicity, religion, sexual orientation, age or disability.</p>
          <h5>Collections &amp; Customer Solutions</h5>
            <p>As Collections &amp; Customer Solutions, we assist our retail bank’s customers in managing their financial commitments and assisting customers in getting back on track financially. As a solution-oriented team, we provide a personal and efficient service to recover arrears and work with customers to create mutually agreeable payment solutions. The team has approximately 800 employees that provide services seven days per week.</p>
            <p>Collections and Customer Solutions began its formal continuous improvement journey in 2004 with the goal to increase the speed of business processes and reduce waste or non-value-added activities through lean six sigma tools, up-skilling our people, aligning performance measures to focus on customer outcomes, and sustaining results through behaviours and culture.</p>
            <p>From 2011, our team has been through a fundamental operating model re-design, successfully introduced new flexible ways of working (e.g., new casual employees policy), and also moved all non-core, processing tasks into the operations team. Strategic changes like these have vastly improved our efficiency and effectiveness, driven down the cost of protecting our Grade of Service (a key customer satisfaction measure), and increased staff role fulfillment.</p>
         <h5>Productivity and Continuous Improvement Mindset</h5>
          <p>Productivity, particularly a continuous improvement mindset, is a key part of the Group’s strategy to become the finest financial services organisation. We are committed to ensuring we have processes that allow our people to focus more on the customer, create a better customer experience, and enhance efficiency. We believe that cultural change is core to this strategy to drive better ways of working.</p>
          <p>All of our employees have been trained in continuous improvement skills such as lean and six sigma, and are putting them into practice every day to solve service, risk, cost and revenue problems in alignment with the Group’s strategy. We are on track to certify over 350 black and green belts, who help us to fundamentally change our business.</p>
          <p>In fiscal years 2014 and 2015, we realised over $500 million in operational efficiencies from productivity initiatives, which we have largely redeployed to focus on the future and building our key capabilities.</p>
          <p>Finally, a core set of four productivity habits is established across the Group. This is supported by Bronze and Silver accreditation, in partnership with S A Partners, to ensure these habits are embedded. We support teams in their efforts to align continuous improvement initiatives to specific business goals whilst encouraging employee engagement – leading to sustainable performance over the long term.</p>
        <h5>Continuous Improvement Philosophy and Results</h5>
          <p>We are continuing to improve our business through focusing on the needs of our customers, continuing to invest in technology, and driving further process simplification. To deeply embed the required skills, our team self-funded a seven-week continuous improvement programme and regular coaching is provided to all frontline staff. Every employee learned and applied continuous improvement tools such as PDCA, De Bono’s six thinking hats, fishbone, 5 whys, pareto chart, and PICK matrix. Our focus on building people capabilities and robust measurement systems has driven results that create value for customers, focus on process, assure quality at the source, embrace scientific thinking, and respect every individual:</p>
          <p>Create Value for Customers</p>
          <ul class="square">
            <li>Consistently on target for call-handling Grade of Service while improving schedule effectiveness to 95%</li>
            <li>Reduced ‘time to yes’ for contract variation requests by 75%</li>
            <li>Customer quality improved by up to 75% in our legacy manual processes</li>
          </ul>
          <p>Focus on Process</p>
          <ul class="square">
            <li>Reduced non-value-added hand-offs and referral points with vendors by 90%</li>
            <li>Letter automation reduced low-value manual work volume by half per day</li>
            <li>Removed bottlenecks and reduced turnaround time in our asset management process by 60%</li>
          </ul>
          <p>Assure Quality at the Source</p>
          <ul class="square">
            <li>Doubled value-add time in our outbound collection team by investing in new technology and processes</li>
            <li>Employee engagement index improved from 78% to 86%. This is 2% above Global Best in Class per Kenexxa.</li>
          </ul>
          <p>Embrace Scientific Thinking</p>
          <ul class="square">
            <li>Reduced overall cost to collect by 20%</li>
            <li>Delivered 10% year-on-year operational expense efficiencies</li>
            <li>Reduced variation in our operations capacity planning process by 45%</li>
          </ul>
          <p>Respect Every Individual</p>
          <ul class="square">
            <li>More employees say they are proud to work for our organisation, with the score moving from 85% to 94%</li>
          </ul>
        <h5>Select Awards and Recognition</h5>
          <ul class="square">
            <li>Shingo SILVER Medallion in 2015 - Highest Shingo Award for a Financial Services Institution globally</li>
            <li>IQPC Best Productivity Improvement Culture 2015 </li>
            <li>Catalyst Award Winner for Gender Diversity</li>
          </ul>
        <h4>Contact</h4>
          <p><strong>Morgan Jones</strong>, Head of Group Productivity, Commonwealth Bank of Australia &nbsp; | &nbsp; Sydney, New South Wales, 2000 Australia  &nbsp; | &nbsp; Tel: (61) 0411-287-670 &nbsp; | &nbsp; Email: <a href="mailto:Morgan.Jones@cba.com.au">Morgan.Jones@cba.com.au</a> or <a href="mailto:productivitylearning@cba.com.au">productivitylearning@cba.com.au</a></p>
  </div>
  <br>
  <!-- <div class="row">
    <p class="text-center"><iframe width="560" height="315" src="https://www.youtube.com/embed/kQqjZ5uYKkQ?showinfo=0" frameborder="0" allowfullscreen></iframe></p>
  </div> -->
</article>
<!-- InstanceEndEditable -->
