<!-- InstanceBeginEditable name="main" -->
<article class="container recipient">
	<div class="row text-center">
		<h2>Bridgestone BATO Shared Services Center</h2>
    <br>
		<img src="http://res.cloudinary.com/shingo/image/upload/v1534968415/PrizeRecipients/2018/bridgestone-americas-logo.png" alt="BridgestoneBATO">
    </div>
    <div class="row">
		<h3 class="text-center">Bridgestone Americas Tire Operations Shared Services Center Receives International Recognition for Operational Excellence</h3><br>
		<p><em>Summary: After trained examiners and accomplished business professionals performed a thorough assessment of its facility, the Bridgestone Americas Tire Operations (BATO) Shared Services Center (SSC) has been awarded the internationally recognized Shingo Silver Medallion from the Shingo Institute, part of the Jon M. Huntsman School of Business.</em></p>
		<p>LOGAN, Utah – The Shingo Institute, a program in the Jon M. Huntsman School of Business at Utah State University, has awarded the Bridgestone Americas Tire Operations (BATO) Shared Services Center (SSC) in Costa Rica with the Shingo Silver Medallion.

		<p>“Receipt of the Shingo Silver Medallion signifies not only an organization’s mastery of tools and techniques, but also that it has developed mature systems for improving an organization's operations,” said Ken Snyder, executive director at the Shingo Institute.</p>

		<p>Bridgestone Americas is rooted in innovation and dedicated to providing world-class tire and rubber-related products and services that improve lives around the globe. The Bridgestone Americas family of enterprises includes more than 50 production facilities and 55,000 employees throughout the Americas. The Shared Services Center manages financial transactions for the entire Bridgestone Americas Tire Operations (BATO). They have four main functions at the Shared Services Center (SSC): Procure to Pay (P2P), Order to Cash (O2C), Record to Report (R2R), Hire to Retire (H2R). They do a combined three hundred transactions per month for the BATO countries they serve. The SSC manages financial transactions for BATO with the following objectives: consolidate functions, standardize processes, and reduce cost.</p>

		<p>SSC director Rodrigo Cal says, “We are very proud about having won the Shingo Silver Medallion. We are proud of being the first Shared Service Center in Costa Rica that have reach that grade from Shingo Model. It does not matter if you are Bronze, Silver, or Shingo Prize, whatever you are is just the beginning for the continuous improvement culture.”</p>

		<p>Laura Laporte, the credit and collection supervisor, says, “It was a complete work from all students, clerks, analysts, supervisors, managers, and directors. Without the help of each other we could not have accomplished our goal.”</p>

		<p>Over the past few years, the BATO SSC has demonstrated tremendous progress on its journey of continuous improvement. They have impressive Right First Time Results in the order of 99.71%. The site has a strong and consistent execution on delivery, while also focusing on reducing lead-time, and the improvement in delivery performance has increased from 97.26% to 98.96% SLA. The team also delivered an 11% point increase in GPTW from 2014 to 2016. Additionally, BATO SSC was named among the 50 Great Places to Work in Costa Rica.</p>

		<p>By “challenging” or applying for an award, organizations invite a group of accomplished professionals and trained examiners to thoroughly review their culture and operations. The examiners evaluate the challengers based on a rigorous set of standards and the Shingo Institute awards the organizations according to their assessment results.</p>

		<p>Team members from BATO SSC will receive the award during the Awards Gala at the Shingo Conference held the week of April 28–May 3, 2019 in Cincinnati, Ohio, USA. The conference is a five-day event featuring a selection of workshops, plant tours, keynote speakers, and breakout sessions designed to provide ongoing knowledge, insights, and experience for organizations in their pursuit of operational excellence.</p>

		<h5><strong>About the Shingo Institute</strong></h5>
		<p>The Shingo Institute is home of the Shingo Prize, an award that recognizes organizations that demonstrate an exceptional culture that fosters continuous improvement. Part of the Jon M. Huntsman School of Business at Utah State University, the Shingo Institute is named after Japanese industrial engineer and Toyota advisor, <a href="https://shingo.org/about" target="_blank">Shigeo Shingo</a>. Dr. Shingo distinguished himself as one of the world’s thought leaders in concepts, management systems, and improvement techniques that have become known as the Toyota Production System.</p>
		<p>Drawing from Dr. Shingo’s teachings and years of experience working swith organizations worldwide, the Shingo Institute developed the <em>Shingo Model™<em> which is the basis for its several educational offerings, including workshops, study tours and conferences. <a href="https://shingo.org/education" target="_blank">Workshops</a> are available in multiple languages through the Institute’s <a href="https://shingo.org/affiliates" target="_blank">licensed affiliates</a>. For more information on workshops, affiliates, or to register to attend the International Shingo Conference, please visit <a href="https://www.shingo.org/">www.shingo.org</a>.</p>

		<h4>Contact</h4>
		<p><strong>Dominic Bria</strong>, Marketing Manager - Shingo Institute &nbsp; | &nbsp; Phone: 435-797-0771 &nbsp; | &nbsp; Email: <a href="mailto:dominic.bria@usu.edu">dominic.bria@usu.edu</a></p>
  </div>
</article>
<!-- InstanceEndEditable -->
