<article class="container recipient">
	<div class="row text-center">
    	<h2>Bridgestone BATO Shared Services Center</h2>
      <h3>Heredia, Heredia, Costa Rica</h3>
      <br>
        <p class="text-centr">
        <img src="http://res.cloudinary.com/shingo/image/upload/v1534968415/PrizeRecipients/2018/bridgestone-americas-logo.png" alt="BridgestoneBATO">
				</p>
        <h5>Read the press release <a href="silver-bridgestoneBATO-pr">here.</a></h5>
        <br>
    </div>
    <div class="row">
			<h4><strong>Corporate Overview</strong></h4>
				<p>
					Bridgestone Americas is rooted in innovation and dedicated to providing world-class tire and rubber-related products and services that improve lives around the Globe.
				</p>
			<h6><strong>Our Mission</strong></h6>
				<p>We are committed to Bridgestone Group’s mission, “Serving Society with Superior Quality.” Our goal is to offer the best for our customers and to society, not only in terms of our products, services and technology, but in all of our corporate activities.</p>

			<h6><strong>Our History</strong></h6>
				<p>Our commitment to innovation, service, and quality spans 115 years.</p>

			<h6><strong>Our Leaders</strong></h6>
				<p>We are a team, dedicated and experienced to developing newer, safer, and more sustainable products.</p>

			<h6><strong>We are an International Family</strong></h6>
				<p>The Bridgestone Americas family of enterprises includes more than 50 production facilities and 55,000 employees throughout the Americas. The Bridgestone Americas international footprint includes manufacturing and sales subsidiaries located in Canada, Argentina, Brazil, Chile, Colombia,Costa Rica, and Mexico, with additional offices throughout Latin America and the Caribbean.</p>

			<h6><strong>We are a Technology Leader</strong></h6>
				<p>Research and innovation are at the core of what Bridgestone Americas stands for. We are constantly driven to innovate and improve—not just tires, but also a range of products and industries that touch our lives. The Bridgestone family of companies operates tri-polar research and development centers in Tokyo, Akron and Rome to advance tire technologies and other products that meet consumers’ needs. In addition, Bridgestone Americas operates world-class proving grounds in Ft. Stockton, Texas; São Pedro, Brazil; and Acuña, Mexico.</p>

			<h6><strong>We are Tire Experts</strong></h6>
				<p>Tires and rubber products are the largest part of the Bridgestone Americas business. Bridgestone Americas develops, manufactures and markets tires for almost every kind of vehicle</p>

			<h6><strong>We are so much more than tires</strong></h6>
				<p>We challenge ourselves to be innovative. As a leader in the tire and rubber-related industries, our goal is to further serve society and respond to customer needs. Bridgestone Americas and its subsidiaries are recognized internationally for producing a variety of quality products, including building and industrial materials, natural rubber, and industrial fibers and textiles as well as its retreading operations throughout the Western Hemisphere.</p>

			<h4><strong>Bridgestone Shared Services Center</strong></h4>
				<h6><strong>Products and Processes</strong></h6>
				<p>We manage financial transactions for the entire Bridgestone Americas Tire Operations (BATO). We have four main functions at the Shared Services Center (SSC): Procure to Pay (P2P), Order to Cash (O2C),Record to Report (R2R), Hire to Retire (H2R)</p>

				<p>We also have different support departments that provide services to the entire operation: Operational Excellence, Human Resources and Information Technologies.</p>

				<p>We do a combined three hundred transactions per month for the BATO countries we serve, in summary we are able to consolidate functions across business units, standardize Best practices, and reduce cost by sharing an operations team that supports all of BATO Americas.”</p>
				In summary, we manage financial transactions for BATO, with the following objectives:<br>
				<ul style="list-style-type: circle; margin-left: 2rem">
					<li>Consolidate Functions</li>
					<li>Standardize processes</li>
					<li>Reduce Cost</li>
				</ul>
				</p>

				<h6><strong>Key Achivements</strong></h6>
				<p>Over the past years, the Bridgestone Americas Tire Operations (BATO) Shared Services
				Center (SSC) has demonstrated tremendous progress on its journey in the use of the Shingo
				Model’s guiding principles, systems and use of tools.</p><p>
				The Flex Time and Work From Home systems are well developed and implemented to allow
				community benefits in traffic and employee benefits by work from home. This is one of the
				most successful and dynamic approaches which its considered as a world-class practice.</p>

				<h6><strong>Cultural Enablers</strong></h6>
				<p>We have an excellent vision and direction from senior leaders. The director and leaders lead
				with humility and leaders understand the importance of coaching and mentoring and make it a
				high priority. Leadership development is strong and continuing. Standard daily management
				system, includes daily review. The energetic and engaged team creates a positive cultural
				mindset and behaviors.</p>
				<p>Respect for employees is evident in BATO SSC’s investment in initiatives such as the onboarding process, OPEX training and the Great Place to Work (GPTW) program.</p>
				<h6><strong>Continuous improvement</strong></h6>

				<p>It is notable the application of the Lean tools across the company, i.e., process flow, fishbone
				diagram, Pareto analysis, A3, Monte Carlo, Value Stream Analysis, etc.Tools as Knowledge
				Hunter Tool facilitates problem solving through Yokoten.</p>

				<p>Innovation and continuous improvement are enthusiastically embraced by employees as
				evidenced in projects and A3s. The use of an A3 is very detailed as a prime problem-solving
				tool and used to perform Root Cause Corrective Actions (RCCA). The Six Sigma belt programs
				and The Risk Control Matrix (RCM) tool have provided great results.</p>

				<p>There is a strong Voice of Customer (VOC) process that reaches out monthly to aggressively
				pursue customer satisfaction and process improvement.</p>

				<p>In Robotics Process Automation (RPA), the use of macros and other simple but effective ways
				of removing work complexity are being used with the Design for Manufacturability (DFM) to
				focus on simplicity and cost reduction</p>

				<h6><strong>Enterprise Alignment</strong></h6>
				<p>Leaders and team members understand relationships between processes, tools and systems. A
				well-developed vision and value proposition is communicated to all levels of the organization.
				There is clarity in the future state for the organization and it drives high alignment in team
				members’ goals, KPIs and actions. Leaders and team members are well aligned on objectives
				and KPIs particularly: Right First Time (RFT), Service Level Agreement (SLA) and Voice of
				Customer (VOC). </p>
				<p>The Bridgestone Rules of the Road are clear and posted throughout the building. They provide
				a True North vision for the people. Matching the Shingo Guiding Principles to Rules of the
				Road provides alignment from the top.</p>
				<p>The Level 1, 2, 3 huddles were generally effective. The daily management discipline is an
				aligning tool to drive performance and continuous improvement. Employees and managers are
				very familiar with the company’s Vision and Mission statements. </p>

				<h6><strong>Results</strong></h6>
				<p>The team’s use of the problem-solving tools to drive CI is remarkable. We have impressive
					Right First Time Results in the order of 99.71%. Power BI allows for real-time recording of
					issues and defects which facilitates root cause analysis and ultimately better quality and
					productivity. The supervisor is reviewing Power BI prior to huddle meetings to look for data
					errors or errors in time standards. </p><p>
					Reduction of Cost per FTE and Cost per transaction has occurred even as transaction volume
					has increased.</p><p>
					Leaders focus both on achieving business results and demonstrating Bridgestone’s ideal
					behaviors (Rules of the Road). The site has a strong and consistent execution on delivery,
					while also focusing on reducing lead-time. The improvement in delivery performance has
					increased from 97.26% to 98.96% SLA.</p><p>
					Actions are discussed daily in huddles and in weekly/biweekly meetings to ensure follow up
					and closure. The VOC data is collected monthly for all teams and results are sent to supervisors
					and rated red, yellow or green. Supervisors can drill down through the database to create action
					plans.</p><p>
					BATO SSC is among the 50 Great Places to Work in Costa Rica. The team delivered an 11%
					point increase in GPTW from 2014 to 2016.</p><p>
					The use of internal employee assessments based on the GPTW methodology is a great vehicle
					to keep the voice of the employees at the surface and to implement countermeasures to areas
					of dissatisfaction that lead to lower employee turnover and higher overall satisfaction.<br><br>
					The Shared Services Center won the Bridgestone Presidential annual award and 2017 CFO
					Award. </p>
				<h5><strong>Contact</strong></h5>
				<p>For more information visit <a href="https://www.bridgestoneamericas.com">www.bridgestoneamericas.com</a>
					 or contact Kenneth Quiros, MBB OPEX Manager at <a href="mailto:quiroskenneth@la-bridgestone.com">quiroskenneth@la-bridgestone.com</a> or Rodrigo Cal, Shared Service Center Director at <a href="mailto:calrodrigo@la-bridgestone.com">calrodrigo@la-bridgestone.com.</a></p>
</article>
