<!-- InstanceBeginEditable name="main" -->
<article class="container recipient">
	<div class="row text-center">
		<h2>Hospira Limited - a Pfizer Company</h2>
    <br>
		<img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_150/v1488834881/CompanyLogos/HospiraLogo2017.jpg" alt="Hospira">
    </div>
    <div class="row">
		<h3>Hospira Limited, a Pfizer Company Receives International Recognition for Operational Excellence</h3>
		<p><em>Summary: After trained examiners and accomplished business professionals performed a thorough assessment of its facility, Hospira Limited, a Pfizer company, has been awarded the internationally recognized Shingo Silver Medallion from the Shingo Institute, part of the Jon M. Huntsman School of Business.</em></p>
		<p>LOGAN, Utah – The Shingo Institute, part of the Jon M. Huntsman School of Business at Utah State University, has awarded Hospira Limited, a Pfizer company, in Haina, San Cristobal, Dominican Republic with the Shingo Silver Medallion.</p>
		<p>“Receipt of the Shingo Silver Medallion signifies not only an organization’s mastery of tools and techniques, but also that it has developed mature systems for improving an organization's operations,” said Ken Snyder, executive director at the Shingo Institute.“</p>
		<p>Hospira, a Pfizer company, is a global leader of injectable drugs and infusion technologies provider. Hospira’s facility in the Dominican Republic produces intravenous therapy sets with close to 230 SKUs and an average annual volume of 95 million units. Hospira Dominican Republic’s portfolio of premier IV sets is mainly focused on patient’s safety and engineered for contamination control, needle stick prevention and reliable intravenous drug delivery performance.</p>
		<p>Felix Fernandez, Hospira’s operations manager says, “When we started our lean transformation journey we didn’t know it was going to be such a great and challenging experience for us. The principles of the Shingo Model are the cornerstone that have been helping us to create the culture and behavior required to drive a continuous improvement mindset and deliver value to the customers.” Iris Ureña, planning supervisor, says, “When I think on how we use to do our daily task in the past, and how we do it today, I realize it has become a life philosophy, to reach perfection in every task we perform no matter how simple it looks.”</p>
		<p>Hospira Dominican Republic has noted a number of significant improvements. Over the last four years, defects per million units decreased 96% and complaints per million units decreased 34%. Inventory turns have increased steadily up to 51.6%, warehouse space utilization has reduced by 40%, and over the last three years, manufacturing schedule adherence improved 20.4%. Hospira was also awarded the OSHA Voluntary Protection Program Star Level in 2010 and re-certification in 2012.</p>
		<p>By “challenging” or applying for an award, organizations invite a group of accomplished professionals and trained examiners to thoroughly review their culture and operations. The examiners evaluate the challengers based on a rigorous set of standards and the Shingo Institute awards the organizations according to their assessment results.</p>
		<p>Team members from Hospira Dominican Republic will receive the award during the Awards Gala at the 29th Shingo International Conference held the week of April 24-28, 2017 in Atlanta, Georgia, USA. The conference is a five-day event featuring a selection of workshops, plant tours, keynote speakers and breakout sessions designed to provide ongoing knowledge, insights and experience for organizations in their pursuit of operational excellence.</p>

		<h5><strong>About the Shingo Institute</strong></h5>
		<p>The Shingo Institute is home of the Shingo Prize, an award that recognizes organizations that demonstrate an exceptional culture that fosters continuous improvement. Part of the Jon M. Huntsman School of Business at Utah State University, the Shingo Institute is named after Japanese industrial engineer and Toyota advisor, Shigeo Shingo. Dr. Shingo distinguished himself as one of the world’s thought leaders in concepts, management systems and improvement techniques that have become known as the Toyota Production System.</p>
		<p>Drawing from Dr. Shingo’s teachings and years of experience working with organizations worldwide, the Shingo Institute developed the Shingo Model™ which is the basis for its several educational offerings, including workshops, study tours and conferences. Workshops are available in multiple languages through the Institute’s licensed affiliates. For more information on workshops, affiliates, or to register to attend the International Shingo Conference, please visit <a href="/">www.shingo.org</a>.</p>

		</h5><strong>About Pfizer</strong></h5>
		<p>Hospira Limited was acquired by Pfizer in September 2015 to create a leading Global Established Pharmaceutical (GEP) Business. Pfizer applies science and global resources to bring therapies to people that extend and significantly improve their lives. Pfizer’s global portfolio includes medicines and vaccines as well as many of the world’s best-known consumer healthcare products. For more than 150 years, Pfizer colleagues work across developed and emerging markets to advance wellness, prevention, treatments and cures that challenge the most feared diseases of our time. To learn more, visit <a href="http://www.pfizer.com" target="blank">www.pfizer.com</a> and <a href="www.hospira.com" target="blank">www.hospira.com</a></p>
		<h4>Contact</h4>
		<p><strong>Dominic Bria</strong>, Marketing Manager - Shingo Institute &nbsp; | &nbsp; Phone: 435-797-0771 &nbsp; | &nbsp; Email: <a href="mailto:dominic.bria@usu.edu">dominic.bria@usu.edu</a></p>
  </div>
</article>
<!-- InstanceEndEditable -->
