<!-- InstanceBeginEditable name="main" -->
<article class="container recipient">
	<div class="row text-center">
    <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,w_432/v1515795546/PrizeRecipients/2018/Visteon2018.jpg" alt="Meda Rottapharm Logo">
		<h2>Visteon Electronics Tunisia – Bir El Bey Plant</h2>
    <br>
    </div>
    <div class="row">
		<h3>Visteon Electronics Tunisia Receives International Recognition for Operational Excellence</h3>
		<p><em>Summary: After trained examiners and accomplished business professionals performed a thorough assessment of its facility, Visteon Electronics Tunisia, has been awarded the internationally recognized Shingo Silver Medallion from the Shingo Institute, part of the Jon M. Huntsman School of Business.</em></p>
		<p>LOGAN, Utah – The Shingo Institute, a program in the Jon M. Huntsman School of Business at Utah State University, has awarded Visteon Electronics Tunisia – Bir El Bey Plant in Tunis, Tunisia with the Shingo Silver Medallion, the first organization in Tunisia to receive Shingo recognition.</p>
		<p>“Receipt of the Shingo Silver Medallion signifies not only an organization’s mastery of tools and techniques, but also that it has developed mature systems for improving an organization's operations,” said Ken Snyder, executive director at the Shingo Institute.”</p>
		<p>An automotive cockpit electronics leader, Visteon Electronics Tunisia is a first-class manufacturing facility with a highly skilled, engaged and ethical team that fully adopts corporate culture principles. The Bir El Bey plant has a large product portfolio: displays and multimedia, clocks, parking systems, key fobs, immobilizers and compasses. </p>
		<p>Manufacturing Manager, Atef Ghrairi says, “Our operational excellence deployment program transformed the operators to become more engaged, more rigorous, more involved employees. They acquired new personality and became change agents always seeking for waste elimination and improvement. Quality, productivity and delivery performances are clearly improved.”</p>
		<p>Plant Manager and Director of Operations, Hichem Ben Ghorbal says, “Our operational excellence deployment program made my life easier. The cultural transformation of the team is visible in our results, without me or the management team doing extraordinary efforts. It’s a real pleasure to see the team happy, engaged and delivering.”</p>
		<p>The Bir El Bey facility has noted a number of significant improvements. The number of improvement ideas from operators and managers exceeds 300 ideas per year, generating a savings of more than $350k per year in labor and overhead. Scrap was reduced by more than 58% in 2016 as compared to 2015 performance. Visteon Electronics Tunisia has exceeded the customer delivery target of 95% since January 2015; and the supplier delivery performance increased from 22% in 2012 to 87% in 2016. The customer PPM level has been at one digit for the last 12 months, and the facility has more than 1,250 days without a lost time case.</p>
        <p>By “challenging” or applying for an award, organizations invite a group of accomplished professionals and trained examiners to thoroughly review their culture and operations. The examiners evaluate the challengers based on a rigorous set of standards and the Shingo Institute awards the organizations according to their assessment results.</p>
        <p>Team members from Visteon Electronics Tunisia will receive the award during the Awards Gala at the 30th Shingo Conference held the week of April 9-13, 2018 in Orlando, Florida, USA. The conference is a five-day event featuring a selection of workshops, plant tours, keynote speakers and breakout sessions designed to provide ongoing knowledge, insights and experience for organizations in their pursuit of operational excellence.</p>

		<h5><strong>About the Shingo Institute</strong></h5>
		<p>The Shingo Institute is home of the Shingo Prize, an award that recognizes organizations that demonstrate an exceptional culture that fosters continuous improvement. Part of the Jon M. Huntsman School of Business at Utah State University, the Shingo Institute is named after Japanese industrial engineer and Toyota advisor, Shigeo Shingo. Dr. Shingo distinguished himself as one of the world’s thought leaders in concepts, management systems and improvement techniques that have become known as the Toyota Production System. </p>
		<p>Drawing from Dr. Shingo’s teachings and years of experience working with organizations worldwide, the Shingo Institute developed the Shingo Model™ which is the basis for its several educational offerings, including workshops, study tours and conferences. Workshops are available in multiple languages through the Institute’s licensed affiliates. For more information on workshops, affiliates, or to register to attend the International Shingo Conference, please visit <a href="/">www.shingo.org</a>.</p>

		</h5><strong>About Visteon</strong></h5>
		<p>Visteon is at the epicenter of the connected car driving revolution, with one of the broadest cockpit electronics portfolios in the industry. Visteon designs, engineers and manufactures vehicle cockpit electronics products and connected car solutions that deliver a rich, connected experience for drivers and passengers. Named a top-five Tier 1 supplier for connected car solutions by ABI Research, Visteon is technology-driven, flexible and enjoys a diversified customer base and broad global footprint. To learn more, visit <a href="https://www.visteon.com" target="_blank">www.visteon.com</a>.</p>
	  </div>
</article>
<!-- InstanceEndEditable -->
