<article class="container recipient">
	<div class="row text-center">
    	<h2>Massachusetts Mutual Life Insurance Company</h2>
        <p class="text-centr">
        <img src="http://res.cloudinary.com/shingo/image/upload/v1508186467/recipient%20logos/massmutuallogo.jpg" alt="MassMutual Logo">
		</p>
        <h5>Read the press release <a href="https://www.massmutual.com/about-us/news-and-press-releases/press-releases/2017/08/11/15/26/shingo-silver-medallion-awarded-to-massmutual-for-continuous-improvement-transformation" target="_blank">here.</a></h5>
        <br>
    </div>
    <div class="row">
			<h4><strong>Corporate Overview</strong></h4>
				<p>
					MassMutual is a leading mutual life insurance company that that is run for the benefit of its members and participating policyowners. The company offers a wide range of financial products and services, including life insurance, disability income insurance, long term care insurance, annuities, retirement plans and other employee benefits.
				</p>
                <p>
					MassMutual is in business to help people secure their future and protect the ones they love. Since 1851, the company has operated for the benefit of its policyowners. Its mutuality, along with its long-term business approach, has helped keep the company financially strong.
				</p>
                <p>
					And now, MassMutual is first and only insurance company in the world to be awarded the prestigious Shingo Silver Medallion award in recognition of the CFO’s and MMUS Operations’ continuous improvement transformation efforts.
				</p>
			<h4><strong>Continuous Improvement Journey</strong></h4>
				<p>
					Building on a strong long-standing foundation and a company-wide passion for sustainability, MassMutual began its journey in 2011 focused on continuous improvement and learning, implementing lean practices to make its business stronger, more agile and more focused on innovating to drive even greater service and value to its customers. This transformation continues today and has strengthened the company’s employee alignment, engagement and empowerment.
				</p>
				<p>
					An example of results:
				</p>
				<p>
					<strong>Efficiency and Productivity.</strong> Hundreds of thousands of hours spent on back-office procedures and re-work have been saved as a result of improvement opportunities, providing employees with more time to service customers and further improve work processes. As an example, more than 230,000 hours have been saved in MassMutual’s insurance operations since 2012 as a result of more than 4,100 improvement opportunities.
				</p>
                <p>
                    <strong>Sustainability.</strong> MassMutual’s main campus building is LEED-certified (a remarkable feat for a building built in 1927) and the company is committed to reducing its consumption of energy and natural resources to run its business. As an example, its annual electrical and gas consumption has decreased by 10% since 2012, in part due to 1,750 solar panels on the roof of its headquarters that produce 384,000 kilowatts of electricity every year and enough to provide 50% of its hot water. Additionally, MassMutual has saved 5 million gallons of water annually, recycled more than 300 tons of paper and cardboard annually, and increased the number of electric vehicle charging stations to more than 60.
                </p>
                <p>
                    <strong>Delivery.</strong> As the result of continuous improvement and problem solving, the time to close the company’s quarterly financial books has been cut in half. Additionally, turnaround time for returned mail has decreased by 75% and MassMutual’s mail intake process has been slashed to 1/9th the time that it used to take.
                </p>
                <br>    
				<div class="text-center">
                    <img src="http://res.cloudinary.com/shingo/image/upload/v1508187205/recipient%20logos/mass.jpg" alt="hallway">
                </div>
                <br>
                <p>
                    “Being recognized by the Shingo Institute is a wonderful honor for MassMutual and our employees, and it is an important and historic milestone in our journey toward operational excellence. MassMutual’s engaged workforce, open mindedness and creativity, corporate caring for associates, environmentally friendliness and leadership alignment are some of the reasons cited by the Shingo Institute for the Silver Medallion. This recognition reflects the hard work and dedication of our employees who together with our advisors across the country serve our 5 million customers who place their trust in MassMutual to help them secure their future and protect the ones they love.”
                </p>
                <p>
                    <strong>Roger Putnam</strong>, head of insurance operations, MassMutual, and <strong>Elizabeth Ward</strong>, chief financial officer and chief actuary, MassMutual
                </p>
                <p>
                    <strong>Contact: Mike Krebs, Enterprise Lean Practices: <a href="mailto:mkrebs@massmutual.com" target="_top">mkrebs@massmutual.com</a> or 315-209-4155</strong>
                </p>
</article>
