<article class="container recipient">
	<div class="row text-center">
    	<h2>Meda Rottapharm Ltd - a Mylan company</h2>
        <p class="text-centr">
        <img src="http://res.cloudinary.com/shingo/image/upload/v1485451256/PrizeRecipients/2017/Medarottapharm/Medarottapharm-2017.png" alt="Meda Rottapharm Logo">
				</p>
        <h5>Read the press release <a href="silver-medarottapharm-pr">here.</a></h5>
        <br>
    </div>
    <div class="row">
			<h4><strong>Corporate Overview</strong></h4>
				<p>
					Mylan is a global pharmaceutical company committed to setting new standards in healthcare. Working together around the world to provide 7 billion people access to high quality medicine, we innovate to satisfy unmet needs; make reliability and service excellence a habit; do what's right, not what's easy; and impact the future through passionate global leadership. We offer a growing portfolio of more than 2,700 generic and branded pharmaceuticals, including antiretroviral therapies on which approximately 50% of people being treated for HIV/AIDS in the developing world depend. We market our products in more than 165 countries and territories. Our global R&amp;D and manufacturing platform includes more than 50 facilities, and we are one of the world’s largest producers of active pharmaceutical ingredients. Every member of our more than 40,000-strong workforce is dedicated to creating better health for a better world, one person at a time. Learn more at mylan.com.
				</p>
			<h4><strong>Meda Rottapharm Ltd - a Mylan company</strong></h4>
				<p>
					<strong>Overview</strong><br>
					Meda Rottapharm Ltd, part of the Mylan corporation, is a medium-sized pharmaceutical manufacturing facility operating in Dublin since 1999. The company supplies pharmaceutical product globally to more than 67 markets. Rottapharm has an API plant, 4 bulk manufacturing areas and 10 packaging lines where a range of products from oral liquid drops to capsules, tablets and sachets are manufactured and packaged. The plant, which is more than 100,000 square feet, sits on 20 acres in Mulhuddart, West Dublin. We currently employ 169 people across several specialist functions. <br><br>
					<strong>Products</strong><br>
					The site manufactures products across a number of therapeutic areas including gastroenterology, rheumatology and cardiovascular. The site is licensed to produce commercial pharmaceutical product and clinical trial supplies. A process development laboratory for technology transfer and improvements to existing processes is incorporated within the site. <br><br>
					<strong>Process</strong><br>
					There are approximately 200 skus manufactured at the facility. The production technologies used include:
				</p>
				<ul class="square">
					<li>Wet granulation, blending, fluid bed drying and vacuum drying</li>
					<li>Encapsulation, tableting and tablet/bead coating</li>
					<li>Sachet filling and packaging</li>
					<li>Blister packaging</li>
					<li>Liquid filling and packaging</li>
				</ul>
				<p><strong>Awards</strong></p>
				<ul class="square">
					<li>ETP Gold award 2008</li>
					<li>MEETA National maintenance awards 2011</li>
					<li>European Strategic Manufacturing award for Continuous Improvement 2012</li>
					<li>European Strategic Manufacturing Hall of Fame award 2012</li>
					<li>MEETA National Maintenance Award 2012</li>
					<li>Engineers Ireland CPD accreditation 2013</li>
					<li>National Responsible Care winner 2013 </li>
					<li>European Cefic National Responsible Care winner 2013</li>
					<li>MEETA National Maintenance Award 2014 </li>
					<li>Irish Pharma Sustainability Award 2014</li>
					<li>Shingo Silver Medallion 2016</li>
				</ul>
				<p>
					<strong>Continuous Improvement Journey</strong><br>
					The company began using lean tools in 2006 when it initiated an OEE improvement project on a sachet filling and packaging line. Projects to lean the processes in the QC Laboratory and Quality Assurance department followed. Thereafter value stream mapping, six sigma and precision changeover tools were deployed to achieve cost and quality improvements. It was apparent after a few years that a new bottom up approach was required to realise sustainable efficiencies. At the same time market conditions began to change with increased generic competition eroding volumes and margin. The necessity to increase our product portfolio and diminish reliance on a mature product range with static or declining volumes could only be achieved by pursuing a strategy for operational excellence. Investment and new products could only be assured if the plant became globally competitive. <br><br>
					In 2010 a plan for transformation change was rolled out and ambitious targets set for the year ending 2013. The company outlined a vision for major productivity improvements through the site wide involvement of all employees. The introduction of TPM in July 2010 proved to be the catalyst for rapid and sustained improved performance in the plant. A full-time CI manager supported by Associates across various functions was tasked with two pilots in manufacturing and packaging areas. Early success with these pilots prompted an increase resource allocation for CI activities to accelerate the introduction of TPM across all process and support areas. The desired culture of improvement took hold leading to more initiatives covering reliability centred maintenance, single point lessons, front line operator asset care, 5S, precision changeover, visual management, A3 problem solving, leader standard work and early equipment management. <br><br>
					A new long term vision was set for the company in 2014 underpinned by the core purpose and values of the organisation. Systems for reward and recognition, ideas generation, employee professional development, and continuous learning were re-engineered to align with the new vision. <br><br>
				</p>
				<p>
					<strong>Achievements</strong><br>	
					<em>Safety, Environmental and Morale</em>
				</p>
				<ul class="square">
					<li>Continuing Professional Development introduced for all employees</li>
					<li>76% reduction in accidents in 4 years</li>
					<li>98% reduction in lost work days from 2011 to 2014</li>
					<li>80% score in employee engagement survey</li>
					<li>Energy consumption per pack reduced by 64% between 2009 and 2015</li>
					<li>7-fold increase in employees participating in CI teams from 2010 to 2015</li>
					<li>Eliminated 1,600,000 sheets of paper through new electronic systems in production</li>
				</ul>
				<p><em>Cost/Productivity</em></p>
				<ul class="square">
					<li>OEE increased from 32% to 62% between 2010 and 2015</li>
					<li>Output per employee increased by 51% between 2010 and 2015</li>
					<li>Cost per pack reduced by 43% between 2008 and 2015</li>
				</ul>
				<p><em>Quality &amp; Compliance</em></p>
				<ul class="square">
					<li>No critical non-conformances in GMP compliance audits</li>
					<li>63% reduction in rate of non-conforming reports between 2010 and 2015</li>
					<li>60% reduction in rate of customer complaints between 2010 and 2015</li>
				</ul>
				<p><em>Customer Service and Supply</em></p>
				<ul class="square">
					<li>On-time delivery increased by 24% since 2010</li>
					<li>Pre-sampling programme in place with suppliers</li>
					<li>High level of satisfaction obtained in customer feedback surveys</li> 
				</ul>
				<br>
				<p><strong>Patrick Garrahy</strong>, Managing Director &nbsp; | &nbsp; Phone: 00 353 1 8852702 &nbsp; | &nbsp; Mobile: 00 353 86 8107974 &nbsp; | &nbsp; Email: <a href="mailto:pat.garrahy@mylan.com">pat.garrahy@mylan.com </a></p>
				<br>
    </div>
		 <div class="row">
      	<section class="vertical tabs gallery row">
              <ul class="tab-nav three columns two_up tiles">
                  <li class="active"><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1485450752/PrizeRecipients/2017/Medarottapharm/MDTeam-Bridge-2017.jpg"></a></li>
                  <li><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1485450751/PrizeRecipients/2017/Medarottapharm/MDTeam-Cert-2017.jpg"></a></li>
                  <li><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1485450752/PrizeRecipients/2017/Medarottapharm/MD-Manu-2017.jpg"></a></li>
									<li><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1485450752/PrizeRecipients/2017/Medarottapharm/MDPlant-2017.jpg"></a></li>
              </ul>
              <div class="tab-content active nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1485450752/PrizeRecipients/2017/Medarottapharm/MDTeam-Bridge-2017.jpg">
              </div>
              <div class="tab-content nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1485450751/PrizeRecipients/2017/Medarottapharm/MDTeam-Cert-2017.jpg">
              </div>
							<div class="tab-content nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1485450752/PrizeRecipients/2017/Medarottapharm/MD-Manu-2017.jpg">
              </div>
							<div class="tab-content nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1485450752/PrizeRecipients/2017/Medarottapharm/MDPlant-2017.jpg">
              </div>
          </section>
      </div>
</article>
