<!-- InstanceBeginEditable name="main" -->
  <article class="container recipient">
  	<div class="row text-center">
      	<h2>Rexam Beverage Can South America, Jacareí</h2>
          <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,w_225/v1404252549/rexam_colm_g8ad3r.jpg" alt="Rexam">
      </div>
      <div class="row">
      	<h4>Corporate Overview</h4>
          <p>Rexam is a global consumer packaging company. We are one of the leading global beverage can makers. Our vision is to be the best beverage can maker in the world. We have 55 manufacturing plants in 20 countries and employ around 8,000 people. Our sales from continuing operations in 2013 were £3.9 billion.</p>
          <p>Rexam is a member of the FTSE 100 and its ordinary shares are listed with the UK Listing Authority and trade on the London Stock Exchange under the symbol REX.</p>
          <p>Our manufacturing base is structured into four strategic regions of North America, South America, Europe and the Middle East and Asia.</p>
          <p>Our vision “to be the best beverage can maker in the world” is strongly supported by Rexam’s four embedded core values: Continuous Improvement, Trust, Teamwork and Recognition.</p>
          <p>We have been committed to a path of Lean Enterprise across all our operations as a way of putting our Values into practice for over ten years. This approach is an essential part of what we call the “Rexam Way."</p>
          <h4>Jacareí plant</h4>
          <p>The Plant, based in the Brazilian state of São Paulo, started operations in 2007.  It is one of the 13 facilities that make up our manufacturing sector known as Beverage Can South America (BCSA).</p>
          <p>150 out of the 164 people on site are involved in plant operations and 14 in management. The 317,761 sq ft facility has two aluminium can manufacturing lines that are fully dedicated to customers such as Coca-Cola, Ambev, Heineken, Red Bull and Brasil Kirin, with a total production of 7.1 million cans a day. The Plant operates 24/7, 365 days a year. The Plant’s OEE performance improved from 67% in 2008 to 81% in 2013.</p>
          <p>The Jacareí Plant has a decision making culture based on data analysis of manufacturing and non- manufacturing processes.</p>
          <h4>Product &amp; Process</h4>
          <p>The site is capable of producing special sizes of beverage cans, 16oz, 9.1oz and 10.5oz, for about 30 customers, resulting in over 300 active label options.</p>
          <p>To make a beverage can, the key process steps involve stamping and drawing discs from aluminium coils to form the can body. The cans are then washed before being printed. The total cycle time in this continuous flow process is approximately 40 minutes. Conveyor and machine speeds are controlled according to a pulled process, which we call ‘line control.'</p>
          <p>The Plant was designed to assure quality at the source at every stage of the production process. Speed and quality are the key drivers of process performance and our QAS (Quality Assurance System) and RSVIEW (Rockwell Process Monitoring) provide real-time production data and process monitoring capability.</p>
          <h4>Continuous Improvement Process</h4>
          <p>Rexam has operated a global system of Lean Enterprise since 2004, structured around building capability in specific tool sets of Culture, VSM, 5S, TPM, SMED and Six Sigma. Progress is reviewed annually and awarded a merit of bronze, silver or gold depending on performance levels. Jacareí Plant achieved gold level at their first assessment in 2008, and consecutively in the next two years.</p>
          <p>In 2011, Jacareí plant was invited to participate in a more sophisticated assessment known as “Beyond Gold”, where the implementation of Lean systems was assessed. Again, a system of merit is used to recognise achievements starting at emerald, then sapphire, and finally diamond. Jacareí achieved sapphire in the first year, emerald in 2012 and diamond in 2013.</p>
          <p>We have made more than 137 improvement implementations based on SMED and Kaizen methods since 2007, and our value stream maps are revised twice a year with the gap analysis resulting in a hopper list of main projects and actions linked to business goals.</p>
          <p>Our 5S Programme, introduced in 2007 involves all employees through internal audits with a robust management control system.</p>
          <p>The commitment to continuous improvement through Lean Enterprise has led Jacareí Plant apply for the Shingo Prize.</p>
          <h4>Achievements</h4>
          <section class="two_up tiles">
              <div class="tile">
                  <h5>Lean Enterprise Achievements</h5>
                  <ul class="square">
                      <li>Gold status 2008, 2009, 2010.</li>
                      <li>Beyond protocol as sapphire in 2011, emerald in 2012, and Diamond in 2013.</li>
                      <li>In 2013 we had 28 Lean Projects, which led to US$1.1m of potential earnings.</li>
                      <li>Six people certified in Green Belts in 2013.</li>
                      <li>Active use of statistical analysis in process improvements, quality issues and other applications.</li>
                      <li>TPM improvements led to greater equipment reliability.</li>
                      <li>SMED activities reduced the size conversion time from seventy hours to twelve hours. This tool was also used for reducing label and coil change.</li>
                      <li>58 innovation projects in 2013.</li>
                      <li>Jacareí was recognized as the benchmark for Necker performance.</li>
                  </ul>
              </div>
              <div class="tile">
                  <h5>Safety &amp; Environmental</h5>
                  <ul class="square">
                      <li>ISO 14001:2009 Environmental accreditation</li>
                      <li>OSHAS 18001:2009 Safety accreditation</li>
                      <li>Zero Lost Time Accidents since 2010</li>
                      <li>43% of plant’s headcount are part of the site’s fire brigade</li>
                      <li>No Environmental Accidents since the start of operations</li>
                      <li>Safety Risks Elimination Programme identified and treated 1,975 risks situations in 2013</li>
                      <li>Behaviour-Based Safety Programme achieve 100% of engagement</li>
                      <li>All aluminium scraps are recycled to supplier</li>
                  </ul>
              </div>
              <div class="tile">
                  <h5>Quality</h5>
                  <ul class="square">
                      <li>ISO 9001:2009 Quality accreditation</li>
                      <li>ISO 22000:2011 Food Safety accreditation</li>
                      <li>FSSC 22000 – ISO22000:2005; PAS223:2011</li>
                      <li>Assured quality through annual customer audits</li>
                      <li>Customer Returns decreased in 90% since 2009</li>
                      <li>Quality Claims decreased in 78% since 2008</li>
                      <li>Rexam Award for “Quality Performance” in 2013 due to lowest levels of customer complaints and returns</li>
                  </ul>
              </div>
              <div class="tile">
                  <h5>Employee Morale</h5>
                  <ul class="square">
                      <li>Recognition Programme for Lean Activities, as participation in Kaizen and SMED activities, and 5S improvements</li>
                      <li>89% of employees engaged with at least one Lean Activity in 2013</li>
                      <li>Plant “Good Day” Programme donates money to help social institutions, whenever safety, quality and production records are achieved. In 2013 we had 02 Good Days</li>
                      <li>Wellness Programme, which rewards leisure, fitness activities and other healthy behaviours partaken by employees</li>
                      <li>Citizen company prize awarded in 2011 and 2012</li>
                      <li>Rexam Award for “Building a Winner organisation” in 2012 with a successful project about people engagement</li>
                      <li>100% participation in employee engagement survey with an employee engagement index of 78% favourable</li>
                      <li>Turnover reduced in 88% since 2008</li>
                  </ul>
              </div>
              <div class="tile">
                  <h5>Delivery Performance &amp; Cost Reductions</h5>
                  <ul class="square">
                      <li>Spoilage reduced by 38% since 2008</li>
                      <li>OEE increased in 20% since 2008</li>
                      <li>Manufacturing costs reduced in 26% since 2008</li>
                      <li>Electricity consumption reduced in 44% since 2008</li>
                      <li>Aluminium Usage reduced in: 3% for 16oz and 6% for 9.1oz since 2008</li>
                      <li>OTIF increased in 2% since 2009</li>
                      <li>In Dec-2013 the plant achieved the record of BCSA daily production: 8MM</li>
                      <li>Rexam Award for “The Best Performance” in 2013 in the BCSA conference</li>
                  </ul>
              </div>
          </section>
          <h4>Contact</h4>
          <p><strong>Denilson Santos</strong>, Sector Lean Enterprise Manager &nbsp; | &nbsp; Direct Line: +55 (21) 2104-3468 &nbsp; | &nbsp; Mobile: +55 (21) 98236-0288 &nbsp; | &nbsp; Email: <a href="mailto:denilson.santos@rexam.com">denilson.santos@rexam.com</a></p>
      </div>
      <br>
      <div class="row">
      	<section class="vertical tabs gallery row">
              <ul class="tab-nav three columns two_up tiles">
                  <li class="active"><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1427911103/Rexam%20Jacarei/Rexam_Jacare%C3%AD_foto_1.png"></a></li>
                  <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1427911103/Rexam%20Jacarei/Rexam_Jacare%C3%AD_foto_2.png"></a></li>
                  <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1427911103/Rexam%20Jacarei/Rexam_Jacare%C3%AD_foto_3.png"></a></li>
                  <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1427911103/Rexam%20Jacarei/Rexam_Jacare%C3%AD_foto_4.png"></a></li>
                  <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1427911103/Rexam%20Jacarei/Rexam_Jacare%C3%AD_foto_5.png"></a></li>
                  <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1427911103/Rexam%20Jacarei/Rexam_Jacare%C3%AD_foto_6.png"></a></li>
              </ul>
              <div class="tab-content active nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_south,h_400,w_600/v1427911103/Rexam%20Jacarei/Rexam_Jacare%C3%AD_foto_1.png">
              </div>
              <div class="tab-content nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_400,w_600/v1427911103/Rexam%20Jacarei/Rexam_Jacare%C3%AD_foto_2.png">
              </div>
              <div class="tab-content nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_400,w_600/v1427911103/Rexam%20Jacarei/Rexam_Jacare%C3%AD_foto_3.png">
              </div>
              <div class="tab-content nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_400,w_600/v1427911103/Rexam%20Jacarei/Rexam_Jacare%C3%AD_foto_4.png">
              </div>
              <div class="tab-content nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_400,w_600/v1427911103/Rexam%20Jacarei/Rexam_Jacare%C3%AD_foto_5.png">
              </div>
              <div class="tab-content nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_400,w_600/v1427911103/Rexam%20Jacarei/Rexam_Jacare%C3%AD_foto_6.png">
              </div>
          </section>
      </div>
  </article>
  <!-- InstanceEndEditable -->
