@import url(https://fonts.googleapis.com/css?family=Roboto:500,400italic,300,700,300italic,400);
@import url(https://fonts.googleapis.com/css?family=Muli:300,400,400italic);
h1, h2, h3, h4, h5, h6 {
    font-family: "Muli";
    font-weight: 300;
}

.clickable:hover {
    padding: 0;
    margin: 0;
    box-shadow: slategray 5px 10px 10px;
    width: 99.9%;
}
.clickable.left:hover {
    margin-left: 2px;
    box-shadow: grey -5px 10px 10px;
}
.muli {
    font-family: "Muli";
}
.quattrocento {
    font-family: "Quattrocento Sans";
}
.roboto {
    font-family: "Roboto";
}
.valign:before {
    height: 0;
}
.btn.brown, .skiplink.brown {
    background: #5b3416;
    border: 1px solid #5b3146;
}
.btn.brown:hover, .skiplink.brown:hover {
    background: #874E22;
}
.btn.brown:active, .skiplink.brown:active {
    background: #874E22;
}
div iframe {
    max-width: 100%;
    max-height: 100%;
}
@media only screen and (min-width: 768px) {
    a[href^="tel:"] {
        color: #555555;
    }
}
.indent {
    margin-left: 15px;
}
.disclaimer {
    font-size: 0.9em;
}

/********NAVIGATION********/

.navcontain {
    height: 110px;
}
.navbar {
    min-height: 110px;
    border-bottom: 1px solid #F7F7F7;
    box-shadow: 0 2px 5px #CCC;
}
.navbar .four.columns.logo {
    float: left;
    height: 110px;
    line-height: 105px;
}
.navbar .eight.columns {
    float: right;
    margin-left: 0;
}
.navbar ul {
    float: right;
}
.navbar ul li .dropdown li a {
    color: #002f56;
}
.navbar ul li .dropdown li a:hover {
    color: #d04526;
}
.navbar .logo, .navbar .logo a {
    height: 110px;
    line-height: 105px;
}
.navbar .logo a img {
    max-height: 100%;
    vertical-align: middle;
    padding-bottom: 5px;
}
/* fix weird gumby dropdown issue when dropdown has less than 3 items  */
.dropdown--size-small {
    width: auto !important;
}
.gumby-no-touch .navbar ul li:hover> a, .gumby-touch .navbar ul li.active> a {
    background: none;
    color: #d04526;
}
@media only screen and (max-width:1024px) {
    .navbar .logo a img {
        max-width: 150px;
    }
}
@media only screen and (min-width: 768px) {
    .navbar ul li a {
        color: #002f56;
        text-shadow: none;
        height: 110px;
        line-height: 105px;
    }
    .navbar ul li a:hover {
        background: none !important;
        color: #d04526;
        
    }
}
@media only screen and (max-width: 767px) {
    .navbar ul {
        background: #FFFFFF;
        top: 110px;
        max-height: none;
    }
    .navbar ul li a {
        height: auto;
        color: #002f56;
        text-shadow: none;
    }
    .navbar ul li .dropdown ul li a {
        color: #002f56 !important;
    }
    .navbar ul li .dropdown ul li a:hover {
        color: #d04526 !important;
    }
    .navbar a.toggle {
        top: 28%;
    }
    .navbar .logo a img {
        max-width: 200px;
    }
}

/******** WORKSHOPS ********/
#workshops {
    max-width: 5000px;
}

#workshops .list {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    left: 50%;
    -ms-transform: translateX(-40%);
    -webkit-transform: translateX(-40%);
    transform: translateX(-40%);
}

#workshops li {
    width: 100%;
    height: 300px;
    border: 1px solid darkgrey;
    padding: 15px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px grey;
}

#workshops li p.brown.medium.btn {
    margin: 0 auto;
    position: relative;
    left: calc(50% - 50px);
}

@media only screen and (max-width: 1825px){

    #workshops li {
        height: 350px;
    }

}

@media only screen and (max-width: 1275px){
    #workshops .list {
        -ms-transform: translateX(-45%);
        -webkit-transform: translateX(-45%);
        transform: translateX(-45%);
    }

    #workshops li {
        height: 400px;
        padding: 5px;
    }

    #workshops .columns {
        margin-left: 5px;
        width: 17%;
    }
}

@media only screen and (max-width: 900px){
    #workshops li {
        height: 460px;
        padding: 5px;
    }
}

@media only screen and (max-width: 768px){
    #workshops .list {
        left: inherit;
        transform: none;
    }

    #workshops li {
        height: 100%;
        padding: 15px;
    }

    #workshops li p.brown.medium.btn {
        margin: 0 auto;
        position: relative;
        left: initial;
    }
}

/********FOOTER********/

footer #footer {
    box-shadow: -1px 0 2px #CCCCCC;
    padding-top: 30px;
    padding-bottom: 20px;
    background: #FFFFFF;
}
footer #form {
    box-shadow: -2px 0 3px #666666;
    background: -webkit-linear-gradient(#fafafa, #FFFFFF);
    background: -o-linear-gradient(#fafafa, #FFFFFF);
    background: -moz-linear-gradient(#fafafa, #FFFFFF);
    background: linear-gradient(#fafafa, #FFFFFF);
    padding-top: 30px;
}
footer iframe {
    width: 100%;
}
footer img {
    margin-top: 10px;
}
#joml-form form h4 {
    font-family: "Roboto";
    font-weight: 400;
}
#joml-form form input:not(.submit) {
    height: 35px;
    padding: 8px;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 300;
}
#joml-form label {
    margin-top: 15px;
    margin-bottom: 2px;
    font-size: 1.05em;
}

/********HOME********/

#home {
    padding: 25px 0 0;
    position: relative;
    background: #EEE;
}
#home h1 {
    font-weight: 700;
    margin: 10px 0 10px;
    text-shadow: 1px 1px 2px #333333;
    color: #FFFFFF;
}
#home-extra {
    margin-top: 20px;
    background: #1E2829;
    opacity: 0.9;
    padding: 10px;
}
#home h3 {
    color: white;
    text-shadow: 1px 1px 2px #333333;
    line-height: 1.30em;
    font-weight: 700;
}
#home h5 {
    margin-top: 20px;
    color: white;
    font-family: "Quattrocento Sans";
    font-size: 1.55em;
    margin-bottom: 20px;
}
#home h5> a {
    color: #8EE5EE;
}
#home h5> a:hover {
    color: white;
}
#home img:not(.gridImg) {
    background: #EAEFF3;
    opacity: 0.9;
    position: absolute;
    bottom: 10px;
    right: 15px;
}
#home-tri {
    background: #ffffff;
    padding: 15px 15px;
}
#home-tri .columns h6 {
    line-height: 1.45em;
}
.home-model {
    background: #f0f0f0 url('../images/shingo-model_no-text.png') no-repeat center center fixed;
    background-size: cover;
    padding: 70px 30px;
}
.home-model h3, .home-model h4, .home-model .btn {
    margin: 30px auto;
}
.home-model h3, .home-model h1 {
    font-family: "Quattrocento Sans";
    margin: 30px auto;
}

.journey-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.journey-button{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 25px;
    background: rgb(5, 48, 85);
    width: 285px;
    height: 40px;
    margin: 10px 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.journey-button:hover {
    background: rgb(12, 77, 136);
    color: white;
}

@media only screen and (max-width: 768px) {
    .journey-button {
        margin: 10px 20px;
        font-weight: 700;
        font-size: 20px;
    }
}

#home-tri .btn {
    margin: 20px auto;
}
@media only screen and (min-width: 768px) {
    #home-tri .four.columns {
        min-height: 380px;
        position: relative;
    }
    #home-tri .btn {
        position: absolute;
        left: 32%;
        bottom: 15px;
    }
}
.tri-overlay {
    position: relative;
    height: 400px;
    width: 275px;
    margin-bottom: 30px;
}
.tri-overlay ul:not(.droplist) {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    padding: 10px 10px;
}
.tri-overlay ul:not(.droplist) li+ li {
    margin-left: 5%;
}
.tri-overlay ul h3, .tri-overlay ul h4 {
    color: white;
}
.tri-overlay ul h3:hover, .tri-overlay ul h4:hover {
    color: #d04526;
}
.tri-overlay ul .no-hover:hover {
    color: white;
}
.tri-overlay ul li:hover> ul {
    display: block;
}
.tri-overlay ul ul {
    margin: 0;
    display: none;
}
.droplist li {
    margin-left: 5%;
}
.droplist h4 {
    font-size: 1.2em;
    font-weight: 300;
}
#home-events .tri-overlay {
    background: url('../images/Events_Homepage.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#home-events .tri-overlay ul:not(.droplist) {
    background: rgba(100, 9, 33, 0.7);
    transition: background .75s;
}
#home-events .tri-overlay ul:hover {
    background: rgba(100, 9, 33, 1);
    
}
#home-research .tri-overlay {
    background: url('../images/Research_Homepage.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#home-research .tri-overlay ul:not(.droplist) {
    background: rgba(60, 78, 35, 0.7);
    transition: background .75s;
}
#home-research .tri-overlay ul:hover {
    background: rgba(60, 78, 35, 1);
}
#home-education .tri-overlay {
    background: url('../images/education_blue.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#home-education .tri-overlay ul:not(.droplist) {
    background: rgba(0, 47, 86, 0.7);
    transition: background .75s;
}
#home-education .tri-overlay ul:hover {
    background: rgba(0, 47, 86, 1);
}
#home-recognition .tri-overlay {
    background: url('../images/research_globe.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#home-recognition .tri-overlay ul:not(.droplist) {
    background: rgba(177, 124, 49, 0.7);
    transition: background .75s;
}
#home-recognition .tri-overlay ul:hover {
    background: rgba(177, 124, 49, 1);
}
#home-aff {
    padding: 70px 30px;
    text-align: center;
}
#home-aff h3 {
    font-family: "Quattrocento Sans";
}
#home-aff h3, #home-aff h5 {
    text-align: center;
    padding: 10px 15px;
}
#home-aff img {
    float: left;
}

/*******SLIDER********/

#home .tabs.pill .tab-nav {
    margin: 0 auto;
    width: 0%;
    border-radius: 30px;
}
#home .tabs.pill .tab-nav li:not(.active) a {
    background: rgba(172, 172, 172, 0.12);
}
#workshops .header {
    color: #333;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.learnMore {
    font-size: 2em;
    margin-left: 150px;
}

/*******SUMMIT MARKETING*********/


/*******HOVER ANIMATION CSS*******/

.grid {
    padding: 2em;
    min-width: 557px;
    max-width: 100%;
    max-height: 336px;
    text-align: center;
}

/*#summits {	background-color: rgba(101, 8, 32, 1); }*/

#manufacturing {
    background: url("http://res.cloudinary.com/shingo/image/upload/v1478640272/Events/IntlConference/iStock_23898798_Banner.jpg") no-repeat center center;
    background-size: cover;
    height: 400px;
    max-height: 600px;
    text-align: center;
}

#transborder {
    /*background: rgba(132, 132, 132, 0.73);
      border-radius: 15px;
      padding: 20px 0;
      max-width: 900px;*/
    background: rgba(0, 0, 0, 0.35);
    padding: 20px 0;
    max-width: 100%;
    height: 100%;
}

#congresso {
    background: url("http://res.cloudinary.com/shingo/image/upload/v1473462989/Summits/2016LatinSummit/CongresoWeb.jpg") no-repeat center center;
    background-size: cover;
    height: 400px;
    max-width: 540px;
    max-height: 600px;
    text-align: center;
}

#international {
    background: url("https://res.cloudinary.com/shingo/image/upload/v1461674551/Summits/2016Manufacturing/Web-Banner---Manufacturing.png") no-repeat center center;
    background-size: cover;
    height: 450px;
    max-width: 540px;
    max-height: 600px;
    text-align: center;
}

#international #transborder {
    /*background: rgba(132, 132, 132, 0.73);
      border-radius: 15px;
      padding: 20px 0;
      max-width: 900px;*/
    background: rgba(0, 0, 0, 0.26);
    border-radius: 15px;
    padding: 20px 0;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5)!important;
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5)!important;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.31);
    max-width: 900px;
}
#exEd {
    background-color: rgba(0, 51, 89, 1);
}
#workshops img {
    max-width: 150px;
}
.shingoButton:hover {
    border: rgba(64, 126, 193, 1) solid 5px;
    border-radius: 100%;
}
.grid ul {
    min-width: 870px;
    display: inline-block;
    margin-left: -3% !important;
}
.grid figure {
    position: relative;
    overflow: hidden;
    max-width: 700px;
    max-height: 150px;
    min-height: 150px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}
#international figure {
    max-width: 100%;
    min-height: 0;
}
.grid figure figcaption {
    padding: 2em;
    color: #fff;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid figure figcaption::before, .grid figure figcaption::after {
    pointer-events: none;
}
.grid figure figcaption, .grid figure figcaption> a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */

.grid figure figcaption> a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.grid figure h2 {
    word-spacing: -.1em;
    font-weight: 300;
}
.grid figure h2 span {
    font-weight: 800;
}
.grid figure h2, .grid figure p {
    margin: 0;
}
.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
figure {
    background: #4a3753;
}
figure img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
figure:hover img {
    opacity: 0.5;
}
figure figcaption::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: #fff;
    content: '';
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}
figure h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .7em 1.5em;
    width: 100%;
    text-align: left;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
}
figure h2 i {
    font-style: normal;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
}
figure figcaption::before, figure h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}
figure:hover figcaption::before, figure:hover h2, figure:hover h2 i {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.grid em {
    font-size: .5em;
}

/*****END OF HOVER ANIMATION CSS******/


/*#summits h1, h2, h3 { padding-bottom:0px; }
	#summits h1:not(.quattrocento) { font-size:1.4em; }
	.slide h2:not(.header)  { font-size: .98em; color:#FFF; }
	#summits h3 { font-size:1.1em; }*/

.header {
    font-size: 1.7em;
    color: white;
}
@media only screen and (max-width: 1024px) {
    .grid {
        min-width: inherit;
        max-width: inherit;
    }
    .grid ul {
        min-width: 600px;
        max-width: inherit;
    }
    .grid figure h2 {
        top: 4em;
        font-size: .68em !important;
    }
    .grid figure {
        max-width: 300px;
        min-height: 100px;
        max-height: 100px;
    }
    #workshops img {
        max-width: 100px;
    }
}
@media only screen and (max-width: 767px) {
    .grid {
        max-width: inherit;
        min-width: inherit;
        min-height: 500px;
        max-height: 500px;
    }
    .grid ul {
        min-width: inherit;
        max-width: inherit;
        margin: 0;
    }
    #workshops img {
        max-width: 75px;
        display: inline-block;
    }
    #workshops li {
        text-align: center;
    }
    .grid figure h2 {
        top: 4em;
        font-size: .6em !important;
    }
    .grid figure {
        margin: 0 15px;
        max-width: 300px;
        min-height: 100px;
        max-height: 100px;
    }
}

/********ABOUT********/

#about {
    padding: 30px 0;
}
#about img {
    float: right;
    clear: left;
    border: 4px solid #CCCCCC;
    margin: 2px 0px 5px 10px;
}
@media only screen and (max-width: 767px) {
    #about img {
        float: none;
        text-align: center;
    }
}
#staff {
    padding: 30px 0;
}
#staff h4 {
    font-family: "Quattrocento Sans";
}
#staff img {
    border: 1px solid #DEDEDE;
}
#about-other {
    padding: 40px 0;
    /*background:url('../images/compass.jpg') no-repeat center; background-size:cover; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;*/
}
#about-other .four.columns {
    padding: 20px;
    position: relative;
}
#about-other .four.columns:not(:first-of-type) {
    border-left: 1px dashed #CCCCCC;
}
#about-other .four.columns h4 {
    font-family: "Roboto";
    font-weight: 400;
}
@media only screen and (min-width: 768px) {
    #about-other .four.columns {
        min-height: 325px;
        padding-bottom: 50px;
    }
    #about-other .four.columns .btn {
        position: absolute;
        top: 280px;
        left: 32%;
    }
}
@media only screen and (max-width: 767px) {
    #about-other .four.columns:not(:first-of-type) {
        border-left: none;
        border-top: 1px dotted #cccccc;
    }
}
.tile {
    float: left;
    margin-top: 15px;
    margin-right: 10px;
}

/*other*/

#seab {
    padding: 30px 0;
}
#seab .drawer {
    background: white;
    box-shadow: none;
}
#academy {
    padding: 30px 0;
}
#examiners {
    padding: 30px 0;
}

/********OTHER********/

.show-for-small {
    display: none;
}
@media only screen and (max-width: 767px) {
    .hide-for-small {
        display: none;
    }
    .show-for-small {
        display: inherit;
    }
}
@media only screen and (min-width: 768px) {
    .show-for-small {
        display: none;
    }
}
.hidden {
    height: 120px;
    position: absolute;
    bottom: 0;
}

/********AFFILIATES********/

#affiliates {
    padding: 30px 10px;
}
#affiliates .afflist .hide-for-small {
    max-width: 1080px;
    overflow: hidden;
}
#affiliates .afflist .show-for-small {
    max-width: 400px;
}
#affiliates .afflist li {
    height: 300px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 5px #999999;
    background: white;
}
#affiliates .afflist li h4 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.5em;
}
#affiliates .afflist li a:hover h4 {
    color: #d04526;
}
#affiliates .afflist li p {
    color: #555555;
}
#becomeAFF {
    padding: 5px 10px 30px;
    background: #fcfcfc;
}
#becomeAFF h4 {
    font-family: "Roboto";
    font-weight: 400;
    margin-bottom: 10px;
}
#becomeAFF .btn {
    margin: 10px;
}
#affiliate {
    padding: 30px 10px;
}
#affiliate h2 {
    font-family: "Roboto";
}
#affiliate .eight {
    padding: 0 10px 5px 0;
    text-align: justify;
}
#affiliate #afflist h4 {
    font-family: "Roboto";
    margin-top: 25px;
}
.affLicensedLogo {
  width: 40%;
  min-width: 300px;
  height: auto;
  margin: auto;
}
.cf {
    margin-bottom: 20px;
}
.cf img {
    border-bottom: 1px solid #8A8A8A;
}
.cf-name {
    margin-top: 5px;
    width: 60%;
    background: #7d7d7d;
    max-width: 250px;
    float: left;
    clear: both;
    margin-right: 10px;
    border: 1px solid #8A8A8A;
}
.cf-name h4 {
    color: white;
    font-family: "Quattrocento Sans";
    font-weight: 700;
    padding-left: 8px;
    text-shadow: 1px 1px 2px #5e5e5e;
    margin-bottom: 0;
    padding-bottom: 0;
}
.cf-name p {
    font-size: 0.95em;
    font-family: "Roboto";
    margin-top: 2px;
    padding-top: 0;
    padding-left: 8px;
    color: white;
    text-shadow: 1px 1px #5e5e5e;
}
#sisuCF {
    background: url('../images/gears_desaturated_BLACK.png') no-repeat center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 100px 0px 40px;
    margin-bottom: 20px;
}
#sisuCF h3 {
    color: white;
    text-shadow: 1px 1px 2px #999999;
}
#sapCF {
    background: url('../images/gears_desaturated_TEAL.png') no-repeat center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 100px 0px 40px;
    margin-bottom: 20px;
}
#sapCF h3 {
    color: white;
    text-shadow: 1px 1px 2px #999999;
}
#seCF {
    background: url('../images/gears_desaturated_ORANGE.png') no-repeat center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 100px 0px 40px;
    margin-bottom: 20px;
}
#seCF h3 {
    color: white;
    text-shadow: 1px 1px 2px #666666;
}
#ulCF {
    background: url('../images/gears_desaturated_RED.png') no-repeat center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 100px 0px 40px;
    margin-bottom: 20px;
}
#ulCF h3 {
    color: white;
    text-shadow: 1px 1px 2px #999999;
}
#tmiCF {
    background: url('../images/gears_desaturated_NAVY.png') no-repeat center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 100px 0px 40px;
    margin-bottom: 20px;
}
#tmiCF h3 {
    color: white;
    text-shadow: 1px 1px 2px #999999;
}
#gbmpCF {
    background: url('../images/gears_desaturated_CORNFLOWER.png') no-repeat center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 100px 0px 40px;
    margin-bottom: 20px;
}
#gbmpCF h3 {
    color: white;
    text-shadow: 1px 1px 2px #666666;
}
#alfraCF {
    background: url('../images/gears_desaturated_NAVY.png') no-repeat center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 100px 0px 40px;
    margin-bottom: 20px;
}
#alfraCF h3 {
    color: white;
    text-shadow: 1px 1px 2px #999999;
}
#archesCF {
    background: url('../images/gears_desaturated_CORNFLOWER.png') no-repeat center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 100px 0px 40px;
    margin-bottom: 20px;
}
#archesCF h3 {
    color: white;
    text-shadow: 1px 1px 2px #666666;
}
#lensysCF {
    background: url('../images/gears_desaturated_NAVY.png') no-repeat center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 100px 0px 40px;
    margin-bottom: 20px;
}
#lensysCF h3 {
    color: white;
    text-shadow: 1px 1px 2px #999999;
}



.affiliate-card {
    width: 300px;
    height: 275px;
    border-radius: 40px;
    background: #f3f3f3;
    color: #555;
    box-shadow: 5px 5px 5px #222;
    padding: 5px;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.affiliate-card:hover h5 {
    color: #d04526;
}

.affiliate-card .affiliate-card-body, .affiliate-card .affiliate-logo {
    max-width: 95%;
}


/********ASSESSMENT********/

#assessment {
    padding: 30px 0;
    /*background:url('../images/provo_canyon_bw.jpg') no-repeat center; -o-background-size:cover; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover;*/
}
#assessment h4 {
    margin-top: 10px;
    margin-bottom: 25px;
}
#more-assess {
    margin-top: 20px;
    padding: 30px 0;
    /*background:#fafafa; opacity:0.85; filter:alpha(opacity=85);*/
}
#more-assess .four.columns {
    padding: 15px 0 25px;
}
#more-assess .four.columns:not(:first-of-type) {
    border-left: 1px solid #999999;
}
#more-assess .four.columns h4 {
    font-family: "Roboto";
}
#more-assess .four.columns h6 {
    padding: 30px 25px;
    line-height: 1.35em;
}
@media only screen and (min-width: 768px) {
    #more-assess .four.columns {
        position: relative;
        min-height: 350px;
    }
    #more-assess .four.columns .btn {
        position: absolute;
        left: 35%;
        bottom: 10px;
    }

    .v-75-gt-md {
        display: block;
        min-height: 75px;
        max-height: 75px;
        width: 1px;
    }
    .five-gt-md {
        float: left;
        display: block;
        height: 1px;
        min-width: 5px;
        max-width: 5px;
    }
    .ten-gt-md {
        float: left;
        display: block;
        height: 1px;
        min-width: 10px;
        max-width: 10px;
    }
}
@media only screen and (max-width: 767px) {
    #more-assess .four.columns:not(:first-of-type) {
        border-left: none;
        border-top: 1px solid #999999;
    }
}
#more-assess i.icon-bookmarks {
    color: #002f56;
}
#more-assess i.icon-trophy {
    color: #b17c31;
}
#more-assess i.icon-book {
    color: #640921;
}

/*other*/

#challenge-prize {
    padding: 30px 0;
}
#challenge-prize .btn {
    margin: 10px;
}
#challenge-research {
    padding: 30px 0;
}

/********EDUCATION********/

.shingoButton {
    width: 150px;
    max-width: 98%;
    max-height: 98%;
    margin: auto;
}

#education {
    padding: 30px 0;
}
#education .three.columns {
    border-left: 2px solid #CCCCCC;
}
@media only screen and (max-width: 767px) {
    #education .three.columns {
        border: none;
        margin-bottom: 15px;
    }
}
#education img[src*="Button"] {
    max-width: 150px;
    margin: 5px 25px 25px;
}
#education .tiles li {
    min-height: 225px;
    min-width: 200px;
}
#more-edu {
    padding: 30px 0;
}
@media only screen and (min-width: 768px) {
    #more-edu .row {
        display: table;
    }
    #more-edu .row .four.columns {
        display: table-cell;
    }
}
#more-edu .four.columns {
    border: 3px solid #999999;
    box-shadow: 0 0 2px #333333;
    padding: 15px 0;
    min-height: 325px;
    position: relative;
}
#more-edu .four.columns h3 {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}
#more-edu #exec.four h3 {
    color: #002f56;
    text-shadow: 1px 1px 2px #666666;
}
#more-edu #st.four h3 {
    color: #640921;
    text-shadow: 1px 1px 2px #666666;
}
#more-edu #conf.four h3 {
    color: #b17c31;
    text-shadow: 1px 1px 2px #666666;
}
#more-edu .four.columns h5 {
    padding: 30px 25px;
    line-height: 1.35em;
}
@media only screen and (min-width: 768px) {
    #more-edu .four.columns .btn {
        position: absolute;
        left: 32%;
        bottom: 15px;
    }
}
#studytour {
    margin-top: 0;
    background: url('../images/japangradient.jpg') no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px 0;
}
#studytour h1 {
    font-family: "Quattrocento Sans";
    text-transform: uppercase;
    color: black;
    text-shadow: 1px 1px 2px #000000;
}
#studytour h4 {
    text-shadow: 1px 1px 1px #666666;
}
#japan .modal p img {
    float: right;
    clear: left;
    border: 4px solid #FFFFFF;
    box-shadow: 0 0 1px #999999;
    margin: 2px 2px 10px 10px;
}
#amstudytour {
    margin-top: 0;
    background: url("https://res.cloudinary.com/shingo/image/upload/v1461678248/StudyTour/usa-study-tour-fade.png") no-repeat center -120px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px 0;
}

/*#amstudytourcolor { background:rgba(242,244,245,0.6); }*/

#amstudytour #transborder {
    background: rgba(255, 255, 255, 0.63);
    border-radius: 15px;
    padding: 40px 0;
    max-width: 900px;
}
#amstudytour h1 {
    font-family: "Quattrocento Sans";
    text-transform: uppercase;
    color: black;
    text-shadow: 1px 1px 2px #000000;
}
#amstudytour h4 {
    text-shadow: 1px 1px 1px #666666;
}
#executive {
    background: url('../images/blue_people.jpg') no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px 0;
}
#executive h1 {
    font-family: "Quattrocento Sans";
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #000000;
}
#executive h4 {
    color: #000000;
    text-shadow: 1px 1px 2px #333333;
}

.shingo-buttons a {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 27vw;
    max-height: 27vw;
}

#filter-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
}

.filter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.filter-item select {
    width: 170px;
}

#workshop-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
}

.workshop-card {
    width: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 5px #222;
    padding: 20px;
    margin: 10px 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    overflow: hidden;
    position: relative;
}

.workshop-card__background {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #eee;
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: bottom -55px right -55px;
}

.workshop-card-body {
    flex-grow: 1;
}

#upcoming-title {
    text-align: center;
}

.card-title {
    text-align: center;
}

.button-image {
    position: absolute;
    width: 150px;
    min-width: 150px;
    height: 150px;
    bottom: -75px;
    right: -75px;
    opacity: .75;
    border-radius: 100%;
}

.bottom-centered-button {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 10%;
    /* transform: translate(-50%);
    -webkit-transform: translate(-50%); */
}

.Discover {
    background: #5b3214;
    border: 1px solid #5b3214;
}

.Enable {
    background: #003768;
    border: 1px solid #003768;
}

.Improve {
    background: #640820;
    border: 1px solid #640820;
}

.Align {
    background: #b27c33;
    border: 1px solid #b27c33;
}

.Build {
    background: #405124;
    border: 1px solid #405124;
}

.bottom-centered-button.Enable:hover {
    background: #005199
}

.bottom-centered-button.Improve:hover {
    background: #c30837
}

.bottom-centered-button.Align:hover {
    background: #da8b24
}

.bottom-centered-button.Build:hover {
    background: #53682f
}

/********MODEL********/

#model {
    padding: 30px 10px;
}
#download {
    padding: 40px 10px;
}
.drawer#download-frame {
    background: none;
    margin-top: 15px;
    border: none;
    box-shadow: none;
}
#download-form form {
    padding: 0 0 20px;
}
#download-form li {
    margin-bottom: 15px;
}
#download-form label {
    margin-top: 3px;
    margin-bottom: 3px;
}
#model iframe {
    width: 100%;
}
#insights3 {
    padding: 30px 0;
    background: url('../images/lightbulbs.jpg') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#insights3 h2 {
    margin-bottom: 15px;
}
#insights3 .four.columns {
    border-left: 2px solid #CCCCCC;
    padding-left: 15px;
}

/********RECIPIENTS********/

#recipients {
    padding: 30px 10px;
}
#recipients table tr td:first-of-type {
    font-size: 1.15em;
    font-family: "Roboto";
    font-weight: 400;
    width: 10%;
    min-width: 60px;
}
#recipients table tr a {
    color: #640921;
}
#recipients table tr a:hover {
    color: #407dbe;
}
#recipients table tr td:last-of-type {
    width: 25%;
}
.recipient {
    padding: 30px 0;
}
.recipient h4 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.4rem;
}
.recipient h5 {
    font-family: "Quattrocento Sans";
    font-weight: 400;
}
.gallery .nine {
    background: white;
    padding: 10px;
}
.gallery .three {
    background: white;
    margin-left: 0;
}
.vertical.gallery .tab-nav li {
    background: white;
    max-height: none;
    height: auto;
    padding: 2px;
    text-align: center;
    border: none;
    box-shadow: none;
    text-shadow: none;
}
.vertical.gallery .tab-nav li> a {
    background: white;
    max-height: none;
    height: 110px;
    padding: 2px;
    text-align: center;
    border: 10px solid white;
    box-shadow: none;
    text-shadow: none;
}
.gallery .tab-nav li.active> a {
    box-shadow: none;
    border: none;
}
.gallery .tab-nav li.active> a img {
    border: 10px solid #000000;
}

/********RESEARCH********/

#research {
    padding: 30px 0;
}
#research .insight-logo {
    float: right;
    clear: left;
    margin-left: 10px;
    margin-bottom: 5px;
    padding-right: 10px;
    text-align: center;
}

/********OTHER********/

#privacy-policy {
    padding: 30px 0;
}
#privacy-policy h2, #privacy-policy h3, #privacy-policy h4, #privacy-policy h6 {
    font-family: "Roboto";
}
#faq {
    padding: 30px 0;
}
#faq dl dd {
    margin-left: 20px;
    margin-bottom: 25px;
}
#faq h5 {
    font-family: "Roboto";
    font-weight: 400;
}
.pr {
    padding: 30px 0;
}
.pr h3 {
    font-family: "Roboto";
}
#reapplication form h4 {
    font-family: "Roboto";
    font-weight: 400;
}
#reapplication form input:not(.submit) {
    height: 30px;
    padding: 5px;
    font-size: 13px;
    font-family: "Roboto";
    font-weight: 300;
}
#reapplication label {
    margin-top: 15px;
    margin-bottom: 2px;
    font-size: 1.05em;
}
#application form h4 {
    font-family: "Roboto";
    font-weight: 400;
}
#application form input:not(.submit) {
    height: 30px;
    padding: 5px;
    font-size: 13px;
    font-family: "Roboto";
    font-weight: 300;
}
#application label {
    margin-top: 15px;
    margin-bottom: 2px;
    font-size: 1.05em;
}
#downloads {
    padding: 150px 0;
}
#downloads .btn {
    margin-bottom: 15px;
}
#international ul.no-left-margin {
    margin-left: 0 !important;
}
#s-registration {
    padding: 20px 20px 40px 20px;
    background: #f5f5f5;
    position: relative;
}
#s-registration thead h4 {
    font-family: "Quattrocento Sans";
}
#sticky-Right-Banner {
    display: block;
    height: 50px;
    min-width: 100%;
    background: #640921;
    /* box-shadow: 2px 3px 5px #888; */
    z-index: 10;
    box-shadow: 0 2px 5px #CCC;
}

#sticky-Right-Banner.active {
    display: block;
}

#sticky-Right-Banner h4 {
    color:white;
    padding: 0;
    line-height: 0;
    font-weight: 500;
}

#sticky-Right-Banner  .close.toggle {
    float: right;
    margin: 0;
    line-height: 0;
    color: white;
    font-size: 175%;
}
@media only screen and (max-width: 768px) {
    #sticky-Right-Banner {
        position: relative;
    }

    #sticky-Right-Banner h4 {
        font-size: 100%;
    }

    #sticky-Right-Banner i {
        font-size: 100% !important;
    }
}

.terminal {
    text-align: left;
    color: green;
    padding: 50px;
    font-family: monospace;
    margin: 50px;
    background: black;
    overflow: auto;
    border: 4px outset;
}

.terminal.light {
    background: white;
}

.terminal.error {
    color: red;
}

.sub-menu-item {
    padding-left: 65px;
}

.sub-menu-item > a {
    border-left: 1px solid #ccc;
}

.floated-videos {
    margin: auto;
}

.award-vid {
    margin: 5px 25px;
    border-radius: 10px;
}

.award-icon-container {
    display: flex;
    flex-direction: row;
    width: 33%;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 950px) {
    .award-icon-container {
        width: 80%;
    }

    .floated-videos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footnotes {
    font-size: .8em;
  }

.br-vid {
    border-radius: 10px;
}


.display-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
}

.display-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workshop-info-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
}

.workshop-description-flex {
    width: 45%;
    min-width: 300px;
    margin: 15px auto;
}

@media only screen and (orientation: portrait) {
    .workshop-info-title {text-align: center;}
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    
    border-left: 40px solid black;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid black;
}

.arrow-right.training {
    border-left: 40px solid rgb(7, 56, 103);

    position: absolute;
    left: 0;
    top: 110px;
}

.arrow-right.sustainment {
    border-left: 40px solid rgb(98, 6, 33);

    position: absolute;
    left: 0;
    top: 60px;
}

.arrow-right.assessment {
    border-left: 40px solid rgb(177, 123, 54);

    position: absolute;
    left: 0;
    top: 60px;
}

.type-banner {
    width: 40vw;
    max-width: 500px;
    height: 300px; 
    margin: 0;
}

.type-banner.short {
    height: 200px;
}

.example-banner {
    background: #C3C3C3;
    width: 60vw;
    max-width: 700px;
    height: 300px;
    margin: 0;
    position: relative;
}

.example-banner.short {
    height: 200px;
}

.type-banner.training {
    background: rgb(7, 56, 103);
}

.type-banner.sustainment {
    background: rgb(98, 6, 33);
}

.type-banner.assessment {
    background: rgb(177, 123, 54);
}

@media only screen and (max-width: 786px) {
    .type-banner h2 {
        font-size: 6vw;
    }

    .example-banner h3 {
        font-size: 4vw;
        width: 90%;
        margin: 0 auto;
    }
    
    .display-row.journey {
        flex-direction: column;
        align-items: center;
    }

    .type-banner {
        height: 30vw;
        width: 90%;
        max-width: 90%;
    }

    .example-banner {
        height: 40vw;
        width: 90%;
    }

    .type-banner.short {
        height: 40vw;
    }

    .example-banner.short {
        height: 25vw;
    }

    .arrow-right { 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;

        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .arrow-right.training {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;

        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

        border-top: 20px solid rgb(7, 56, 103);
    }

    .arrow-right.sustainment {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;

        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

        border-top: 20px solid rgb(98, 6, 33);
    }

    .arrow-right.assessment {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;

        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

        border-top: 20px solid rgb(177, 123, 54);
    }
}

.journey-example-container {
    border: 5px solid #C0C0C0;
    width: 90%;
    max-width: 1250px;
    margin: auto auto 20px;
}

.journey-steps {
    width: 400px;
    padding: 20px 75px;
    margin: 20px 0;
}

.display-row.journey {
    flex-wrap: nowrap;
}

.side-borders {
    border-left: 3px solid #c0c0c0;
    border-right: 3px solid #c0c0c0;
}

@media only screen and (max-width: 1345px) {
    .side-borders {
        border-right: 3px solid transparent;
    }
}

@media only screen and (max-width: 899px) {
    .side-borders {
        border: none;
    }
}

.org-circle {
    background: #C0C0C0;
    text-align: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.training {
    color: rgb(7, 56, 103);
    text-align: center;
}
.sustainment {
    color: rgb(98, 6, 33);
    text-align: center;  
}
.assessment {
    color: rgb(177, 123, 54);
    text-align: center;   
}
.example-banner .training:hover {
    color: #295a89;
    font-weight: 800;
}
.example-banner .sustainment:hover {
    color: #842843;
    font-weight: 800;
}
.example-banner .assessment:hover {
    color: #d39d58;
    font-weight: 800;
}

.journey-steps h5 {
    margin: 15px auto;
    font-weight: 400;
}

.org-circle h5 {
    font-weight: 900;
    margin-bottom: 0;
    padding-bottom: 0;
}



.tooltip {
    background: rgba(0, 0, 0, .85);
    width: 350px;
    margin: auto;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    border-radius: 30px;

    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .25s, opacity .25s linear;
}

.title-container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 860px) {
    .title-container:hover .tooltip, .title-container:hover .arrow-up {
        visibility: visible;
        opacity: 1;
        transition: opacity .25s linear;
    }
} 


.training-title {
    color: white;
    text-align: center;
    padding: 20px 10px 0;
}

.arrow-up {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-bottom: 15px solid rgba(0, 0, 0, .85);

    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .25s, opacity .25s linear;
}

.tip-text {
    color: white;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 15px 0;
}
