<article>
    <!-- TITLE BLOCK -->
    <div style="
        width: 100vw;
        height: 40vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        background: url(https://res.cloudinary.com/shingo/image/upload/v1556208335/Events/IntlConference/2020/rosen-centre-color-corrected.jpg) no-repeat fixed center;
        background-size: cover;
    ">
        <div style="
            text-align: center;
        ">
            <h3 style="color: white;">2020 Shingo Conference</h3>
            <h1 style="color: white;">Join Us & Celebrate</h1>
            <h3 style="color: white;">April 14-17, 2020</h3>
            <h4 style="color: white;">ORLANDO, FLORIDA</h4>
        </div>
        <br>
        <div style="
            width: 250px;
            height: 50px;
            margin: 0 auto;
            text-align: center;
            color: white;
            background: #640921;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
        ">
            <h4 style="color: white;">REGISTER NOW</h4>
        </div>
    </div>
    <br>
    <!-- CONTENT BLOCK -->
    <div style="
        width: 100vw;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        flex-wrap: wrap;
    ">
        <div style="
            width: 90%;
            max-width: 550px;
        ">
            <h2>Why You Should Attend</h2>
            <p>A big part of shaping a culture that drives operational excellence is engaging the entire organization in improvement efforts. This year's theme of "Make Work Meaningful" is about finding ways to create that culture of engagement in continuous improvement.</p>
            <p>Join us to learn from leaders how to make great transformations in your organization using the principles of the <em>Shingo Model</em>.</p>
            <ul>
                <li>Network with Lean practitioners like you, all striving to improve their organizations.</li>
                <li>Discover what process improvement practitioners like you have done to make notable improvements to their organizations.</li>
                <li>Listen to experienced leaders as keynote speakers.</li>
                <li>Join the discussion in break-out sessions.</li>
            </ul>
            <p>Post-conference tour sites are yet to be determined but we always choose sites that will inspire you with new ideas for improvement. Be sure to sign up for a workshop and/or site tour to get these valuable experiences.</p>
        </div>
        <div style="
            width: 90%;
            max-width: 550px;
        ">
            Photos
        </div>
    </div>
    <br>
    <!-- QUOTE BLOCK -->
    <div style="
        width: 100vw;
        background: rgb(50, 65, 80);
    ">
        <div style="
            min-height: 12vh;
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        ">
            <p style="color: white; font-size: 30px; width: 90%; max-width: 850px;">"The speakers were excellent, the organization of the conference was brilliant, and the venue was a great place to attend!"</p>
            <div style="
                width: 250px;
                height: 50px;
                text-align: center;
                color: white;
                background: #b17c31;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            ">
                <h4 style="color: white;">REGISTER NOW</h4>
            </div>
        </div>
    </div>
</article>
