<article>
    <div style="
        width: 100vw;
        height: 40vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    ">
        <div style="
            text-align: center;

        ">
            <h3>2020 Shingo Conference</h3>
            <h1>Join Us & Celebrate</h1>
            <h3>April 14-17, 2020</h3>
            <h4>ORLANDO, FLORIDA</h4>
        </div>
        <div>REGISTER NOW</div>
    </div>
</article>
