<article>
    <style>
        #titleblock {
            width: 100vw;
            height: 40vh;
            min-height: 350px;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            background: url(https://res.cloudinary.com/shingo/image/upload/v1564773935/WebContent/Germany_Landscape.jpg) no-repeat fixed bottom;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            text-align: center;
        }

        #titleinfo {
            text-align: center;
            padding-bottom:2em;
        }

        .registerbutton {
            width: 250px;
            height: 50px;
            margin: 0 auto;
            text-align: center;
            color: white;
            background: #640921;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
        }

        .redregister {
            background: rgba(100, 9, 33, .85);
        }

        .redregister:hover {
            background: rgba(100, 9, 33, 1)
        }

        .yellowregister {
            background: #b17c31;
            margin: 10px 0;
        }

        .yellowregister:hover {
            background: #c18c41;
        }

        #quotecontent {
            min-height: 12vh;
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding:1em;
        }

        #quote {
            color: white; 
            font-size: 30px; 
            width: 90%; 
            max-width: 850px;
            margin-top: 5vh;
            padding:1em;
        }

        #person-quoted {
            color: white; 
            font-size: 20px; 
            width: 90%; 
            max-width: 850px;
            margin-bottom: 10vh;
        }

        #contentblock {
            width: 100vw;
            max-width: 1300px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding:2em;
        }

        #infolist {
            list-style: disc inside;
        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
            display:inline-block;
            
            
        }
        .nowrap {
            white-space: nowrap;
            
        }
        

        @media only screen and (max-width: 1100px) {
            #contentblock {
                justify-content: center;
            }
            #quotecontent {
                justify-content: center;
            }

            #quote {
                text-align: center;
            }


            
        }
        @media only screen and (max-width: 768px) {
            #titleinfo h1 {
                font-size: 8vmin;
            }
            #titleinfo h3 {
                font-size: 5vmin;
            }
            #titleinfo h4 {
                font-size: 4vmin;
            }
        }
        }

    </style>

    <!-- TITLE BLOCK -->
    <div id="titleblock">
        <div style="background:rgba(0, 0, 0, 0.5); width: 100%; margin-left: auto; margin-right: auto;">
            <h1 style="color:white; -webkit-text-stroke-width: .1px; -webkit-text-stroke-color:white; font-weight:100;">Shingo European Conference</h1>
        </div>
        <br>
        <div class="registerbutton redregister">
            <a href='http://www.cvent.com/events/2019-shingo-european-conference/event-summary-28df2f8dcf1d49aca2653fed5382ee72.aspx' target='_blank'><h4 style="color: white;">LEARN MORE</h4></a>
        </div>
    </div>

    <br>
    <br>
    <!-- IMAGE BLOCK -->
    <div id="titleinfo">
        <div id="titleinfo">
            <div style="display:inline-block;">
                <img src="https://res.cloudinary.com/shingo/image/upload/v1564609936/WebContent/European_Shingo_Conference.png" width="350px">
            </div>
            <div style="display:inline-block; padding-left:2em; vertical-align:top; padding-top:1em;">
                <h4>November 20-21, 2019</h4>
                <h4>Regensburg, Germany</h4>
            </div>
        </div>
        <h4>Keep your continuous improvement efforts fresh and invigorated. Bring your team to the Shingo European Conference .</h4>
        <div class="grid-item"><img src="https://img.icons8.com/pastel-glyph/64/000000/groups.png"><h3>Networking</h3><h5>Talk with authors, speakers, and other thought<br>leaders in the field of operational excellence.</h5></div>  
        <div class="grid-item"><img src="https://img.icons8.com/ios/64/000000/settings.png"><h3 class="nowrap">Site Tour</h3><h5>Inside look at a world-class facility.</h5></div> 
        <div class="grid-item"><img src="https://img.icons8.com/dotty/64/000000/business-conference-female-speaker.png"><h3 class="nowrap">Workshops</h3><h5>Hands-on training tailored to help deepen<br>your understanding of operational excellence. </h5></div>     
        <br>    
    </div>
    <!-- END IMAGE BLOCK -->
    <!-- CONTENT BLOCK -->
    <div id="contentblock">
        <div style="
            width: 90%;
            max-width: 900px;
        ">
            <h2>European Conference</h2>
            <p>Come and learn from people who have made notable transformations in their organizations on their road to enterprise excellence.</p>
            <p>Each year we are joined by leaders from all around Europe to learn what others are doing and have successfully done to improve their organizations.</p>
            <p>Along with renowned keynote speakers, you will get an opportunity to participate in breakout sessions where you can ask questions and discuss with experienced leaders and business professionals.</p>
            <h2> Included with Your Registration </h2>
            <ul id="infolist">
                <li> Breakfast and lunch both days of the Conference </li>
                <li> Access to any and all keynote sessions and breakout sessions/workshops </li>
                <li> Complimentary snacks and beverages </li>
                <li> Several networking opportunities </li>
            </ul>
            <h2>Extras You Can Include as You Register</h2>
            <ul id="infolist">
                <li> Shingo Discover Excellence Workshop, including site visit </li>
                <li> Post-Conference tour to BMW </li>
                <li> Visual Workplace Workshop with Dr. Gwendolyn Galsworth </li>
            </ul>
        </div>
    </div>
    <br>
    <!-- QUOTE BLOCK -->
    <div style="
        width: 100vw;
        background: rgb(50, 65, 80);
    ">
        <div id="quotecontent">
            <p id="quote">“Some very engaging key note speakers. Lots of different ideas that I can take back and implement at my workplace.”</p>
            <div class="registerbutton yellowregister">
                <a href='http://www.cvent.com/events/2019-shingo-european-conference/event-summary-28df2f8dcf1d49aca2653fed5382ee72.aspx' target='_blank'><h4 style="color: white;">LEARN MORE</h4></a>
            </div>
            <p id="quote">“I enjoyed being around like-minded people and getting to hear about and learn from their experiences.”</p>

            <p id="quote">“I liked how the conference was geared to the Shingo principles more than the improvement tools.”</p>
            
        </div>
    </div>
</article>