<article>
    <style>
        #titleblock {
            width: 100vw;
            height: 40vh;
            min-height: 350px;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            background: url(https://res.cloudinary.com/shingo/image/upload/v1559675568/WebContent/photo-173161.jpg) no-repeat fixed bottom;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
        }

        #titleinfo {
            text-align: center;
            padding:1em;
        }

        .registerbutton {
            width: 250px;
            height: 50px;
            margin: 0 auto;
            text-align: center;
            color: white;
            background: #640921;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
        }

        .redregister {
            background: rgba(100, 9, 33, .85);
        }

        .redregister:hover {
            background: rgba(100, 9, 33, 1)
        }

        .yellowregister {
            background: #b17c31;
            margin: 10px 0;
        }

        .yellowregister:hover {
            background: #c18c41;
        }

        #quotecontent {
            min-height: 15vh;
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding:1em;
        }

        #quote {
            color: white; 
            font-size: 30px; 
            width: 90%; 
            max-width: 850px;
            margin-top: 5vh;
            padding:1em;
        }

        #person-quoted {
            color: white; 
            font-size: 20px; 
            width: 90%; 
            max-width: 850px;
            margin-bottom: 10vh;
        }

        #contentblock {
            width: 100vw;
            max-width: 1300px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding:2em;
        }

        #infolist {
            list-style: disc inside;
        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
            display:inline-block;
            
            
        }
        .nowrap {
            white-space: nowrap;
            
        }
        

        @media only screen and (max-width: 1100px) {
            #contentblock {
                justify-content: center;
            }
            #quotecontent {
                justify-content: center;
            }

            #quote {
                text-align: center;
            }


            
        }
        @media only screen and (max-width: 768px) {
            #titleinfo h1 {
                font-size: 8vmin;
            }
            #titleinfo h3 {
                font-size: 5vmin;
            }
            #titleinfo h4 {
                font-size: 4vmin;
            }
        }
        }

    </style>

    <!-- TITLE BLOCK -->
    <div id="titleblock">
        <h1 style="color:white; text-align:center; -webkit-text-stroke-width: 1.5px; -webkit-text-stroke-color:white;">Shingo Showcase at Goodyear</h1>
        <br>
        <div class="registerbutton redregister">
            <a href='http://www.cvent.com/events/2019-shingo-manufacturing-summit/event-summary-e895e7f661d24878b5154399e039b9c7.aspx'><h4 style="color: white;">REGISTER NOW</h4></a>
        </div>
    </div>
    <!-- IMAGE BLOCK -->
    <div id="titleinfo">
        <div id="titleinfo">
            <div style="display:inline-block;">
                <img src="https://res.cloudinary.com/shingo/image/upload/v1560365863/WebContent/Showcase_Logo_color.png" width="350px">
            </div>
            <div style="display:inline-block; padding-left:2em; vertical-align:top; padding-top:1.5em;">
                <h4>August 27, 2019</h4>
                <h4>Akson, Ohio</h4>
            </div>
        </div>
        <h4>Bring your CI team to refresh your mental picture of "Great" and get some fresh training in the process, all on one value-packed day. </h4>
        <div class="grid-item"><img src="https://img.icons8.com/ios/50/000000/search.png"><h3>Inside Look</h3><h5>Take a two-and-a-half hour tour through a mature<br>facility that exemplifies operational excellence.</h5></div>  
        <div class="grid-item"><img src="https://img.icons8.com/ios/64/000000/scuba-diving.png"><h3 class="nowrap">Deep Dive</h3><h5>Talk with company leaders about their continuous<br>improvement journey, their missteps, and their break-throughs.</h5></div> 
        <div class="grid-item"><img src="https://img.icons8.com/wired/64/000000/training.png"><h3 class="nowrap">Training</h3><h5>Choose from two excellent 3-hour workshops<br>to round out your day of learning.</h5></div>     
        <br>    
    </div>
    <!-- END IMAGE BLOCK -->
    <div id="contentblock">
        <div style="
            width: 100%;
            
        ">
            <h2> Included with Each Shingo Showcase </h2>
            <ul id="infolist">
                <li> Tour of the host facility, complete with Q&A with leaders </li>
                <li> A choice between two excellent 3-hour workshops </li>
                <li> Lunch a the facility </li>
                <li> Networking opportunities</li>
            </ul>
            <h2> About Goodyear's Akron Facility </h2>
            <p>Goodyear is one of the largest tire companies in the world and has been around for more than 100 years. The Akron plant houses Goodyear's global headquarters,
                 Americas headquarters, innovation center, racing tires, chemicals, tire proving grounds, and airship operations.</p>
        </div>
    </div>
    <br>
    <!-- QUOTE BLOCK -->
    <div style="
        width: 100vw;
        background: rgb(50, 65, 80);
    ">
        <div id="quotecontent" style="display: flex; justify-content: center;">
            <div class="registerbutton yellowregister">
                <a href='http://www.cvent.com/events/2019-shingo-manufacturing-summit/event-summary-e895e7f661d24878b5154399e039b9c7.aspx'><h4 style="color: white;">REGISTER NOW</h4></a>
            </div>
        </div>
    </div>
</article>