<article>
    <style>
        h1{
            font-weight:500;
        }

        #titleblock {
            width: 100vw;
            height: 40vh;
            min-height: 350px;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            background: url(https://res.cloudinary.com/shingo/image/upload/v1562612464/WebContent/BG_-_Ireland_-_Landing_Page_HDR.jpg) no-repeat fixed top;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            text-align: center;
        }

        #titleinfo {
            text-align: center;
            padding:1em;
        }

        .registerbutton {
            width: 250px;
            height: 50px;
            margin: 0 auto;
            text-align: center;
            color: white;
            background: #640921;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
        }

        .redregister {
            background: rgba(100, 9, 33, .85);
        }

        .redregister:hover {
            background: rgba(100, 9, 33, 1)
        }

        .yellowregister {
            background: #b17c31;
            margin: 10px 0;
        }

        .yellowregister:hover {
            background: #c18c41;
        }

        #quotecontent {
            min-height: 12vh;
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding:1em;
        }

        #quote {
            color: white; 
            font-size: 30px; 
            width: 90%; 
            max-width: 850px;
            margin-top: 5vh;
            padding:1em;
        }

        #person-quoted {
            color: white; 
            font-size: 20px; 
            width: 90%; 
            max-width: 850px;
            margin-bottom: 10vh;
        }

        #contentblock {
            width: 100vw;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding:2em;
        }

        #infolist {
            list-style: disc inside;
        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
            display:inline-block;
            
            
        }
        .nowrap {
            white-space: nowrap;
            
        }
        

        @media only screen and (max-width: 1100px) {
            #contentblock {
                justify-content: center;
            }
            #quotecontent {
                justify-content: center;
            }

            #quote {
                text-align: center;
            }


            
        }
        @media only screen and (max-width: 768px) {
            #titleinfo h1 {
                font-size: 8vmin;
            }
            #titleinfo h3 {
                font-size: 5vmin;
            }
            #titleinfo h4 {
                font-size: 4vmin;
            }
        }
        }

    </style>

    <!-- TITLE BLOCK -->
    <div id="titleblock">
        <div style="background:rgba(0, 0, 0, 0.5); width: 100%; margin-left: auto; margin-right: auto;">
            <h1 style="color:white; -webkit-text-stroke-width: .1px; -webkit-text-stroke-color:white; font-weight:100;">Ireland Shingo Study Tour</h1>
        </div>
        <br>
        <div class="registerbutton redregister">
            <a href='http://www.cvent.com/events/2019-shingo-study-tour-to-ireland/event-summary-2b3b969610c048f4b5b8acbb273d5646.aspx'><h4 style="color: white;">LEARN MORE</h4></a>
        </div>
    </div>

    <br>
    <br>
    <!-- IMAGE BLOCK -->
    <div id="titleinfo">
        <div id="titleinfo">
            <div style="display:inline-block;">
                <img src="https://res.cloudinary.com/shingo/image/upload/v1560365857/WebContent/Shingo_Study_Tour.png" width="350px">
            </div>
            <div style="display:inline-block; padding-left:2em; vertical-align:top; padding-top:1.5em;">
                <h4>November 12-15, 2019</h4>
                <h4>Cork City & Ireland</h4>
            </div>
        </div>
        <h4>As a participant of a Shingo Study Tour, you will see and experience first-hand what is at the heart of the 
            lean business model through a series of plant tours, workshops, and peer networking. See what "great" looks like.
        </h4>
            <div class="grid-item"><img src="https://img.icons8.com/dotty/64/000000/skyscrapers.png"><h3 class="nowrap">Site Tours</h3><h5>Inside look at world-class facilities <br> and Shingo recipients.</h5></div>
            <div class="grid-item"><img src="https://img.icons8.com/wired/64/000000/groups.png"><h3>Peer Networking</h3><h5>Connect with experts, <br>leaders, and managers.</h5></div>  
            <div class="grid-item"><img src="https://img.icons8.com/ios/64/000000/light-on--v2.png"><h3 class="nowrap">Answers</h3><h5>Shingo executives ask what you want to gain <br>from the tour and ensure you receive answers.</h5></div>
            <div class="grid-item"><img src="https://img.icons8.com/ios/64/000000/combo-chart.png"><h3 class="nowrap">Workshops</h3><h5>Hands-on experience <br>and overview of the <em>Shingo Model&trade;</em></h5></div>     
        <br>    
    </div>
    <!-- END IMAGE BLOCK -->
    <div id="contentblock">
        <div style="
            width: 90%;
            max-width: 550px;
        ">
            <h2> About Shingo Study Tours </h2>
            <p> Shingo Study Tours Are Better </p>
            <p> Study tours with the Shingo Institute are different that other study tours. </p>
            <p> We take you to organizations that practice Shingo principles and teach you about those principles so you can use them better in your organization. </p>
            <p> You will tour the following facilities: </p>
            <ul id="infolist">
                <li> Boston Scientific </li>
                <li> TBD </li>
                <li> TBD </li>
                <li> and more! </li>
            </ul>
            <h2> What is Included on a Shingo Study Tour </h2>
            <ul id="infolist">
                <li> Five nights’ hotel accommodations </li>
                <li> Daily breakfast </li>
                <li> Daily lunch </li>
                <li> One dinner </li>
                <li> Shingo Executive Overview </li>
                <li> Transportation to all site visits </li>
                <li> Time with site leadership </li>
                <li> Debriefs with Shingo staff members </li>
            </ul>
        </div>
        <!-- YOUTUBE VIDEO IFRAME -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/H0NzCwTGnxc" frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <!-- QUOTE BLOCK -->
    <div style="
        width: 100vw;
        background: rgb(50, 65, 80);
    ">
        <div id="quotecontent">
            <p id="quote">"The Shingo Study Tour was an incredible eye opening experience, it was like the Disney World of Lean.”</p><em id='person-quoted'> ~ Nicole Blanco, Manufacturing Engineer, Membrane VSM, SUEZ Water Technologies and Solutions </em> 
            <div class="registerbutton yellowregister">
                <a href='http://www.cvent.com/events/2019-shingo-study-tour-to-ireland/event-summary-2b3b969610c048f4b5b8acbb273d5646.aspx'><h4 style="color: white;">LEARN MORE</h4></a>
            </div>
            <p id="quote">"The tour opened my eyes to what is possible. Lean is simple and hard.”</p><em id='person-quoted'> ~ Philip Draper, Continuous Improvement Manager, STERIS Corporation </em>

            <p id="quote">“Listening to high-level companies share their CI and lean journey and how they incorporate Shingo principles was invaluable. I found immediate areas of 
                improvement for my own work as well as long-term goals of growing a culture that supports continuous improvement.”</p><em id='person-quoted'> ~ Jason Nate, Principal, Kimberly Area School District </em>
            
        </div>
    </div>
</article>