<article>
    <style>
        #titleblock {
            width: 100vw;
            height: 40vh;
            min-height: 350px;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            background: url(https://res.cloudinary.com/shingo/image/upload/v1563224721/WebContent/Davis_Conference_Center_Layton.jpg) no-repeat fixed bottom;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            text-align: center;
        }

        #titleinfo {
            text-align: center;
            padding-bottom:2em;
            max-width: 1600px;
            margin: 0 auto;
        }

        .download-call-to-action {
            background-color: #fbf469;
            text-align:center;
        }

        .registerbutton {
            width: 250px;
            height: 50px;
            margin: 0 auto;
            text-align: center;
            color: white;
            background: #640921;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
        }

        .redregister {
            background: rgba(100, 9, 33, .85);
        }

        .redregister:hover {
            background: rgba(100, 9, 33, 1)
        }

        .yellowregister {
            background: #b17c31;
            margin: 10px 0;
        }

        .yellowregister:hover {
            background: #c18c41;
        }


        #quotecontent {
            min-height: 12vh;
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding:1em;
        }

        #quote {
            color: white; 
            font-size: 30px; 
            width: 90%; 
            max-width: 850px;
            margin-top: 5vh;
            padding:1em;
        }

        #person-quoted {
            color: white; 
            font-size: 20px; 
            width: 90%; 
            max-width: 850px;
            margin-bottom: 10vh;
        }

        #contentblock {
            width: 100vw;
            max-width: 1300px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding:2em;
        }

        #infolist {
            list-style: disc inside;
        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
            display:inline-block;
            max-width:500px
            
            
        }
        .nowrap {
            white-space: nowrap;
            
        }
        

        @media only screen and (max-width: 1100px) {
            #contentblock {
                justify-content: center;
            }
            #quotecontent {
                justify-content: center;
            }

            #quote {
                text-align: center;
            }


            
        }
        @media only screen and (max-width: 768px) {
            #titleinfo h1 {
                font-size: 8vmin;
            }
            #titleinfo h3 {
                font-size: 5vmin;
            }
            #titleinfo h4 {
                font-size: 4vmin;
            }
        }
        }

    </style>

    <!-- TITLE BLOCK -->
    <div id="titleblock">
        <div style="background:rgba(0, 0, 0, 0.5); width: 100%; margin-left: auto; margin-right: auto;">
            <h1 style="color:white; -webkit-text-stroke-width: .1px; -webkit-text-stroke-color:white; font-weight:100;">45th Utah O.E. Conference</h1>
        </div>
        <br>
        <div class="registerbutton redregister">
            <a href='http://www.cvent.com/events/45th-utah-operational-excellence-conference/event-summary-0eb54e1c8eb547cbb959c572b8d5d7d5.aspx' target='_blank'><h4 style="color: white;">LEARN MORE</h4></a>
        </div>
    </div>
    <div class="download-call-to-action">
        <h3>Click <a href="https://usu.box.com/s/0nn6jxe463tvhakwnt48g5h51abg1x20">Here</a> to Download the Prospectus</h3>
    </div>

    <br>
    <br>
    <!-- IMAGE BLOCK -->
    <div id="titleinfo">
        <div id="titleinfo">
            <div style="display:inline-block;">
                <img src="https://res.cloudinary.com/shingo/image/upload/v1563219708/WebContent/logo.png" width="350px">
            </div>
            <div style="display:inline-block; padding-left:2em; vertical-align:top; padding-top:2.5em;">
                <h4>October 10-11, 2019</h4>
                <h4>Layton, Utah</h4>
            </div>
        </div>
        <h4>The annual Utah Operational Excellence Conference is a two-day event offering a selection of workshops, keynote addresses, and breakout sessions designed to provide ongoing knowledge, insight, and experience for individuals and organizations in their pursuit of operational excellence.</h4>
        <div class="grid-item"><img src="https://img.icons8.com/pastel-glyph/64/000000/groups.png"><h3>Networking</h3><h5>Connect with presenters, authors, and other thought leaders in the field.</h5></div>  
        <div class="grid-item"><img src="https://img.icons8.com/ios/64/000000/settings.png"><h3 class="nowrap">Focus on O.E.</h3><h5>Gain new perspective from presenters as they guide you in your efforts toward operational excellence.</h5></div> 
        <div class="grid-item"><img src="https://img.icons8.com/dotty/64/000000/business-conference-female-speaker.png"><h3 class="nowrap">Workshops</h3><h5>Receive hands-on training to broaden your understanding and implementation of operational excellence.</h5></div>     
        <br>    
    </div>
    <!-- END IMAGE BLOCK -->
    <!-- CONTENT BLOCK -->
    <div id="contentblock">
        <div style="
            width: 90%;
            max-width: 900px;
        ">
            <h2> Utah Operational Excellence Conference </h2>
            <p> This conference is your chance to learn from some of the companies dominating in operational excellence. The two-day 45th 
                Annual Operational Excellence Conference brings together executives and continuous improvement leaders and provides the perfect
                opportunity to network with others who are striving to improve their organizations.</p>
            <h2> Your Registration Includes </h2>
            <ul id="infolist">
                <li> Access to all keynote addresses, workshops, and breakout sessions </li>
                <li> Networking opportunities </li>
                <li> Daily breakfast and lunch </li>
                <li> Complimentary snacks and beverages </li>
            </ul>
            <h2> Optional </h2>
            <ul id="infolist">
                <li> Shingo Discover Excellence workshop, which includes a site visit </li>
            </ul>
        </div>
    </div>
    <br>
    <!-- QUOTE BLOCK -->
    <div style="
        width: 100vw;
        background: rgb(50, 65, 80);
    ">
        <div id="quotecontent">
            <p id="quote">“Some very engaging key note speakers. Lots of different ideas that I can take back and implement at my workplace.”</p>
            <div class="registerbutton yellowregister">
                <a href='http://www.cvent.com/events/45th-utah-operational-excellence-conference/event-summary-0eb54e1c8eb547cbb959c572b8d5d7d5.aspx' target='_blank'><h4 style="color: white;">LEARN MORE</h4></a>
            </div>
            <p id="quote">“I enjoyed being around like-minded people and getting to hear about and learn from their experiences.”</p>

            <p id="quote">“I liked how the conference was geared to the Shingo principles more than the improvement tools.”</p>
            
        </div>
    </div>
</article>