<!-- InstanceBeginEditable name="main" -->
<article class="container pr">
	<div class="row">
    	<h3>The Lean Farm</h3>
        <h5>March 31, 2016</h5>
        <br>
        <div class="row">
        	<ul class="two_up tiles">
            	<li>
                    <div class="twelve columns">
                        <h5><strong>Authors</strong></h5>
                        <h6>Ben Hartman</h6><br>
                    </div>
                    <div class="twelve columns">
                        <ul class="two_up tiles">
                            <li>
                                <div class="ten columns hide-for-small">
                                    <a href="https://claybottomfarm.com"><img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_750/v1459462062/pr/The_Lean_Farm.jpg"></a>
                                </div>
                            </li>
                            <li>
                                <div class="twelve columns">
                                    <h5><a href="https://claybottomfarm.com">Order Now</a></h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                	<div class="twelve">
                    	<iframe width="560" height="315" src="https://www.youtube.com/embed/ge4-JawuKZA?showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </li>
            </ul>
        </div>
        <br>
        <h5><strong>“The Lean Farm” by Ben Hartman Receives Shingo Research and Professional Publication Award</strong></h5>
				<p>Summary: After trained examiners and accomplished business professionals performed a thorough assessment of this work, Ben Hartman has been selected as recipient of an internationally recognized award from the Shingo Institute, part of the Jon M. Huntsman School of Business. The author will receive the award at the 28th International Shingo Conference occurring April 25-29, 2016 in Washington DC.</p>
				<p>LOGAN, Utah — The Shingo Institute, part of the Jon M. Huntsman School of Business at Utah State University, has awarded Ben Hartman with the Shingo Research and Professional Publication Award for his book, “The Lean Farm: How to Minimize Waste, Increase Efficiency, and Maximize Value and Profits with Less Work.” Hartman and his wife, Rachel Hershberger, own and operate Clay Bottom Farm in Goshen, Indiana, where they make their living growing and selling specialty crops on less than an acre.</p>
				<p>"Receipt of the Shingo Research and Professional Publication Award signifies an author's significant contribution to advancing the body of knowledge regarding enterprise excellence,” said Ken Snyder, executive director of the Shingo Institute.</p>
				<p>To many people today, using the words “factory” and “farm” in the same sentence is nothing short of sacrilege. In many cases, though, the same sound business practices apply whether you are producing cars or carrots. Hartman and other young farmers are increasingly finding that incorporating the best new ideas from business into their farming can drastically cut their wastes and increase their profits, making their farms more environmentally and economically sustainable. By explaining the lean system for identifying and eliminating waste and introducing efficiency in every aspect of the farm operation, “The Lean Farm” makes the case that small-scale farming can be an attractive career option for young people who are interested in growing food for their community. Working smarter, not harder, also prevents the kind of burnout that start-up farmers often encounter in the face of long, hard, backbreaking labor.</p>
				<p>Using examples from his own family’s one-acre community-supported farm in Indiana, Hartman clearly instructs other small farmers in how to incorporate lean practices in each step of their production chain, from starting a farm and harvesting crops to training employees and selling goods. While the intended audience for this book is small-scale farmers who are part of the growing local food movement, Hartman’s prescriptions for high-value, low-cost production apply to farms and businesses of almost any size or scale that hope to harness the power of lean in their production processes.</p>
				<p>Jeffrey Liker, author of “The Toyota Way,” says, “Anyone who thinks lean is only for a factory should read this book. Ben Hartman, with simple but eloquent prose and delightful figures and photos, demonstrates how all aspects of lean can apply to farming, a process of growing and selling living things. The mysterious uniqueness of farming under constantly changing conditions became clear as Ben learned to understand his customers and his value streams to increase value and eliminate waste. And lean reinforced, rather then replaced, the strong social values of the Hartman farm.”</p>
				<p>By “challenging” or applying for an award, authors invite a group of accomplished professionals and trained examiners from the Shingo Institute to thoroughly review their publications. Shingo examiners select recipients based on a rigorous set of standards.</p>
				<p>Hartman will receive the award during the Awards Gala of the 28th International Shingo Conference in Washington D.C. The conference is a five-day event featuring a selection of workshops, plant tours, keynote speakers and breakout sessions designed to provide ongoing knowledge, insights and experience for organizations in pursuit of operational excellence.</p>
        <h5><strong>About the Shingo Institute</strong></h5>
        <p>Housed at the Jon M. Huntsman School of Business at Utah State University, the Shingo Institute is named after Japanese industrial engineer <a href="https://shingo.org/about/">Shigeo Shingo</a>. Shingo distinguished himself as one of the world's thought leaders in concepts, management systems and improvement techniques that have become known as the Toyota Business System. Drawing from Shingo's teachings and years of experience working with organizations throughout the world, the Shingo Institute has developed the <em>Shingo Model™</em> which is the basis for several educational offerings including workshops, study tours and conferences. It also awards and recognizes organizations that demonstrate an exceptional culture that continually strives for improvement and progress. Those interested in more information or in registering to attend the 30th International Shingo Conference may visit <a href="https://www.shingo.org">www.shingo.org</a>.</p>
		</div>
</article>
<!-- InstanceEndEditable -->
