<!-- InstanceBeginEditable name="main" -->
<article class="container pr">
	<div class="row">
    	<h3>Building the Fit Organization</h3>
        <h5>January 5, 2016</h5>
        <br>
        <div class="row">
        	<ul class="two_up tiles">
            	<li>
                    <div class="twelve columns">
                        <h5><strong>Author</strong></h5>
                        <h6>Daniel Markovitz</h6><br>
                    </div>
                    <div class="twelve columns">
                        <ul class="two_up tiles">
                            <li>
                                <div class="ten columns hide-for-small">
                                    <a href="https://amzn.to/21Q9td4"><img src="https://res.cloudinary.com/shingo/image/upload/c_fit,h_580/v1452030340/fit-org_nsugfn.jpg"></a>
                                </div>
                            </li>
                            <li>
                                <div class="twelve columns">
                                    <h5><a href="https://amzn.to/21Q9td4">Order Now</a></h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                	<div class="twelve">
                    	<!--<h5><strong>Video</strong></h5>
                        <video class="hide-for-small" width="500" height="281" controls>
                        	<source src="https://res.cloudinary.com/shingo/video/upload/c_fit,h_281,w_500/v1442354021/Video-Lean-Epiphanies_dq15jy.mp4" type="video/mp4"/>
                        </video>
                        <p><a href="https://res.cloudinary.com/shingo/video/upload/v1442354021/Video-Lean-Epiphanies_dq15jy.mp4">Watch Here</a></p>-->
                    </div>
                </li>
            </ul>
        </div>
        <br>
        <h5><strong>“Building the Fit Organization” by Daniel Markovitz Receives Shingo Research and Professional Publication Award</strong></h5>
				<p>Summary: After trained examiners and accomplished business professionals performed a thorough assessment of this work, Daniel Markovitz has been selected as recipient of an internationally recognized award from the Shingo Institute, part of the Jon M. Huntsman School of Business. The author will receive the award at the 28th International Shingo Conference occurring April 25-29, 2016 in Washington DC.</p
				<p>LOGAN, Utah — The Shingo Institute, part of the Jon M. Huntsman School of Business at Utah State University, has awarded Daniel Markovitz with the Shingo Research and Professional Publication Award for his book, “Building the Fit Organization: Six Core Principles for Making Your Company Stronger, Faster, and More Competitive.” As founder and president of Markovitz Consulting, Markovitz helps companies improve profitability and performance one process at a time through the application of lean concepts.</p
				<p>“Receipt of the Shingo Research and Professional Publication Award signifies an author's significant contribution to advancing the body of knowledge regarding enterprise excellence,” said Ken Snyder, executive director of the Shingo Institute.</p
				<p>The corporate landscape is littered with the carcasses of companies that have failed in their pursuit of the Toyota Way. Their efforts fail precisely because they’re trying to copy Toyota. Trying to be like Toyota is a mistake. What leaders need to do instead is learn from Toyota—learn how to convert their competent organizations into dynamic, constantly improving, profoundly customer-focused entities. A “fit” organization has the ability to continually improve in a manner that delivers superior performance and results over the long haul.</p
				<p>“Building the Fit Organization” distills the lessons from the Toyota Production System into six core concepts, and couches them in the easily understandable language of physical fitness and athletic excellence. In this practical, hands-on guide Markovitz walks you step-by-step through the process of making lean as intrinsic to your company as the pursuit of profits. You will learn how to make an unshakeable commitment to increasing the value provided by doing the right work in the right way with continuous monitoring of processes and structured coaching for everyone.</p>
				<p>Sherry Neubert, chief information officer at Goodyear Tire &amp; Rubber Company, says: “Dan Markovitz is a remarkable sensei, and this book reflects his ability to take complex content and make it digestible and actionable. Dan makes us realize that lean is not a mystery that migrated from Japan but skills that anyone can master regardless of their industry or line of work. This book should encourage readers to use lean thinking at work and in their personal life.”</p>
				<p>By “challenging” or applying for an award, authors invite a group of accomplished professionals and trained examiners from the Shingo Institute to thoroughly review their publications. Shingo examiners select recipients based on a rigorous set of standards.</p>
				<p>Markovitz will receive the award during the Awards Gala of the 28th International Shingo Conference in Washington D.C. The conference is a five-day event featuring a selection of workshops, plant tours, keynote speakers and breakout sessions designed to provide ongoing knowledge, insights and experience for organizations in pursuit of operational excellence.</p>
				<h5><strong>About the Shingo Institute</strong></h5>
				<p>Housed at the Jon M. Huntsman School of Business at Utah State University, the Shingo Institute is named after Japanese industrial engineer Shigeo Shingo. Shingo distinguished himself as one of the world’s thought leaders in concepts, management systems and improvement techniques that have become known as the Toyota Business System. Drawing from Shingo’s teachings and years of experience working with organizations throughout the world, the Shingo Institute has developed the <em>Shingo Model™</em> which is the basis for several educational offerings including workshops, study tours, conferences and the Shingo MBA. It also awards and recognizes organizations that demonstrate an exceptional culture that continually strives for improvement and progress. Those interested in more information or in registering to attend the 30th International Shingo Conference may visit <a href="https://shingo.org">www.shingo.org</a>.</p>
		</div>
</article>
<!-- InstanceEndEditable -->
