<div class="main" ng-controller="HomeController as home">
    <div class="container">
        <h2>Events</h2>
        <div class="row">
            <div class="item col-md-4" ng-repeat="event in home.events">
                <a href="#/events/{{$index}}">
                    <h3>{{ event.name }}</h3>
                    <p>at {{ event.location }}</p>
                </a>
            </div>
            <i class="fa fa-plus-circle fa-2x icon" ng-click="home.addEvent()"></i>
        </div>
    </div>
</div>
