<article>
    <div class="content row">
      <div class="large-12 columns">
        <div class="text-center" style="padding-top:1em;">
          <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_300/v1490803205/WebDesign/Logos/Insight_Logo.png" >
        </div>
        <br>
        <div class="row">
          <div class="large-8 columns large-centered">
            <div class="callout secondary">
              <h2>Ideal Behaviors</h2>
              <p>The way people behave when they come to work has a direct impact on the bottom-line of any organization. Successful organizations have systems 
                  that drive their culture ever closer to ideal behavior and ideal results. The desired outcome of aligning behaviors (the culture) with principles 
                  of operational excellence result in continuously improving quality, cost, delivery, customer satisfaction, morale, safety and environment, or in other 
                  words, value for the stakeholder.</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h2>Shingo Insight Assessment</h2>
        <p>The Shingo Institute has been assessing organizational performance for over 30 years and has developed a methodology for determining the degree to which an organization 
            believes the behaviors of its leaders, managers and associates are aligned with the principles of the <em>Shingo Model™</em>. It is a simple methodology, such that 
            any organization can easily evaluate itself on a regular basis to help determine if the changes they are making to their systems are actually changing the culture
             (behavior) and impacting value to the customer (results). Shingo Insight Assessment is an organization’s internal view of its culture, 
             as opposed to a <a href="https://www.shingo.org/awards">third-party assessment</a>.</p>
        <h2>About Shingo Insight Assessment</h2>
        <p>Shingo Insight Assessment is a web-delivered assessment that looks at the entire organization - leaders, managers and associates - and compares their behaviors to the
             <em>Shingo Model</em>. The assessment helps managers improve the consistency of their execution and performance by measuring and addressing specific factors 
             surrounding the ten guiding principles of the <em>Shingo Model</em>. Furthermore...</p>
        <ul class="no-bullets">
          <li>There are four dimensions (Cultural Enablers, Continuous Process Improvement, Enterprise Alignment &amp; Results) to compare against</li>
          <li>Results are reported for the organization as a whole, as well as for each category of Leadership, Support and Operations</li>
          <li>Results are anonymous – individual responses cannot be easily traced back to the participant</li>
          <li>The online assessment can be administered quarterly, semi-annually, annually, bi-annually, or at any appropriate interval to track improvement in capability</li>
          <li>Shingo Insight Assessment is currently available in English, French, Spanish, Slovakian, and Polish. New languages are added upon request.</li>
          <li>Read below for <a href="../insight/faq">Frequently Asked Questions</a>.</li>
        </ul>
        <h2 id="uses">Uses for the Assessment</h2>
        <ul class="no-bullets">
          <li>Implementation/failure gap closure</li>
          <li>Lean organizational health assessment</li>
          <li>Leadership-change baseline</li>
          <li>Maturity milestone on the Lean journey</li>
        </ul>
        <h2 id="receive">What You Receive</h2>
        <ul class="no-bullets">
          <li>Web-delivered standard questionnaire, see demo below</li>
          <li>Standardized questions grouped by the ten guiding principles of the <em>Shingo Model</em> and across three levels: leaders, managers and associates</li>
          <li>Option to work with a Shingo Affiliate to help you understand the findings and learn how to use them to improve your organization (May include an additional fee. Contact us for more information.)</li>
        </ul>
        <p style="text-align: center;"><a href="../insight/privacy">Privacy Policy</a> | <a href="../insight/terms">Terms of Use</a></p>
</article>


