<article class="container row text-center">
	<h2>The Details</h2>
        <p>The assessment is comprised of an approximately 20-minute online survey. The main section of the assessment is based on the principles of the <em>Shingo Model</em>. Each principle has three behavioral benchmarks followed by two to three questions, as in the screenshot below.</p>
        <img class="thumbnail" src="http://res.cloudinary.com/shingo/image/upload/c_crop,g_north,h_800,w_1127/v1449530186/insight/Screen_Shot_2015-12-01_at_4.46.56_PM.png" alt="Insight Screenshot">
        <p>In order to get a meaningful sample, we ask that all leaders and managers in the surveying entity take the assessment.</p>
        <p>The number of associates that will need to take the survey will depend on the size of the organization and the breakdown provided by the organization.</p>
        <p>The assessment report currently has two levels of detail: a high-level executive summary and a question-level analysis. More information and images on the reporting will be released soon.</p>
        <p style="text-align: center;"><a href="../insight/privacy">Privacy Policy</a> | <a href="../insight/terms">Terms of Use</a></p>
</article>