<!-- InstanceBeginEditable name="main" -->
<article class="container row">
    <div class="large-9" style="text-align: center">
		<h2>Pricing</h2>
        <p>$1,000 fee plus $4.50 / head for the sample size (the appropriate sample size will be determined during the application)</p>
    </div>
    <div>
        <div>
            <div>
				<div style="text-align: center">
              	<h2>Final Report</h2>
				<p>Watch the following YouTube webinar to see a demonstration of the final report.</p>
				<iframe width="640" height="360" src="https://www.youtube.com/embed/R1QNiYyTSyQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<p>To talk to the Insight manager at the Shingo Institute about Shingo Insight, click below and leave your contact preferences.</p>
				<div><a class="medium primary btn" style="color:white; width:150px;" href="https://huntsmancrm.tfaforms.net/358976" target="new">Request Contact</a></div>
			  </div>
            </div>
        </div>
    </div>
        <h2 id="faq">Frequently Asked Questions</h2>
        <h5>How long does each survey take?</h5>
        <p>We found that respondents with a higher level of understanding, especially in the concepts of Lean/operational excellence and the <em>Shingo Model</em>, were able to easily finish the assessment in less than 20 minutes. Those who were not well versed in these concepts, with education or language barriers, found the assessment could take as long as 35 minutes to complete.</p>
        <h5>How much time should my organization plan to administer the assessment?</h5>
        <p>Plan to administer the assessment in your organization in a one- to two-week period, depending on the size of your organization.</p>
        <h5>How many of our employees need to be surveyed?</h5>
        <p>You are not required to administer the survey to the whole organization. We are aware of the time commitment and organizational resources this assessment takes. Please try to randomly distribute the survey to your organization in such a way that your sample will represent your organization (see "Scope" below). The closer to the pre-calculated sample size (see Pricing above), the more confidence you can have in the results.</p>   
        <h5>In what language is Shingo Insight Assessment available?</h5>
        <p>Shingo Insight is available in English, French, Spanish, Slovakian, and Polish. If you have a significant non-English speaking population, please consider whether your English segment will be a representative sample for your organization and consider making the assessment available in other employee languages. You don't want your results to be skewed!</p>
        <h5>Who can I contact for more information?</h5>
        <div style="background-color:lightgray;">
          <p style="padding-left:1em;"><strong>Tom Davis</strong>, Shingo Insight Manager</p>
          <p style="padding-left:1em;">435-797-3813</p>
          <p style="padding-left:1em;"><a href="mailto:tom.davis@usu.edu">tom.davis@usu.edu</a></p>
        </div>
        <h3 id="consideration">Further Issues for Consideration</h3>
        <h5>Scope</h5>
        <p>If your organization has multiple sites, we prefer you administer Shingo Insight Assessment in a way that gives you a clear and logical division between the assessed site and the rest of the organization. An example of this would be attempting to administer one assessment to several sites in different countries (overly wide scope).</p>
        <p>In the same manner, avoid surveying subdivisions within a site or facility, e.g., surveying only the operations functions of a facility (overly narrow scope). In either case, the survey will not likely give meaningful insight into the culture of an organization, and again, will risk skewing the data.</p>
        <h5>NDA</h5>
        <p>If you desire to receive a copy of the questions prior to applying for a Shingo Insight assessment, you are required to sign a non-disclosure agreement (NDA). You will be provided with an NDA once you have filled out the <a href="https://huntsmancrm.tfaforms.net/358976">contact request</a>.</p>
        <h5>Privacy</h5>
        <p>Insight Privacy Policy may be read <a href="assets/insight/privacy-policy.html">here</a>.</p>
        <h5>Terms of Use</h5>
        <p>Terms of Use can be viewed <a href="assets/insight/terms.html">here</a>.</p>
      </div>
    </div>
    <p style="text-align: center;"><a href="../insight/privacy">Privacy Policy</a> | <a href="../insight/terms">Terms of Use</a></p>
</article>