  <!-- InstanceBeginEditable name="main" -->
  <article class="container recipient">
  <div class="row text-center">
    <h2>AbbVie Ballytivnan</h2>
      <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,w_400/v1522365115/PrizeRecipients/2018/12-7-Logo.jpg" alt="AbbVie Ballytivnan">
      <h5>Download the press release <a href="https://s3.amazonaws.com/shingo-press-releases/PR-Abbvie.pdf" target="_blank">here</a></h5>
  </div>
  <div class="row">
    <h3>Corporate Overview</h3>
    <p>
      AbbVie is a company that takes on the toughest health challenges. But they do more than treat diseases – they aim to make a remarkable impact on people’s lives. AbbVie is a highly focused research-driven biopharmaceutical company with 22 primary research and manufacturing facilities around the world. Their 29,000 employees are scientists, researchers, manufacturing specialists and regulatory experts located in 170 different markets to treat 30+million patients. They come up with new approaches to addressing today’s health issues – from life-threatening illness to chronic conditions in the following therapeutic areas of focus: Immunology, Oncology, Neuroscience, Virology and General Medicine.
    </p>
    <p>
      <em>“Our 125-year legacy provides AbbVie with a set of deeply held values. These guide our way, driving how we treat our patients and each other and how we design our strategies and operate our business. And they keep us focused on what matters most – our patients and our people.”</em>
      <br>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;- Richard A. Gonzalez, Chairman &amp; CEO
    </p>
    <p>
      AbbVie may have been founded in 2013, but their roots run deep. In 2013, they became a separate company from Abbott, though they share a common legacy and strong prospects for future success. Their name represents their connection to the past and the future. When they became their own company, AbbVie formed a new kind of enterprise –a biopharmaceutical company. They blend the stability, global scale, resources and commercial capabilities of a pharmaceutical company with the focus and culture of a biotech.
    </p>
    <br>
    <h3>AbbVie in Ireland</h3>
    <p>
      AbbVie now has almost 600 employees across Ireland. It is spread across five sites in Ireland. Alongside three manufacturing facilities in Sligo and Cork, two offices in Dublin serve the needs of the company’s Commercial and Operations activities. AbbVie has invested almost $200m in Ireland since its inception in 2013.
    </p>
    <br>
    <h3>AbbVie Ballytivnan</h3>
    <p>
      The Ballytivnan site was founded in 1974 as an Abbott Nutrition facility. In 2012, there was a need for additional drug delivery device manufacturing capacity to support a Third Party Manufacturer - (TPM). The dedication and performance of the AbbVie Ballytivnan team has transformed the business from TPM support to the position of now being AbbVie’s Global Technical Centre of Excellence for drug delivery devices where their dedicated workforce has grown to 180+ employees. Ballytivnan currently produces 7+ million auto injector pens for a very significant company product, which are used to treat a range of auto immune conditions including rheumatoid arthritis, Crohn’s disease, psoriasis and other immune mediated inflammatory conditions. Owing to the continued success of AbbVie Ballytivnan, the site has been selected as the site of choice to manufacture AbbVie’s new drug delivery devices for advanced stage Parkinson’s disease, increasing output to 8+ million devices.
    </p>
    <br>
    <h3>Site Purpose</h3>
    <p>
      AbbVie's vision of ‘ Centre of Excellence in Process Innovation and Precision Manufacturing is inspired by their desire to deliver innovative medicines and make a remarkable impact on patients’ lives. This vision is realised through carefully developed site strategic imperatives which are thoroughly executed under their operational pillars: Operational Excellence, Assurance of Supply, Customer Satisfaction and Organisational Development. Since inception in 2013, the site has carefully and deliberately built a strong culture informed by their core values; AbbVie Ways of Working, which are closely aligned to the Shingo Guiding Principles.
    </p>
    <br>
    <h3>Ideal Behaviours</h3>
    <p>
      AbbVie's ideal behaviours guide every employee every day. These behaviours bring to life The Ways We Work: All for One AbbVie, Decide Smart and Sure, Agile and Accountable, Clear and Courageous and Make Possibilities Real.
    </p>
    <br>
    <h3>Products</h3>
    <p>
      AbbVie Ballytivnan currently produces drug delivery devices, including a auto injector pen that is used by patients around the world who use the company’s treatment indicated for a range of immune-related illnesses including rheumatoid arthritis and Crohn’s disease. The site also manufactures a combination product that is used to administer a treatment for patients with advanced Parkinson’s disease.
    </p>
    <br>
    <h3>Continuous Improvement (CI)</h3>
    <p>
      AbbVie Ballytivnan recognises the value of continuous and deliberate improvement where they focus on building business-wide sustainable systems which are critical to long-term success. Since inception in 2013, CI has been core to their culture. Over time, they developed a compelling, balanced scorecard (Perfect Index) and implemented a number of programmes, initiatives and lean tools to strengthen focus on continuous improvement at all levels in their organisation. In 2014, they selected the Shingo Model as a framework to take the site to the next level in terms of culture, performance and engagement. A focus on daily management including team huddle, tier meeting process, leader standard work, problem-solving and visual management has driven continuous improvement central to their impressive success in the AbbVie network. They practise daily root cause analysis to close performance gaps using 3C (concern, cause, countermeasure) and A3 problem-solving methodologies. They engage in regular Kaizen events and execute lean six sigma projects where all employees are equipped with basic problem-solving skills, enabling the site to consistently deliver superior business results.
    </p>
    <br>
    <h3>Customer Focus</h3>
    <p>
      AbbVie strives to make a remarkable impact on patients’ lives by using their expertise, dedicated people and unique approach to innovation to develop and market advanced therapies that address some of the world's most complex and serious diseases. They proactively engage with customers to develop a deeper understanding of patient needs. The result is something rare in healthcare today – a company that has the ability to discover and reach all corners of the globe with treatment options that improve patients’ and people’s lives.
    </p>
    <br>
    <h3>People And Environment</h3>
    <p>
      AbbVie recognises the worth and potential of every individual, whether they are an employee, a customer, a supplier, shareholder or a member of the community in which they are located. They provide a safe workplace for every individual and protect the environment. They are OHSAS 18001 Occupational Health and Safety Management certified and to the AbbVie Global Technical Standards. They were recently awarded by the National Irish Safety Organisation (NISO) a Distinction Award. AbbVie Ballytivnan is a zero waste to landfill site and is certified in the Environmental Management System ISO 14001 Standard. In the last two years, they have reduced energy consumption by 13% and are certified to ISO 50001 Energy Management System Standard. They recognise that people are their greatest asset and the recruitment process ensures they consistently ‘hire to higher standard’. They continuously develop employees through a talent management programme with individual development plans to challenge, upskill and enable employees to grow with AbbVie Ballytivnan.
    </p>
    <br>
    <h3>Community</h3>
    <p>
      AbbVie's remarkable impact is not limited to customers. They pledge to be a responsible corporate citizen, mindful of their responsibilities to the people, communities and environment. The AbbVie ‘Week of Possibilities’ initiative is the company’s signature annual volunteering and community support programme. In 2017, it involved 7,600 AbbVie employees around the world volunteering more than 35,000 combined hours across 50 countries to benefit underserved populations in the communities where they live and work. Locally, AbbVie joined forces with the national development agency Volunteer Ireland to implement Week of Possibilities projects in three communities, in Cork, Sligo and Dublin. AbbVie’s Week of Possibilities volunteer initiative was awarded Best Corporate Social Responsibility Programme 2016 at the Pharma Industry Awards.
    </p>
    <br>
    <h3>Other Certifications and Awards:</h3>
    <ul class="square">
      <li>ISO 55001: Asset Management – Management Systems Standard</li>
      <li>ISO 13485: Medical Devices Quality Management Systems Standard</li>
      <li>Number 1 Great Place To Work ® (GPTW) in Ireland 2018: The GPTW Institute is a global research, consulting and training firm that helps organisations identify, create and sustain great workplaces through the development of high-trust workplace cultures</li>
      <li>AbbVie recently achieved the #1 position in the Biotech sector of the Dow Jones Sustainability Index (DJSI)</li>
    </ul>
  </div>
  <br>

  
  <div class="row">
    <section class="vertical tabs gallery row">
          <ul class="tab-nav three columns two_up tiles">
             
          </ul>
      </section>
  </div>
  </article>
  <!-- InstanceEndEditable -->
