  <!-- InstanceBeginEditable name="main" -->
  <article class="container recipient">
  <div class="row text-center">
    <h2>Ball Beverage Packaging Europe, Naro Fominsk Cans</h2>
      <img src="http://res.cloudinary.com/shingo/image/upload/v1491325208/PrizeRecipients/2017/Ball/Ball-Logo-2017.png" alt="Ball Beverage Cans">
      <h5>Download the press release <a href="https://s3.amazonaws.com/shingo-press-releases/PR-Ball+Bev+Naro-Fo.pdf" target="_blank">here</a></h5>
  </div>
  <div class="row">
    <h3>Overview</h3>
    <p>
      Our plant is unique in terms of the flexibility and range of products we manufacture. We currently produce these can sizes: 23.7cl, 25cl (Slim), 33cl, 45cl (Super Sleek), 50cl, 75cl, 90cl and 100cl (King Size). In 2017 we have plans to begin production of new can sizes, 15cl &amp; 20cl and master the technology of manufacturing <em>Retort Cans</em>.
    </p>
    <ul class="square">
      <li>Line 1 produces 33cl and 50cl cans.</li>
      <li>Line 2 produces 45cl and 50cl.</li>
      <li>Line 3 produces 23.7cl, 25cl, 33cl and 50cl cans.</li>
      <li>Line 4 produces 75cl, 90cl and 100cl cans.</li>
    </ul>
    <p>
      In addition to a vast range of can sizes, we can produce each size with a variety of external coatings: Gloss, Matt and Tactile; Thermo &amp; DPG Inks and Internal coating for Beer, Soda and Cider.
    </p>
    <br>
    <h3>Continuous Improvement</h3>
    <p>
      Ball Beverage Packaging Europe, Naro-Fominsk Cans believes Continuous Improvement is the keystone to build towards perfection in all business operations they perform in their company. At the start of their journey in 2000, they started with lean tools: 5S, VSM, TPM, SMED and Six Sigma.  Annual Lean Audits were introduced to understand where they were and to define gaps.
    </p>
    <p>
      On the way to Perfection, Ball Beverage sees Engagement as a vital tool for improving and sustaining the gains. That is why they spread the culture of identifying improvement opportunities on a daily basis. They share with their employees their strategic view, help them with resource, give them freedom in decision making and get their feedback on the way to improve the factory and achieve the vision of being the best in all of their processes and operations across the entire business.
    </p>
    <p>
      Ball Beverage captures all Good Ideas from their people. All kinds of Kaizen activities that they perform on site help to focus people on the question: “how to make it better than yesterday?”
    </p>
    <p>
      Since 2016, they have been implementing a Zero Loss Program as a common approach & toolkit on the way to cultural changes. There is a strong connecting link between the SHINGO principles and their real world demonstrating by a simple formula: SHINGO is about WHY, and ZERO LOSS is about HOW to achieve performance. 
    </p>
    <br>
    <h3>Naro-Fominsk Plant’s Remarkable Achievements</h3>
    <ul class="square">
      <li>HFI cut from 0.34% down to 0.18% from 2012 to 2016.</li>
      <li>Line Spoilage cut from 3.45% down to 3.15% from 2012 to 2016.</li>
      <li>The range of can sizes increased from 2 to 8 since 2006. Two new can sizes planned to be introduced in 2017.</li>
      <li>Power usage cut from 25 down to 23.5kWh/1000 cans since 2012 despite the increased amount of equipment at the plant.</li>
      <li>500 days without Lost Time Incident.</li>
      <li>The plant is a benchmark in terms of efficiency, spoilage and utility for plants producing multiple can sizes.</li>
      <li>Over the past 5 years, employees provided off-site support to 6 plants in the Sector in resolving production issues, converting lines to new can sizes and converting sites from steel to aluminum.</li>
    </ul>
    <br>
    <h3>Safety and Environment</h3>
    <p>
      Ball and Naro-Fominsk are committed to the health, safety and well-being of their employees, providing safe and healthy workplaces.
    </p>
    <ul class="square">
      <li>Behaviour Based Safety (BBS) Program is in its fourth year and is benchmarked across Ball </li>
      <li>The ‘Near Miss’ safety program is running for five years</li>
      <li>Safety at Home program for Ball employees and their families</li>
      <li>Carbon Footprint: dramatic reduction by 95% of process emissions in 2017 following construction and startup of Regenerative Thermal Oxidizer (RTO).</li>
    </ul>
    <p>
      Ball Beverage’s sustainability focus requires that they proactively work toward the goal of zero accidents.
    </p>
    <br>
    <h3>Quality</h3>
    <p>Naro-Fominsk plant is certified under:</p>
    <ul class="square">
      <li>Integrated Management System (IMS ISO 9001:2008, ISO 14001:2004, OHSAS 18001:2007) - since 2011</li>
      <li>British Retail Consortium (BRC/IOP Global Standard for Packaging &amp; Packaging Materials) - since 2011</li>
      <li>SMETA Audit - since 2011</li>
    </ul>
    <br>
    <h3>Customer Approvals</h3>
    <ul class="square">
      <li>Coca Cola</li>
      <li>PepsiCo</li>
      <li>Heineken</li>
      <li>Carlsberg</li>
      <li>Oettinger</li>
      <li>Saku</li>
      <li>Monster Energy</li>
    </ul>
    <p>Cans exported to:</p>
    <ul class="square">
      <li>Estonia</li>
      <li>Finland</li>
      <li>Germany</li>
      <li>Denmark</li>
      <li>Spain</li>
      <li>Sweden</li>
      <li>Poland</li>
      <li>Turkey</li>
      <li>Kazakhstan</li>
    </ul>
    <br>
    <h3>People</h3>
    <p>
      The average length of service at the plant is around 9 years, and the plant has been a benchmark for many years for neighboring manufacturing companies in terms of their low turnover rate. 
    </p>
    <p>
      Every 18 months the company runs a global engagement survey. Twice consecutively, Naro-Fominsk provided higher than 90% engagement index, which means almost every employee participated in the survey aiming to express their opinion about work conditions, management style and main issues.
    </p>
    <br>
    <h3>Employee Morale</h3>
    <ul class="square">
      <li>Charity and environmental activities are deeply rooted into everyday activities.</li>
      <li>Employees visit and help an orphanage in Naro-Fominsk on a regular basis, providing all necessary items for learning and sporting activities and present New Year gifts.</li>
      <li>A housekeeping event called Green Plant - Green World (since this year - Green Ball - Green World) is traditionally conducted. Family Day, another big annual event for employees and their family members, are focused on ecological, environmental and safety aspects.</li>
    </ul>
    <br>
    <h3>Production Cost Reduction</h3>
    <p>Metal Downgauging across all can sizes:</p>
    <img src="https://res.cloudinary.com/shingo/image/upload/v1522858920/WebDesign/Recipients/Ball%20Bev%20Cans/Screenshot_from_2018-04-04_10-20-16.png">
    <p>Can weight reduction, %:</p>
    <img src="https://res.cloudinary.com/shingo/image/upload/v1522859197/WebDesign/Recipients/Ball%20Bev%20Cans/Screenshot_from_2018-04-04_10-26-14.png">
    <p>Lean savings: 115 million Roubles over 5 years.</p>
    <br>
    <p>For more information contact:</p>
    <strong>Ray Howcroft</strong><br>
    <strong>Lean Six Sigma Manager</strong><br>
    Direct Line +44 (0) 1924 834017 <br>
    Mobile +44 (0)7766 160993 <br>
    email: Ray.Howcroft@ball.com <br>
  </div>
  <br>
  <div class="row">
    <section class="vertical tabs gallery row">
          <ul class="tab-nav three columns two_up tiles">
             
          </ul>
      </section>
  </div>
  </article>
  <!-- InstanceEndEditable -->

