<!-- InstanceBeginEditable name="main" -->
<article class="container recipient">
<div class="row text-center">
    <h2>Abbott’s Diagnostics Manufacturing Site in Longford, Ireland</h2>
      <p class="text-centr">
      <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_100/v1454702837/pr/abbott-logo.jpg" alt="Abbott">
      </p>
      <h5>Read the press release <a href="../pr/pr_abbott_prize.html">here.</a></h5>
      <br>
  </div>
  <div class="row">
          <h4>Company Overview</h4>
            <p>At Abbott (NYSE: ABT), we're committed to helping you live your best possible life through the power of health. For more than 125 years, we've brought new products and technologies to the world -- in nutrition, diagnostics, medical devices and branded generic pharmaceuticals -- that create more possibilities for more people at all stages of life. Today, 73,000 of us are working to help people live not just longer, but better, in the more than 150 countries we serve.</p>
            <p>Connect with us at <a href="https://www.abbott.com">www.abbott.com</a>, on Facebook at <a href="www.facebook.com/Abbott">www.facebook.com/Abbott</a> and on Twitter @AbbottNews and @AbbottGlobal.</p>
          <h5>Abbott Diagnostics Longford</h5>
            <p>Abbott Longford’s manufacturing facility was established in 2004 on a 20-acre green-field site on the outskirts of the town. The 135,000-square feet building was specifically designed to allow the most efficient flow of product through the value stream from raw material receipt to finish goods shipment. Manufacturing commenced in March 2005 and the first product was shipped in December 2005. There are over 300 employees on site, designing, developing and manufacturing in-vitro diagnostic products. </p>
          <h5>Products</h5>
            <p>Abbott Diagnostics Longford manufactures diagnostic tests, also known as reagents, for distribution across the globe to hospitals and laboratories. The product portfolio includes reagents for the detection of thyroid, fertility/pregnancy, cardiology, renal and metabolic markers. Our products are manufactured to the highest standards of quality and are regulated by bodies such as, the U.S. Food &amp; Drug Administration and the International Organization for Standardization (ISO). Our quality policy is “<em>To improve healthcare by providing high quality, safe and effective diagnostic products.</em>”</p>
          <h5>Site Vision, Strategy and Behaviours</h5>
            <p>Our vision of “<em>World Class Performance in Everything We Do</em>” has inspired a site strategy which is based on value propositions of customer loyalty and operational excellence. Our strategy is communicated throughout our organisation using our site &amp; departmental strategy map/balanced scorecards.</p>
            <p>Our culture of continuous improvement is supported by our Behavioural Standards which were developed by our employees and are underpinned by the guiding principle of “<em>Treat others as you would like to be treated.</em>” These are intrinsically linked to our core employee competencies of Build, Innovate, Anticipate, Set Vision &amp; Strategy and Deliver Results.</p>
            <p>Furthermore, specific Longford leader behaviours have been developed to support each core competency. These behaviours and strategic goals are formally assessed, with constructive feedback given to employees, through our talent management system and performance management process.</p>
          <h5>Continuous Improvement</h5>
            <p>Our lean management system and formal management walks sustain our continuous improvement culture and incorporate the key elements of leader standard work, visual management, discipline and accountability.</p>
            <p>We practise daily root cause analysis to close the gap between expected and actual performance. Value stream mapping, gemba walks, daily kaizen, continuous improvement huddles and waste identification processes provide inputs for cost &amp; quality improvements which are managed through our product portfolio management process. Through the latter process >$22 million cost improvements have been implemented and sustained. Since 2006, the site has seen a 576% growth in test volume and reduced cost per test by 60%.</p>
            <p>We engage in regular kaizen events and execute lean six sigma projects. Our quality system corrective action/preventative action process is based on the DMAIC methodology and all our investigators are trained in structured problem solving. Since 2007, we reduced our non-conformance rate by 77%.</p>
            <p>We have completed a formal lead time reduction program, “<em>Accelerate</em>,” which led to a 38% manufacturing lead time reduction and decreased inventory holding by 10%. The program had greater than 100 active participants from across all site functions. Furthermore, we have improved our planning and Control (P&amp;C) processes through the introduction of Class A P&amp;C. The site has invested significantly in automation to improve product quality, productivity and to better utilise our highly skilled employees.</p>
          <h5>Customers</h5>
            <p>We support new product introduction, customer focused product improvements and provide specialised customer support. Through proactive customer engagement, we seek to understand and deliver what the customer wants. We interact and support our customers in their own laboratories and the site has hosted multiple customer visits and forums.</p>
          <h5>People &amp; Environment</h5>
            <p>The health and safety of our employees and the protection of the environment is paramount. We won the Abbott Global Environment Health &amp; Safety and Energy Plant of the Year Award in 2009, 2011, 2013 and 2014 and we were he runner–up in 2007, 2008 and 2010.</p>
            <p>We are a zero landfill site and are certified in Environmental Management System ISO 14001 and Occupational Health and Safety Management Series 18001. We currently have 3,454 (Jan 16) lost time accident free days. We have had a 23% decrease in energy usage in the last four years while increasing production output by 68%.</p>
            <p>Our corporate social responsibility initiatives have won multiple local and national awards with employees volunteering >2,000 hours per annum. We have several employee focused strategic initiatives, which include communication forums, a Live Life Well &amp; Work Life Balance Programme and employee-centric reward &amp; recognition systems.</p>
            <p>We encourage employee career development through growth planning, internal education and skills development programmes, cross-training and job rotations.</p>
          <h4>Contact</h4>
            <p><strong>Seán Kelly</strong>, Business Excellence Manager, Abbott Diagnostics &nbsp; | &nbsp; Tel: +353 43 3331090 &nbsp; | &nbsp; Email: <a href="mailto:sean.s.kelly@abbott.com">sean.s.kelly@abbott.com</a></p>
  </div>
  <br>
  <div class="row">
    <p class="text-center"><iframe width="560" height="315" src="https://www.youtube.com/embed/kQqjZ5uYKkQ?showinfo=0" frameborder="0" allowfullscreen></iframe></p>
  </div>
</article>
<!-- InstanceEndEditable -->
