<article class="container recipient">
    <div class="row text-center">
        <h2>Thermo Fisher Scientific</h2>
        <h3>Vilnius, Lithuania</h3>
        <br>
        <br>      
        <p class="text-centr">
            <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,w_1953/v1504119931/Logo_aebmel.jpg"
                style="width: 500px;"
                alt="ThermoFisher">
        </p>
        <br>
        <br>
        <h5>Read the press release <a href="prize-thermo-fisher-pr">here.</a></h5>
        <br>
    </div>
    <div class="row">
        <h4>
            <strong>Corporate Overview</strong>
        </h4>
        <p>
            Thermo Fisher Scientific Inc. is the world leader in serving science, with revenues of $18 billion and approximately 55,000 employees globally. Thermo Fisher Scientific’s mission is to enable customers to make the world healthier, cleaner and safer. They help customers accelerate life sciences research, solve complex analytical challenges, improve patient diagnostics and increase laboratory productivity. Through premier brands – Thermo Scientific, Applied Biosystems, Invitrogen, Fisher Scientific and Unity Lab Services – Thermo Fisher Scientific offers an unmatched combination of innovative technologies, purchasing convenience and comprehensive support.
        </p>
        <h4>
            <strong>Vilnius Site Overview</strong>
        </h4>
        <p>
            Thermo Fisher Scientific’s Vilnius site has world-class capabilities in manufacturing products for the life science research market, specifically in molecular, protein and cell biology, with an outstanding research and development (R&D) center, focused on the development of new products in all aspects of molecular, protein and cell biology. The facility employs over 700 people in a variety of roles including 100 researchers, making the Vilnius site one of the largest private R&D centers in the whole region.
        </p>
        <p>
            Thermo Fisher Scientific’s products are broadly used worldwide to study gene structure, expression and genetic variation, and to create new diagnostics methods for congenital, hereditary and infectious diseases. All products are manufactured with constant focus on quality and lead times in six value streams using the flow approach. Clean room facilities from ISO 5 to ISO 8 (in total 20 k sq. ft.) help to ensure high quality and lot-to-lot consistency of products. The business is constantly growing: the number of employees increased from 420 in 2013 to 700 in 2017, and 220 k sq. ft. in three buildings.
        </p>
        <h4>
            <strong>Mission, Strategy and Behavior</strong>
        </h4>
        <p>
            The mission is supported by the site strategy statement: “All products in 24 hours with zero waste.” It is visible throughout the site for all employees and everybody is working to achieve it. The everyday motto for all employees is: Job = Daily Work + Kaizens.
        </p>
        <p>
            An educated employee community (>80% with university degree, 8% with PhD) shows commitment to learning and continuous improvement and understands how critical the link is between the company strategic goals and employee personal objectives. With that in mind, the site developed a unique process for strategy deployment (based on X-Matrix and strategic A3 tools). According to employee survey results, 98% of all employees understand the site’s strategic goals and know how they contribute to achieve these goals by their daily work.
        </p>
        <h4>
            <strong>Continuous Improvement Process</strong>
        </h4>
        <p>
            The foundation for the site achievements for the last three years is the scientific PDSA (Plan-Do-Study-Act) approach used on a daily basis via kaizen, just do it, or PPI (Practical Process Improvement – structured continuous process improvement business system) classic projects. The site has implemented more than 1500 kaizens during the last three years. The PPI Business System includes both the 8-step methodology based on PDSA scientific method and all Lean management and manufacturing tools.
        </p>
        <h4>
            <strong>Quality Management Systems</strong>
        </h4>
        <p>
            <ul class="square">
                <li>ISO 9001:2008 Quality Management System in 1996, last recertification in 2016.</li>
                <li>ISO 13485:2003 Quality Management System for medical devices in 2010, last recertification in 2016.</li>
                <li>ISO 14001:2004 Environmental management system in 2003, last recertification in 2015.</li>
                <li>OHSAS 18001 Employees Health and Safety Management System in 2015.</li>
                <li>US Code of Federal Regulations (21CFR part 820) registered in 2016.</li>
            </ul>
        </p>
        <h4>
            <strong>Customer and Quality</strong>
        </h4>
        <p>
            <ul class="square">
                <li>World Class Customer Allegiance Score (CAS) is > 70 starting from 2013.</li>
                <li>World Class Line Items Fill Rate (LIFR) is > 99%, on-time delivery is > 98%, a result of joint kaizens with suppliers, carriers and distribution centers.</li>
                <li>Number of customer complaints was reduced by 33% from 2013 to 2016. Each customer complaint is analyzed using RCA (Root Cause Analysis). >90% of all processes are standardized, therefore each abnormal condition or non-conformity is obvious.</li>
                <li>Orders for catalog products are fulfilled in 24 hours from order received. The site is one of the most advanced organizations in the Life Science industry when measured by the lead times with constant focus on manufacturing lead times reduction through flow and innovative technologies implementation.</li>
                <li>Sales, marketing, R&D, quality employees visit customers on a regular basis. Days of Science are held annually to strengthen relationships with the customers.</li>
                <li>Internal Customer Week: an event is held each year in order to define the internal customers within the site and to set commitments between departments and groups for the next year.</li>
            </ul>
        </p>
        <h4>
            <strong>Safety & Environmental</strong>
        </h4>
        <p>
            <ul class="square">
                <li>Over 1000 safety days currently. Reporting about health, environmental and security near misses, hazardous identifications is performed on a daily basis during stand-up meetings. Monthly awards for the best hazardous identifications are given for employees.</li>
                <li>Annual safety and first aid training are organized for employees.</li>
                <li>Safety gemba walks performed by all managers on a daily basis.</li>
                <li>The Greenest Enterprise of the Year in 2014 by the leading national business newspaper.</li>
            </ul>
        </p>
        <h4>
            <strong>Employees</strong>
        </h4>
        <p>
            <ul class="square">
                <li>Employees Involvement Index with 81% in 2016, engaged, informed and empowered employees contribute to customers’ product experience and satisfaction.</li>
                <li>The Highest Reputation Index in Lithuania according to the National Business Reputation Survey in 2017 and 2016. According to the National Business Reputation Survey 2017, Thermo Fisher has the highest reputation index in Lithuania for the second year in a row. Moreover, the Reputation Index has increased from 74 to 81.</li>
                <li>According to employee survey results 98% of all employees understand the site’s strategic goals.</li>
                <li>90% of all employees are trained on the 8-step method (PDSA) and Lean tools; training on the error prevention system was also delivered to 90% of all employees in 2016.</li>
                <li>>90% of all employees are involved in PPI activities each quarter.</li>
                <li>90% of managers do gemba walks, the number of ideas increased from 240 in 2013 to 5002 in 2015.</li>
                <li>Woman Employee Resource Group (WERG) is focused on career development and social initiatives and is open for all employees independent of their demographic characteristics.</li>
                <li>Each year over 50% of employees volunteer in Corporate Social Responsibility (CSR) activities.</li>
            </ul>
        </p>
        <h4>
            <strong>Outstanding Reputation in the Region</strong>
        </h4>
        <p>
            <ul class="square">
                <li>The highest reputation index in Lithuania according to the Reputation Study 2017 and 2016.</li>
                <li>Investor of the Year by the leading business daily in 2016.</li>
                <li>Algimantas Markauskas (General Manager) honored as CEO of the Year in 2015 and 2013.</li>
                <li>The Most Responsible Enterprise of the Year in 2015 by the Investors’ Forum.</li>
                <li>Employer of the Year in Lithuania in 2014 and 2012 by the Ministry of Social Security and Labor.</li>
                <li>Award of Socially Responsible Business in 2013 by Ministry of Social Security and Labor.</li>
                <li>The Most Innovative US company in Lithuania in 2013 by the American Chamber of Commerce.</li>
                <li>Social Innovator of the Year in 2013 by the Ministry of Economy.</li>
            </ul>
        </p>
        <h4>
            <strong>Collaboration with Universities</strong>
        </h4>
        <p>
            <ul class="square">
                <li>Internship program: >40 scholarships for the students to do final BSc/MSc thesis research in R&D and manufacturing.</li>
                <li>Participation in development of study programs.</li>
                <li>Lectures at universities: 9 employees as part-timers.</li>
                <li>Delivering lectures on Lean for MSc students.</li>
                <li>Mobile Bioclass, the first country traveling biosciences lab:
                    <ul class="square">
                        <li>Promoting bioscience studies among high school students.</li>
                        <li>>200 high schools visited in 90 cities and towns.</li>
                    </ul>
                </li>
            </ul>
        </p>
        <p align="right">
            <strong>For more information contact:</strong>
        </p>
        <p align="right">
            Alina Stura
        </p>
        <p align="right">
            Senior Business Excellence Specialist
        </p>
        <p align="right">
            Thermo Fisher Scientific’s Vilnius site
        </p>
        <p align="right">
            Phone +370 5250 7913
        </p>
        <p align="right">
            Email: <a href="mailto:alina.stura@thermofisher.com">alina.stura@thermofisher.com</a>
        </p>

        <br> 
    </div>
    <div style="text-align: center">
        <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,w_900/v1504120362/ThermoFisherShingoVisit_horgcz.jpg">
    </div>

</article>