  <!-- InstanceBeginEditable name="main" -->
  <article class="container recipient">
  <div class="row text-center">
    <h2>Abbott Nutrition Supply Chain Facility</h2>
      <img src="https://res.cloudinary.com/shingo/image/upload/v1511362946/PrizeRecipients/2018/Abbott_Horz_Logo.jpg" alt="Abbott Nutrition">
      <h5>Download the press release <a href="https://s3.amazonaws.com/shingo-press-releases/PR-Abbott+Nutrition+Supply+Chain+Ireland.docx" target="_blank">here</a></h5>
  </div>
  <div class="row">
    <h4>Overview</h4>
      <p>Abbott is committed to helping people live their best possible life through the power of health.  For more than 125 years, Abbott has brought products and technologies to the world -- in nutrition, diagnostics, medical devices and branded generic pharmaceuticals -- that create more possibilities for more people at all stages of life.  Today, 94,000 associates are working to help people live not just longer, but better, in the more than 150 countries they serve.</p>
      <h4>Abbott's Nutrition Supply Chain Facility in Sligo, Ireland</h4>
      <p>The facility in Sligo was established in 1974.  The site has approximately 100 employees and is the Center of Excellence for Enteral Pumps and devices for Abbott's nutrition business.  Employees work across operations, supply chain, quality, EHS, HR, engineering and finance, all with one mission: "To provide market-leading, quality, innovative, cost-effective products and services through a high-performing workforce and word class execution."</p>
      <h4>Products</h4>
      <p>Abbott's nutrition business manufactures enteral feeding sets for the delivery of liquid nutrition.  The product portfolio includes the FreeGo pump and feeding sets and Gravity feeding sets along with their accessories, which allow patients to be portable during feeding.  Operations include molding, extrusion, assembly and packaging.  Products are manufactured to the highest standards of quality and are regulated by the International Organization for Standardization (ISO) and EU Medical Device Directives.</p>
      <h4>Site Vision, Strategy and Behaviors</h4>
      <p>The site’s vision to “Deliver Device Excellence” is reinforced throughout the site through posters and other visual aids. In addition, Abbott’s nutrition supply chain functions are guided by an employee initiative called “The Pledge.” It is a set of behavior-guiding principles that influence employees’ day-to-day lives and have been key cultural enablers of Abbott's operational excellence journey for multiple years. The Pledge elements relate to fundamental behaviors that are important in a large, global supply chain organization, like demonstrating leadership skills, being accountable for work and driving improvement every day. This all leads to a culture which creates a world class quality supply chain.</p>
      <h4>Key Achievements</h4>
      <br>
      <h4>Talent</h4>
      <p>The quality of Abbott's medical devices is regulated by the National Standards Authority of Ireland (NSAI) to ISO 13485.  Abbott's Batch Right First Time rate has exceeded 99 percent since 2014. The number of Non-Conformity (CAPA) reports generated has been reduced by 85 percent since 2013. The quality of the nonconformity report is measured using the Rubric tool to ensure identification of true root cause and implement corrective actions.</p>
      <p>The Environment, Health and Safety (EHS) program is paramount.  Abbott has achieved and maintained International Organization for Standardization (ISO) 14001 & Occupational Health and Safety Assessment Series (OHSAS) 18001 accreditation.  Abbott is a Zero-Waste to Landfill certified site since 2013.  The Behavior Based Safety (BBS) program encourages the engagement of every employee to make the site a safe environment every day, through the completion of monthly safety observations.</p>
      <p>Abbott’s employee recognition program has evolved over the last three years. Awards are available for all employees, and being recognized has created a deep sense of pride and accomplishment for employees.</p>
      <p>The volunteering program, “Croí an Ōir,” is very active, with more than 1,500 hours volunteered in the last three years. The program ensures a reach that extends beyond the customers served to touch the local community and benefit those in need.</p>
      <p>Career development also is an integral part of Abbott’s succession planning, so employee goals, performance and development are closely tracked. In the last three years, there has been a significant increase in the number of employees who have received development moves.</p>
      <p>Abbott has cultivated a strong compliance culture, which is exemplified by the fact that 100 percent of all employee training has been completed on time.</p>
      <h4>Innovation</h4>
      <p>Abbott has increased the capacity of the plant by 62 percent through automation and process improvements without an increase in headcount. Strong in-house engineering skills, capability, design and innovation optimizes equipment operations, efficiencies and project costs. A cross-functional team has delivered cycle time reduction of 57 percent since 2013.</p>
      <p>A Management Operating System (MOS) was introduced in 2014 and has continuously evolved. Tiered meetings reinforce the Pledge behaviors and ensure the right people receive the right information at the right time. Standard work, visual management and accountability are the foundations of the MOS to focus on doing the best to win.</p>
      <h4>Execution</h4>
      <p>There is a focus each day to ensure customers receive quality product on time, which is measured through Manufacturing Schedule Performance. The Sligo site works closely with local and worldwide suppliers to ensure high quality raw materials are obtained. Since 2013, Abbott achieved a Supplier Delivery Performance (SDP) rate of more than 96 percent.</p>
      <p>Through process improvements Abbott has achieved an Overall Equipment Effectiveness (OEE) increase on the main production line, FreeGo 1, in a four-year period, taking the company to best-in class-figures for the industry. The Flexitainer line has also increased significantly in the same time frame, reaching best-in-class OEE levels. Year-over-year Abbot has achieved OEE glidepaths for all manufacturing lines. The Monthly Business Review (MBR) meeting analyzes and trends KPIs, provides visibility to how the company is performing as a business, and challenges Abbott to continuously improve and strive for excellence.</p>
      <h4>Contact</h4>
      <p>For more information visit <a href="https://www.abbott.com" target="_blank">www.abbott.com</a> or contact Michelle Faughnan, Strategic Program Manager at michelle.faughnan@abbott.com.</p>
  </div>
  <br>
  <div class="row">
    <section class="vertical tabs gallery row">
          <ul class="tab-nav three columns two_up tiles">
              <li class="active"><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1511362947/PrizeRecipients/2018/Group_abbott.jpg"></a></li>
              <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1511362946/PrizeRecipients/2018/DBTH_Updated.jpg"></a></li>
              <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1511362946/PrizeRecipients/2018/Hi_Speed.jpg"></a></li>
              <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/a_90,c_thumb,h_80,w_80/v1511362946/PrizeRecipients/2018/RealTalk_Development.jpg"></a></li>
              <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1511362946/PrizeRecipients/2018/Tier_1_Meeting_Updated.jpg"></a></li>
              <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1511362946/PrizeRecipients/2018/Visual_Management_DBTH_Updated.jpg"></a></li>
          </ul>
          <div class="tab-content active nine columns">
              <img src="https://res.cloudinary.com/shingo/image/upload/h_350,w_480/v1511362947/PrizeRecipients/2018/Group_abbott.jpg">
          </div>
          <div class="tab-content nine columns">
              <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1511362946/PrizeRecipients/2018/DBTH_Updated.jpg" alt="Abbott Vascular Employees">
          </div>
          <div class="tab-content nine columns">
              <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1511362946/PrizeRecipients/2018/Hi_Speed.jpg" alt="Abbott Vascular Employees">
          </div>
          <div class="tab-content nine columns">
              <img src="https://res.cloudinary.com/shingo/image/upload/a_90,c_fill,h_350,w_600/v1511362946/PrizeRecipients/2018/RealTalk_Development.jpg" alt="Abbott Vascular Employees">
          </div>
          <div class="tab-content nine columns">
              <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1511362946/PrizeRecipients/2018/Tier_1_Meeting_Updated.jpg" alt="Abbott Vascular Employees">
          </div>
          <div class="tab-content nine columns">
              <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1511362946/PrizeRecipients/2018/Visual_Management_DBTH_Updated.jpg" alt="Abbott Vascular Employees">
          </div>
      </section>
  </div>
  </article>
  <!-- InstanceEndEditable -->
