<article class="container recipient">
    <div class="row text-center">
        <h2>Thermo Fisher Scientific</h2>
        <br>  
        <br>      
        <p class="text-centr">
            <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,w_1953/v1504119931/Logo_aebmel.jpg"
                style="width: 500px;"
                alt="ThermoFisher">
        </p>
        <br>
        <br>
    </div>
    <div class="row">
        <p>
            <strong>
                Shingo Prize Awarded to Thermo Fisher Scientific Facility in Lithuania for Operational Excellence
            </strong>
        </p>
        <p>
            <strong>
        <em>
            Summary: After trained examiners and accomplished business professionals performed a thorough assessment of its facility, the Vilnius, Lithuania facility for Thermo Fisher has been awarded the internationally recognized Shingo Prize from the Shingo Institute, a program in the Jon M. Huntsman School of Business.
        </em>
        </p>
        <p>
            LOGAN, Utah – <a href="http://www.shingoprize.org">The Shingo Institute</a>, a program in the
            <a href="http://www.huntsman.usu.edu">
        Jon M. Huntsman School of Business
    </a> at <a href="http://www.usu.edu">Utah State University</a>, has awarded Thermo Fisher Scientific’s facility in Vilnius, Lithuania, with the Shingo Prize. It is the first organization in the central and eastern part of the European Union to receive Shingo recognition.
        </p>
        <p>
            “Receipt of the Shingo Prize is a worldwide recognized symbol of an organization's successful establishment of a culture anchored on principles of enterprise excellence–principles such as respect for every individual, leading with humility, quality at the source, the quest for perfection, creating value for the customer, etc.,” said Ken Snyder, executive director at the Shingo Institute. “Ultimately, these recipients are in a class of the best organizations in the world, regardless of industry or country.”
        </p>
        <p>
            Thermo Fisher’s Vilnius site has world-class capabilities in manufacturing products for the life science research market, specifically in molecular, protein and cell biology. It features an outstanding research and development center that is focused on new product development in all aspects of molecular, protein and cell biology. The products manufactured in Vilnius are used worldwide to study gene structure, expression and genetic variation and to create new diagnostics methods for congenital, hereditary and infectious diseases. The Lithuania facility employs more than 700 people in a variety of roles, making it one of the largest private R&D centers in the whole region.
        </p>
        <p>
            “We are delighted that our continuous improvement culture – the way we work and strive for operational excellence – is recognized by such a prominent organization,” says Algimantas Markauskas, vice president of manufacturing operations and general manager of Vilnius Biosciences Center of Excellence at Thermo Fisher Scientific. Markauskas continues, “The highest recognition of excellence reflects the Vilnius site’s and our organization’s everyday commitment to customers and to world-class quality standards. At the same time, it reflects our determination to fulfill our mission by enabling our customers to make the world healthier, cleaner and safer. This is a tremendous accomplishment achieved by every single one of the enthusiastic team members of the Vilnius facility, and I am so proud to be a part of this success.”
        </p>
        <p>
            Kevin Smith, vice president of Thermo Fisher’s Practical Process Improvement (PPI) Business System says, “The Vilnius site has leveraged the PPI Business System to transform its entire business, which has led to exceeding customer expectations significantly, achieving world-class quality and driving massive productivity gains. The cultural shift that has occurred at Vilnius in the last three years has been phenomenal and will ensure the site continues to be the benchmark across the company and throughout the industry for driving business impact.”
        </p>
        <p>
            Thermo Fisher Scientific Vilnius notes a number of significant improvements as a result of their transformation. The world-class line items fill rate (LIFR) is more than 99% and on-time delivery is higher than 98%, a result of joint kaizens with suppliers, carriers and distribution centers. From 2013 to 2016, the number of customer complaints was reduced by 33% by analyzing each complaint through root-cause analysis and standardizing more than 90% of all processes, therefore each abnormal condition or non-conformity is obvious.
        </p>
        <p>
            By “challenging” or applying for an award, organizations invite a group of accomplished professionals and trained examiners to thoroughly review their culture and operations. The examiners evaluate the challengers based on a rigorous set of standards and the Shingo Institute awards the organizations according to their assessment results.
        </p>
        <p>
            Team members from Thermo Fisher will receive the Shingo Prize during the Awards Gala at the 30th Shingo Conference held the week of April 9-13, 2018 in Orlando, Florida, USA. The conference is a five-day event featuring a selection of workshops, plant tours, keynote speakers and breakout sessions designed to provide ongoing knowledge, insights and experience for organizations in their pursuit of operational excellence.
        </p>
        <p>
            <strong>About the Shingo Institute</strong>
        </p>
        <p>
            The Shingo Institute is home of the Shingo Prize, an award that recognizes organizations that demonstrate an exceptional
            culture that fosters continuous improvement. Part of the Jon M. Huntsman School of Business at Utah State University,
            the Shingo Institute is named after Japanese industrial engineer and Toyota advisor, <a href="http://shingo.org/about">Shigeo Shingo</a>.
            Dr. Shingo distinguished himself as one of the world’s thought leaders in concepts, management systems and improvement
            techniques that have become known as the Toyota Production System.
        </p>
        <p>
            Drawing from Dr. Shingo’s teachings and years of experience working with organizations worldwide, the Shingo Institute developed
            the <em>Shingo Model™</em> which is the basis for its several educational offerings, including workshops,
            study tours and conferences. <a href="http://shingo.org/education">Workshops</a> are available in multiple languages
            through the Institute’s <a href="http://shingo.org/affiliates">licensed affiliates</a>. For more information
            on workshops, affiliates, or to register to attend the International Shingo Conference, please visit <a href="http://www.shingo.org">www.shingo.org</a><strong>.</strong>
        </p>
    </div>
</article>