<article class="container recipient">
    <div class="row text-center">
        <h2>Ball Beverage Packaging Europe</h2>
        <h3>Naro Fominsk, Russia</h3>
        <p class="text-centr">
            <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_150/v1491325208/PrizeRecipients/2017/Ball/Ball-Logo-2017.png"
                alt="Ball">
        </p>
        <h5>Read the press release <a href="prize-ball-bev-pr">here.</a></h5>
        <br>
    </div>
    <div class="row">
        <h4>
            <strong>Corporate Overview</strong>
        </h4>
        <p>
            Ball Corporation is a leading global beverage can maker with a strong vision to make the can the most sustainable package
            in the beverage supply chain. To support this, Ball has a program in place called “Drive for 10,” which is a
            mindset around perfection with a great sense of urgency around future success.
        </p>
        <p>
            These are the three pillars of Drive for 10:
        </p>
        <ul class='square'>
            <li>
                We Know Who We Are
            </li>
            <li>
                We Know Where We Are Going
            </li>
            <li>
                We Know What is Important
            </li>
        </ul>
        <p>
            As a global entity, Ball operates in 120 locations around the world, of those more than 70 are beverage packaging plants
            including joint ventures. The beverage packaging business has a volume of around 110 billion units a year and
            a presence in 30 countries with an excess of 12,000 employees in the beverage packing regions alone.
        </p>
        <p>
            Ball’s job is to make those cans as efficiently, profitably and sustainably as possible so that customers can attract and
            retain the loyalty of the people who consume their products. This is why, wherever you go in Ball, you will see
            a common focus on operational excellence, innovation and safety to meet stakeholder’s expectations.
        </p>
        <p>
            The vision at Ball is “We want to be close to customers and win more in the market.”
        </p>
        <h4>
            <strong>The Naro Fominsk Facility</strong>
        </h4>
        <p>
            The ends making facility (NARE), part of the Beverage Packaging Europe (BBPE) region of Ball, is in the town of Naro Fominsk,
            one hour southwest of Moscow. Construction started in July 2003 with Modules 1 and 2 delivering customers ends
            in early 2004.
        </p>
        <p>
            NARE is one of four Ball End manufacturing plants in Europe, with 153 employees capable of producing 6 billion ends annually.
            The 5846 sq. m. facility is divided into four “Modules” (continuous flow processing lines) including six high
            speed stamping presses and a high level of automation on three of the four lines. Key customers include Coca-Cola,
            Pepsi and Carlsberg. NARE operates a 24/7 pattern of work where customer’s expectations drive them to perform
            at their very best every day.
        </p>
        <h4>
            <strong>Product and Process </strong>
        </h4>
        <p>
            The facility produces just one end size (202) but with two designs, Standard 202 and CDL 202. Through a combination of customer
            requirements including colored metal and laser engraving, there are more than 28 SKUs. The process has four recognizably
            phases: cutting and shaping from rolled aluminium stock into basic disc ends, sealing compound application, the
            shaping and cutting with tab (ring pull) attachment, and the finished ends packed onto pallets ready for dispatch.
        </p>
        <p>
            A thorough approach is taken toward safety and training to deliver a healthy work environment and great customer service.
            Production is carried out and controlled using the concept of “Quality at the Source” which gives a focus on
            the quality of the process rather than the product’s characteristics.
        </p>
        <h4>
            <strong>Continuous Improvement</strong>
        </h4>
        <p>
            In 2000 NARE became part of a global Lean journey based on a specific set of tools and systems: Culture, VSM, 5S, TPM, SMED
            and Six Sigma. From 2004, progress has been annually reviewed in the form of an internal assessment and performance
            was awarded as a prize of Bronze, Silver or Gold. The factory achieved Gold within four years, three in a row
            from 2007 to 2010 and again in 2012.
        </p>
        <p>
            In 2011 the &lt;em&gt;<em>Shingo Model&lt;/em&gt;</em> was introduced with an internal assessment where the facility
            was the first end plant in Europe to be chosen for the challenge.
        </p>
        <p>
            Ball involves shop floor employees on a daily basis in identifying improvements and encourages them to think systemically
            and scientifically. By sharing the strategic view, helping employees with resources, providing more freedom in
            making decisions and getting their feedback on ways to improve the factory; Ball believes they will be successful
            in achieving the vision of being the best end making facility in BBPE.
        </p>
        <p>
            Every idea is very important; each kaizen event moves closer to perfection. Every year Ball’s strategic plan includes safety
            kaizen events, and for the last two years they have focused on people and behavior to reduce near misses. This
            approach is a major contributor in continuing the factory with over two thousand ‘Lost Time Accident’ free days.
        </p>
        <p>
            As a part of the improvement process Ball has developed and embedded a quality improvement program named BBQ – Behavior Based
            Quality. This approach was born in this facility and is shared with the other end plants across BBPE.
        </p>
        <h4>
            <strong>Noteworthy Achievements for our Factory</strong>
        </h4>
        <ul class="square">
        <li>
            2290 days without a lost time accident (LTA) (Feb ’16)
        </li>
        <li>
            When benchmarked against BBPE ends facilities, ranked top in eight categories: OEE, efficiency, line spoilage, HFI spoilage,
            total spoilage, MTBF, NOC and maintenance spend/000 ends
        </li>
            <li>
                Company people Award in 2010, again in 2015
            </li>
        </ul>
        <h4>
            <strong>Safety &amp; Environment</strong>
        </h4>
        <ul class="square">
        <li>
            Zero lost time accidents for six consecutive years since 2010
        </li>
        <li>
            Company Safety Award for passing 1,000 and 1,500 days since 2009 for no LTAs; 2,000 days late in 2015. Top three performance in BBpE
        </li>
        <li>
            Electric power consumption reduced by 25.8% over the last 5 years
        </li>
        <li>
            Evacuation drill training provide to all employees annually
        </li>
        <li>
            Waste reduction: Aluminum coil packaging waste reduction activities were agreed by both the plant and metal supplier. Now receiving lighter packaging with no plastic cover.
        </li>
        <li>
            Behavior Based Safety (BBS) program in its third year and benchmarked across the company
        </li>
        <li>
            Blind area traffic light warning system on walkways
        </li>
        <li>
            Fork trucks equipped with blue spot warning light
        </li>
        </ul>
        <h4>
            <strong>Quality</strong>
        </h4>
        <ul class="square">
        <li>
            British Retail Consortium (BRC) accreditation since 2011
        </li>
        <li>
            Facility has trained ‘technicians’ with technical skills in Six Sigma, 5S, TPM and SMED
        </li>
        <li>
            Return pallet per billion ends produced reduced to 0 by 2015; benchmark for end plants across BCE
        </li>
        <li>
            NOC per billion produced reduced by 89% between 2010 and 2015; benchmark for end plants in BCE
        </li>
        <li>
            Digital inspection camera systems installed on all conversion presses
        </li>
        <li>
            Real-time visual system and downtime management in operation
        </li>
        <li>
            Real-time quality system management and statistical control
        </li>
        <li>
            3D Microscope: Score assessment completed quickly and precisely
        </li>
        <li>
            Behavior Based Quality (BBQ) program in place
        </li>
        <li>
            Company Quality Audit 94.4% in 2015; benchmark for end and can plants across BCE
        </li>
       
         </ul>
        <h4>
            <strong>Employee Morale</strong>
        </h4>
        <ul class="square">
        <li>
            Absenteeism and employee turnover has reduced by 0.52% and 0.58% from 2010 and 2011 resliectively
        </li>
        <li>
            Health and wellbeing life style promotions include healthy menu at canteen
        </li>
        <li>
            Home safety week events, and a safety focus at internal conferences
        </li>
        <li>
            Safety leaflets for employees’ children «safe behavior during winter holidays» in New Year sweet package gifts
        </li>
        <li align="left">
            100% vacancies are closed by internal pool of candidates in accordance with succession plan
        </li>
        <li align="left">
            Two annual ‘Blue Chip’ recognition awards for employees
        </li>
        <li align="left">
            Employee attestation system in place – in 2015, 100% employees reached max level
        </li>
        <li align="left">
            ‘Best Crew’ evaluation conducted on a monthly basis, awarded twice a year
        </li>
        </ul>
        <h4>
            <strong>Cost Reductions</strong>
        </h4>
        <ul class="square">
        <li>
            · Efficiency has increased by 8.3%
        </li>
        <li>
            · Conversion Cost/1000 Ends made has reduced<em> </em>by 30% since 2010
        </li>
        <li>
            · 94% reduction in slioilage from 2010 to 2015; benchmark for end lilants in BBliE
        </li>
        </ul>
        <h4>
            <strong>People</strong>
        </h4>
        <p>
            Ball’s mission, always, is to develop people into leaders that can take them to the next level in their journey to becoming
            the best end maker in the world. Employees are not just seen as a source of labor, but as process experts in
            the continuous improvement process.
        </p>
        <p>
            The Naro Fominsk location is often used as a training base for all company Russian plants. Currently black belt training
            is in progress on-site for four Russian plants, with an added bonus for NARE to learn new things from those visiting
            the plant.
        </p>
        <p align="right">
            <strong></strong>
        </p>
        <p align="right">
            <strong>For more information contact:</strong>
        </p>
        <p align="right">
            Ray Howcroft
        </p>
        <p align="right">
            Lean Enterprise Manager
        </p>
        <p align="right">
            Direct Line +44 (0) 1924 834017
        </p>
        <p align="right">
            Mobile +44 (0)7766 160993
        </p>
        <p align="right">
            Email: <a href="mailto:Ray.Howcroft@ball.com">Ray.Howcroft@ball.com</a>
        </p>

        <br> {{!--
        <p><strong>Patrick Garrahy</strong>, Managing Director &nbsp; | &nbsp; Phone: 00 353 1 8852702 &nbsp; | &nbsp; Mobile:
            00 353 86 8107974 &nbsp; | &nbsp; Email: <a href="mailto:pat.garrahy@mylan.com">pat.garrahy@mylan.com </a></p>
        <br>--}}
    </div>
    <div class="row">
        <section class="vertical tabs gallery row">
            <ul class="tab-nav three columns two_up tiles">
                <li class="active">
                    <a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1491325209/PrizeRecipients/2017/Ball/2.jpg"></a>
                </li>
                <li>
                    <a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1491325209/PrizeRecipients/2017/Ball/1.jpg"></a>
                </li>
                <li>
                    <a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1491325209/PrizeRecipients/2017/Ball/3.jpg"></a>
                </li>
                <li>
                    <a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1491325209/PrizeRecipients/2017/Ball/4.jpg"></a>
                </li>
                <li>
                    <a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1491325209/PrizeRecipients/2017/Ball/5.jpg"></a>
                </li>
                <li>
                    <a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1491325209/PrizeRecipients/2017/Ball/6.jpg"></a>
                </li>
                <li>
                    <a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1491325209/PrizeRecipients/2017/Ball/7.jpg"></a>
                </li>
            </ul>
            <div class="tab-content active nine columns">
                <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1491325209/PrizeRecipients/2017/Ball/2.jpg">
            </div>
            <div class="tab-content nine columns">
                <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1491325209/PrizeRecipients/2017/Ball/1.jpg">
            </div>
            <div class="tab-content nine columns">
                <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1491325209/PrizeRecipients/2017/Ball/3.jpg">
            </div>
            <div class="tab-content nine columns">
                <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1491325209/PrizeRecipients/2017/Ball/4.jpg">
            </div>
            <div class="tab-content nine columns">
                <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1491325209/PrizeRecipients/2017/Ball/5.jpg">
            </div>
            <div class="tab-content nine columns">
                <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1491325209/PrizeRecipients/2017/Ball/6.jpg">
            </div>
            <div class="tab-content nine columns">
                <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1491325209/PrizeRecipients/2017/Ball/7.jpg">
            </div>
        </section>
    </div>
</article>