<article class="container recipient">
    <div class="row text-center">
        <h2>Ball Beverage Packaging Europe </h2>
        <br>
        <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_150/v1491325208/PrizeRecipients/2017/Ball/Ball-Logo-2017.png"
            alt="Bell">
    </div>
    <div class="row">
        <p>
            <strong>Ball Beverage Packaging Europe</strong>
            <strong> </strong>
            <strong>
        Receives International Recognition for Operational Excellence
    </strong>
        </p>
        <p>
            <strong>
        <em>
            Summary: After trained examiners and accomplished business
            professionals performed a thorough assessment of its facility, Ball
            Beverage Packaging Europe in
        </em>
    </strong>
            <em>
        Naro Fominsk, Russia,
        <strong>
            has been awarded the internationally recognized Shingo Prize from
            the Shingo Institute, part of the Jon M. Huntsman School of
            Business.
        </strong>
    </em>
        </p>
        <p>
            LOGAN, Utah – <a href="http://www.shingoprize.org">The Shingo Institute</a> , part of the
            <a href="http://www.huntsman.usu.edu">
        Jon M. Huntsman School of Business
    </a> at <a href="http://www.usu.edu">Utah State University</a>, has awarded <strong>Ball Beverage Packaging Europe’s ends making facility in </strong>            Naro Fominsk, Russia<strong> </strong>with the Shingo Prize, the first organization in Russia to receive Shingo
            recognition.
        </p>
        <p>
            “Receipt of the Shingo Prize is a worldwide recognized symbol of an organization's successful establishment of a culture
            anchored on principles of enterprise excellence–principles such as respect for every individual, leading with
            humility, quality at the source, the quest for perfection, creating value for the customer, etc.,” said Ken Snyder,
            executive director at the Shingo Institute. “Ultimately, these recipients are in a class of the best organizations
            in the world, regardless of industry or country.”
        </p>
        <p>
            A leading global beverage can maker, Ball Corporation’s ends making facility in Naro Fominsk is part of the Ball Beverage
            Packaging Europe region and one of four end manufacturing plants in Europe. With 153 employees capable of producing
            6 billion ends annually, the facility strives to perform at its best every single day to exceed customer expectations.
        </p>
        <p>
            “You can think you are a good sportsman and be proud of your achievements, but you cannot be confident you are really good
            in sports until you go through the Olympics,” says Sergey Kruzhkov, Naro Fominsk Ends’ plant manager. Kruzhkov
            continues, “The same is true for our plant. The Shingo audit became a kind of Olympics for us, and our result
            showed us we are the champions. Yet, the most important is that preparation for the audit made us stronger, cleverer
            and better in all respects.” Ray Howcroft, Ball Beverage Packaging Europe’s lean enterprise manager says, “Naro
            Fominsk Ends has made a fantastic representation of the Lean enterprise culture at Ball Beverage Packaging Europe
            by receiving the most coveted award in Lean – the Shingo Prize. This is an amazing accolade for the Russian End
            making site.” Howcroft continues, “Naro Fominsk Ends has set the bar for the rest of our Ball Beverage Packaging
            Europe sites by earning this award.”
        </p>
        <p>
            Ball Beverage Packaging Europe notes a number of significant improvements, including zero lost time accidents for six consecutive
            years since 2010. Ball has reduced the electric power consumption by 25.8% over the last 5 years and the NOC
            per billion produced by 89% between 2010 and 2015. Efficiency also increased by 8.3%, and spoilage reduced by
            94% from 2010 to 2015.
        </p>
        <p>
            By “challenging” or applying for an award, organizations invite a group of accomplished professionals and trained examiners
            to thoroughly review their culture and operations. The examiners evaluate the challengers based on a rigorous
            set of standards and the Shingo Institute awards the organizations according to their assessment results.
        </p>
        <p>
            Team members from Ball Beverage Packaging Europe will receive the Prize during the Awards Gala at the 29th Shingo International
            Conference held the week of April 24-28, 2017 in Atlanta, Georgia, USA. The conference is a five-day event featuring
            a selection of workshops, plant tours, keynote speakers and breakout sessions designed to provide ongoing knowledge,
            insights and experience for organizations in their pursuit of operational excellence.
        </p>
        <p>
            <strong>About the Shingo Institute</strong>
        </p>
        <p>
            The Shingo Institute is home of the Shingo Prize, an award that recognizes organizations that demonstrate an exceptional
            culture that fosters continuous improvement. Part of the Jon M. Huntsman School of Business at Utah State University,
            the Shingo Institute is named after Japanese industrial engineer and Toyota advisor, <a href="http://shingo.org/about">Shigeo Shingo</a>.
            Dr. Shingo distinguished himself as one of the world’s thought leaders in concepts, management systems and improvement
            techniques that have become known as the Toyota Production System.
        </p>
        <p>
            Drawing from Dr. Shingo’s teachings and years of experience working with organizations worldwide, the Shingo Institute developed
            the <em>Shingo Model™</em> which is the basis for its several educational offerings, including workshops,
            study tours and conferences. <a href="http://shingo.org/education">Workshops</a> are available in multiple languages
            through the Institute’s <a href="http://shingo.org/affiliates">licensed affiliates</a>. For more information
            on workshops, affiliates, or to register to attend the International Shingo Conference, please visit <a href="http://www.shingo.org">www.shingo.org</a><strong>.</strong>
        </p>
        <p>
            <strong>About Ball Corporation</strong>
        </p>
        <p>
            Ball Corporation is a leading global beverage can maker with a strong vision to make the can the most sustainable package
            in the beverage supply chain. As a global entity, Ball operates in 120 locations around the world, of those more
            than 70 are beverage packaging plants including joint ventures. The beverage packaging business has a volume
            of around 110 billion units a year and a presence in 30 countries, with an excess of 12,000 employees in the
            beverage packing regions alone. To learn more, visit <a href="http://www.ball.com">www.ball.com</a>.
        </p>
    </div>
</article>