  <!-- InstanceBeginEditable name="main" -->
  <article class="container recipient">
  <div class="row text-center">
    <h2>Abbott Vascular Ireland</h2>
      <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,w_225/v1403561473/Logo_-_Abbott_Vascular_ztwgzm.jpg" alt="Abbott Vascular">
  </div>
  <div class="row">
    <h4>Overview</h4>
      <p>Abbott is a global healthcare company devoted to improving life through the development of products and technologies that span the breadth of healthcare. With a portfolio of leading, science-based offerings in diagnostics, medical devices, nutritionals and branded generic pharmaceuticals, Abbott serves people in more than 150 countries and employs approximately 69,000 people. Abbott’s vascular division has an industry-leading pipeline and a comprehensive portfolio of market-leading products for cardiac and vascular care, including products for coronary artery disease, vessel closure, endovascular disease and structural heart disease.</p>
      <h4>Abbott Vascular Division (AVD) Clonmel</h4>
      <p>Clonmel has been part of a global network of Abbott vascular manufacturing sites since 1998. AVD’s vision is “to improve the lives of patients and their families around the world through our passionate commitment to innovation in cardiac &amp; vascular science.” This is driven by our five divisional strategic themes, which cascade through to everyone.</p>
      <p>At our site, all activity is shaped by these themes, ensuring full strategic alignment, where the belief exists that our success is twinned with our unstinting commitment to operational excellence. Within this, our site is both positioned and recognised as the divisional “Centre of Excellence” for Stent and Drug Eluting Stent manufacturing.</p>
      <p>The site has more than 1,000 employees primarily dedicated to manufacturing but also includes process development. The facility, which is more than 250,000 square feet sits on 19 acres and has three distinct areas manufacturing products for the treatment of coronary and endovascular diseases, namely:
          <ul class="square">
              <li>DES (Drug Eluting Stent manufacturing);</li>
              <li>Implants (Stent manufacturing);</li>
              <li>SDS (Stent Delivery Systems or Catheter Manufacturing).</li>
          </ul>
      </p>
      <h4>Product</h4>
      <p>Abbott Vascular is the world's leader in drug eluting stents. Abbott Vascular provides our customers with products such as XIENCE V®, XIENCE Prime® and XIENCE XpeditionTM drug eluting stent systems. We also manufacture their predecessor bare-metal stent products (non-drug coated). Both products include the stent (drug coated or bare) and a catheter delivery system needed to place the stents during a patient’s angioplasty procedure. Both of these sub-assemblies are also manufactured at the site. As a result of the site’s excellent performance, Clonmel now provides 100% of both Abbott’s stents and DES devices. Due to the nature of our products, quality is paramount. Our quality system has ensured we put our patients first while achieving dramatic continuous improvement in the site’s performance, with double-digit improvement in our non-conformance rate and double-digit reductions in cost.</p>
      <h4>Achievements</h4>
          <h5>People</h5>
              <ul class="square">
                  <li>Defined learning and development systems for all employees</li>
                  <li>“Moving to Zero” safety programme which enabled us achieve zero Lost Work Day Cases in 2013</li>
                  <li>Our integrated safety management system which ensures a safe environment with almost 400 employees directly involved in safety roles</li>
                  <li>100% reduction in slips, trips and falls in last three years</li>
                  <li>Abbott Corporate EHS Plant of the Year 2010 (chosen from over 50 plants) and a finalist in 2011 and 2012</li>
                  <li>Achieved zero-waste-to-landfill certification in 2012</li>
                  <li>Winner of “O2” National Ability Award 2010 for inclusion of people with disabilities</li>
                  <li>IFTDO (International Federation of Training &amp; development Org) global award winner 2010 for employee development</li>
                  <li>GradIreland Diversity Award 2012</li>
                  <li>Corporate Social Responsibility Award winner in 2009, 2010, 2011</li>
                  <li>Abbott employee volunteering programme “Croi an Oir” which translates as “Heart of Gold” where Clonmel employees volunteered 13,000 hours in the last four years to support the local community and charitable organisations.</li>
              </ul>
          <h5>Quality &amp; Compliance</h5>
              <ul class="square">
                  <li>Zero non-conformances in any external regulatory audit in last seven years</li>
                  <li>In 2011 Abbott initiated a Device Quality Plant of the Year award - Clonmel was the first to receive this award, “Recognizing zero recalls, outstanding external and internal audit execution.”</li>
                  <li>Non-Conformances reduced by 90% in last six years</li>
              </ul>
          <h5>Delivery &amp; Customer Satisfaction</h5>
              <ul class="square">
                  <li>Cycle Time reduced by 80% in last six years</li>
                  <li>Class A accredited with product delivery consistently at or near 100% for the last seven years</li>
                  <li>Customer Appreciation Day for Abbott Vascular employees, where patients who have received our products tell their stories and how their life has been affected.</li>
              </ul>
          <h5>Productivity</h5>
              <ul class="square">
                  <li>A triple-digit increase in productivity over the past seven years</li>
                  <li>Cost improvement system removing 8% from cost base year-on-year.</li>
              </ul>
          <h5>Continuous Process Improvement</h5>
              <ul class="square">
                  <li>The site encourages continuous improvement through A3/Kaizen DMAIC, 5S, VSM, SMED, Standard Work and Six Sigma.</li>
                  <li>All of our employees are involved in Continuous Improvement (CI) via our CI Huddle process where every employee is engaged in and responsible for localised problem solving.</li>
                  <li>6,000 process improvement or safety suggestions were implemented in 2013 (vs. 2,000 in 2008).</li>
                  <li>A robust 6 Sigma program is in place with 80% of our technical staff Green or Black Belt certified (>130 people).</li>
                  <li>Our 14 Step Lean process which is used for transformational change – A recent 14 Step project led to a 38% productivity improvement balanced with a 50% Quality improvement.</li>
              </ul>
      <h4>Overview Close</h4>
        <p>We hope this overview gives you some insight into our site. Our products help improve people’s lives. We are the flagship manufacturing facility in Abbott Vascular, and high-performance is expected to ensure product quality. It is our passport to sell products around the world and is a key component of our market-leading position.</p>
      <h4>Contact</h4>
      <p><strong>Michael Tarrant</strong>, Manager, Business Excellence &nbsp; | &nbsp; Phone: +353-52-6173456 &nbsp; | &nbsp;  Email: <a href="mailto:michael.tarrant@av.abbott.com">michael.tarrant@av.abbott.com</a></p>
  </div>
  <br>
  <div class="row">
    <section class="vertical tabs gallery row">
          <ul class="tab-nav three columns two_up tiles">
              <li class="active"><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1403561508/Logo_-_Abbott_Vascular_AV_Clonmel_exterior_yincct.jpg"></a></li>
              <li><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1403562708/Photo_-_Abbott_Vascular_4876_Team_Meet_Gowned_cropped_mc1tq3.jpg"></a></li>
          </ul>
          <div class="tab-content active nine columns">
              <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1403561508/Logo_-_Abbott_Vascular_AV_Clonmel_exterior_yincct.jpg">
          </div>
          <div class="tab-content nine columns">
              <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1403562708/Photo_-_Abbott_Vascular_4876_Team_Meet_Gowned_cropped_mc1tq3.jpg" alt="Abbott Vascular Employees">
          </div>
      </section>
  </div>
  </article>
  <!-- InstanceEndEditable -->
