<!-- InstanceBeginEditable name="main" -->
  <article class="container recipient">
  	<div class="row text-center">
      	<h2>DePuySynthes Ireland</h2>
          <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,w_225/v1403560000/Logo_-_DePuySynthes_vyhbbo.jpg" alt="DePuySynthes">
          <br>
          <h5>Read the press release <a href="../pr/pr_depuysynthes-ireland_prize.html">here.</a></h5>
          <br>
      </div>
      <div class="row">
      	<h4>Overview</h4>
          <p>DePuySynthes is a subsidiary of Johnson &amp; Johnson, one of the world’s largest and most diverse healthcare corporations. We offer a broad portfolio of orthopaedic and neuro products for joint reconstruction, trauma, spine, sports medicine, neurological, craniomaxillofacial, power tools and biomaterials.</p>
          <p>The DePuySynthes (Ireland) plant, based in Cork, is part of the Joint Reconstruction business. The plant was established in 1997, and is now one of the larger manufacturing sites within the DePuySynthes network.</p>
          <h4>Products</h4>
          <p>The Cork site predominantly manufactures hip, knee &amp; shoulder replacements. There are approximately 1700 SKU’s (Stock Keeping Unit) manufactured at the facility.</p>
          <h4>Process</h4>
          <p>Our product starts as a raw Cobalt Chrome alloy billet and is taken through a series of technologies transforming the product into a high precision device which is cleaned and packaged on site.</p>
          <p>The processes are organised into value streams based on the product type. There are five main value streams on site, the Foundry, Femorals, Trays, Poly and Hips value streams.</p>
          <h4>Awards/Recognition</h4>
            	<ul class="square">
                  <li><strong>2009:</strong> The site was certified to ISEN 16001 Energy Management Systems (first site in Europe).</li>
                  <li><strong>2009:</strong> Engineers Ireland, Continuous Professional Development (CPD), Company of the year award.</li>
                  <li><strong>2010:</strong> Awarded the overall winner in the IMDA (Irish Medical Device Association) for ‘Manufacturing and Operational Excellence’ as a result of the ongoing Business Transformation and Cultural program at the Cork facility.</li>
                  <li><strong>2011:</strong> First company in Europe to become ISO 50001 (Energy) certified.</li>
                  <li><strong>2012:</strong> Worldwide J&amp;J Sustainability Energy Excellence Award.</li>
                  <li><strong>2013:</strong> Worldwide J&amp;J EH&amp;S excellence award focused on Metal Usage reduction.</li>
                  <li><strong>2013:</strong> IITD National Training Award, for the application of Training Within Industry (TWI) training.</li>
            	</ul>
          <h4>Continuous Improvement Journey</h4>
          <p>In 2003 the company began to introduce lean tools such as CONWIP and Kanban systems, Overall Equipment Effectiveness (OEE), Value Stream Mapping and supplier integration. This led to some significant lead time reduction and cost improvements but there was
              acknowledgement that this tool based approach was not sustainable or culturally ingrained.</p>
          <p>In 2005 there was an unexpected increase in demand which the plant was not in a position to respond to. We saw the need for a more responsive and flexible manufacturing facility. To succeed in this new environment the site needed to build a high performance culture based on continuous improvement. In 2006, the plant began a cultural, physical and organisational transformation. The site created a vision for 2010 based on doubling capacity, while maintaining the same headcount and floor space. The transformational map was constructed under 4 work streams, a lean program, change management, new product introductions, and compliance excellence.</p>
          <p>In 2007 machines were physically moved from grouped processes to a value stream (VS) layout. This was completed to promote flow and enable pull within each area. This involved the relocation of over 400 pieces of equipment.</p>
          <p>During this transitional phase the organisation structure was changed from functionally based to a value stream structure. This meant the creation of a VS Manager with overall responsibility for the VS and a support team with shared objectives. The support teams were then relocated into custom made ‘pods’ (pods are office units for manufacturing support staff located within the VS). The space for these pods was created through the space saved through the lean layout. As the VS structure progressed this led to aligned Goals and Objectives (G&amp;Os) and a Profit and Loss account by value stream which enabled better decision making.</p>
          <p>All decisions within Johnson &amp; Johnson are based on our Credo. It is a set of values detailing our responsibilities, to our customers, the patients, doctors and nurses that use our products, to our employees, to the communities in which we work and finally to our stockholders. In 2008 the site saw the need to create a highly engaged and adaptable workforce to meet the ever changing business demands. This change in culture was enabled through the creation of our behavioural standards. These are 5 statements that govern the commitment around how we work with other.</p>
          <p>The company is driven by its vision, our true north for continuous improvement. From a maturity perspective we are now in the process of developing our third site vision, i.e. the 2020 vision.</p>
          <p>Standard Work was piloted in one value stream in 2010. It has now been rolled out across the manufacturing site. All documents for new products and product transfers are now written in the new standard work format. Each document is structured around major steps, key points and reasons why the step is there. The standard work roll out is underpinned by Training Within Industry (TWI) training. All TWI trainers are trained by certified coaches.</p>
          <p>The use of Value Stream Mapping (VSMs) as a system dates back to 2004. As we have matured we have now integrated the VSMs in to our CII process (Continuous Improvement through Innovation). This process creates a scheduled pipeline of projects that leads towards the ‘target’ process state, creates the ‘business plan’ for the forthcoming year and creates a list of feasibility projects that can improve the quality or cost of our products. This process has also been used to map the extended supply chain, from tier two raw material suppliers, through to primary and secondary distribution centres.</p>
          <p>The Integrated Management System (IMS, introduced in 2011) is an overarching system that governs how we run our value streams. It governs everything from our hourly management process, through to a weekly Senior Management Gemba review. The IMS comprises of the following sub-systems; Kaizen, WIP control (FIFO, Heijunka, and Ticket Systems), Theory of Constraints, Problem Solving, Capacity and Headcount Model.</p>
          <p>In line with our Credo values making the customer central to all that we do is paramount. We run a customer connection program on site. This consists of talks at our quarterly communications from patients (normally relations or staff) who have benefited from our products. We also schedule visits to live surgeries for our employees as well as bringing surgeons and theatre nurses on site to view our manufacturing processes.</p>
          <p>Our company also has a responsibility to the community we work in, and we have a community outreach team working on projects to help the community and charitable organisations. These charities are chosen annually by our employees.</p>
          <h4>Contact</h4>
          <p><strong>Joe Healy</strong>, Business Transformation Manager &nbsp; | &nbsp; Phone: +353(21)4914339 &nbsp; | &nbsp;  Email: <a href="mailto:jhealy1@its.jnj.com">jhealy1@its.jnj.com</a></p>
          <p><strong>James Winters</strong>, Plant Manager &nbsp; | &nbsp; Phone: +353(21)4914647 &nbsp; | &nbsp;  Email: <a href="mailto:jwinter9@its.jnj.com">jwinter9@its.jnj.com</a></p>
      </div>
      <br>
      <div class="row">
      	<section class="vertical tabs gallery row">
              <ul class="tab-nav three columns two_up tiles">
                  <li class="active"><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1403560081/Photo_-_DePuySynthes200314-1780_Operations_wm3mzs.jpg"></a></li>
              </ul>
              <div class="tab-content active nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1403560081/Photo_-_DePuySynthes200314-1780_Operations_wm3mzs.jpg">
              </div>
          </section>
      </div>
  </article>
  <!-- InstanceEndEditable -->
