<!-- InstanceBeginEditable name="main" -->
<article class="container recipient">
<div class="row text-center">
    <h2>Newsprinters (Eurocentral)</h2>
      <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_100,w_350/v1409355246/newsprinters_logo_vhcvso.png" alt="Newsprinters UK Shingo Prize Recipient">
      <br>
      <h5>Read the press release <a href="../pr/pr_newsprinters_prize.html">here.</a></h5>
      <br>
  </div>
  <div class="row">
    <h4>Corporate</h4>
      <p>Newsprinters are the printing division of News UK (formerly News International) and are a wholly owned subsidiary of News Corporation (the largest news and information service provider in the world). With three purpose-built facilities located throughout the United Kingdom (Glasgow, Liverpool and London) which house the very latest state-of-the-art printing technology and equipment that ensures we remain at the forefront of the newspaper printing industry.</p>
      <p>In addition to the economic crisis of the past 6 years the Newspaper Industry has been faced with many challenges; dropping readership, declining advertising revenue, increased supplier and logistics costs and competition from online and￼electronic media.</p>
      <p>Against the background of this global phenomenon, we have set our vision <strong>“To be recognised as the best Newspaper Manufacturer in the World”</strong> and in 2007 set off on our continuous improvement journey to achieve it, thus sending a clear message that we aim to be the best in all areas of business; meeting the customer expectations of quality products on-time-in-full, health and safety, environmental performance and staff engagement.</p>
      <p>The four aims of the business are
          <ul class="square">
              <li>To be the most efficient and cost effective newspaper manufacturer.</li>
              <li>To be the newspaper printer of choice.</li>
              <li>Our culture will be supportive, inclusive and will
  encourage high performance and innovation.</li>
              <li>To practise industry leading standards of health &amp;
  safety compliance and environmental performance.</li>
          </ul>
      </p>
      <h4>Eurocentral Site, products and processes</h4>
      <p>Newsprinters – Eurocentral (Scotland) was officially opened in April 2008 by Scotland's First Minister, the Rt. Hon. Alex Salmond and News Corporation chairman and chief executive Rupert Murdoch. This £56 million investment in Scotland also has the distinction of being the home to the largest and fastest newspaper printing press in the world.</p>
      <p>As Scotland’s largest Newspaper Manufacturer we currently print approximately three million newspapers per week; The Sun, Sun on Sunday, The Times and The Sunday Times. Additionally we contract print The Daily Telegraph, The Sunday Telegraph, Glasgow Solicitors Property Guide, The Edinburgh Evening News and others making us the largest contract printer in Scotland.</p>
      <p>We currently employ 120 people 62% of whom are Business Partners (contract workers).</p>
      <p>The plant is a purpose built and specifically designed using lean concepts to optimise flow and to house the largest printing presses in the world.</p>
      <h4>Continuous Improvement</h4>
      <p>To ensure the highest possible health and safety, environmental and quality standards, drive and sustain continuous improvement and deliver customer satisfaction, we have developed the Newsprinters Continuous Improvement System (NCIS).</p>
      <p>NCIS was introduced in 2007. Founded on Integrated Teamwork and Communications, and topped by leadership commitment, NCIS is supported by three main pillars, Organisation, Standardisation and Engagement. These three pillars are the backbone to our Lean Enterprise. By engaging all staff to organise and standardise all aspects of our business to achieve zero accidents, zero downtime and zero waste and deliver customer quality expectations and demand on time in full.</p>
      <h4>The Newsprinters Way</h4>
      <p>Through The Newsprinters Way our Vision, Purpose, and Values with our Newsprinters Continuous Improvement Systems (NCIS) that includes; Total Productive Manufacturing (TPM), Integrated Business Management System (IBMS), Enterprise Alignment (EA), and Training &amp; Development (T&amp;D) and is built on a foundation of integrated teamwork . We aim to develop, engage and empower our most valuable asset “our people”.</p>
      <p>Simply put, achievement of our Vision is through the Newsprinters Way where everybody, everywhere is driving continuous improvement and making a difference every day.</p>
      <h4>Achievements</h4>
      <section class="two_up tiles">
          <div class="tile">
              <h5>Lean Enterprise</h5>
              <ul class="square">
                  <li>Group Continuous Improvement Team</li>
                  <li>2 Master of Science - Lean Enterprise</li>
                  <li>5 BITs diploma and 1 BITs level 4 degree</li>
                  <li>90% staff trained in Newsprinters TPM (4500hrs)</li>
                  <li>SMED improvements to press change overs leading to new contract awards</li>
                  <li>300+ improvement activities</li>
                  <li>£1.0million savings to the business</li>
                  <li>TPM improvements leading to greater equipment reliability</li>
                  <li>50 SMED activities on engineering single point of failures</li>
              </ul>
          </div>
          <div class="tile">
              <h5>Safety &amp; Environmental</h5>
              <ul class="square">
                  <li>ISO 14001 environmental accreditation</li>
                  <li>OHSAS 18001safety accreditation</li>
                  <li>Creation of Bio-diversity garden + School partnership</li>
                  <li>UK Newspaper Awards - Environmental Initiative of the Year - 2011</li>
                  <li>UK Security Excellence Awards - Environmental Initiative of the Year – 2011</li>
                  <li>BPIF Vision in Print – “Environmental Practice” Audit No1 in Industry - 2010</li>
                  <li>Zero lost time accidents since 2009</li>
                  <li>30 trained first aiders</li>
                  <li>Zero RIDDOR reports in since 2007</li>
                  <li>Accreditation to deliver NEBOSH Safety Training</li>
              </ul>
          </div>
          <div class="tile">
              <h5>Quality</h5>
              <ul class="square">
                  <li>ISO 9001 quality accreditation</li>
                  <li>UK Newspaper Awards – Printer of the Year 2014</li>
                  <li>UK Newspaper Awards – Printer of the Year 2013</li>
                  <li>UK CSSA Cleaning Industry – Cleanest Manufacturing Site in the UK - 2011</li>
                  <li>BPIF Vision in Print – “Best Practice” Audit No1 in Industry – 2010</li>
              </ul>
          </div>
          <div class="tile">
              <h5>Morale</h5>
              <ul class="square">
                  <li>50+ Employee led Kaizen, SMED and 5S programs</li>
                  <li>66% People score in employee engagement survey
      (UK average – 56%)</li>
                  <li>Staff survey results show 90% approval(Good to
      excellent) for site communications</li>
                  <li>Cross functional team ownership of all ISO and
      CI/TPM initiatives</li>
              </ul>
          </div>
          <div class="tile">
              <h5>Performance Delivery &amp; Cost Reductions</h5>
              <ul class="square">
                  <li>Group Continuous Improvement Team</li>
                  <li>Plant efficiency up by 30% since 2007</li>
                  <li>Newsprint waste reduced by 40% since 2007</li>
                  <li>Gas consumption reduced by 300% since 2007</li>
                  <li>Electricity consumption reduced by 30% since 2007</li>
                  <li>0.5% technical downtime average 2013</li>
                  <li>£1.0million savings to the business</li>
              </ul>
          </div>
      </section>
      <h4>Contact</h4>
      <p><strong>George Donaldson</strong>, Group CI Manager &nbsp; | &nbsp; Phone: +44(0)1412023389 &nbsp; | &nbsp; Email: <a href="mailto:george.donaldson@news.co.uk">george.donaldson@news.co.uk</a><br>
      Newsprinters (Eurocentral) Ltd.<br>
      Byramsmuir Road<br>
      Holytown ML1 4WH<br>
      Scotland, United Kingdom</p>
  </div>
  <br>
  <div class="row">
    <section class="vertical tabs gallery row">
          <ul class="tab-nav three columns two_up tiles">
              <li class="active"><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1410393407/SHINGO_IMAGE_-_AMENDED_fsi30g.jpg"></a></li>
              <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1410393402/Group_photo_SHINGO_2_jormsk.jpg"></a></li>
              <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1410393681/HIGH_RES___-_THE_NEWSPRINTERS_WAY_fg3dpb.png"></a></li>
          </ul>
          <div class="tab-content active nine columns">
              <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_faces:center,h_350,w_700/v1410393407/SHINGO_IMAGE_-_AMENDED_fsi30g.jpg">
          </div>
          <div class="tab-content nine columns">
              <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1410393402/Group_photo_SHINGO_2_jormsk.jpg">
          </div>
          <div class="tab-content nine columns">
              <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,w_350/v1410393681/HIGH_RES___-_THE_NEWSPRINTERS_WAY_fg3dpb.png">
          </div>
      </section>
  </div>
</article>
<!-- InstanceEndEditable -->
