<!-- InstanceBeginEditable name="main" -->
<article class="container" id="about">
	<div class="row">
    	<div class="nine centered columns">
						<h2 class="text-center quattrocento"><strong>Our Purpose:</strong></h2>
            <h2 class="text-center quattrocento">Based on timeless principles, we shape cultures that drive operational excellence.</h2>
						<h3 class="text-center"><strong>Our Mission:</strong></h3>
						<h3 class="text-center">We conduct cutting edge research, provide relevant education, perform insightful enterprise assessment, and recognize organizations committed to achieving sustainable world-class results.</h3>
        </div>
    </div>
    <br>
    <div class="row">
    	<img src="http://res.cloudinary.com/shingo/image/upload/v1466432700/WebContent/shigeoshingo_small.jpg">
			<h5>Our Namesake</h5>
    	<p>Few individuals have contributed as much to the development of the ideas we call TQM, JIT and lean as did Shigeo Shingo. Over the course of his life, Dr. Shingo wrote and published 18 books, eight of which were translated from Japanese into English. Many years before they became popular in the Western world, Dr. Shingo wrote about the ideas of ensuring quality at the source, flowing value to customers, working with zero inventories, rapidly setting up machines through the system of “single-minute exchange of dies” (SMED) and going to the actual workplace to grasp the true situation there (“going to gemba”). He worked extensively with Toyota executives, especially Mr. Taiichi Ohno, who helped him to apply his understanding of these concepts in the real world.</p>
        <p>Always on the leading edge of new ideas, Dr. Shingo envisioned a collaboration with an organization that would further his life’s work through research, practical-yet-rigorous education and a program for recognizing the best in enterprise excellence throughout the world. In 1988, Shingo received his honorary Doctorate of Management from Utah State University and, later that year, his ambitions were realized when the Shingo Prize was organized and incorporated as part of the university. While the Shingo Prize remains an integral part of what we do, our scope has expanded to include various educational offerings, a focus on research and a growing international network of Shingo Institute Licensed Affiliates.</p>
    </div>
    <div class="hidden" id="staff">&nbsp;</div>
</article>

<article class="container">
	<div class="row">
    	<h3>Shingo Team</h3>
        <hr>
    </div>
    <div class="row">
        	<ul class="two_up tiles">
            	<li>
                	<div class="tile">
                    	<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_250,w_250/v1434052559/Snyder_Kenneth_ao96q8.jpg" alt="Ken Snyder">
                    </div>
                    <div class="tile">
                        <h4>Ken Snyder</h4>
                        <br>
                        <p>Executive Director<br>
                        <a href="mailto:ken.snyder@usu.edu">ken.snyder@usu.edu</a><br>
                        <a href="tel:4357971387">435.797.1387</a></p>
                    </div>
                </li>
                <li>
                	<div class="tile">
                        <img src="https://res.cloudinary.com/shingo/image/upload/c_crop,g_face,h_250,w_250/v1424805757/ShaunPic_pjdzck.jpg" alt="Shaun Barker">
                    </div>
                    <div class="tile">
                        <h4>Shaun Barker</h4>
                        <br>
                        <p>Assistant Executive Director<br>
                        <a href="mailto:shaun.barker@usu.edu">shaun.barker@usu.edu</a><br>
                        <a href="tel:4357973815">435.797.3815</a></p>
                    </div>
                </li>
                <li>
                	<div class="tile">
                        <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_250,w_250/v1440437437/Rick-Edgeman-BIG_twkyrj.jpg" alt="Rick Edgeman">
                    </div>
                    <div class="tile">
                        <h4>Rick Edgeman</h4>
                        <br>
                        <p>Research Director<br>
                        <a href="mailto:rick.edgeman@usu.edu">rick.edgeman@usu.edu</a><br>
                        <a href="tel:4357973815">435.797.9963</a></p>
                    </div>
                </li>
								<li>
                	<div class="tile">
                        <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_250,w_250/v1453411187/Mug%20Shots/GerhardPlenert1.jpg" alt="Gerhard Plenert">
                    </div>
                    <div class="tile">
                        <h4>Gerhard Plenert</h4>
                        <br>
                        <p>Director of Executive Education<br>
                        <a href="mailto:gerhard.plenert@usu.edu">gerhard.plenert@usu.edu</a><br>
                        <!-- <a href="tel:4357972191">435.797.2191</a></p> -->
                    </div>
                </li>
                <li>
                	<div class="tile">
                        <img src="https://res.cloudinary.com/shingo/image/upload/c_crop,g_face,h_4800,w_2600,x_700/c_fill,g_face,h_250,w_250/v1431630830/DominicBria_b9itfw.jpg" alt="Dominic Bria">
                    </div>
                    <div class="tile">
                        <h4>Dominic Bria</h4>
                        <br>
                        <p>Marketing Manager<br>
                        <a href="mailto:dominic.bria@usu.edu">dominic.bria@usu.edu</a><br>
                        <a href="tel:4357972283">435.797.0771</a></p>
                    </div>
                </li>
								<li>
                	<div class="tile">
                        <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_250,w_250/v1428079272/Jamie_Andrus_ku921d.jpg" alt="Jamie Andrus">
                    </div>
                    <div class="tile">
                        <h4>Jamie Andrus</h4>
                        <br>
                        <p>Affiliate Relations Manager<br>
                        <a href="mailto:jamie.andrus@usu.edu">jamie.andrus@usu.edu</a><br>
                        <a href="tel:4357972191">435.797.2191</a></p>
                    </div>
                </li>
                <li>
                    <div class="tile">
                        <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,w_250/v1423004030/Josh_Shelhamer_Photo_chjda8.png" alt="Ha Chau">
                    </div>
                    <div class="tile">
                        <h4>Joshua Shelhamer</h4>
                        <br>
                        <p>Assessment Coordinator<br>
                        <a href="mailto:joshua.shelhamer@usu.edu">joshua.shelhamer@usu.edu</a><br>
                        <a href="tel:4357973812">435.797.3812</a></p>
                    </div>
                </li>
								<li>
                	<div class="tile">
                        <img src="https://res.cloudinary.com/shingo/image/upload/c_crop,g_face,h_4800,w_2600,x_700/c_fill,g_face,h_250,w_250/v1443542863/Jalen_Tollefson_xbsw9n.jpg" alt="Jalen Tollefson">
                    </div>
                    <div class="tile">
                        <h4>Jalen Tollefson</h4>
                        <br>
                        <p>Marketing Assistant<br>
                        <a href="mailto:shingo.pr@usu.edu">shingo.pr@usu.edu</a><br>
                        <a href="tel:4357972283">435.797.9867</a></p>
                    </div>
                </li>
                <li>
                	<div class="tile">
                        <img src="https://res.cloudinary.com/shingo/image/upload/c_crop,g_face,h_250,w_250/v1428335676/Tom_lc3bg7.jpg" alt="Tom Davis">
                    </div>
                    <div class="tile">
                        <h4>Tom Davis</h4>
                        <br>
                        <p>IT Manager<br>
                        <a href="mailto:tom.davis@usu.edu">tom.davis@usu.edu</a><br>
                        <a href="tel:4357973813">435.797.3813</a></p>
                    </div>
                </li>
                <li>
                	 <div class="tile">
                        <img src="https://res.cloudinary.com/shingo/image/upload/c_crop,g_face,h_5000,w_3000/c_fill,g_face,h_250,w_250/v1431630830/DustinHoman_gocnhl.jpg" alt="Dustin Homan">
                    </div>
                    <div class="tile">
                        <h4>Dustin Homan</h4>
                        <br>
                        <p>Systems Administrator<br>
                        <a href="mailto:dustin.e.homan@usu.edu">dustin.e.homan@usu.edu</a><br>
                        <a href="tel:4357972283">435.797.2283</a></p>
                    </div>
                </li>
                <li>
                	<div class="tile">
                        <img src="https://res.cloudinary.com/shingo/image/upload/c_crop,g_face,h_800,w_800/c_scale,h_250,w_250/v1427490372/Megan_zstmjn.jpg" alt="Megan Maples">
                    </div>
                    <div class="tile">
                        <h4>Megan Maples</h4>
                        <br>
                        <p>Executive Administrator<br>
                        <a href="mailto:megan.maples@usu.edu">megan.maples@usu.edu</a><br>
                        <a href="tel:4357972279">435.797.2279</a></p>
                    </div>
                </li>
                <li>
                	<div class="tile">
                        <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_250,w_250/v1435264291/Tanika_zyfuv9.jpg" alt="Tanika Price">
                    </div>
                    <div class="tile">
                        <h4>Tanika Price</h4>
                        <br>
                        <p>Research Award Coordinator<br>
                        <a href="mailto:shingo.assistant@usu.edu">shingo.assistant@usu.edu</a><br>
                        <a href="tel:4357973844">435.797.3836</a></p>
                    </div>
                </li>
                <li>
                	 <div class="tile">
                        <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_250,w_250/v1428335676/Mary_u1xedl.jpg" alt="Mary Price">
                    </div>
                    <div class="tile">
                        <h4>Mary Price</h4>
                        <br>
                        <p>Events Manager<br>
                        <a href="mailto:mary.price@usu.edu">mary.price@usu.edu</a><br>
                        <a href="tel:4357973785">435.797.3785</a></p>
                    </div>
                </li>
                <li>
                	<div class="tile">
                        <img src="https://res.cloudinary.com/shingo/image/upload/c_crop,g_face,h_2900,w_2900/c_scale,h_250,w_250/v1423849867/Shingo-40_i1snd2.jpg" alt="Amy Sadler">
                    </div>
                    <div class="tile">
                        <h4>Amy Sadler</h4>
                        <br>
                        <p>Editor<br>
                        <a href="mailto:amy.sadler@usu.edu">amy.sadler@usu.edu</a><br>
                        <a href="tel:4357972279">435.797.2279</a></p>
                    </div>
                </li>
                <li>
                	 <div class="tile">
                        <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,w_250/v1435264290/Tony_ldnkyf.jpg" alt="Antonio Valdez">
                    </div>
                    <div class="tile">
                        <h4>Antonio Valdez</h4>
                        <br>
                        <p>Affiliate Assistant<br>
                        <a href="mailto:shingo.coord@usu.edu">shingo.coord@usu.edu</a><br>
                        <a href="tel:4357972514">435.797.2514</a></p>
                    </div>
                </li>
            </ul>
    </div>
</article>
