<!-- InstanceBeginEditable name="main" -->
<article class="container" id="academy">
	<div class="row">
    	<div class="nine centered columns text-center">
            <h2 class="quattrocento">Shingo Academy</h2>
            <hr>
            <p>The Shingo Academy consists of individuals who are actively involved in and have distinguished themselves in the area of operational excellence. Members of the Academy serve as promotional ambassadors for the Shingo Institute and its activities.</p>
        </div>
    </div>
    <br>
	<div class="row">
    	<table class="striped">
        	<thead>
            	<tr>
                	<th>Member</th>
                    <th>Position</th>
                    <th>Company</th>
                </tr>
            </thead>
            <tbody>
            	<tr>
                	<td>James F. Albaugh</td>
                    <td>Executive Vice President</td>
                    <td>The Boeing Company</td>
                </tr>
            	<tr>
                	<td>Joji Arai</td>
                    <td>Secretary General</td>
                    <td>International Productivity Service</td>
                </tr>
            	<tr>
                	<td>Stan A. Askren</td>
                    <td>Chairman, President &amp; CEO</td>
                    <td>HNI Corporation</td>
                </tr>
            	<tr>
                	<td>J.T. Battenberg</td>
                    <td>Chairman &amp; CEO</td>
                    <td>Delphi Corporation</td>
                </tr>
            	<tr>
                	<td>Warren Batts</td>
                    <td>Chairman NAM</td>
                    <td>Tupperware Corporation</td>
                </tr>
            	<tr>
                	<td>Norman Bodek</td>
                    <td>Former President</td>
                    <td>Productivity, Inc.</td>
                </tr>
            	<tr>
                	<td>Guy D. Briggs</td>
                    <td>Vice President</td>
                    <td>General Motors</td>
                </tr>
            	<tr>
                	<td>Gifford M. Brown</td>
                    <td>Plant Manager</td>
                    <td>Cleveland Engine Plants, Ford Motor Company</td>
                </tr>
            	<tr>
                	<td>Vernon M. Buehler</td>
                    <td>Professor Emeritus</td>
                    <td>Utah State University</td>
                </tr>
            	<tr>
                	<td>Jerry Bussell</td>
                    <td>Executive Advisor</td>
                    <td>UL Knowledge Services</td>
                </tr>
            	<tr>
                	<td>Arthur P. Byrne</td>
                    <td>Operating Partner</td>
                    <td>J.W. Childs Associates</td>
                </tr>
            	<tr>
                	<td>Timothy A. Costello</td>
                    <td>Chairman &amp; CEO</td>
                    <td>Builder Homesite, Inc.</td>
                </tr>
            	<tr>
                	<td>Stephen R. Covey</td>
                    <td>Co-founder/Co-chairman</td>
                    <td>FranklinCovey Company</td>
                </tr>
            	<tr>
                	<td>H. Lawrence Culp, Jr.</td>
                    <td>President &amp; CEO</td>
                    <td>Danaher Corporation</td>
                </tr>
            	<tr>
                	<td>Michael N. DaPrile</td>
                    <td>Executive Vice President</td>
                    <td>SW Manufacturing, Inc.</td>
                </tr>
            	<tr>
                	<td>Joseph C. Day</td>
                    <td>President &amp; CEO</td>
                    <td>Freudenberg, NOK</td>
                </tr>
            	<tr>
                	<td>Earnest W. Deavenport, Jr.</td>
                    <td>Former Chairman</td>
                    <td>Eastman Chemical</td>
                </tr>
            	<tr>
                	<td>Mark DeLuzio</td>
                    <td>President</td>
                    <td>Lean Horizons Consulting, LLC</td>
                </tr>
                <tr>
                	<td>Andy Eichfeld</td>
                    <td>Director</td>
                    <td>McKinsey &amp; Company</td>
                </tr>
            	<tr>
                	<td>Frank J. Ewasyshyn</td>
                    <td>Executive VP, Manufacturing</td>
                    <td>Chrysler Group</td>
                </tr>
            	<tr>
                	<td>Orest J. Fiume</td>
                    <td>Former Vice President, Finance</td>
                    <td>The Wiremold Company</td>
                </tr>
            	<tr>
                	<td>Louise L. Francesconi</td>
                    <td>President</td>
                    <td>Raytheon Missile Systems</td>
                </tr>
            	<tr>
                	<td>Eliyahu M. Goldratt</td>
                    <td>Founder</td>
                    <td>Goldratt Institute</td>
                </tr>
            	<tr>
                	<td>Benjamin S. Griffin</td>
                    <td>Commanding General, Retired</td>
                    <td>US Army Materiel Command</td>
                </tr>
            	<tr>
                	<td>Andrew M. Guarriello</td>
                    <td>Former Vice President &amp; CEO</td>
                    <td>AT&amp;T Microelectronics' Power Systems</td>
                </tr>
            	<tr>
                	<td>Bruce Hamilton</td>
                    <td>President</td>
                    <td>Greater Boston Manufacturing Partnership</td>
                </tr>
            	<tr>
                	<td>Thomas G. Hartman</td>
                    <td>President &amp; Managing Director</td>
                    <td>Autoliv do Brasil Ltda</td>
                </tr>
            	<tr>
                	<td>Masaaki Imai</td>
                    <td>Chairman</td>
                    <td>KAIZEN Institute of Japan</td>
                </tr>
            	<tr>
                	<td>Jerry J. Jasinowski</td>
                    <td>President</td>
                    <td>National Association of Manufacturers</td>
                </tr>
            	<tr>
                	<td>Brian S. Jones</td>
                    <td>President &amp; CEO</td>
                    <td>Nypro, Inc.</td>
                </tr>
            	<tr>
                	<td>Daniel T. Jones</td>
                    <td>Founder &amp; Chairman</td>
                    <td>Lean Enterprise Academy</td>
                </tr>
            	<tr>
                	<td>Michael Joyce</td>
                    <td>Senior VP, Operations &amp; Program Management</td>
                    <td>Lockheed Martin</td>
                </tr>
            	<tr>
                	<td>James H. Keyes</td>
                    <td>Chairman &amp; CEO</td>
                    <td>Johnson Controls Inc.</td>
                </tr>
            	<tr>
                	<td>George J. Koenigsaecker</td>
                    <td>President</td>
                    <td>Lean Investments, LLC</td>
                </tr>
            	<tr>
                	<td>Mike Lamach</td>
                    <td>Chairman, President &amp; CEO</td>
                    <td>Ingersoll-Rand Company</td>
                </tr>
            	<tr>
                	<td>Peters Lawson</td>
                    <td>Vice President, Manufacturing</td>
                    <td>Ford Motor Company of Australia</td>
                </tr>
            	<tr>
                	<td>Hank Lenox</td>
                    <td>Director, Ford Production System</td>
                    <td>Ford Motor Company</td>
                </tr>
            	<tr>
                	<td>David J. Logozzo</td>
                    <td>President, LE Partners</td>
                    <td>Lean Enterprise Institute</td>
                </tr>
            	<tr>
                	<td>Mike Martyn</td>
                    <td>Founder</td>
                    <td>SISU Consulting Group</td>
                </tr>
            	<tr>
                	<td>Jack Michaels</td>
                    <td>Chairman, President &amp; CEO</td>
                    <td>Snap-On Incorporated</td>
                </tr>
            	<tr>
                	<td>Robert Miller</td>
                    <td>Founder</td>
                    <td>Arches Leadership LLC</td>
                </tr>
            	<tr>
                	<td>R. David Nelson</td>
                    <td>Chairman</td>
                    <td>Quality Analytics Inc.</td>
                </tr>
                <tr>
                	<td>Rodney O'Neal</td>
                    <td>President &amp; COO</td>
                    <td>Delphi Corporation</td>
                </tr>
            	<tr>
                	<td>Paul O'Neill</td>
                    <td>Former Secretary/Former Chairman &amp; CEO</td>
                    <td>US Treasury/Alcoa, Inc.</td>
                </tr>
            	<tr>
                	<td>Hajime Ohba</td>
                    <td>President</td>
                    <td>Toyota Supplier Support Center</td>
                </tr>
            	<tr>
                	<td>James J. Padilla</td>
                    <td>COO</td>
                    <td>Ford Motor Company</td>
                </tr>
            	<tr>
                	<td>Dennis K. Pawley</td>
                    <td>President &amp; CEO</td>
                    <td>Pawley Enterprises</td>
                </tr>
            	<tr>
                	<td>Clifford F. Ransom II</td>
                    <td>President</td>
                    <td>Ransom Research, Inc.</td>
                </tr>
            	<tr>
                	<td>Ross E. Robson</td>
                    <td>President &amp; CEO</td>
                    <td>DnR Lean LLC</td>
                </tr>
            	<tr>
                	<td>Donald L. Runkle</td>
                    <td>Former Vice Chairman, Enterprise Technologies</td>
                    <td>Delphi Corporation</td>
                </tr>
            	<tr>
                	<td>Russell Scaffede</td>
                    <td>Owner</td>
                    <td>Lean Manufacturing Systems Group, LLC</td>
                </tr>
            	<tr>
                	<td>Richard J. Schonberger</td>
                    <td>President</td>
                    <td>Schonberger &amp; Associates, Inc.</td>
                </tr>
            	<tr>
                	<td>Anand Sharma</td>
                    <td>President &amp; CEO</td>
                    <td>TBM Consulting Group</td>
                </tr>
            	<tr>
                	<td>Ritsuo Shingo</td>
                    <td>Former President</td>
                    <td>Toyota China and Hino Motors China</td>
                </tr>
            	<tr>
                	<td>John Shook</td>
                    <td>President &amp; CEO</td>
                    <td>Lean Enterprise Institute</td>
                </tr>
            	<tr>
                	<td>Harold M. Simons</td>
                    <td>Executive VP, Manufacturing</td>
                    <td>O.C. Tanner Company</td>
                </tr>
            	<tr>
                	<td>Art Smalley</td>
                    <td>President</td>
                    <td>Art of Lean, Inc.</td>
                </tr>
            	<tr>
                	<td>Mohnsen Sohi</td>
                    <td>President &amp; CEO</td>
                    <td>Freudenberg-NOK General Partnership</td>
                </tr>
            	<tr>
                	<td>James L. Solberg</td>
                    <td>Executive Director, Manufacturing</td>
                    <td>North America Powertrain's Operations, Ford Motor Company</td>
                </tr>
            	<tr>
                	<td>Anne Stevens</td>
                    <td>Chairman, President &amp; CEO</td>
                    <td>Carpenter Technology Corporation</td>
                </tr>
            	<tr>
                	<td>Carl G. Thor</td>
                    <td>President</td>
                    <td>JarrettThor International</td>
                </tr>
            	<tr>
                	<td>John S. Toussaint</td>
                    <td>CEO</td>
                    <td>ThedaCare Center for Healthcare Value</td>
                </tr>
            	<tr>
                	<td>Robert H. Transon</td>
                    <td>Group VP, Manufacturing, Executive Office</td>
                    <td>Ford Motor Company</td>
                </tr>
                <tr>
                	<td>Nikolas Vande Steeg</td>
                    <td>President &amp; COO</td>
                    <td>Parker Hannifin Corporation</td>
                </tr>
            	<tr>
                	<td>Gerard Vittecoq</td>
                    <td>Group President</td>
                    <td>Caterpillar, Inc.</td>
                </tr>
            	<tr>
                	<td>Alejandro von Rossum, Sr.</td>
                    <td>CEO - Chemical Division</td>
                    <td>Cydsa Corporativo S.A de C.V</td>
                </tr>
            	<tr>
                	<td>Michael J. Ward</td>
                    <td>President</td>
                    <td>Autoliv Americas</td>
                </tr>
            	<tr>
                	<td>Donald J. Wetekam</td>
                    <td>President, Aircraft Services</td>
                    <td>AAR Corporation</td>
                </tr>
            	<tr>
                	<td>David Wohleen</td>
                    <td>President - Electrical, Electronics, Safety &amp; Interior Sector</td>
                    <td>Delphi Corporation</td>
                </tr>
            	<tr>
                	<td>James Womack</td>
                    <td>Founder &amp; President</td>
                    <td>Lean Enterprise Institute</td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
<!-- InstanceEndEditable -->
