<article>
    <div class="row">   
        <h2>Shingo Careers</h2>
    </div>
    <div class="row">
        <h4 style="color:darkred"><strong>Important</strong></h4>
        <p>Some users are currently experiencing issues with Google Chrome. If you are unable to open any of the below links in Google Chrome, please try again using Firefox or Safari</p>
    </div>
    <div class="row">
        <h3><strong>Important!</strong></h3>
        In order to apply for these positions you will need to first sign up for an Aggie Handshake account by following the instructions <a href="https://career-services.usu.edu/pdf/AGGIE%20Handshake%20Student-Alumni%20Guide.pdf" target="_blank">here</a>.  When applying, be sure to create your account as an Alumni. 
    </div>
    <div class="row">
        When searching for these postings on Handshake, insert the job number into the filter box on the left side of the screen.  You can also filter for every Shingo Institute position by entering "shingo" into the filter box.
    </div>
    <hr>
    <div class="row">
        <p>
            <strong><h4>Marketing Coordinator</h4></strong>
        </p>
        <p>
            <strong>Job Number:</strong> 1925779
        </p>
        <p>
            <strong>Hours:</strong> 20-25 per week
        </p>
        <p>
            <strong>Job Status:</strong> Non-Student Position
        </p>
        <p>
            <strong>Hourly Wage:</strong> $14.00
        </p>
        <p>
            <strong>Position Summary: </strong> The Shingo Institute, a program in the Jon M. Huntsman School of Business at Utah State University in Logan, has created the new position of Marketing Coordinator to help manage the marketing team’s day-to-day operations. The position will report to the Marketing and Communications Manager and be a member of the senior staff working with a graphic artist and two student employees who handle social media and video production. To get a good idea of what the Shingo Institute does, visit Shingo.org.
        </p>
        <p>
            <strong>Responsibilities: </strong>
            <ul style="list-style: disc inside">
                <li>Workshop materials management, including working with various printers to get bids and print materials.</li>
                <li>Marketing calendar management. Help to create and maintain the marketing calendar and see that it is being followed.</li>
                <li>Newsletter content management.</li>
                <li>Press release management.</li>
                <li>Receipt handling and management.</li>
                <li>List management.</li>
                <li>Management of social media ads and remarketing ads (also known as retargeting).</li>
            </ul>
        </p>
        <p>
            <strong>Required Qualifications:</strong>
            <ul style="list-style: disc inside">
                <li>Porificient with the Microsoft Office suite (Word, Excel, Powerpoint).</li>
                <li>Organized and professional.</li>
                <li>Friendly personality, able to work across teams to get things done.</li>
                <li>Marketing experience.</li>
            </ul>
        </p>
        <p>
            <strong>Preferred Qualifications:</strong>
            <ul style="list-style: disc inside">
                <li>Familiarity with Adobe Illustrator, Photoshop, and/or InDesign.</li>
                <li>Familiarity with Salesforce.</li>
                <li>Familiarity with ConstantContact.</li>
                <li>Copywriting experience.</li>
                <li>High comfort level with LinkedIn.</li>
            </ul>
        </p>
        <p>
            <strong>Required Documents:</strong> Resume, Cover Letter
        </p>
        <p>
            <strong>Optional Documents:</strong> Writing Samples
        </p>
        <p>
            Click <a href="https://usu.joinhandshake.com/jobs/1925779?ref=postings-search-result" target="_blank">here</a> to see the posting and apply on Aggie Handshake.
        </p>
    </div>
    <hr>
    <div class="row">
        <p>
            <strong><h4>Graphic Artist</h4></strong>
        </p>
        <p>
            <strong>Job Number:</strong> 1925806
        </p>
        <p>
            <strong>Hours:</strong> 20-25 per week
        </p>
        <p>
            <strong>Job Status:</strong> Non-Student Position
        </p>
        <p>
            <strong>Hourly Wage:</strong> $16.00
        </p>
        <p>
            <strong>Position Summary: </strong> The Shingo Institute is part of the Jon M. Huntsman School of Business at USU. We’re looking for someone with experience in graphic art, branding, and print. In this position, you will be the brand boss; the one who sees to it that everything that goes out is branded properly. You’ll be part of a small marketing and communications team that includes student employees and you’ll report to the Marketing and Communications Manager. You’ll design logos, booklets, signage, web pages, brochures, and you’ll edit the work of others in order to brand it properly and make certain that it looks impressive and professional. You’ll have a big hand in shaping the public image of the Shingo Institute. You may also be asked to do other marketing related tasks beyond graphic art. Here, we help each other wherever we’re needed. Learn more about the Shingo Institute at Shingo.org. 
 
        </p>
        <p>
            <strong>Required Qualifications:</strong>
            <ul style="list-style: disc inside">
                <li>Proficiency with the Adobe Creative Suite (Illustrator, Photoshop, and InDesign).</li>
                <li>Print experience (preflights, press checks, etc.).</li>
                <li>Experience with branding beyond just logo placement.</li>
                <li>Proficiency with Adobe Dreamweaver.</li>
                <li>Ability to accept changes to your work without having your ego bruised (everyone gets edited here, no exceptions).</li>
                <li>A portfolio of your past work (online or otherwise).</li>
            </ul>
        </p>
        <p>
            <strong>Preferred Qualifications:</strong>
            <ul style="list-style: disc inside">
                <li>Good understanding of HTML.</li>
                <li>Video editing experience on either Final Cut Pro or Adobe Premiere.</li>
                <li>Web design experience.</li>
            </ul>
        </p>
        <p>
            <strong>Required Documents:</strong> Resume, Cover Letter, Portfolio of Work Samples
        </p>
        <p>
            Click <a href="https://usu.joinhandshake.com/jobs/1925806?ref=postings-search-result" target="_blank">here</a> to see the posting and apply on Aggie Handshake.
        </p>
    </div>
</article>