<article>
    <div class="row">   
        <h2>Shingo Careers</h2>
    </div>
    <div class="row">
        <h4 style="color:darkred"><strong>Important</strong></h4>
        <p>Some users are currently experiencing issues with Google Chrome. If you are unable to open any of the below links in Google Chrome, please try again using Firefox or Safari</p>
    </div>
    <div class="row">
        <h3><strong>Important!</strong></h3>
        In order to apply for these positions you will need to first sign up for an Aggie Handshake account by following the instructions <a href="https://career-services.usu.edu/pdf/AGGIE%20Handshake%20Student-Alumni%20Guide.pdf" target="_blank">here</a>.  When applying, be sure to create your account as an Alumni. 
    </div>
    <div class="row">
        When searching for these postings on Handshake, insert the job number into the filter box on the left side of the screen.  You can also filter for every Shingo Institute position by entering "shingo" into the filter box.
    </div>
    <hr>
    <div class="row">
        <p>
            <strong><h4>Accountant/Reception</h4></strong>
        </p>
        <p>
            <strong>Job Number:</strong> 2284574
        </p>
        <p>
            <strong>Hours:</strong> 20 per week
        </p>
        <p>
            <strong>Job Status:</strong> Non-Student Position
        </p>
        <p>
            <strong>Hourly Wage:</strong> Commensurate with experience
        </p>
        <p>
            <strong>Position Summary:</strong> Will work with QuickBooks accounting system, coordinate travel arrangements for the executive director, and answer phones for the Shingo Institute.
        </p>
        <p>
            <strong>Responsibilites:</strong> Responsibilities include accounting tasks in QuickBooks and some work in Banner, data entry in Salesforce, tracking and processing travel expenses for the executive director, answering the phone for the office, ordering ofice supplies through EZBuy, processing mail, preparing FedEx shipping, and other tasks as directed.
        </p>
        <p>
            <strong>Required Qualifications:</strong>
            <ul style="list-style: disc inside">
                <li>Strong accounting skills.</li>
                <li>Proficient with the Microsoft Office suite (Word, Excel, Powerpoint).</li>
                <li>Ability to learn new software quickly.</li>
                <li>Communication skills.</li>
                <li>Self-driven, detail-oriented, and reliable.</li>
                <li>Must be able to work a set schedule in the Shingo office between 8-5, 4 hours a day, M-F. (i.e. 10am-2pm M-F, or 11am-3pm M-F).</li>
            </ul>
        </p>
        <p>
            <strong>Preferred Qualifications:</strong>
            <ul style="list-style: disc inside">
                <li>Experience with Salesforce.</li>
                <li>Two years experience with QuickBooks.</li>
            </ul>
        </p>
        <p>
            <strong>Application Instructions:</strong> USU’s number for this job is 2284574. When you click the link to apply, you will need to apply as though you are USU alumni but you will not need to enter a personal ID number. Once you have opened your free USU career services account, find this job in the system by entering the job number (2284574) in the search bar and follow the instructions to submit your application. If you have any issues creating or logging into your account please call USU Career Services at (435) 797-7777.<br>
            <strong>Begin here:</strong> <a href="https://usu.joinhandshake.com/jobs/2284574">https://usu.joinhandshake.com/jobs/2284574</a>
        </p>
    </div>
    <hr>
    <div class="row">
        <p>
            <strong><h4>Editor</h4></strong>
        </p>
        <p>
            <strong>Job Number:</strong> 2286019
        </p>
        <p>
            <strong>Hours:</strong> 20-30 per week
        </p>
        <p>
            <strong>Job Status:</strong> Non-Student Position
        </p>
        <p>
            <strong>Hourly Wage:</strong> $14.00
        </p>
        <p>
            <strong>Position Summary:</strong> Editor for the Shingo Institute at the Jon M. Huntsman School of Business.
        </p>
        <p>
            <strong>Responsibilities:</strong> Plan, coordinate, and revise material for publication in books, newsletters, and websites. Compile feedback reports; read content; and correct for errors in spelling, punctuation, and grammar. Review and edit drafts of books, articles, and marketing blasts. Rewrite copy to make it easier for readers to understand. Express ideas clearly and logically. Offer comments to improve the product. Make sure material is error-free. Approve all final versions as submitted by staff. Must maintain client confidentiality and be willing to sign a non-disclosure agreement. Job will be at the Shingo Institute offices and hours will range between 20-30 per week.
        </p>
        <p>
            <strong>Required Qualifications:</strong>
            <ul style="list-style: disc inside">
                <li>Proficient with the Microsoft Office suite (Word, Excel, Powerpoint).</li>
                <li>Detail-oriented.</li>
                <li>Excellent writing and editing skills/experience.</li>
                <li>Strong communication and interpersonal skills.</li>
            </ul>
        </p>
        <p>
            <strong>Preferred Qualifications:</strong>
            <ul style="list-style: disc inside">
                <li>Experience with Adobe InDesign.</li>
                <li>Working knowledge of Lean Manufacturing terminology.</li>
            </ul>
        </p>
        <p>
            <strong>Application Instructions:</strong> USU’s number for this job is 2286019. When you click the link to apply, you will need to apply as though you are USU alumni but you will not need to enter a personal ID number. Once you have opened your free USU career services account, find this job in the system by entering the job number (2286019) in the search bar and follow the instructions to submit your application. If you have any issues creating or logging into your account please call USU Career Services at (435) 797-7777.<br>
            <strong>Begin here:</strong> <a href="https://usu.joinhandshake.com/jobs/2286019">https://usu.joinhandshake.com/jobs/2286019</a>
        </p>
    </div>
</article>
