<article>
    <div class="row">   
        <h2>Shingo Careers</h2>
    </div>
    <div class="row">
        <h3>Important!</h3>
        In order to apply for these positions you will need to first sign up for an Aggie Handshake account by following the instructions <a href="https://career-services.usu.edu/pdf/AGGIE%20Handshake%20Student-Alumni%20Guide.pdf" target="_blank">here</a>.  When applying, be sure to create your account as an Alumni. 
    </div>
    <div class="row">
        When searching for these postings on Handshake insert the job number into the filter box on the left side of the screen.  You can also filter for every Shingo Institute position by entering "shingo" into the filter box.
    </div>
    <hr>
    <div class="row">
        <p>
            <strong><h4>Accountant/Reception</h4></strong>
        </p>
        <p>
            <strong>Job Number:</strong> 1057676
        </p>
        <p>
            <strong>Position Summary: </strong> Will work with QuickBooks accounting system and answer phones for the Shingo Institute. 20 hours per week.
        </p>
        <p>
            <strong>Responsibilities</strong> include accounting tasks in QuickBooks and some work in Banner, data entry in Salesforce, answering the phone for the office, ordering office supplies through EZBuy, processing mail, preparing FedEx shipping, and other tasks as directed.
        </p>
        <p>
            <strong>Minimum Qualifications:</strong> Strong accounting skills, proficient in Microsoft Office, ability to learn new software quickly, communication skills, and self-driven, reliable. Minimum two years experience in QuickBooks.  Must be able to work a set schedule in the Shingo office between 8-5, 4 hours a day, M-F. (i.e. 10am-2pm M-F, or 11am-3pm M-F).
        </p>
        <p>
            <strong>Preferred Qualifications:</strong>
            <ul class="square">
                <li>Experience with Salesforce</li>
            </ul>
        </p>
        <p>
            Click <a href="https://usu.joinhandshake.com/jobs/1057676?ref=postings-search-result" target="_blank">here</a> to see the posing on Aggie Handshake.
        </p>
    </div>
    <hr>
    <div class="row">
        <p>
            <strong><h4>Software Developer</h4></strong>
        </p>
        <p>
            <strong>Job Number:</strong> 1097518
        </p>
        <p>
            <strong>Position Summary: </strong> As a software developer at the Shingo Institute, you will be a part of a team that focuses on the value for the customer, embraces scientific thinking, and seeks perfection. Your role in that team is to provide tools that enable our customers, Affiliates, and fellow team members to access the data they need, when they need it. Primarily, the Shingo Institute does this through a suite of web applications, both custom and off-the-shelf, as it allows for the greatest accessibility. Not only will you be writing code, but you will get hands on experience with the operations side of DevOps. From setting up servers to building containers, you will be able to assist in delivering the code you write to the customer. 
        </p>
        <p>
            <strong>Duties:</strong> 
            <ul class="square">
                <li>Manage multiple projects</li>
                <li>Design/implement/test custom software solutions</li>
                <li>Consult with customers (in-house and out) on software solutions</li>
                <li>Maintain a code-base of 50,000+ Lines of Code</li>
                <li>Assist the Systems Administrator in resolving in-house IT issues</li>
                <li>Document software that the position develops</li>
                <li>Possible travel to assist in AV support for conferences</li>
            </ul>
        </p>
        <p>
            <strong>Required Skills:</strong> 
            <ul class="square">
                <li>At least 1 year of relevant work or school experience</li>
                <li>Knowledge of Object Oriented Design</li>
                <li>Familiarity with JavaScript (TypeScript is a plus!) or another OOP language</li>
                <li>Exposure to NodeJS and NPM or another Event-Driven framework</li>
                <li>Experience with REST APIs</li>
                <li>Excellent written and verbal communication in English</li>
            </ul>
        </p>
        <p>
            <strong>Desired Skills:</strong>
            <ul class="square">
                <li>Experience with Cloud Services</li>
                <li>Experience with Automated Testing</li>
                <li>Experience with Docker</li>
                <li>Experience with Unix (Ubuntu Server a plus!)</li>
                <li>Experience with Continuous Integration/Continuous Deployment</li>
                <li>Knowledge of Agile Software Development Methodologies</li>
                <li>Knowledge of UML</li>
            </ul>
        </p>
        <p>
            <em>Major Required: Computer Science/Math/Engineering/MIS</em>
        </p>
        <p>
            Click <a href="https://app.joinhandshake.com/jobs/1097518?ref=postings-search-result" target="_blank">here</a> to see the posing on Aggie Handshake.
        </p>
    </div>
</article>