<article class="container">
  <div class="row">
    <h1 class="text-center">The Craftsmanship Project</h1>
    <h5 class="text-center"><i class="icon-dot"></i> <i class="icon-dot"></i> <i class="icon-dot"></i></h5>

    <!-- <div class="row">
      <div class="six columns text-center">
        <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_140/v1472145680/temp/iStock_machinistSmall.png" alt="Machinist" />
      </div>
      <div class="six columns text-center">
        <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_140/v1472145680/temp/iStock_machinist2Small.png" alt="Machinist" />
      </div>
    </div> -->

    <div class="row text-center">
      <br>
      <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_160,w_250/v1472145680/temp/iStock_machinistSmall.png" alt="Machinist" />
      <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_160,w_250/v1472145680/temp/iStock_machinist2Small.png" alt="Machinist" />
    </div>

    <br>
    <h3 class="text-center">Thank you for your interest in the Craftsmanship Project.</h3>
    <p>In the U.S. we have a strong tradition of craftsmanship, particularly in the area of innovation; new ideas and new products. Unfortunately, in order to save money on labor costs, we have shifted more manufacturing jobs outside the U.S. than is healthy for the economy. We can retain more manufacturing jobs if we focus on craftsmanship and many companies are already doing it.</p>
    <p>The goal of this project is to create a collection of stories and experiences from people who have been part of manufacturing companies who have preserved the ethic of craftsmanship in their organizations as a way if preserving manufacturing jobs locally.</p>
    <p>Please submit your story to the email address below in the form of an <strong>email</strong> or an <strong>attached document</strong>. Include your <strong>contact information</strong> so we can credit the appropriate individuals and companies and contact you if we need more information.</p>
    <h5 class="text-center"><strong><em>Please use "The Craftsmanship Project" as the subject line.</em></strong></h5>
    <h3 class="text-center"><a href="mailto:shingo.pr@usu.edu?subject=The Craftsmanship Project">shingo.pr@usu.edu</a></h3>
    <br>
    <br>
  </div>
</article>
