<article class="container">
  <section>
    <div class="row">
      <h1 class="text-center">The Craftsmanship Project</h1>
      <h5 class="text-center"><i class="icon-dot"></i> <i class="icon-dot"></i> <i class="icon-dot"></i></h5>
       <br>
      <!-- <div class="row">
        <div class="six columns text-center">
          <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_140/v1472145680/temp/iStock_machinistSmall.png" alt="Machinist" />
        </div>
        <div class="six columns text-center">
          <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_140/v1472145680/temp/iStock_machinist2Small.png" alt="Machinist" />
        </div>
      </div> -->

      <!-- <div class="row text-center">
        <br>
        <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_160,w_250/v1472145680/temp/iStock_machinistSmall.png" alt="Machinist" />
        <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_160,w_250/v1472145680/temp/iStock_machinist2Small.png" alt="Machinist" />
      </div> -->

      <div class="row text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VZ76H1qAyVc" frameborder="0" allowfullscreen></iframe>
      </div>

      <br>
      <h3 class="text-center">Thank you for your interest in the Craftsmanship Project.</h3>
      <p>In the U.S. we have a strong tradition of craftsmanship, particularly in the area of innovation: new ideas and new products. Unfortunately, in order to save money on labor costs, we have shifted more manufacturing jobs outside the U.S. than is healthy for the economy. We can retain more manufacturing jobs if we focus on craftsmanship, and many companies are already doing it.</p>
      <p>The goal of the Craftsmanship Project is to create a collection of stories and experiences from people who are part of manufacturing companies that have preserved the craftsmanship ethic in their organizations as a way of maintaining local manufacturing jobs.</p>
      <p>Please submit your story to the email address below by including it in the body of the <strong>email</strong> or as an <strong>attached document</strong>. Also include your <strong>contact information</strong> so we can credit the appropriate individuals and companies, and contact you if we need more information.</p>
      <h5 class="text-center"><strong><em>Please use "The Craftsmanship Project" as the subject line.</em></strong></h5>
      <h3 class="text-center"><a href="mailto:shingo.pr@usu.edu?subject=The Craftsmanship Project">shingo.pr@usu.edu</a></h3>
      <br>
      <br>
    </div>
  </section>
  <section>
    <div class="row text-center">
      <div class="three columns">
      </div>
      <div class="six columns">
          <h3>Want to know more about The Craftsmanship Project?</h3>
          <h5>Join us at the upcoming Shingo Summit for Manufacturing</h5>

          <a href="/events/manufacturing">
              <div id="manufacturing">
                  <div class="row" id="transborder">
                      <div class="span4"></div>
                      <div class="span4"><img class="gridImg" src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_150/v1471277684/Summits/Shingo-Web-Link.png" /></div>
                      <div class="span4"></div>
                  </div>
              </div>
          </a>
      </div>
      <div class="three columns">
      </div>
    </div>
  </section>
</article>
