<article class="container" id="seab">
	<div class="row">
		<div class="nine centered columns text-center">
			<h2 class="quattrocento">Shingo Faculty Fellows</h2>
			<hr>
			<p>Shingo Faculty Fellows are senseis that are well-known in the Lean world and represent the Shingo Institute in educational settings. The primary activity of Shingo Faculty Fellows is to conduct workshops on behalf of the Shingo Institute and to train new facilitators to conduct Shingo workshops around the world. Shingo Faculty Fellows also develop curriculum for new and existing courses, write case studies, help support publications such as books and articles, and serve as ambassadors of the Shingo Institute.</p>
		</div>
	</div>
	<br>
    <div class="row">
        <ul class="two_up tiles">
            <li>
                <div class="six columns">
                    <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_300,w_300/v1440437437/Rick-Edgeman-BIG_twkyrj.jpg">
                </div>
                <div class="six columns">
                    <h5><strong>Rick Edgeman</strong></h5>
                    <br>
                    <p>Professor & Chair, Management Dept.
                    <br><strong>Fort Hays State University</strong></p>
                    <p><a href="#" class="switch" gumby-trigger="#rick">About</a></p>
                    <div class="modal" id="rick">
                        <div class="content">
                            <p>Rick Edgeman, former director of research at the Shingo Institute, recently joined Fort Hays State University as professor and chair of the Robbins College of Business & Entrepreneurship's Management Department. Dr. Edgeman continues to serve as a visiting professor of quality management in the Industrial Engineering & Management Division at Uppsala University in Sweden, and sustainability and enterprise performance at Aarhus University in Denmark. His areas of expertise are in sustainable enterprise excellence, Six Sigma innovation and design, quality management, and social-ecological innovation.</p>
                            
                            <p>With a doctoral degree in statistics and minors in management science and geo-statistics from the University of Wyoming, Dr. Edgeman's work experience has spanned a wide range of business, engineering and science schools in the US and abroad. A serial academic innovator, Dr. Edgeman created a graduate Six Sigma Innovation & Design certificate program, led M.S. statistical science curriculum innovation enabling full online degree provision, and contributed to creating the VIEW Entrepreneurship Program at the University of Idaho, where he served as professor and head of the Statistical Science Department. He introduced significant innovation in the QUEST Honors Fellows Program at the University of Maryland that enabled 80% growth, and introduced M.S. and Ph.D. programs in quality and reliability management at the University of North Texas.</p>
                            
                            <p>A Six Sigma Black Belt, Dr. Edgeman has been a visiting professor in the Quality & Environmental Management Division at Lulea University (Sweden), EMBA visiting professor at Universita della Svizzera Italiana (University of Italian Switzerland) and invited professor at the Versailles Business School - University of Versailles Saint-Quentin en Yvelines (France). He frequently presents international keynote addresses and lectures and is one of only six academics selected for inclusion among "21 Voices of Quality for the 21st Century" (American Society for Quality: 2000).</p>
                            
                            <p>Dr. Edgeman previously acted as the founding executive director of the Multinational Alliance for the Advancement of Organizational Excellence and served from 2002 to 2012 on the Academic Advisory Council of Hamdan Bin Mohamed Smart University in Dubai (UAE). He has served on multiple editorial review boards and is currently the associate editor of Total Quality Management & Business Excellence. Dr. Edgeman is also a member of the advisory board for the Sustainability, Ethics and Entrepreneurship Conference.</p>
                            <div class="text-center">
                                <p class="btn secondary medium"><a href="#" class="switch active" gumby-trigger="|.modal">Close</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="six columns">
                    <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_300,w_300/v1503947843/BioPhotos/Beau_Keyte.jpg">
                </div>
                <div class="six columns">
                    <h5><strong>Beau Keyte</strong></h5>
                    <br>
                    <p>President
                    <br><strong>The Keyte Group</strong></p>
                    <p><a href="#" class="switch" gumby-trigger="#beau">About</a></p>
                    <div class="modal" id="beau">
                        <div class="content">
                            <p>Beau Keyte, as president of The Keyte Group, teaches, coaches and facilitates on two important transformation fronts: changing the work processes and changing the roles and responsibilities of leadership to support new work processes. This work keeps him happy as he guides systemic learning and change. Teams learn how to understand, prioritize and solve performance problems while management learns how to coach the staff in a way to develop them into better thinkers and employees.</p>
                            <br>
                            <p>His operational excellence focus began in 1986 and his work has expanded to include support in healthcare, financial services and manufacturing. Mr. Keyte has been active in designing ways to help organizations learn in highly leveraged collaborative models, including working with 62 emergency departments across Michigan to simultaneously improve patient outcomes. He has two Shingo Publication award-winning books: The Complete Lean Enterprise and Perfecting Patient Journeys, and he has authored several articles. Mr. Keyte is also a faculty member of the Lean Enterprise Institute (LEI), a contributing author to Huffington Post, and an adjunct faculty member of The Ohio State University’s Masters of Business in Operational Excellence program.</p>
                            <br>
                            <p>Mr. Keyte was named an inaugural Shingo Faculty Fellow by the Shingo Institute. Shingo Faculty Fellows are senseis that are well-known in the Lean world, serve as ambassadors of the Shingo Institute, and conduct workshops on behalf of the Shingo Institute.</p>
                            <div class="text-center">
                                <p class="btn secondary medium"><a href="#" class="switch active" gumby-trigger="|.modal">Close</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="row">
        <ul class="two_up tiles">
            <li>
                <div class="six columns">
                    <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_300,w_300/v1492105566/BioPhotos/2017/sam-macpherson-300x300.jpg">
                </div>
                <div class="six columns">
                    <h5><strong>Sam MacPherson</strong></h5>
                    <br>
                    <p>Founder and Executive Director
                    <br><strong>Lean Leadership Academy</strong></p>
                    <p><a href="#" class="switch" gumby-trigger="#sam">About</a></p>
                    <div class="modal" id="sam">
                        <div class="content">
                            <p>Sam MacPherson is the founder and executive director of the Lean Leadership Academy. He is an internationally recognized Lean transformation and leadership development expert, speaker and thought leader. Mr. MacPherson is well-known for his annual gathering of Lean leaders to advance the art and science of Lean leadership, development and research; transformative leadership methods; operational excellence; and building Lean leadership relationships.</p>
                            <br>
                            <p>Mr. MacPherson is an experienced and award-winning plant manager, director of manufacturing, and retired marine industry executive vice president. He learned TPS directly from Toyota and is a certified Toyota trainer. Mr. MacPherson has experience as a Special Forces officer and combat veteran, and he also served as a consultant for the College of Engineering at North Carolina State University.</p>
                            <br>
                            <p>He studied operations management at the University of Alabama and is a graduate of the prestigious US Army Command and General Staff College School of Advanced Military Studies (SAMS). Mr. MacPherson continues his service to the special operations community as an advisor to the commander of US Army Special Operations and the Special Warfare School and Joint Staff Officer College.</p>
                            <br>
                            <p>Mr. MacPherson was named an inaugural Shingo Faculty Fellow by the Shingo Institute. Shingo Faculty Fellows are senseis that are well-known in the Lean world, serve as ambassadors of the Shingo Institute, and conduct workshops on behalf of the Shingo Institute.</p>
                            <div class="text-center">
                                <p class="btn secondary medium"><a href="#" class="switch active" gumby-trigger="|.modal">Close</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="six columns">
                    <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_300,w_300/v1406135743/Mike_Orzen_gsdlxi.jpg">
                </div>
                <div class="six columns">
                    <h5><strong>Michael Orzen</strong></h5>
                    <br>
                    <p>President
                    <br><strong>Mike Orzen & Associates, Inc.</strong></p>
                    <p><a href="#" class="switch" gumby-trigger="#michael">About</a></p>
                    <div class="modal" id="michael">
                        <div class="content">
                            <p>Mike Orzen’s career, with more than 20 years of coaching experience, includes the successful application of Lean in many environments including manufacturing, service, IT, healthcare, supply chain logistics, banking, insurance, aerospace, and food & beverage. Mr. Orzen is a faculty member at the Lean Enterprise Institute and ThedaCare HealthCare Value Network, a Shingo Prize examiner, as well as president of Mike Orzen & Associates. Prior to opening Mike Orzen & Associates, he served as plant manager of a medical implants facility, where he led a company-wide Lean transformation and strategic deployment. Mr. Orzen is author of the award-winning book Lean IT: Enabling & Sustaining Your Lean Enterprise and holds degrees from Stanford University and the University of Oregon.</p>
                            <br>
                            <div class="text-center">
                                <p class="btn secondary medium"><a href="#" class="switch active" gumby-trigger="|.modal">Close</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="row">
        <ul class="two_up tiles">
            <li>
                <div class="six columns">
                    <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,e_grayscale,g_face,h_300,w_300/v1466611041/Summits/2016Manufacturing/gwen.png">
                </div>
                <div class="six columns">
                    <h5><strong>Gwendolyn Galsworth</strong></h5>
                    <br>
                    <p>President
                    <br><strong>Visual Thinking Inc</strong></p>
                    <p><a href="#" class="switch" gumby-trigger="#gwen">About</a></p>
                    <div class="modal" id="gwen">
                        <div class="content">
                            <p>Gwendolyn Galsworth is a recognized visual workplace expert who has been implementing visuality for over 30 years in some of the world’s best and most complex companies. As a hands-on implementer, coach, and author, she has focused on codifying the visual workplace—its concepts, principles, and technologies—into a single, coherent framework of knowledge and know-how that is sustainable.</p>
                            <br>
                            <p>Over the course of her work, Dr. Galsworth has developed an array of visual workplace methodologies and services that transform companies.</p>
                            <br>
                            <p>Dr. Galsworth leads full-company visual conversions, trains trainers, and conducts visual site assessments. She also frequently leads live coaching clinics and public and on-site seminars, in addition to supporting a network of licensed visual workplace affiliates.</p>
                            <br>
                            <p>She founded Visual Thinking Inc. (originally Quality Methods International) in 1991 as a base for her client work and associated research. In 2005, Dr. Galsworth launched The Visual-Lean® Institute where in-house trainers and external consultants are trained and certified in the Institute’s nine core visual workplace methods.</p>
                            <br>
                            <p>Dr. Galsworth is the author of seven books on workplace visuality and strategic improvement, two of which have received the coveted Shingo Research Award. Her long-running weekly radio show, The Visual Workplace, has produced a library of over 200 podcasts, and her weekly newsletter, The Visual Thinker, produced hundreds of articles.</p>
                            <div class="text-center">
                                <p class="btn secondary medium"><a href="#" class="switch active" gumby-trigger="|.modal">Close</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</article>