<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SGWW8M"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<article class="container">
  <section>
    <div class="row">
      <div class="twelve columns">
        <br>
        <p class="text-center"><img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_150/v1481222893/WebDesign/Logos/ShingoLogo-Tagline-2016.png" alt=""></p>
      </div>
      <div class="row">
        <div class="six columns">
          <p class="text-center"><img src="https://res.cloudinary.com/shingo/image/upload/c_scale,w_300/v1423695734/Shingo_Model_ywvyb0.png" alt=""></p>
        </div>
        <div class="six columns">
          <br>
          <h3 class="text-center">Discover Operations Excellence with the Shingo Model™</h3>
          <p>The <em>Shingo Model</em> is not just another improvement initiative. It’s a new way of thinking about the role your organization’s culture plays in flowing value to your customers.  The Shingo Model Basics booklet walks you through the basics of the <em>Shingo Model</em>. It’s free to take a look and see for yourself.</p>
          <h5 class="text-center"><strong><a href="https://usu.co1.qualtrics.com/SE/?SID=SV_exOV9F0m7yOB5Vr" onClick="ga('send', 'event', 'Linkedin Landing Page', 'click', 'Linkedin - Model Download', 1)" target="_blank">Request a booklet!</a></strong></h5>
        </div>
      </div>
      <div class="row">
        <br>
      </div>
      <div class="row">
        <div class="six columns">
          <h4 class="text-center">Already have a booklet? Get our newsletter!</h4>
          <h5><strong>Why get the Shingo Newsletter?</strong></h5>
          <p>The Shingo Newsletter gives you an article about one of the 10 Guiding Principles each month. Each article contains tips about how to implement it within your own organization. It's also where you will learn about upcoming events like study tours, conferences, and summits. Finally, it gives you a schedule of upcoming Shingo workshops, where you can learn the <em>Shingo Model™</em> in greater depth to keep building your organization toward operational excellence.</h5>
          <h5 class="text-center"><strong><a href="#" onClick="ga('send', 'event', 'Linkedin Landing Page', 'click', 'Linkedin - Newsletter', 1)" class="switch" gumby-trigger="#mailing-list">Request our newsletter!</a></strong></h5>
        </div>
        <div class="six columns">
          <br>
          <br>
          <p class="text-center"><img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_250/v1481219617/WebDesign/Model/GuidingPrinciples-2016.png" alt=""></p>
        </div>
      </div>
      <div class="row">
        <br>
        <h5 class="text-center">Learn more about the <em>Shingo Institute</em>, it's events, and the <em>Shingo Prize</em> at our <a href="/">homepage</a>!</p>
      </div>
    </div>
  </section>
</article>
