<article class="container">
  <section>
    <div class="row">
      <div class="twelve columns">
        <br>
        <p class="text-center">Copy/Structure for Linkedin campaign here</p>
      </div>
      <div class="row">
        <h3 class="text-center">Discover Operations Excellence with the Shingo Model™</h3>
        <p>The Shingo Model is not just another improvement initiative. It’s a new way of thinking about the role your organization’s culture plays in flowing value to your customers. It’s free to take a look and see for yourself.</p>
        <p class="text-center">Graphic of booklet & link to download</p>
      </div>
      <div class="row">
        <h4 class="text-center">If you already have a copy of the booklet but would like to receive the monthly Shingo Newsletter, Click Here.</h4>
        <h5><strong>Why get the Shingo Newsletter?</strong></h5>
        <p>The Shingo Newsletter gives you an article about one of the 10 Guiding Principles each month. Each article contains tips about how to implement it within your own organization. It's also where you will learn about upcoming events like study tours, conferences, and summits. Finally, it gives you a schedule of upcoming Shingo workshops, where you can learn the <em>Shingo Model™</em> in greater depth to keep building your organization toward operational excellence.</h5>
        <h5 class="text-center">Learn more about the <em>Shingo Institute</em>, it's events, and the <em>Shingo Prize</em> at our <a href="/">homepage</a>!</p>
      </div>
    </div>
  </section>
</article>
