<!-- InstanceBeginEditable name="main" -->
<article class="container" id="privacy-policy">
	<div class="row">
    	<h2>Copyright &amp; Privacy Policy</h2>
        <h6>Last Updated June 8, 2016</h6>
        <br>
        <h4>Collection of Your Information</h4>
            <p>Our web server does not automatically recognize any information regarding the domain or e-mail address of visitors to our site.</p>
            <p>The Shingo Institute only stores information that you provide when registering for an event, newsletter or filling out a form through our site. The Shingo Institute does not distribute, sell, or lease member lists to third parties. The Shingo Institute may, from time to time, contact you about a particular offering, to update your member profile, or about the Shingo Institute services that may be of interest to you. You may opt out of such mailings at any time by simply clicking the Opt Out link at the bottom of each communication we send.</p>
	        <p>This site uses Google Analytics web analytics service. Google may record mouse clicks, mouse movements, scrolling activity as well as any text you type in this website. Google does not collect personally identifiable information that you do not voluntarily enter in this website. Google does not track your browsing habits across web sites which do not use Google services. For more information on Google Analytics privacy, see Privacy Policy for Information Collected by the Google Analytics here: <a href="http://www.google.com/intl/en/analytics/privacyoverview.html">http://www.google.com/intl/en/analytics/privacyoverview.html</a>.</p>
        <h4>Security of Your Information</h4>
            <p>The Shingo Institute is committed to protecting the security of your information. We use a variety of security technologies and procedures to help protect your information from unauthorized access, use, or disclosure. For example, we store the personal information you provide on computer systems with limited access, which are located in a controlled facility. When we transmit confidential information over the internet, we protect it through the use of 128-bit encryption, such as the Secure Socket Layer (SSL) protocol.</p>
        <h4>Use of Session Cookies</h4>
            <p>The Shingo Institute uses "session cookies" to help personalize your online experience. A session cookie is a text file placed on your hard disk by a web page server. Session cookies cannot be used to run programs or deliver viruses to your computer. Session cookies are uniquely assigned to you and can only be read by a web server in the domain that issued the session cookie to you. These session cookie files disappear when you end your session. They are not stored permanently on your computer.</p>
            <p>You have the ability to accept or decline cookies. If you choose to decline cookies, you may not be able to fully experience the interactive features of the The Shingo Institute services or web sites you visit.</p>
        <h4>Shingo Institute Intellectual Property</h4>
            <p>The Shingo Institute maintains all copyrights and other intellectual property rights to the text and graphic images contained on this website. Excerpted material must be credited to us with the statement: "Source: Shingo Institute - shingo.org.</p>
            <p>The information here is intended primarily for the personal viewing of our readers. It may not be duplicated, distributed, modified, publicly displayed, or used for commercial purposes in whole or in part without the prior expressed written permission of the Shingo Institute. If you would like to request permission to use an article, to republish material from any of the Shingo Institute publications, or to acquire other information from the Shingo Institute, please send a permission request to <a href="mailto:shingo.pr@usu.edu">shingo.pr@usu.edu</a>.</p>
        <h4>Changes to this Policy</h4>
            <p>We may occasionally update this privacy policy. When we do, we will revise the "last updated" date at the top of the privacy policy. For material changes to this privacy policy, we will notify you either by placing a prominent notice on the home page of our web site or by directly sending you a notification. We encourage you to periodically review this privacy policy to stay informed about how we are helping to protect the information we collect. Your continued use of the service constitutes your agreement to this privacy policy and any updates.</p>
            <p>If you have questions regarding this policy, please send an email to <a href="mailto:shingo.info@usu.edu">shingo.info@usu.edu</a>.</p>
            <br>
    </div>
</article>
<!-- InstanceEndEditable -->
