<!-- InstanceBeginEditable name="main" -->
  <article class="container" id="research">
  	<div class="row">
      	<div class="nine centered columns text-center">
              <h2 class="quattrocento">The Shingo Institute uses research to <strong>continually improve</strong> its educational offerings.</h2>
              <h4>This is to further our understanding of organizational culture and drivers of behavior.</h4>
          </div>
      </div>
      <br>
      <div class="row">
      	<p>The research focus of the Shingo Institute has been established to further our understanding of principle-based leadership and cultures that deliver ideal results. Working in conjunction with the faculty of the Jon M. Huntsman School of Business at Utah State University, scholars and industry professionals from around the world, the Shingo Institute is orchestrating an effort to gain a deeper understanding of the linkage between effective cultures and organizational results.</p>
        <div class="insight-logo"><a href="https://insight.shingo.org"><img src="https://res.cloudinary.com/shingo/image/upload/c_scale,w_300/v1449154752/insight/SHINGO-BETA2.png" alt="Insight"></a><h3>Now available!</h3></div>
        <p>To this end, the Shingo Institute has released the second version of its online cultural assessment tool, Shingo Insight Beta (formerly known as SCOPE). Insight is designed to help organizations identify the gaps between their culture and the standards set by the Shingo Model. Organizations will be able to track their culture over time to discover how the behavioral changes they make within their culture actually impact their organizational results (Quality, Cost, Delivery, Safety, Morale). The Shingo Institute collects this data to research and enhance our understanding of the linkage between culture and results.</p>
  			<p>To learn more, click <a href="https://insight.shingo.org">here</a> to go to the Shingo Insight Beta page.</p>
      </div>
  </article>
  <!-- InstanceEndEditable -->
