
<!-- InstanceBeginEditable name="main" -->
<article class="container" id="examiners">
	<div class="row">
    	<div class="nine centered columns text-center">
            <h2 class="quattrocento">Shingo Site Examiners</h2>
            <hr>
            <p>Examiners serve as a members of a diverse team and provide valuable feedback to the organization or research submission being assessed. An examiner’s expertise is a function of experience and training with the <em>Shingo Model™</em> and assessment criteria and their years of implementation and management.</p>
        </div>
    </div>
    <br>
	<div class="row">
    	<table class="striped">
        	<thead>
            	<tr>
                	<th colspan="3">Shingo Examiners Committee</th>
                </tr>
            </thead>
            <tbody>
								<tr>
                	<td>Shaun Barker (Chair)</td>
                    <td>Assistant Director</td>
                    <td>Shingo Institute</td>
                </tr>
                <tr>
                	<td>Joanne Deys</td>
                    <td>President</td>
                    <td>Brightside Alliance, LLC</td>
                </tr>
                <tr>
                	<td>Bruce Hamilton</td>
                    <td>President</td>
                    <td>Greater Boston Manufacturing Partnership</td>
                </tr>
                <tr>
                	<td>Dale Lucht</td>
                    <td>Master Coach</td>
                    <td>Discover Financial Services</td>
                </tr>
                <tr>
                	<td>Mike Martyn</td>
                    <td>Founder</td>
                    <td>SISU Consulting Group</td>
                </tr>
                <tr>
                	<td>Paul Terry</td>
                    <td>VP Supply Chain</td>
                    <td>O.C. Tanner Company</td>
                </tr>
            </tbody>
            <thead>
            	<tr>
                	<th>Examiner</th>
                    <th>Position</th>
                    <th>Company</th>
                </tr>
            </thead>
            <tbody>
							{{#each examiner}}
								<tr>
									<td>{{Name}}</td>
									<td>{{Title}}</td>
									<td>{{Account.Name}}</td>
								</tr>
							{{/each}}
            </tbody>
        </table>
    </div>
    <br>
</article>
<!-- InstanceEndEditable -->
