<article class="container">
	<div class="row">
    <h3>Gwendolyn Galsworth's Visual Workplace</h3>
    <p>The visual workplace is a compelling operational imperative, crucial to meeting production goals— central to your war on waste, vastly reduced lead times, and an accelerated flow. The result is a self-ordering, self-explaining, and self-regulating workplace where what is supposed to happen does happen—on time, every time, day or night—because of visual solutions. An effective visual conversion can increase productivity by a documented 15% to 30%. Far too many companies, however, focus on point solutions only and miss visuality’s capacity to transform and sustain.</p>
    In this session you will:
    <ul class="square">
      <li>Learn to distinguish between visual tools and visual strategy</li>
      <li>Understand the vital difference between visual management and the visual workplace</li>
      <li>Gain three tools you can use immediately to trigger more robust visual solutions</li>
      <li>Learn the six principles that drive every visual conversion</li>
      <li>Understand the fit between visuality and lean—and the power of the Visual-Lean® Alliance</li>
      <li>Discover how visuality can energize your workforce, even in a multi-lingual/multi-cultural/multi-shift company</li>
    </ul>
    <br>
    <div class="text-center">
      <div class="medium primary btn"><a href="http://visualworkplace.com" target="_blank">Click Here to Go to the Site</a></div>      
    </div>
    <br>
	</div>
</article>