{{>_workshop-buttons}}
<article class="row">
    <h5><strong>ENTERPRISE ALIGNMENT &amp; RESULTS</strong></h5>
    <p>This two-day workshop integrates classroom and on-site experiences at a host facility to build upon the knowledge and experience gained at the DISCOVER EXCELLENCE workshop. It takes you deeper into the <em>Shingo Model™</em> by focusing on the principles identified in the Enterprise Alignment dimension and the Results dimension:</p>
    <ul class="square">
        <li>Think Systemically</li>
        <li>Create Constancy of Purpose</li>
        <li>Create Value for the Customer</li>
    </ul>
    <p id="build">
        To succeed, organizations must develop management systems that align work and behaviors with principles and direction in ways that are simple, comprehensive, actionable and standardized. Organizations must get results, and creating value for customers is ultimately accomplished through the effective alignment of every value stream in an organization. The ENTERPRISE ALIGNMENT & RESULTS workshop continues the discussion around defining ideal behaviors and the systems that drive them, understanding fundamental beliefs and using behavioral benchmarks.
    </p>
    <br>
</article>
{{>_workshop-list this}}