{{>_workshop-buttons}}
<article class="row">
    <h2><strong>BUILD EXCELLENCE</strong></h2>
    <p>This two-day capstone workshop integrates classroom and on-site experiences at a host facility to solidify the knowledge and experience gained from the previous four Shingo workshops. The BUILD EXCELLENCE workshop demonstrates the integrated execution of systems that drive behavior toward the ideal as informed by the principles in the <em>Shingo Model™</em>. The workshop helps to develop a structured approach to execute a cultural transformation. It builds upon a foundation of principles, using tools that already exist within many organizations. It teaches you how to build systems that drive behavior which will consistently deliver desired results.</p>
    <p>In this final Shingo workshop, you will:</p>
    <ul class="square">
        <li>Design or create a system, guided by the <em>Shingo Model</em>, that changes behaviors to close gaps and drives results closer to organizational goals and purpose.</li>
        <li>Answer the question: “How do I get everyone on board?”</li> 
        <li>Build on the principles of enterprise excellence.</li>
        <li id="online">Understand the relationship between behaviors, systems, and principles, and how they drive results.</li>
        <li>Learn how KBIs drive KPIs, and how this leads to excellent results.</li>
    </ul>
    <a href="/affiliates">Find an affiliate</a> | <a href="https://usu.co1.qualtrics.com/jfe/form/SV_d597I9U3a4lWAtf">Host a Build Excellence Workshop</a>
    <br>
    <br>
    <h5 style="text-align: center;"><strong>**Completion of all other workshops is a prerequisite.</strong></h5>
    <br>
</article>
{{>_upcoming-title this}}
{{>_workshop-list this}}