{{>_workshop-buttons}}
<article class="row">
    <h2 class="workshop-info-title"><strong>DISCOVER EXCELLENCE</strong></h2>
    <div class="workshop-info-flex">
        <p class="workshop-description-flex">This foundational, two-day workshop introduces the <em>Shingo Model</em>, the <em>Shingo Guiding Principles</em> and the <em>Three Insights to Enterprise Excellence™</em>. With active discussions and on-site learning at a host organization, this program is a highly interactive experience. It is designed to make your learning meaningful and immediately applicable as you discover how to release the latent potential in an organization to achieve enterprise excellence. It provides the basic understanding needed in all Shingo workshops; therefore, it is a prerequisite to all the other workshops, and concludes with the BUILD EXCELLENCE workshop.</p>
        <iframe width="500" height="281" src="https://www.youtube.com/embed/SLeTbu5wN6A?autoplay=1&mute=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <p>As a participant, you will
        <ul class="square">
            <li>Learn and understand the <em>Shingo Model</em>.</li>
            <li id="enable">Discover the <em>Three Insights of Enterprise Excellence™</em>.</li>
            <li>Explore how the <em>Shingo Guiding Principles</em> inform ideal behaviors that ultimately lead to sustainable results.</li>
            <li>Understand the behavioral assessment process through an interactive case study and on-site learning.</li>
        </ul>
    </p>
    <a href="/affiliates">Find an affiliate</a> | <a href="https://usu.co1.qualtrics.com/jfe/form/SV_d597I9U3a4lWAtf">Host a Discover Excellence Workshop</a>
    <br>
    <br>
</article>
{{>_upcoming-title this}}
{{>_workshop-list this}}
<br>
<div class="row">
        <div class="push_three five columns"><h4 style="vertical-align: middle" class="quattrocento"><em>Discover Excellence</em> is a book that augments the Discover Excellence workshop. In order for an organization’s culture to focus on increasing value to customers over the long term, certain types of behavior must be present. <em>Discover Excellence</em> lays the foundation for understanding how to evolve a culture toward excellence.</h4><br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<div class="medium info rounded btn"><a href="https://www.crcpress.com/Discover-Excellence-An-Overview-of-the-Shingo-Model-and-Its-Guiding-Principles/Plenert/p/book/9781138626164" target="_new">Buy the Book</a></div></div>
        <img width="170" src="https://images.tandf.co.uk/common/jackets/amazon/978113862/9781138626164.jpg">
</div>
<br>
