<article class="container" id="education">
	<div class="row">
    	<div class="nine centered columns text-center">
            <h2 class="quattrocento">Shingo Workshops by Shingo Licensed Affiliates can make the difference between transformation and the status quo.</h2>
            <h4>Read descriptions of the five Shingo workshops below, along with scheduled times and locations for each.</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Iqc3o5adfiE?showinfo=0" frameborder="0" allowfullscreen></iframe>
            <p id="expvideo"><em>Attendees comment on their Shingo training experience.</em></p>
        </div>
            <p>Leaders quickly find that lean tools such as six sigma, jidoka, SMED, 5S, JIT, quality circles, etc., are not independently capable of effecting lasting change.</p>
            <p id="discover">Since 1988 we’ve seen first hand how quickly tool-based organizations decline in their ability to sustain results. On the other hand, organizations that anchor their improvement initiatives to principles – or understand the “why” behind the “how” and the “what” – experience significantly different results.</p>
            <p>To best illustrate our findings, we developed the <em><a href="model#download">Shingo Model™</a></em>, the accompanying <em>Shingo Guiding Principles</em> and the <em>Three Insights of Enterprise Excellence</em>. The five Shingo workshops described below are designed with the input of many seasoned instructors, leaders and consultants to help you transform your organization's culture to one of continuous improvement and operational excellence.</p>
    </div>
  </article>
  <article class="invisible">
    <!-- The "attend" id is here so when coming
       in from an anchor url the overview is
         displayed under the fold. -->
  <div id="attend" class="hidden">&nbsp;</div>
  </article>
  <article class="container">
		<div class="row">
        <h2>Shingo Workshops</h2>
        <br>
        <img class="shingoButton" src="images/DiscoverButton.png">
        <h5><strong>DISCOVER EXCELLENCE</strong></h5>
        <p>This foundational, two-day workshop introduces the <em>Shingo Model</em>, the <em>Shingo Guiding Principles</em> and the <em>Three Insights to Enterprise Excellence™</em>. With active discussions and on-site learning at a host organization, this program is a highly interactive experience. It is designed to make your learning meaningful and immediately applicable as you discover how to release the latent potential in an organization to achieve enterprise excellence. It provides the basic understanding needed in all Shingo workshops; therefore, it is a pre-requisite to all the other workshops, and concludes with the BUILD EXCELLENCE workshop.</p>
        <p>As a participant, you will
            <ul class="square">
                <li>Learn and understand the <em>Shingo Model</em></li>
                <li id="enable">Discover the <em>Three Insights of Enterprise Excellence™</em></li>
                <li>Explore how the <em>Shingo Guiding Principles</em> inform ideal behaviors that ultimately lead to sustainable results.</li>
                <li>Understand the behavioral assessment process through an interactive case study and on-site learning.</li>
            </ul>
        <a href="#workshops">See the schedule</a>
        </p>
        <br>
        <img class="shingoButton" src="images/EnableButton.png">
        <h5><strong>CULTURAL ENABLERS</strong></h5>
        <p> This two-day workshop integrates classroom and on-site experiences at a host facility to build upon the knowledge and experience gained at the DISCOVER EXCELLENCE workshop. It takes you deeper into the <em>Shingo Model™</em> by focusing on the principles identified in the Cultural Enablers dimension:
            <ul class="square">
                <li>Respect Every Individual - Lead with Humility</li>
            </ul>
        </p>
        <p id="improve">Cultural Enablers principles make it possible for people in an organization to engage in the transformation journey, progress in their understanding and, ultimately build a culture of enterprise excellence. Enterprise excellence cannot be achieved through top-down directives or piecemeal implementation of tools. It requires a widespread organizational commitment. The CULTURAL ENABLERS workshop will help you define ideal behaviors and the systems that drive them using behavioral benchmarks.</p>
        <a href="#workshops">See the schedule</a>
        <br>
        <br>
        <img class="shingoButton" src="images/ImproveButton.png">
        <h5><strong>CONTINUOUS IMPROVEMENT</strong></h5>
        <p>This three-day workshop integrates classroom and on-site experiences at a host facility to build upon the knowledge and experience gained at the DISCOVER EXCELLENCE workshop. It begins by teaching you how to clearly define value through the eyes of your customers. It continues the discussion about ideal behaviors, fundamental purpose and behavioral benchmarks as they relate to the principles of Continuous Improvement, and takes you deeper into the <em>Shingo Model™</em> by focusing on the principles identified in the Continuous Improvement dimension:
            <ul class="square">
                <li>Seek Perfection - Assure Quality at the Source</li>
                <li id="align">Embrace Scientific Thinking - Flow &amp; pull Value</li>
                <li>Focus on Process</li>
            </ul>
        </p>
        <p>
            The CONTINUOUS IMPROVEMENT workshop deepens your understanding of the relationship between behaviors, systems and principles and how they drive results.
        </p>
        <a href="#workshops">See the schedule</a>
        <br>
        <br>
        <img class="shingoButton" src="images/AlignResultsButton.png">
        <h5><strong>ENTERPRISE ALIGNMENT &amp; RESULTS</strong></h5>
        <p>This two-day workshop integrates classroom and on-site experiences at a host facility to build upon the knowledge and experience gained at the DISCOVER EXCELLENCE workshop. It takes you deeper into the <em>Shingo Model™</em> by focusing on the principles identified in the Enterprise Alignment dimension and the Results dimension:</p>
        <ul class="square">
          <li>Think Systemically - Create Value for the Customer</li>
          <li>Create Constancy of Purpose</li>
        </ul>
        <p id="build">
            To succeed, organizations must develop management systems that align work and behaviors with principles and direction in ways that are simple, comprehensive, actionable and standardized. Organizations must get results, and creating value for customers is ultimately accomplished through the effective alignment of every value stream in an organization. The ENTERPRISE ALIGNMENT & RESULTS workshop continues the discussion around defining ideal behaviors and the systems that drive them, understanding fundamental beliefs and using behavioral benchmarks.
        </p>
        <a href="#workshops">See the schedule</a>
		<br>
        <br>
        <img class="shingoButton" src="images/BuildButton.png">
        <h5><strong>BUILD EXCELLENCE</strong></h5>
		<p>This two-day capstone workshop integrates classroom and on-site experiences at a host facility to solidify the knowledge and experience gained from the previous four Shingo workshops. The BUILD EXCELLENCE workshop demonstrates the integrated execution of systems that drive behavior toward the ideal as informed by the principles in the <em>Shingo Model™</em>. The workshop helps to develop a structured approach to execute a cultural transformation. It builds upon a foundation of principles, using tools that already exist within many organizations. It teaches you how to build systems that drive behavior which will consistently deliver desired results.</p>
        <p>In this final Shingo Workshop, you will:</p>
        <ul class="square">
            <li>Design or create a system, guided by the <em>Shingo Model</em>, that changes behaviors to close gaps and drives results closer to organizational goals and purpose.</li>
            <li>Answer the question: “How do I get everyone on board?”</li>
            <li>Build on the principles of enterprise excellence.</li>
            <li>Understand the relationship between behaviors, systems, principles and how they drive results.</li>
            <li>Learn how KBIs drive KPIs, and how this leads to excellent results.</li>
        </ul>
        <a href="#workshops">See the schedule</a>
    </div>
    <br>
    <div class="row">
            <h2>Online Training</h2>
            <div>
                <p>Once you’ve taken some of the Shingo workshops, you may want to help your associates understand the changes you  plan to make. Have them take this free online Shingo primer course from MyEducator. Follow the link and click Request Full Access.</p>
                <div class="text-center">
                <div class="medium primary btn"><a href="https://www.myeducator.com/reader/web/1333b/" target="_blank">Take the MyEducator Shingo Course</a></div>
            </div><br>
    </div>
    </div>
	</article>
    <br>
	<article class="container" id="workshops">
		<div class="row text-center">
			<h2><strong>Upcoming Workshops</strong></h2>
			<h4>All workshops are 8 a.m. - 5 p.m. unless otherwise noted.</h4>
			<br><br>
	</div>
    <div class="row list">
			<div class="two columns">
					<h4 class="text-center" style="text-decoration: underline;"><strong><a href="#discover">DISCOVER EXCELLENCE</a></strong></h4><br>
					<br>
                    <ul>
						{{#each workshops.Discover}}
							{{>_aff-event this}}
						{{/each}}
					</ul>
			</div>
			<div class="two columns">
					<h4 class="text-center" style="text-decoration: underline;"><a href="#enable"><strong>CULTURAL<br>ENABLERS</strong><a></h4><br>
					<br>
                    <ul>
						{{#each workshops.Enable}}
							{{>_aff-event this}}
						{{/each}}
					</ul>
			</div>
			<div class="two columns">
					<h4 class="text-center" style="text-decoration: underline;"><a href="#improve"><strong>CONTINUOUS IMPROVEMENT</strong></a></h4><br>
					<br>
                    <ul>
						{{#each workshops.Improve}}
							{{>_aff-event this}}
						{{/each}}
					</ul>
			</div>
			<div class="two columns">
					<h4 class="text-center" style="text-decoration: underline;"><a href="#align"><strong>ENTERPRISE ALIGNMENT & RESULTS</strong></a></h4><br>
					<ul>
						{{#each workshops.Align}}
							{{>_aff-event this}}
						{{/each}}
					</ul>
			</div>
			<div class="two columns">
					<h4 class="text-center" style="text-decoration: underline;"><a href="#build"><strong>BUILD<br>EXCELLENCE</strong></a></h4><br>
					<br>
                    <ul>
						{{#each workshops.Build}}
							{{>_aff-event this}}
						{{/each}}
					</ul>
			</div>
    </div>
</article>

<article class="container" id="more-edu">
    <div class="row">
	<hr>
    	<div class="eight centered text-center columns">
        	<h3 class="roboto">Check out other educational offerings from the Shingo Institute</h3>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="four columns text-center" id="st">
            <h3>Study Tour</h3>
            <h5><strong>“…the single best lean experience on Earth.”</strong>
            <br>
            – Aaron Baker, President &amp; CEO, Cannon Safe</h5>
            <div class="secondary medium btn"><a href="japanstudytour">Learn More</a></div>
        </div>
        <div class="four columns text-center" id="conf">
            <h3>Conference</h3>
            <h5>Engage with hundreds of leaders and improvement professionals from across the globe at our premier annual event.</h5>
            <div class="info medium btn"><a href="https://shingo.org/events/international">Learn More</a></div>
        </div>
    </div>
</article>
<script>
function change_tab (new_index){
	// Use Gumgy's Tabs.js API to change tab
	var $tabs = $('.tabs');
	$tabs.trigger('gumby.set', new_index);

	window.scrollTo(0, 1000);
}
</script>
