<article class="container" id="education">
	<div class="row">
    	<div class="nine centered columns text-center">
            <h2 class="quattrocento">Shingo Workshops taught by Shingo Licensed Affiliates can accelerate your cultural transformation.</h2>
            <h4>Shingo Licensed Affiliates offer Shingo workshops privately and publicly around the world.</h4>
            <h4><a href="/affiliates">Meet our Licensed Affiliates</a></h4>
        </div>
    </div>
</article>
<article class="row">
    <h2 id="discover">Shingo Workshops</h2>
    <p>Learn more about how the <em>Shingo Model</em> can drive your culture toward enterprise excellence by attending the Shingo Workshop Series, which includes five workshops. The first workshop in the series, DISCOVER EXCELLENCE, is a prerequisite and provides the foundational understanding of the <em>Shingo Model</em> and the 10 <em>Shingo Guiding Principles</em>. The following three workshops &mdash; CULTURAL ENABLERS, CONTINUOUS IMPROVEMENT and ENTERPRISE ALIGNMENT & RESULTS &mdash; can be taken in any order. These workshops take participants deeper into the <em>Shingo Model</em> and provide a more profound understanding of the ideal behaviors necessary to achieve ideal results within an organization. BUILD EXCELLENCE is the capstone workshop that takes all the detailed learnings from the previous Shingo workshops and teaches participants how to build systems that drive behavior which will consistently deliver desired results.</p>
    <br>
    <h5 style="text-align: center;"><strong>**DISCOVER EXCELLENCE is the prerequisite workshop,<br>BUILD EXCELLENCE is the capstone workshop</strong></h5>
    <br>
    <h3 style="text-align: center;">Click the buttons below to learn more about each workshop.</h3>
    {{>_workshop-buttons}}
    <h3 style="text-align: center;"><a href="../workshops">See The Full Workshop Schedule</a></h3>
</article>
<br>
<br>
<article class="container">
    <div class="row">
        <div class="text-center">
            <iframe class="br-vid" width="560" height="315" src="https://www.youtube.com/embed/Iqc3o5adfiE?showinfo=0" frameborder="0" allowfullscreen></iframe>
            <p id="expvideo"><em>Attendees comment on their Shingo training experience.</em></p>
        </div>
            <p>Leaders quickly find that Lean tools such as Six Sigma, jidoka, SMED, 5S, JIT, quality circles, etc., are not independently capable of effecting lasting change. Since 1988 we’ve seen firsthand how quickly tool-based organizations decline in their ability to sustain results. On the other hand, organizations that anchor their improvement initiatives to principles &mdash; or understand the “why” behind the “how” and the “what” &mdash; experience significantly different results.</p>
            <p>To best illustrate our findings, we developed the <em><a href="model#download">Shingo Model™</a></em>, the accompanying <em>Shingo Guiding Principles</em> and the <em>Three Insights of Enterprise Excellence</em>. The five Shingo workshops are designed with the input of many seasoned instructors, leaders and consultants to help you transform your organization's culture to one of continuous improvement and operational excellence.</p>
    </div>
</article>
<article class="invisible">
    <!-- The "attend" id is here so when coming
       in from an anchor url the overview is
         displayed under the fold. -->
    <div id="attend" class="hidden">&nbsp;</div>
</article>    
<div class="row">
    <h2>Online Training</h2>
    <div>
        <p>Once you’ve taken some of the Shingo workshops, it’s a good idea to help your associates understand the changes you plan to make. Have them take this online Shingo primer course from <a href="http://shingo.org/affiliates/0011200001Gl4QoAAJ">MyEducator</a>, a Shingo Licensed Online Provider. Follow the link below and click Start Learning to preview.</p>
        <br>
        <div class="text-center">
            <div class="medium primary btn"><a href="https://www.myeducator.com/reader/web/1333b/" target="_blank">Preview the Associate Overview</a></div>
        </div>
        <br>
    </div>
    <br>
</div>

