<article class="container" id="education">
	<div class="row">
    	<div class="nine centered columns text-center">
            <h2 class="quattrocento">The Shingo Institute is committed to providing best-in-class, cutting-edge education.</h2>
            <h4>It is designed to assist you in your organization’s cultural transformation.</h4>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <img src="images/DiscoverButton.png">
        <img src="images/EnableButton.png">
        <img src="images/ImproveButton.png">
        <img src="images/AlignResultsButton.png">
		<img src="images/BuildButton.png">
    </div>
    <div class="row">
			<div class="text-center">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/Iqc3o5adfiE?showinfo=0" frameborder="0" allowfullscreen></iframe>
				<p id="expvideo"><em>Attendees comment on their Shingo training experience</em></p>
			</div>
				<p>Countless organizations have, at one time or another, begun a “lean journey” or have implemented an improvement initiative of some sort. At the foundation of these initiatives are a number of tools that seem to promise exciting new results. While many organizations may see significant improvement at first, almost all of these initiatives meet disappointing ends. Leaders quickly find that lean tools such as six sigma, jidoka, SMED, 5S, JIT, quality circles, etc., are not independently capable of effecting lasting change.</p>
				<p>Years ago, we set out on an extended study to determine the difference between short-lived successes and sustainable results. Over time, we noticed a common theme: the difference between successful and unsuccessful effort is in the ability of an organization to ingrain timeless and universal principles into its culture rather than rely on a superficial implementation of tools and programs. Our findings were confirmed as we looked back at nearly three decades of assessing organizational culture and performance as part of the Shingo Prize process. Since 1988, we’ve seen, first-hand, how quickly tool-based organizations decline in their ability to sustain results. On the other hand, organizations that anchor their improvement initiatives to principles – or understand the “why” behind the “how” and the “what” – experience significantly different results.</p>
				<p>To best illustrate our findings, we developed the <em><a href="model">Shingo Model™</a></em>, the accompanying <em>Shingo Guiding Principles</em> and the <em>Three Insights of Enterprise Excellence</em>.</p>
				<div class="text-center">
						<div class="medium primary btn"><a href="model#download">Download the <em>Shingo Model</em> booklet</a></div>
				</div><br>
    </div>
  </article>
  <article class="invisible" >
    <!-- The "attend" id is here so when coming
       in from an anchor url the overview is
         displayed under the fold. -->
    <div id="attend" class="hidden">&nbsp;</div>
  </article>
  <article class="container">
		<div class="row">
        <h5><strong>DISCOVER EXCELLENCE</strong></h5>
        <p>Our foundational, two-day workshop that introduces the <em>Shingo Model™</em>, the Guiding Principles and the <em>Three Insights to Enterprise Excellence™</em>. With real-time discussions and on-site learning at a host organization, this program is a highly interactive experience. It is designed to make your learning meaningful and immediately applicable as you learn how to release the latent potential in your organization and achieve enterprise excellence.</p>
        <p>As a DISCOVER participant, you will
            <ul class="square">
                <li>LEARN and understand the <em>Shingo Model.</em></li>
                <li>DISCOVER the Three Insights of Enterprise Excellence™.</li>
                <li>EXPLORE how the Guiding Principles inform ideal behaviors that ultimately lead to sustainable results.</li>
                <li>UNDERSTAND the behavioral assessment process through an interactive case study and on-site learning.</li>
                <li>APPLY your learning with a call to action.</li>
            </ul>
        </p>
        <br>
        <h5><strong>CULTURAL ENABLERS</strong></h5>
        <p>ENABLE builds upon the knowledge and experience gained at the DISCOVER EXCELLENCE workshop and takes you deeper into the <em>Shingo Model™</em> by focusing on the principles identified as Cultural Enablers:
          <ul class="square">
                <li>Respect Every Individual</li>
                <li>Lead with Humility</li>
            </ul>
        </p>
        <p>Cultural enablers make it possible for people within the organization to engage in the transformation journey, progress in their understanding and, ultimately, build a culture of enterprise excellence. Enterprise excellence cannot be achieved through top-down  directives or piecemeal implementation of tools. It requires a widespread commitment throughout the organization to execute according to the principles of enterprise excellence.</p>
        <br>
        <h5><strong>CONTINUOUS IMPROVEMENT</strong></h5>
        <p>Continuous improvement begins by clearly defining value through the eyes of customers. IMPROVE continues the discussion around ideal behaviors, fundamental beliefs and behavioral benchmarks as they relate to the principles of Continuous Improvement:
            <ul class="square">
                <li>Seek Perfection</li>
                <li>Embrace Scientific Thinking</li>
                <li>Focus on Process</li>
                <li>Assure Quality at the Source</li>
                <li>Flow &amp; Pull Value</li>
            </ul>
        </p>
        <br>
        <h5><strong>ENTERPRISE ALIGNMENT</strong></h5>
        <p>To succeed, organizations must develop management systems that align work and behaviors with principles and direction in ways that are simple, comprehensive, actionable and standardized. The work of a team is greater than the sum of its individual parts.</p>
        <p>Creating value for customers is ultimately accomplished through the effective alignment of every value stream in an organization. ALIGN concludes the Shingo workshops diving into the principles of Enterprise Alignment:</p>
        <ul class="square">
          <li>Think Systemically</li>
          <li>Create Constancy of Purpose</li>
        </ul>
				<br>
        <h5><strong>BUILD EXCELLENCE</strong></h5>
				<p>BUILD EXCELLENCE is the capstone course that takes all the detailed learnings from the previous four Shingo courses which develop the structure of the Shingo Model™ . This final course demonstrates the integrated execution of systems that drive behavior toward the ideal as informed by the principles in the Model. BUILD EXCELLENCE helps build a structured road map to ex­ecute a cultural transformation. It builds upon a foundation of principles, using tools that already exist within many organizations. It teaches the student how to build systems that drive behavior which will consistently deliver desired results.</p>
    </div>
	</article>
	<article class="container" id="workshops">
		<div class="row text-center">
			<h2><strong>Upcoming Workshops</strong></h2>
			<h4>All workshops are 8 a.m. - 5 p.m. unless otherwise noted.</h4>
			<br><br>
		</div>
    <div class="row list">
			<div class="two columns">
					<h4 class="text-center" style="text-decoration: underline;"><strong>DISCOVER</strong></h4><br>
					<ul>
						{{#each workshops.Discover}}
							{{>_aff-event this}}
						{{/each}}
					</ul>
			</div>
			<div class="two columns">
					<h4 class="text-center" style="text-decoration: underline;"><strong>ENABLE</strong></h4><br>
					<ul>
						{{#each workshops.Enable}}
							{{>_aff-event this}}
						{{/each}}
					</ul>
			</div>
			<div class="two columns">
					<h4 class="text-center" style="text-decoration: underline;"><strong>IMPROVE</strong></h4><br>
					<ul>
						{{#each workshops.Improve}}
							{{>_aff-event this}}
						{{/each}}
					</ul>
			</div>
			<div class="two columns">
					<h4 class="text-center" style="text-decoration: underline;"><strong>ALIGN</strong></h4><br>
					<ul>
						{{#each workshops.Align}}
							{{>_aff-event this}}
						{{/each}}
					</ul>
			</div>
			<div class="two columns">
					<h4 class="text-center" style="text-decoration: underline;"><strong>BUILD</strong></h4><br>
					<ul>
						{{#each workshops.Build}}
							{{>_aff-event this}}
						{{/each}}
					</ul>
			</div>
    </div>
</article>

<article class="container" id="more-edu">
    <div class="row">
	<hr>
    	<div class="eight centered text-center columns">
        	<h3 class="roboto">Check out other educational offerings from the Shingo Institute</h3>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="four columns text-center" id="st">
            <h3>Study Tour</h3>
            <h5><strong>“…the single best lean experience on Earth.”</strong>
            <br>
            – Aaron Baker, President &amp; CEO, Cannon Safe</h5>
            <div class="secondary medium btn"><a href="japanstudytour">Learn More</a></div>
        </div>
        <div class="four columns text-center" id="conf">
            <h3>Conference</h3>
            <h5>Engage with hundreds of leaders and improvement professionals from across the globe at our premier annual event.</h5>
            <div class="info medium btn"><a href="https://shingo.org/events/international">Learn More</a></div>
        </div>
    </div>
</article>
<script>
function change_tab (new_index){
	// Use Gumgy's Tabs.js API to change tab
	var $tabs = $('.tabs');
	$tabs.trigger('gumby.set', new_index);

	window.scrollTo(0, 1000);
}
</script>
