{{>_workshop-buttons}}
<article class="row">
    <h2><strong>CULTURAL ENABLERS</strong></h2>
    <p> This two-day workshop integrates classroom and on-site experiences at a host facility to build upon the knowledge and experience gained at the DISCOVER EXCELLENCE workshop. It takes you deeper into the <em>Shingo Model™</em> by focusing on the principles identified in the Cultural Enablers dimension:
        <ul class="square">
            <li>Respect Every Individual</li>
            <li>Lead with Humility</li>
        </ul>
    </p>
    <p id="improve">Cultural Enablers principles make it possible for people in an organization to engage in the transformation journey, progress in their understanding and ultimately build a culture of enterprise excellence. Enterprise excellence cannot be achieved through top-down directives or piecemeal implementation of tools. It requires a widespread organizational commitment. The CULTURAL ENABLERS workshop will help you define ideal behaviors and the systems that drive them using behavioral benchmarks.</p>
    <a href="/affiliates">Find an affiliate</a> | <a href="https://usu.co1.qualtrics.com/jfe/form/SV_d597I9U3a4lWAtf">Host a Cultural Enablers Workshop</a>
    <br>
    <br>
    <h5 style="text-align: center;"><strong>**DISCOVER EXCELLENCE is the prerequisite workshop,<br>BUILD EXCELLENCE is the capstone workshop.</strong></h5>
    <br>
</article>
{{>_upcoming-title this}}
{{>_workshop-list this}}