{{>_workshop-buttons}}
<article class="row">
    <h2><strong>CONTINUOUS IMPROVEMENT</strong></h2>
    <p>This three-day workshop integrates classroom and on-site experiences at a host facility to build upon the knowledge and experience gained at the DISCOVER EXCELLENCE workshop. It begins by teaching you how to clearly define value through the eyes of your customers. It continues the discussion about ideal behaviors, fundamental purpose and behavioral benchmarks as they relate to the principles of Continuous Improvement, and takes you deeper into the <em>Shingo Model™</em> by focusing on the principles identified in the Continuous Improvement dimension:
        <ul class="square">
            <li>Seek Perfection</li>
            <li id="align">Embrace Scientific Thinking</li>
            <li>Focus on Process</li>
            <li>Assure Quality at the Source</li>
            <li>Flow &amp; Pull Value</li>
        </ul>
    </p>
    <p>
        The CONTINUOUS IMPROVEMENT workshop deepens your understanding of the relationship between behaviors, systems and principles and how they drive results.
    </p>
    <br>
</article>
{{>_upcoming-title this}}
{{>_workshop-list this}}