<article class="container" 
    style=" margin-top: 0;
    background: url('http://res.cloudinary.com/shingo/image/upload/v1486407118/Events/StudyTours/2017/Cork-Ireland.jpg') no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 65px 0;">
	<div class="row text-center" id="transborder" style="background: rgba(255, 255, 255, 0.50);">
				<img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_150/v1488323879/Events/StudyTours/2017/Study-Tour-Ireland.png" alt="Study Tour">
    		<h1><strong>Ireland Study Tour</strong></h1>
        <br>
        <h4><strong>May 15th - 19th, 2017</strong></h4>
    </div>
</article>
<br>
<article class="container" id="japan">
	<div class="row">
		<!-- <h4 class="text-center"><strong>Hurry!</strong>  Registration deadline is September 23<sup>rd</sup>.</h4> -->
    	<h4 class="roboto">Overview</h4>
        <p>Discover first-hand what is at the heart of the lean business model through a series of plant tours, workshops, and peer networking. Watch the tools and systems of operational excellence in action. Visit Shingo recipient companies that demonstrate excellence in the fundamentals such as 5S, visual management, problem solving, standardized work, quality at the source, safety, continuous flow, intelligent automation, and much more.</p>
        <ul class="square">
          <li>Be Inspired by Shingo Award Recipients:</li>
          <li>Familiarize yourself with the Shingo Model through a presentation by Shaun Barker</li>
          <li>Listen to Dermot O'Neill with the Irish Centre for Business Excellence</li>
          <li>Visit Meda Rottapharm in Dublin, Ireland</li>
          <li>Learn from Abbott Diagnostics in Longford, Ireland</li>
          <li>Master lean transformation with Boston Scientific in Galway, Ireland</li>
          <li>Gain knowledge about processes with Analog Devices in Limerick, Ireland</li>
          <li>Discover how DePuy Synthes in Cork, Ireland embraces the Shingo Model</li>
          <li>Experience the Shingo journey at Boston Scientific Cork</li>
          <li>Explore Abbott Vascular in Clonmel, Ireland</li>
          <li>NEW - Talk with Ritsuo Shingo, who will be in attendance on this tour</li>
        </ul>  
        <br>
        <h4 class="roboto">Pricing</h4>
        <p><strong>$9,500 USD</strong> - Includes 6 nights hotel, most meals, and transportation to sites</p>
				<br>
				<!-- <h4 class="roboto">Itinerary</h4> -->
        
        
    <section class="tabs">
      <ul class="tab-nav">
        {{#each event.days}}
        <li {{#if @first}} class="active" {{/if}}><a href="#{{Id}}" style="padding: 0 10px;">{{Display_Name__c}}</a></li>
        {{/each}}
      </ul>
      {{#each event.days}}
      {{>_ire-agenda-detail day=this isFirst=@first}}
      {{/each}}
    </section>

  </div>
  <div class="row text-center">
    <h4 class="roboto">Seem like the right fit for you?</h4>
    <br>
    <div class="primary large btn" style="background: rgba(223, 196, 135, 1)"><a href="{{event.Registration_Link__c}}" target="_blank">Register Now</a></div>
    <br>
    <br>
    <h5>For more information, please contact Heather Johnson, <a href="mailto:heather.j.johnson@usu.edu">heather.j.johnson@usu.edu</a>, (435) 797-3844.</h5>
  </div>
  <div class="row">
  </div>
  <br>
</article>
