<!--Title Block-->
<article>
    <div class="row quattrocento" style="text-align: center;">
        <h1>Your Shingo Journey</h1>
        <h4>Every organization's Shingo Journey is different but should contain activities of three types: Training, Sustainment, and Assessment.</h4>
    </div>
</article>
<!--Activity types-->
<article>
    <div style="width: 100%; max-width: 1200px; margin: auto; margin-top: 30px;">
        <div class="display-row journey">
            <div class="vcenter type-banner training">
                <div class="title-container" style="position: relative;">
                    <h2 class="training-title">Training</h2>
                    <p class="tip-text">Training activities are for both initial learning and deeper learning of Shingo tenets.</p>
                </div>
            </div>
            
            <div class="vcenter example-banner">
                <h3 class="training"><a class="training" href="../education">SHINGO WORKSHOPS</a></h3>
                <h3 class="training"><a class="training" href="https://events.shingo.org">STUDY TOURS</a></h3>
                <h3 class="training"><a class="training" href="https://events.shingo.org">SHOWCASES</a></h3>
                <h3 class="training"><a class="training" href="http://www.sme.org/LeanWhitePaper/">LEAN CERTIFICATION</a></h3>
                <h3 class="training"><a class="training" href="#">VISUAL MANAGEMENT</a></h3>
                <div class="arrow-right training"></div>
            </div>
        </div>
        <br>
        <div class="display-row journey">
            <div class="vcenter type-banner short sustainment">
                <div class="title-container" style="position: relative;">
                    <h2 class="training-title">Sustainment</h2>
                    <p class="tip-text">Sustainment activities keep your continuous improvement efforts fresh and invigorated.</p>
                </div>
            </div>
            <div class="vcenter example-banner short">
                <h3 class="sustainment"><a class="sustainment" href="https://events.shingo.org">CONFERENCES</a></h3>
                <h3 class="sustainment"><a class="sustainment" href="https://events.shingo.org">SUMMITS</a></h3>
                <h3 class="sustainment"><a class="sustainment" href="https://events.shingo.org">SHOWCASES</a></h3>
                <div class="arrow-right sustainment"></div>
            </div>
        </div>
        <br>
        <div class="display-row journey">
            <div class="vcenter type-banner short assessment">
                <div class="title-container" style="position: relative;">
                    <h2 class="training-title">Assessment</h2>
                    <p class="tip-text">Assessment activities provide benchmarks for your organization’s evolution. They tell you how your organization is doing so you can figure out what to work on next.</p>
                </div>
            </div>
            <div class="vcenter example-banner short">
                <h3 class="assessment"><a class="assessment" href="../insight">SHINGO INSIGHT</a></h3>
                <h3 class="assessment"><a class="assessment" href="../challengefortheprize">CHALLENGE FOR THE PRIZE</a></h3>
                <div class="arrow-right assessment"></div>
            </div>
        </div>
    </div>
</article>
<br>
<article>
    <div class="journey-example-container">
        <div class="row quattrocento" style="text-align: center;">
            <h4>Below are samples of what typical Shingo Journeys look like.</h4>
            <h2>HOW WILL YOURS COMPARE?</h2>
        </div>
        <!--Path Samples-->
        <div class="display-row">
            <div class="display-column journey-steps">
                <div class="vcenter org-circle">
                    <h5 style="font-weight: bold">ORGANIZATION</h5>
                    <h4 style="font-weight: bold">1</h4>
                </div>
                <h5 class="training">Shingo Model booklet downloaded and distributed to leaders and managers</h5>
                <div class="arrow-down"></div>
                <h5 class="sustainment">Send a leader and managers to the Shingo Conference</h5>
                <div class="arrow-down"></div>
                <h5 class="assessment">Shingo Insight assessment to benchmark culture</h5>
                <div class="arrow-down"></div>
                <h5 class="training">Send some managers to Discover Excellence workshop</h5>
                <div class="arrow-down"></div>
                <h5 class="training">Same managers to Cultural Enablers workshop</h5>
                <div class="arrow-down"></div>
                <h5 class="sustainment">Send a leader and managers to Shingo Summit for Manufacturing</h5>
                <div class="arrow-down"></div>
                <h5 class="assessment">Shingo Insight assessment to gauge progress</h5>
                <div class="arrow-down"></div>
                <h5 class="training">Leader and manager to one of the Shingo Study Tours</h5>
            </div>
            <div class="display-column journey-steps side-borders">
                <div class="vcenter org-circle">
                    <h5 style="font-weight: bold">ORGANIZATION</h5>
                    <h4 style="font-weight: bold">2</h4>
                </div>
                <h5 class="sustainment">Lean processes already started</h5>
                <div class="arrow-down"></div>
                <h5 class="training">Send some managers to earn Lean Bronze certification</h5>
                <div class="arrow-down"></div>
                <h5 class="sustainment">Send other managers to Shingo Summit for Manufacturing</h5>
                <div class="arrow-down"></div>
                <h5 class="sustainment">Send all managers and two leaders to the Shingo Conference</h5>
                <div class="arrow-down"></div>
                <h5 class="training">Send interested managers to Discover Excellence workshop</h5>
                <div class="arrow-down"></div>
                <h5 class="assessment">Shingo Insight assessment to expose gaps</h5>
                <div class="arrow-down"></div>
                <h5 class="assessment">Challenge for the Shingo Prize</h5>
                <div class="arrow-down"></div>
                <h5 class="training">Managers to Continuous Improvement & Results workshop</h5>
            </div>
            <div class="display-column journey-steps">
                <div class="vcenter org-circle">
                    <h5 style="font-weight: bold">ORGANIZATION</h5>
                    <h4 style="font-weight: bold">3</h4>
                </div>
                <h5 class="assessment">Internal assessment using Shingo Insight</h5>
                <div class="arrow-down"></div>
                <h5 class="training">Shingo Model booklet distributed to all managers</h5>
                <div class="arrow-down"></div>
                <h5 class="training">Visual Management course online for managers</h5>
                <div class="arrow-down"></div>
                <h5 class="sustainment">Managers and leaders to the Shingo Conference</h5>
                <div class="arrow-down"></div>
                <h5 class="training">Managers and group leaders to Discover Excellence workshop</h5>
                <div class="arrow-down"></div>
                <h5 class="training">Managers attend Continuous Improvement workshop</h5>
                <div class="arrow-down"></div>
                <h5 class="training">Managers attend Enterprise Alignment & Results workshop</h5>
                <div class="arrow-down"></div>
                <h5 class="training">Send a leader to one of the Shingo Study Tours</h5>
            </div>
        </div>
    </div>
</article>
    
<article>
    <!--hwyc-->
</article>
