{{>_workshop-buttons}}
<article class="row">
    <h2><strong>SYSTEMS DESIGN</strong></h2>
    <p>This two-day workshop integrates classroom and on-site experiences at a host facility to build upon the knowledge and experience gained in the 
        DISCOVER workshop, and focuses on the Systems and Tools diamonds in the <em>Shingo Model</em>. It begins by explaining that all work in an organization 
        is the outcome of a system. Systems must be designed to create a specific end objective; otherwise, they evolve on their own. Systems drive the 
        behavior of people, and variation in behavior leads to variation in results. Organizational excellence requires well designed systems to drive 
        ideal behaviors that are required to produce sustainable results.
    </p>
    <p>In this workshop, you will: </p>
    <ul class="square">
        <li>DISCOVER three types of essential systems.</li>
        <li>EXPLORE five required tools for each system.</li> 
        <li>LEARN how to create and use system maps.</li>
        <li>UNDERSTAND system standard work and how it drives improvement.</li>
    </ul>
    <a href="/affiliates">Find an affiliate</a> | <a href="https://usu.co1.qualtrics.com/jfe/form/SV_d597I9U3a4lWAtf">Host a Systems Design Workshop</a>
    <br>
    <br>
    <h5 style="text-align: center;"><strong>**Completion of DISCOVER EXCELLENCE is a prerequisite.</strong></h5>
    <br>
</article>
{{>_upcoming-title this}}
{{>_workshop-list this}}