<article class="container" id="amstudytour">
	<div class="row text-center" id="transborder">
		<div id="amstudytourcolor">
			<img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_150/v1463775627/StudyTour/ShingoStudyTourUSA.png" alt="Study Tour">
			<h1>USA Study Tour</h1>
			<br>
			<h4>August 27 - September 2, 2016</h4>
		</div>
	</div>
</article>
<br>
<article class="container" id="japan">
	<div class="row">
		<h4 class="roboto">Overview</h4>
		<p>Throughout this tour, we will immerse you in the lean culture of many organizations pursuing enterprise excellence. The Shingo Study Tour to the USA is designed to open your eyes, broaden your vision, deepen your understanding of lean principles, systems
			and tools; ultimately, transforming attitudes about what is possible by utilizing the <em>Shingo Model</em>™. You will gain a deeper understanding of the Model and the underlying principles behind the Shingo philosophy and approach. You will learn
			and gain a deeper understanding of how to define principle-behavior and what to look for as we tour various facilities. You will also understand the key elements of behavior as we further discuss and look at what drives the behavior – the systems.</p>
		<p>This tour creates a new lens for many to truly see beyond the tools and discover what is at the root of enterprise excellence cultures.</p>
		<br>
		<p>
			After each company tour the group will discuss and document:
			<ul class="square">
				<li>Best practices that were observed and the principles behind them</li>
				<li>The driving system(s) behind the behaviors</li>
				<li>How systems could be adapted in your own organization to drive desired behaviors</li>
			</ul>
		</p>
		<br>
		<h4 class="roboto">Company Tours</h4>
		<p>We will be visiting world class companies and organizations such as Virginia Mason Medical Center, University of Washington, Boeing, OC Tanner, Barnes Aerospace, and Autoliv. Click the logo to learn more.</p>

		<div class="row">
			<table>
				<tr>
					<td>
						<ul class="three_up tiles">
							<li style="min-height: 250px">
								<a href="#" class="switch" gumby-trigger="#aut-liv">
									<div class="text-center">
										<img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_200,w_200/v1465940988/StudyTour/2016USA/Autoliv.png" alt="Autoliv" />
										<h5><strong>Autoliv</strong></h5>
									</div>
								</a>
							</li>
							<li style="min-height: 250px">
								<a href="#" class="switch" gumby-trigger="#barn">
									<div class="text-center">
										<img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_200/v1465939903/StudyTour/2016USA/Barnes.jpg" alt="Barnes Groupe Inc" />
										<h5><strong>Barnes</strong></h5>
									</div>
								</a>
							</li>
							<li style="min-height: 250px">
								<a href="#" class="switch" gumby-trigger="#boe">
									<div class="text-center">
										<img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_200,w_270/v1465940452/StudyTour/2016USA/Boeing.png" alt="Boeing" />
										<h5><strong>Boeing</strong></h5>
									</div>
								</a>
							</li>
							<li style="min-height: 250px">
								<a href="#" class="switch" gumby-trigger="#genie">
									<div class="text-center">
										<img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_200,w_260/v1465940188/StudyTour/2016USA/Genie.png" alt="Genie" />
										<h5><strong>Genie</strong></h5>
									</div>
								</a>
							</li>
							<li style="min-height: 250px">
								<a href="#" class="switch" gumby-trigger="#oct">
									<div class="text-center">
										<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_200,w_260/v1466103998/StudyTour/OCTanner.png" alt="OC Tanner" />
										<h5><strong>OC Tanner</strong></h5>
									</div>
								</a>
								<li style="min-height: 250px">
									<a href="#" class="switch" gumby-trigger="#univ-wash">
										<div class="text-center">
											<img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_200,w_200/v1465940652/StudyTour/2016USA/Washington.png" alt="UW" />
											<h5><strong>University of Washington</strong></h5>
										</div>
									</a>
								</li>
								<li>
									<div class="text-center">
										<h5></h5>
									</div>
								</li>
								<li style="min-height: 250px">
									<a href="#" class="switch" gumby-trigger="#virg-mas">
										<div class="text-center">
											<img src="http://res.cloudinary.com/shingo/image/upload/v1465930394/StudyTour/2016USA/VirginiaMason.png" alt="Virginia Mason" />
											<h5><strong>Virginia Mason Institute</strong></h5>
										</div>
									</a>
								</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>

		<div class="modal" id="aut-liv">
			<div class="content">
				<a class="close switch" gumby-trigger="|#aut-liv"><i class="icon-cancel" /></i>
				</a>
				<div class="row">
					<div class="ten columns centered text-center">
						<h2>Autoliv</h2>
						<p>For over 60 years, Autoliv has focused on one very important issue: saving lives. Its innovative products save 30,000 lives every year and prevent 10 times as many injuries. ​Autoliv is first and foremost a safety technology company. In the world
							of automotive occupant safety, they were the first to introduce the two- and three-point seat belt system and airbags for front and side impacts. They were also the first to launch pyrotechnic belt pretensioners and pedestrian protection systems.
							Meeting real-world customer needs with a wide range of products and systems has helped Autoliv become the clear market leader in automotive safety.
							<br> <a href="https://autoliv.com">https://autoliv.com</a></p>
						<p class="btn primary medium">
							<a href="#" class="switch" gumby-trigger="|#aut-liv">Close</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal" id="barn">
			<div class="content">
				<a class="close switch" gumby-trigger="|#barn"><i class="icon-cancel" /></i>
				</a>
				<div class="row">
					<div class="ten columns centered text-center">
						<h2>Barnes Group Inc.</h2>
						<p>Barnes Group Inc. is a diversified global manufacturer and logistical services company with 60 locations on four continents and 4,800 employees. As a business of Barnes Group Inc., Barnes Aerospace provides superior manufacturing solutions to the
							world's major turbine manufacturers, commercial airlines and military original equipment manufacturers (OEM). Barnes Aerospace, operating in a job shop environment where individual craftsmanship goes into each product, specializes in the fabrication
							and assembly of high temperature alloy, complex airframe and engine components with particular expertise in superplastic, hot and cold forming, welding, milling and cutting technology. Working in compliance with AS9100C standards and seven special
							process NADCAP certifications, Barnes delivers the highest quality and best value solutions to its customers with substantial and impactful results.
							<br> <a href="http://barnesaero.com">http://barnesaero.com</a></p>
						<p class="btn primary medium">
							<a href="#" class="switch" gumby-trigger="|#barn">Close</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal" id="boe">
			<div class="content">
				<a class="close switch" gumby-trigger="|#boe"><i class="icon-cancel" /></i>
				</a>
				<div class="row">
					<div class="ten columns centered text-center">
						<h2>Boeing</h2>
						<p>Boeing is the world's largest aerospace company and leading manufacturer of commercial jetliners and defense, space and security systems. A top U.S. exporter, the company supports airlines and U.S. and allied government customers in 150 countries.
							Boeing products and tailored services include commercial and military aircraft, satellites, weapons, electronic and defense systems, launch systems, advanced information and communication systems, and performance-based logistics and training.
							<br> <a href="http://www.boeing.com/company/general-info/index.page#/overview">http://www.boeing.com/company/general-info/index.page#/overview</a></p>
						<p class="btn primary medium">
							<a href="#" class="switch" gumby-trigger="|#boe">Close</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal" id="genie">
			<div class="content">
				<a class="close switch" gumby-trigger="|#genie"><i class="icon-cancel" /></i>
				</a>
				<div class="row">
					<div class="ten columns centered text-center">
						<h2>Genie</h2>
						<p>Genie Industries was founded in 1966 when Bud Bushnell bought the manufacturing rights to a material lift that operated on compressed air. Customers seemed to be impressed with the “magic in the bottle” that was used to raise and lower the hoist,
							and hence the “Genie” name was born.</p>
						<p>Over time, with growing demand for work lifts and platforms, Genie expanded operations and established itself in new markets. Since then, products such as man-lifts, stick booms, articulated booms, light towers and telehandlers have been added to
							the Genie® product line.</p>
						<p>By the early 2000s, due to the economic downturn, the company decided to seek a partner that held the same values. Terex Corporation, with a history of acquiring equipment manufacturers worldwide proved a good match for the business. In 2002, Genie
							Industries was sold and became a part of Terex.</p>
						<p>During the years following the sale, due to its strength and reputation in the marketplace, it was determined to maintain the Genie® brand within the Terex Aerial Work Platforms (AWP) segment of Terex. Hence, all Genie® machines continue to be sold
							under the Genie® brand.</p>
						<p>Genie is dedicated to minimizing waste, improving quality, listening to customers and providing outstanding support long after the sale. These strategies have made Genie a trusted brand for decades, and they’re helping break new ground today.
							<br> <a href="http://www.genielift.com/en/index.htm">http://www.genielift.com/en/index.htm</a></p>
						<p class="btn primary medium">
							<a href="#" class="switch" gumby-trigger="|#genie">Close</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal" id="oct">
			<div class="content">
				<a class="close switch" gumby-trigger="|#oct"><i class="icon-cancel" /></i>
				</a>
				<div class="row">
					<div class="ten columns centered text-center">
						<h2>O.C. Tanner</h2>
						<p>O.C. Tanner develops employee recognition and rewards programs that help companies appreciate people who do great work. The company was founded in 1927 and now has headquarters in Salt Lake City, Utah, USA; Burlington, Ontario, Canada; and Loughton,
							Essex, United Kingdom. O.C. Tanner offices can also be found in Frankfurt, Mexico City, New Delhi, Hong Kong, Shanghai, Singapore and Tokyo. With 8,000 clients in 150 countries, O.C. Tanner delivers 4.2 million awards to 19 million users worldwide
							and serves 23 Fortune 100 companies including Abbott Laboratories, American Express, Bank of America, Caterpillar Inc., Chevron, among others.
							<br> <a href="http://octanner.com">http://octanner.com</a></p>
						<p class="btn primary medium">
							<a href="#" class="switch" gumby-trigger="|#oct">Close</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal" id="univ-wash">
			<div class="content">
				<a class="close switch" gumby-trigger="|#univ-wash"><i class="icon-cancel" /></i>
				</a>
				<div class="row">
					<div class="ten columns centered text-center">
						<h2>University of Washington</h2>
						<p>Facilities Services (FS) at University of Washington is a world-class organization providing exceptional services anywhere, anytime in support of the University of Washington’s mission of teaching, research and discovery. FS includes eight depar
							that operate, maintain and support the University’s physical plant, grounds, transportation, emergency operations, building maintenance and waste management programs. The University of Washington implements process improvements using TQM, six sigma,
							balanced scorecard, and <em>Shingo Guiding Principles</em>.
							<br> <a href="https://www.washington.edu/facilities/">https://www.washington.edu/facilities/</a></p>
						<p class="btn primary medium">
							<a href="#" class="switch" gumby-trigger="|#univ-wash">Close</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal" id="virg-mas">
			<div class="content">
				<a class="close switch" gumby-trigger="|#virg-mas"><i class="icon-cancel" /></i>
				</a>
				<div class="row">
					<div class="ten columns centered text-center">
						<h2>Virgina Mason</h2>
						<p>The perfect patient experience means the patient comes first — above everything and everyone. The Virginia Mason Institute teaches healthcare organizations how to implement and sustain a patient-centered approach that will increase quality, safety
							and efficiency using Virginia Mason’s proven management method.</p>
						<p>Zero-defect healthcare is the goal. Virginia Mason achieved 100% compliance with the Center for Medicare &amp; Medicaid Services (CMS) measures for venous thromboembolism (VTE) prophylaxis for intensive care patients — for 25 consecutive months.</p>
						<p>A culture of continuous improvement leads to better patient care. In 2014, Virginia Mason attained its 50,000 Patient Safety Alert (PSA); and by the end of the year, the average number of PSAs reached 879 per month.
							<br> <a href="https://www.virginiamasoninstitute.org/patient-safety-alert-system/?_ga=1.82499158.1353532932.1465406805">https://www.virginiamasoninstitute.org/patient-safety-alert-system/?_ga=1.82499158.1353532932.1465406805</a></p>
						<p class="btn primary medium">
							<a href="#" class="switch" gumby-trigger="|#virg-mas">Close</a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<h4 class="roboto">Agenda Preview</h4>
		<ul class="square">
			<li>August 27: Arrive in Seattle</li>
			<li>August 31: Transfer to Salt Lake City</li>
			<li>September 2: Tour Concludes</li>
		</ul>
		<br>
		<article class="container" id="s-registration">
			<div class="row">
				<div class="six columns centered">
					<h3 class="text-center">REGISTRATION</h3>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="seven columns">
					<table>
						<thead style="background-color: #b17c31">
							<tr>
								<th colspan="2">
									<h4>Pricing for Study Tour</h4></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									Study Tour
								</td>
								<td>
									$9,900
								</td>
							</tr>
						</tbody>
					</table>
					<p>
						Price includes guest room, all breakfasts, site fees, transportation from hotel to sites, coach flight from Seattle to SLC.
					</p>
				</div>
				<div class="five columns text-center">
					<br>
					<br>
					<div class="text-center large info btn"><a href="https://shingoconference.wufoo.com/forms/2016-shingo-usa-study-tour/" target="_blank">Register</a></div>
					<br>
					<br>
					<!-- <p id="discount"></p> -->
				</div>
			</div>
			<div class="hidden" id="speakers">&nbsp;</div>
		</article>
		<p><strong>**WE ALSO OFFER</strong> private study tours for groups of 12 or more in the U.S.A, Mexico, Brazil, Ireland, and Denmark. The agenda can be customized by your organization. All tours include site visits to Shingo recipient companies as well
			as instruction from the Shingo Institute staff. For more information, please contact Mary Price, <a href="mailto:mary.price@usu.edu">mary.price@usu.edu</a>, 435.797.3785.</p>
	</div>
	<!-- <div class="row text-center">
    	<h4 class="roboto">Seem like the right fit for you?</h4>
        <br>
    	<div class="primary medium btn"><a href="https://shingoconference.wufoo.com/forms/2016-shingo-usa-study-tour/">Fill Out This Form To Reserve Your Place</a></div>
    </div> -->
	<br>
</article>
<!-- InstanceEndEditable -->
