<article class="container" id="amstudytour">
	<div class="row text-center" id="transborder">
		<div id="amstudytourcolor">
			<img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_150/v1463775627/StudyTour/ShingoStudyTourUSA.png" alt="Study Tour">
			<h1>USA Study Tour</h1>
			<br>
			<h4>March 19 - 24, 2017</h4>
		</div>
	</div>
</article>
<br>
<article class="container" id="japan">
	<div class="row">
		<h4 class="text-center"><strong>Hurry!</strong>  Registration deadline is February 20th.</h4>
		<h4 class="roboto">Overview</h4>
		<p>Throughout this tour, we will immerse you in the lean culture of many organizations pursuing enterprise excellence. The Shingo Study Tour to the USA is designed to open your eyes, broaden your vision, deepen your understanding of lean principles, systems
			and tools; ultimately, transforming attitudes about what is possible by utilizing the <em>Shingo Model</em>™. You will gain a deeper understanding of the Model and the underlying principles behind the Shingo philosophy and approach. You will learn
			and gain a deeper understanding of how to define principle-behavior and what to look for as we tour various facilities. You will also understand the key elements of behavior as we further discuss and look at what drives the behavior – the systems.</p>
		<p>This tour creates a new lens for many to truly see beyond the tools and discover what is at the root of enterprise excellence cultures.</p>
		<br>
		<p>
			After each company tour the group will discuss and document:
			<ul class="square">
				<li>Best practices that were observed and the principles behind them</li>
				<li>The driving system(s) behind the behaviors</li>
				<li>How systems could be adapted in your own organization to drive desired behaviors</li>
			</ul>
		</p>
		<br>
		<!-- <h4 class="roboto">Company Tours</h4>
		<p>We will be visiting world class companies and organizations such as OC Tanner, US Synthetic, and Autoliv. Click the logo to learn more</p>
		<div class="row">
			<table>
				<tr>
					<td>
						<ul class="three_up tiles">
							<li style="min-height: 250px">
								<a href="#" class="switch" gumby-trigger="#aut-liv">
									<div class="text-center">
										<img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_200,w_200/v1465940988/StudyTour/2016USA/Autoliv.png" alt="Autoliv" />
										<h5><strong>Autoliv</strong></h5>
									</div>
								</a>
							</li>
							<li style="min-height: 250px">
								<a href="#" class="switch" gumby-trigger="#oct">
									<div class="text-center">
										<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_200,w_260/v1466103998/StudyTour/OCTanner.png" alt="OC Tanner" />
										<h5><strong>OC Tanner</strong></h5>
									</div>
								</a>
							</li>
							<li style="min-height: 250px">
								<a href="#" class="switch" gumby-trigger="#uss">
									<div class="text-center">
										<img src="http://res.cloudinary.com/shingo/image/upload/v1469741450/StudyTour/2016USA/USSynth.png" alt="US Synthetic" />
										<h5><strong>US Synthetic</strong></h5>
									</div>
								</a>
							</li>
						</ul>
					</td>
				</tr>
			</table>
		</div> -->
		<div class="modal" id="aut-liv">
			<div class="content">
				<a class="close switch" gumby-trigger="|#aut-liv"><i class="icon-cancel" /></i>
				</a>
				<div class="row">
					<div class="ten columns centered text-center">
						<h2>Autoliv</h2>
						<p>For over 60 years, Autoliv has focused on one very important issue: saving lives. Its innovative products save 30,000 lives every year and prevent 10 times as many injuries. ​Autoliv is first and foremost a safety technology company. In the world
							of automotive occupant safety, they were the first to introduce the two- and three-point seat belt system and airbags for front and side impacts. They were also the first to launch pyrotechnic belt pretensioners and pedestrian protection systems.
							Meeting real-world customer needs with a wide range of products and systems has helped Autoliv become the clear market leader in automotive safety.
							<br> <a href="https://autoliv.com">https://autoliv.com</a></p>
						<p class="btn primary medium">
							<a href="#" class="switch" gumby-trigger="|#aut-liv">Close</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal" id="oct">
			<div class="content">
				<a class="close switch" gumby-trigger="|#oct"><i class="icon-cancel" /></i>
				</a>
				<div class="row">
					<div class="ten columns centered text-center">
						<h2>O.C. Tanner</h2>
						<p>O.C. Tanner develops employee recognition and rewards programs that help companies appreciate people who do great work. The company was founded in 1927 and now has headquarters in Salt Lake City, Utah, USA; Burlington, Ontario, Canada; and Loughton,
							Essex, United Kingdom. O.C. Tanner offices can also be found in Frankfurt, Mexico City, New Delhi, Hong Kong, Shanghai, Singapore and Tokyo. With 8,000 clients in 150 countries, O.C. Tanner delivers 4.2 million awards to 19 million users worldwide
							and serves 23 Fortune 100 companies including Abbott Laboratories, American Express, Bank of America, Caterpillar Inc., Chevron, among others.
							<br> <a href="http://octanner.com">http://octanner.com</a></p>
						<p class="btn primary medium">
							<a href="#" class="switch" gumby-trigger="|#oct">Close</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal" id="uss">
			<div class="content">
				<a class="close switch" gumby-trigger="|#uss"><i class="icon-cancel" /></i>
				</a>
				<div class="row">
					<div class="ten columns centered text-center">
						<h2>US Synthetic</h2>
						<p>US Synthetic is 30-year industry veteran and a leader in the development and production of polycrystalline diamond cutters (PDCs) for oil and gas exploration. US Synthetic prides itself on an uncompromising commitment to constant innovation, outstanding
							quality, and superior customer service, allowing their engineering teams to meet high performance standards and match the requirements of the world’s most demanding oil exploration and development projects.
							<br> US Synthetic is a family-oriented business with a unique company culture that values and encourages honesty, unity, respect, hard work, friendship, and an entrepreneurial spirit. The company recognizes the right of every employee to be properly
							trained, have access to the right equipment, tools, and materials, and work in a safe environment. This positive culture and their commitment to the well-being of their employees make US Synthetic an extraordinarily fun and rewarding place to work.
							US Synthetic is located in Orem, Utah, and is part of the Dover Corporation.
							<br> US Synthetic received the Shingo Prize in 2011.
							<br> <a href="http://www.ussynthetic.com/">http://www.ussynthetic.com/</a></p>
						<p class="btn primary medium">
							<a href="#" class="switch" gumby-trigger="|#uss">Close</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<br>
		<!-- <h4 class="roboto">Agenda Preview</h4>
		<br>
		<section class="tabs">
			<ul class="tab-nav">
				<li><a href="#">August 30</a></li>
				<li><a href="#" class="active">August 31</a></li>
				<li><a href="#">September 1</a></li>
				<li><a href="#">September 2</a></li>
			</ul>
			<div class="tab-content">
				<table>
					<thead>
						<tr>
							<th colspan="2">August 30</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
							</td>
							<td>
								<ul class="square">
									<li>Arrive in SLC</li>
									<li>Check into Marriott Downtown at City Creek</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="tab-content active">
				<table>
					<thead>
						<tr>
							<th colspan="2">August 31</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>&nbsp;&nbsp;9:00 AM - 12:00 PM</td>
							<td>Shingo Executive Overview</td>
						</tr>
						<tr>
							<td>
								&nbsp;&nbsp;12:00 PM - 1:00 PM
							</td>
							<td>
								Lunch hosted by The Shingo Institute
							</td>
						</tr>
						<tr>
							<td>
								&nbsp;&nbsp;1:00 PM - 3:00 PM
							</td>
							<td>
								Guest Speaker: <a href="#" class="switch" gumby-trigger="#ste-moo">Steve Moore</a>, Former Plant Manager - Barnes Aerospace
							</td>
						</tr>
						<tr>
							<td>
								3:00 PM
							</td>
							<td>
								Free Afternoon
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="tab-content">
				<table>
					<thead>
						<tr>
							<th colspan="2">September 1</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<tr>
								<td>
									6:30 AM - 7:30 AM
								</td>
								<td>
									Breakfast at hotel
								</td>
							</tr>
							<tr>
								<td>
									7:30 AM - 8:00 AM
								</td>
								<td>
									Travel to OC Tanner
								</td>
							</tr>
							<tr>
								<td>
									8:00 AM - 11:00 AM
								</td>
								<td>
									OC Tanner Visit with <a href="#" class="switch" gumby-trigger="#gar-pet">Gary Peterson</a>, EVP - OC Tanner
								</td>
							</tr>
							<tr>
								<td>
									11:00 AM - 12:00 PM
								</td>
								<td>
									Lunch (On your own)
								</td>
							</tr>
							<tr>
								<td>
									12:00 PM - 1:00 PM
								</td>
								<td>
									Travel to Orem
								</td>
							</tr>
							<tr>
								<td>
									1:00 PM - 4:00 PM
								</td>
								<td>
									Tour of US Synthetic
								</td>
							</tr>
							<tr>
								<td>
									4:00 PM - 5:00 PM
								</td>
								<td>
									Return to Hotel - Free Evening
								</td>
							</tr>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="tab-content">
				<table>
					<thead>
						<tr>
							<th colspan="2">September 2</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								6:30 AM - 7:30 AM
							</td>
							<td>
								Breakfast at Hotel
							</td>
						</tr>
						<tr>
							<td>
								8:00 AM - 9:00 AM
							</td>
							<td>
								Travel to Brigham City
							</td>
						</tr>
						<tr>
							<td>
								9:00 AM - 4:00 PM
							</td>
							<td>
								<ul class="square">
									<li>Tour of Autoliv</li>
									<li>Guest Speaker: <a href="#" class="switch" gumby-trigger="#tom-hart">Tom Hartman</a>, Executive Coach</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>
								4:00 PM - 5:00 PM
							</td>
							<td>
								Return to SLC
							</td>
						</tr>
						<tr>
							<td>
								6:45 PM
							</td>
							<td>
								Meet in Lobby for dinner
							</td>
						</tr>
						<tr>
							<td>
								7:00 PM
							</td>
							<td>
								Dinner at The Roof
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal" id="gar-pet">
				<div class="content">
					<a class="close switch" gumby-trigger="|.modal"><i class="icon-cancel"></i></a>
					<div class="row">
						<div class="four columns">
							<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_300,w_300/v1443631760/Gary_Peterson_pjbfky.jpg" alt="Gary Peterson">
						</div>
						<div class="eight columns">
							<h4><strong>Gary Peterson</strong></h4>
							<p>
								Executive VP of Supply Chain,
								<br> O.C. Tanner Company
							</p>
							<p><strong>Gary Peterson</strong> has worked for The O.C. Tanner Company for 28 years. His current assignment is executive vice president of supply chain &amp; production. Prior to working in his current role, Mr. Peterson has held an impressively
								diverse set of jobs with the O.C. Tanner Company, including manager of market research, manufacturing change facilitator (where he was instrumental in moving the operation from “batch” to lean, resulting in receiving the Shingo Prize for Excellence
								in Manufacturing), vice president of manufacturing, marketing vice president of award development, and vice president of research and professional services.</p>
							<p>Mr. Peterson serves on the Executive Advisory Board for the Shingo Institute and is a Shingo Examiner. His experience with lean enterprise sends him around the globe helping others improve their operations.</p>
							<p>He earned an MBA and a bachelor’s degree in statistics from Brigham Young University. Mr. Peterson recharges his batteries by snowboarding, playing basketball, hiking, watching his 16-year old daughter play soccer, and spending time with his six
								grandchildren.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="ste-moo">
				<div class="content">
					<a class="close switch" gumby-trigger="|.modal"><i class="icon-cancel"></i></a>
					<div class="row">
						<div class="four columns">
							<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_300,w_300/v1444336215/board-photos/steve-moore.jpg" alt="Steve Moore">
						</div>
						<div class="eight columns">
							<h4><strong>Steve Moore</strong></h4>
							<p>
								Former General Manager,
								<br> Barnes Aerospace Ogden
							</p>
							<p><strong>Steve Moore</strong> has a long career of operations general management experience with profit and loss responsibility over two aerospace manufacturing companies located in Ogden, Utah, and Lansing, Michigan. Prior to his assignment as
								general manager, Mr. Moore held various positions of increasing responsibility including division manager, operations manager and lean/continuous improvement manager.</p>
							<p>Under Mr. Moore's leadership, the Ogden Division achieved 700% sales growth and succeeding year-over-year record profits - driving record business metric results from a consistent pursuit of lean and operational excellence. Most importantly, he
								helped create a workplace culture of operational excellence and employee empowerment and engagement – going from “having to” to “wanting to.” As a result, the Barnes Aerospace Ogden Division received the Shingo Prize in 2014.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="tom-hart">
				<div class="content">
					<a class="close switch" gumby-trigger="|.modal"><i class="icon-cancel"></i></a>
					<div class="row">
						<div class="four columns">
							<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_300,w_300/v1469741069/StudyTour/2016USA/Tom_Hartman.jpg" alt="Tom Hartman">
						</div>
						<div class="eight columns">
							<h4><strong>Tom Hartman</strong></h4>
							<p>
								Executive Coach
							</p>
							<p>In the fall of 2015, Thomas Hartman retired from a long career with Autoliv and is now an executive coach for TheadaCare Center for Healthcare Value where he is able to create, foster and sustain a culture of continuous improvement in healthcare.</p>
							<p>At Autoliv his latest role was the senior director of lean consulting and director of operations for Autoliv Americas. He led the Global Product Management team for all airbags, managed Autoliv’s Lean Consulting Division and lead strategic projects.
								Prior to that he held positions as president and managing director for Autoliv South America in Taubate, Brazil; senior director for Autoliv North America, senior director of operations at the Queretaro, Mexico plant; and several other roles since
								1996. Under his leadership several plants received the coveted Shingo Prize award.</p>
							<p>Mr. Hartman has served for the past eleven years as a member of the Shingo Executive Advisory Board and is a member of the Shingo Academy.</p>
							</p>
						</div>
					</div>
				</div>
			</div>
	</div> -->
	</section>
	<br>
	<article class="container" id="s-registration">
		<div class="row">
			<div class="six columns centered">
				<h3 class="text-center">REGISTRATION</h3>
				<hr>
			</div>
		</div>
		<div class="row">
			<h5>More info to come!</h5>

		</div>
		<div class="row">
			<div class="twelve columns">
				<table>
					<thead style="background-color: #b17c31">
						<tr>
							<th colspan="2">
								<h4>More info to come!</h4></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<p>
									More information on registration, company tours, &nbsp; other activities to come! In the mean time contact <a href="mailto:mary.price@usu.edu">Mary Price</a> by email.
								</p>
							</td>
						</tr>
					</tbody>
				</table>
				<p>Full payment is due at time of registration.</p>
				<p>
					Price includes guest room, all breakfasts, site fees, transportation from hotel to sites.
				</p>
			</div>
		</div>
	</article>
	<div class="row">
		<br>
		<p><strong>**WE ALSO OFFER</strong> private study tours for groups of 12 or more in the U.S.A, Mexico, Brazil, Ireland, and Denmark. The agenda can be customized by your organization. All tours include site visits to Shingo recipient companies as well
			as instruction from the Shingo Institute staff. For more information, please contact Mary Price, <a href="mailto:mary.price@usu.edu">mary.price@usu.edu</a>, 435.797.3785.</p>
	</div>
	<br>
</article>
<!-- InstanceEndEditable -->
