<article class="container" id="amstudytour">
	<div class="row text-center" id="transborder">
		  <div id="amstudytourcolor">
	    	<h1>USA Study Tour</h1>
	        <br>
	        <h4>August 27 - September 2, 2016</h4>
			</div>
    </div>
</article>
<br>
<article class="container" id="japan">
	<div class="row">
    	<h4 class="roboto">Overview</h4>
        <p>Throughout this tour, we will immerse you in the lean culture of many organizations pursuing enterprise excellence. The Shingo Study Tour to the USA is designed to open your eyes, broaden your vision, deepen your understanding of lean principles, systems and tools; ultimately, transforming attitudes about what is possible by utilizing the <em>Shingo Model</em>™. You will gain a deeper understanding of the Model and the underlying principles behind the Shingo philosophy and approach. You will learn and gain a deeper understanding of how to define principle-behavior and what to look for as we tour various facilities. You will also understand the key elements of behavior as we further discuss and look at what drives the behavior – the systems.</p>
				<p>This tour, in the end, creates a new lens for many to truly see beyond the tools and discover what is at the root of enterprise excellence cultures.</p>
				<p>
					After each company tour the group will discuss and document:
						<ul class="square">
							<li>Best practices that were observed and the principles behind them</li>
							<li>The driving system(s) behind the behaviors</li>
							<li>How systems could be adapted in your own organization to drive desired behaviors</li>
						</ul>
				</p>
        <p><strong>**WE ALSO OFFER</strong> private study tours for groups of 12 or more in the U.S.A, Mexico, Brazil, Ireland, and Denmark. The agenda can be customized by your organization. All tours include site visits to Shingo recipient companies as well as instruction from the Shingo Institute staff. For more information, please contact Mary Price, <a href="mailto:mary.price@usu.edu">mary.price@usu.edu</a>, 435.797.3785.</p>
        <h4 class="roboto">Pricing</h4>
        <p><strong>$9,900 USD</strong> $1,000 deposit to reserve seat.  Full payment due July 11. - Price includes guest room, all breakfasts, site fees, transportation from hotel to sites, coach flight from Seattle to SLC.</p>
    </div>
    <div class="row text-center">
    	<h4 class="roboto">Seem like the right fit for you?</h4>
        <br>
    	<div class="primary medium btn"><a href="https://shingoconference.wufoo.com/forms/2016-shingo-usa-study-tour/">Fill Out This Form To Reserve Your Place</a></div>
    </div>
    <br>
</article>
<!-- InstanceEndEditable -->
