<article class="container" id="workshops">
		<div class="row text-center">
			<h2><strong>Upcoming Workshops</strong></h2>
			<h4>All workshops are 8 am - 5 pm unless otherwise noted.</h4>
			<br><br>
	</div>
    <div class="row list">
			<div class="two columns">
					<h4 class="text-center" style="text-decoration: underline;"><strong><a href="#discover">DISCOVER EXCELLENCE</a></strong></h4><br>
					<br>
                    <ul>
						{{#each workshops.Discover}}
							{{>_aff-event this}}
						{{/each}}
					</ul>
			</div>
			<div class="two columns">
					<h4 class="text-center" style="text-decoration: underline;"><a href="#enable"><strong>CULTURAL<br>ENABLERS</strong><a></h4><br>
					<br>
                    <ul>
						{{#each workshops.Enable}}
							{{>_aff-event this}}
						{{/each}}
					</ul>
			</div>
			<div class="two columns">
					<h4 class="text-center" style="text-decoration: underline;"><a href="#improve"><strong>CONTINUOUS IMPROVEMENT</strong></a></h4><br>
					<br>
                    <ul>
						{{#each workshops.Improve}}
							{{>_aff-event this}}
						{{/each}}
					</ul>
			</div>
			<div class="two columns">
					<h4 class="text-center" style="text-decoration: underline;"><a href="#align"><strong>ENTERPRISE ALIGNMENT & RESULTS</strong></a></h4><br>
					<ul>
						{{#each workshops.Align}}
							{{>_aff-event this}}
						{{/each}}
					</ul>
			</div>
			<div class="two columns">
					<h4 class="text-center" style="text-decoration: underline;"><a href="#build"><strong>BUILD<br>EXCELLENCE</strong></a></h4><br>
					<br>
                    <ul>
						{{#each workshops.Build}}
							{{>_aff-event this}}
						{{/each}}
					</ul>
			</div>
    </div>
</article>
<script>
function change_tab (new_index){
	// Use Gumgy's Tabs.js API to change tab
	var $tabs = $('.tabs');
	$tabs.trigger('gumby.set', new_index);

	window.scrollTo(0, 1000);
}
</script>