{{>_workshop-buttons}}
<article class="container" id="workshops">
	<div class="row text-center">
		<h2><strong>Upcoming Workshops</strong></h2>
		<h4>All workshops are 8 am - 5 pm unless otherwise noted.</h4>
		<h5 style="text-align: center;">**DISCOVER EXCELLENCE is the prerequisite workshop,<br>BUILD EXCELLENCE is the capstone workshop.</h5>
		<br>
	</div>
	<div id="filter-menu">
		<div class="filter-item">
			<h5><strong>Workshop Type:</strong></h5>
			<select name="workshopType" onchange="filterWorkshops()">
				<option value="">All</option>
				<option value="Discover">Discover Excellence</option>
				<option value="Enable">Cultural Enablers</option>
				<option value="Improve">Continuous Improvement</option>
				<option value="Align">Enterprise Alignment</option>
				<option value="Build">Build Excellence</option>
			</select>
		</div>
		<div class="filter-item">
			<h5><strong>Country:</strong></h5>
			<select name="location" onchange="filterWorkshops()">
				<option value="">All</option>
				{{#each locations}}
					<option value="{{this}}">{{this}}</option>
				{{/each}}
			</select>
		</div>
		<div class="filter-item">
			<h5><strong>Date:</strong></h5>
			<select name="month" onchange="filterWorkshops()">
				<option value="">All</option>
				{{#each months}}
					<option value="{{this}}">{{this}}</option>
				{{/each}}
			</select>
		</div>
	</div>
	<br>
	{{>_workshop-list this}}
	<br>
	<div class="row text-center">
		<h4>Click <a href="https://usu.co1.qualtrics.com/jfe/form/SV_erMNLlYVQfcxjsV">here</a> if you would like to attend a specific workshop in a specific region/language.</h4>
		<h4>Click <a href="https://usu.co1.qualtrics.com/jfe/form/SV_d597I9U3a4lWAtf">here</a> if you are interested in hosting a workshop at your facility.</h4>
	</div>
	<br>
	</article>
<script>
	function filterWorkshops() {
		var typeSelector = document.getElementsByName("workshopType")[0];
		var selectedType = typeSelector.options[typeSelector.selectedIndex].value;

		var locationSelector = document.getElementsByName("location")[0];
		var selectedLocation = locationSelector.options[locationSelector.selectedIndex].value;

		var monthSelector = document.getElementsByName("month")[0];
		var selectedMonth = monthSelector.options[monthSelector.selectedIndex].value;

		var workshopList = document.getElementById("workshop-list");
		var workshops = workshopList.getElementsByClassName("workshop-card");

		for (var i = 0; i < workshops.length; i++) {
			var type = workshops[i].dataset.workshopType;
			var location = workshops[i].dataset.workshopLocation;
			var month = workshops[i].dataset.workshopMonth;
			if ((type.indexOf(selectedType) > -1) && (location.indexOf(selectedLocation) > -1) && (month.indexOf(selectedMonth) > -1)) {
				workshops[i].style.display = "";
			} else {
				workshops[i].style.display = "none";
			}
		}
	}

	function change_tab (new_index){
		// Use Gumgy's Tabs.js API to change tab
		var $tabs = $('.tabs');
		$tabs.trigger('gumby.set', new_index);

		window.scrollTo(0, 1000);
	}
</script>