<article class="container recipient">
	<div class="row text-center">
    	<h2>Land Apparel S.A.</h2>
      <h3>Puerto Cortés, Honduras</h3>
        <p class="text-centr">
        <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_200/v1489701803/PrizeRecipients/2017/Landau/LandauMadeBetterLogo_4C_vector.png" alt="Landau">
				</p>
        <h5>Read the press release <a href="bronze-landapparel-pr">here.</a></h5>
        <br>
    </div>
    <div class="row">
			<h4><strong>Corporate Overview</strong></h4>
				<p>
          Land Apparel S.A. believes people deserve respect, dignity and a positive work environment, and offers them stability in a safe place and equal opportunity. All employees are treated under the same conditions regardless of race, color, religion, sex, national origin, economic status or political preferences. Employees have the best working conditions through an environment of respect and humility. 
				</p>
      <h4><strong>Mission:</strong></h4>
				<p>
					Land Apparel is a company dedicated to the manufacture of medical uniforms globally with a culture of continuous improvement by providing:
				</p> 
        <ul class="square">
          <li>Personnel able to develop talent</li>
          <li>Development of new products </li>
          <li>Flexibility</li>
          <li>Fast response times </li>
          <li>Time deliveries </li>
          <li>Quality products </li>
          <li>Competitive costs</li>
        </ul>	
			<h4><strong>Vision:</strong></h4>
				<p>
          To be a world-class company through structured, lean processes to provide on-time delivery, quality and competitive costs to customers (internal/external). Based on humble leadership to promote the continued development of human talent. 
        </p>
      <h4><strong>Principles and Values</strong></h4>
        <ul class="square">
          <li>Integrity</li>
          <li>Humility </li>
          <li>Mutual Respect </li>
          <li>Responsibility</li>
        </ul>
      <h4><strong>Facility</strong></h4>
        <p>Land Apparel began operations in April 1997, in the city of Puerto Cortés, Honduras. It is an American family business (cutting-sewing) devoted to manufacturing medical and restaurant professional outfits. The company has sewing flexibility to produce more than 400 styles. It is a sound and trustworthy business, with an average of 500 associates, three (3) factory buildings with more than 1,875 m2 each, and an average weekly qualified-labor production capacity of 5,000 dozen units.</p>
        <p>Land Apparel’s parent company, Landau Uniforms, Inc., is a family-owned business now managed by the third Landau generation. Landau Uniforms, based in Olive Branch, Mississippi, has sold medical uniforms since 1938. Landau Uniforms’ medical scrub and chef wear brands include Landau, Scrubzone, Urbane, Smitten, Workflow, Lynx and Chefwear.</p>
      <h4><strong>Certifications</strong></h4>
        <ul class="square">
          <li>WRAP (Worldwide Responsible Accredited Production) since 2008. </li>
          <li>C - TPAT (Customs and Trade Partnership Against Terrorism)</li>
          <li>The Fair Labor Association in the United States</li>
        </ul>
      <h4><strong>Awards</strong></h4>
        <ul class="square">
          <li>Certified as one of the best places to work by Great Place to Work®.</li>
          <li>2017 Shingo Bronze Medallion</li>
        </ul>
      <h4><strong>The Journey to Operational Excellence</strong></h4> 
        <p>Throughout the continuous improvement process, the Shingo Guiding Principles have been applied by integrating various systems, conducting internal manufacturing assessments, and supporting processes since 2012. It now covers eight principle-based systems, according to the plant’s operational excellence model.</p>
      <h4><strong>Plant Achievements</strong></h4>  
      <h4>Quality:</h4>
        <ul class="square">
          <li>Defect indicator measured at distribution center in US reduced by 85% in last 6 years</li>
          <li>Decreased oil contamination during the last 5 years by 94% due to the TPM program</li>
        </ul>
      <h4>Cost/Productivity:</h4>
        <ul class="square">
          <li>Increased efficiency by 13% in the last 5 years</li>
          <li>Decreased machine break hours by 63% during the last 5 years</li>
          <li>Generated $1,589,226 in savings over the last 7 years through formal kaizen projects coming from employees</li>
        </ul>
      <h4>Delivery:</h4>
        <ul class="square">
          <li>Improved delivery to customers from 87% to 99% in the last 8 years</li>
        </ul>

      <h4>Customer Satisfaction:</h4>
        <ul class="sqare">
          <li>Reduced customer returns in the last 5 years, from 1220 to 72 returned pieces on average per year; accounts for 94% improvement in the last 5 years</li>          
        </ul>

      <h4>People:</h4>
        <ul class="square">
          <li>Reduced turnover over the last 10 years, from 88% to 6%</li>
          <li>Improved the labor climate from 80% to 88% within the last 5 years</li>
          <li>Improved internal Shingo assessment in the last 4 years, from 439 to 626 points, using the behavior assessment scale with 8 systems </li>
          <li>Educatodos program: annual average of 110 associates who receive the benefit of an internal school program, with a total of 200 graduates in 5 groups over the last five years</li>
          <li>Implemented 719 improvements through quick kaizen ideas</li>
        </ul>
				<p><strong>Mauricio Mayer</strong>, General Manager &nbsp; | &nbsp; Phone: (001) 504 26652724 &nbsp;</p>
				<br>
    </div>
		 <div class="row">
      	<section class="vertical tabs gallery row">
              <ul class="tab-nav three columns two_up tiles">
                  <li class="active"><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1489701909/PrizeRecipients/2017/Landau/Land_apparel_PR_pic3.jpg"></a></li>
                  <li><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1489701909/PrizeRecipients/2017/Landau/Land_apparel_PR_pic.jpg"></a></li>
                  <li><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1489701910/PrizeRecipients/2017/Landau/Land_Apparel_PR_PIC5.jpg"></a></li>
									<li><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1489701910/PrizeRecipients/2017/Landau/Land_Apparel_PR_pic_4.jpg"></a></li>
									<li><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1489701909/PrizeRecipients/2017/Landau/Land_apparel_PR_pic2.jpg"></a></li>                  
									<li><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1489701909/PrizeRecipients/2017/Landau/Land_apparel_PR_pic_6.jpg"></a></li>                                    
              </ul>
              <div class="tab-content active nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1489701909/PrizeRecipients/2017/Landau/Land_apparel_PR_pic3.jpg">
              </div>
              <div class="tab-content nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1489701909/PrizeRecipients/2017/Landau/Land_apparel_PR_pic.jpg">
              </div>
							<div class="tab-content nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1489701910/PrizeRecipients/2017/Landau/Land_Apparel_PR_PIC5.jpg">
              </div>
							<div class="tab-content nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1489701910/PrizeRecipients/2017/Landau/Land_Apparel_PR_pic_4.jpg">
              </div>
              <div class="tab-content nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1489701909/PrizeRecipients/2017/Landau/Land_apparel_PR_pic2.jpg">
              </div>
              <div class="tab-content nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1489701909/PrizeRecipients/2017/Landau/Land_apparel_PR_pic_6.jpg">
              </div>
          </section>
      </div>
</article>
