<!-- InstanceBeginEditable name="main" -->
  <article class="container recipient">
  	<div class="row text-center">
      	<h2>Lundbeck Pharmaceuticals Italy S.p.A.</h2>
          <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,w_225/v1404835388/Lundbeck_logo_xks31i.png" alt="Lundbeck">
          <br><br>
          <h5>Read the press release <a href="../pr/pr_lundbeck-italy_bronze.html">here.</a></h5>
          <br>
      </div>
      <div class="row">
      	<h4>Introduction</h4>
          <p>Lundbeck Pharmaceuticals Italy S.p.A. (LUPI) is a chemical plant manufacturing active pharmaceutical ingredients (API) both for its parent company H. Lundbeck A/S and for external customers. The company has operated in the pharmaceutical business since 1929 and is located in the industrial area of Padova since 1961 covering an area of 30.000 square meters. LUPI is a separate legal entity with all functions  represented in house.</p>
          <p>LUPI covers the entire life cycle of pharmaceutical products:
          	<ul class="square">
              	<li>Product Launches - new chemical entities development and production by novel chemistry.</li>
                  <li>Mature products - API's and intermediates manufacturing by established/optimized chemistry.</li>
              </ul>
          The company is committed to meet the needs of the pharmaceutical industry providing it with specific required products, foreseeing market trends and responding quickly to its expectations.</p>
          <h4>Quality</h4>
          <p>LUPI operates in strict compliance with current Good Manufacturing Practices (cGMP), as well as international standards. FDA inspected and approved since 1972, regularly inspected by the authorities of main regulated countries, holds approximately 100 DMF worldwide.</p>
          <h4>Customers and Products</h4>
          <p>LUPI is an integral part of the supply-chain of H. Lundbeck A/S and offers contract manufacturing to many other large multinational pharmaceutical companies. The business is focused on development and manufacturing of APIs and intermediates:
          	<ul class="square">
              	<li><strong>Generic APIs:</strong> LUPI has a portfolio of generic products. Developed internally and offered worldwide to several, different customers.</li>
                  <li><strong>Custom manufacturing:</strong> LUPI develops, processes and manufactures intermediates and/or APIs for specific customers on an exclusive basis.</li>
                  <li><strong>Process development and clinical trials supply:</strong> the launch on the market of a novel drug is the last step of a very lengthy period (up to ten years) for clinical testing and marketing authorisation. Clinical testing takes place using an API that needs to be produced within strict quality compliance, with a process that in case of success can be scaled up fast in order to get a robust commercial scale process. LUPI develops the process and provides the quantities for testing.</li>
              </ul>
          </p>
          <h4>Continuous Improvement Process</h4>
          <p>In 2009 LUPI started the Lean Journey initiated by H. Lundbeck Supply Operation and Engineering. The first year was focused on training managers and selected associates in order to start the cultural change. Managers also visited companies with a consolidated Lean culture within the same industry as inspiration. Many LUPI associates faced for the first time a Lean challenge with the first VSA.</p>
          <p>Furthermore, some people were selected to take part in an intensive training program as Lean Ambassadors, in order to spread the continuous improvement culture. Tools and systems (whiteboards &amp; flow cells) have been implemented in the last years, in order to improve flow, reduce time and enforce a “right first time” approach and culture. The actual situation reveals that the Lean approach is part of the LUPI culture and Lean activities are perceived from associates as a natural part of daily life.</p>
          <p>A big focus of the lean journey at LUPI is put on all activities that make it attractive to customers.</p>
          <p>While the chemical process is driven by chemical reactions that can also run in the most cost competitive markets, what customers are willing to pay for is to a large extent compliance on HSE issues (health, safety and environment), cGMP, quality of the product, the successful approval by Health Authorities (such as FDA and Italian AIFA). For this reason many lean events focused on administrative activities regarding SOPs and their management in order to reduce their impact on  overheads when manufacturing.</p>
          <p>Continuous training is the core of LUPI Lean journey and along 2009-2014 the workforce has been trained on Lean principles or experienced Kaizen events or other Lean activities.</p>
          <p>Associates were also educated in Lundbeck Global Performance Management Process (GPMP). Lundbeck’s GPMP helps people delivering on business strategy and continually improve individual performance. Another initiative was the Lundbeck Leadership Program, a specific training for LUPI middle managers aimed to enforce and improve their attitudes as leaders, involving about 20 associates for four days. The group finished the training with Home Assignments focused on developing their managing and motivational skills, presented and awarded in a dedicated session the following year.</p>
          <h4>Delivery Performance</h4>
          <p>In spite of a 40% growth in the number of total deliveries per year in the period 2010 – 2014, reflecting increased complexity, the percentage of deliveries on time has increased from 87% to 97%.</p>
          <h4>Productivity</h4>
          <p>From 2010 to 2014 LUPI faced a massive change in its production mix. The entire organization was successfully able to keep efficiency high without jeopardizing at all the quality system. The overall output of APIs and intermediates almost doubled between 2010 – 2014; nevertheless the Operating Expenses related to waste disposals has been kept completely under control.</p>
          <p>Moreover electricity and methane consumption did not increase in the last 3 years despite the increase of production.</p>
          <p>The Lundbeck continuous improvement process helped our organization to achieve these outstanding result through the application of several concepts embedded in the lean manufacturing culture like wastes elimination, production on demand, improved on-time delivery, but also reducing cycle time and increasing capacity utilization.</p>
          <h4>Safety - Environment - Morale</h4>
          <p>All exhaust gases are individually pre-treated to remove
    inorganic pollutants before they are conveyed to a final
    Regenerative Thermal Oxidizer (RTO) oxidizing at 950°C all the organic contaminants transforming them to CO2 and water.</p>
  		<p>Waste water from the production is treated in a biological plant. Actual Certifications: ISO 14001 – OSHAS 18001 – Fire Fighting Certificate.</p>
      </div>
  </article>
  <!-- InstanceEndEditable -->
