<article class="container recipient">
	<div class="row text-center">
    	<h2>Cardinal Health, Quiroproductos de Cuauhtemoc, S. de R.L. de C.V.</h2>
      <h3>Quauhtemoc, Chihuahua, Mexico</h3>
        <p class="text-centr">
            <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,w_425/v1507316925/CardinalHealth_ti5ctr.png" alt="CardinalHealth">
		</p>
        <h5>Read the press release <a href="bronze-cardinalhealth-pr">here.</a></h5>
        <br>
    </div>
    <div class="row">
	    <h4><strong>Corporate Overview</strong></h4>
            <p>
                Headquartered in Dublin, Ohio, Cardinal Health, Inc. (NYSE: CAH) is a global integrated healthcare services and products company. The company provides clinically-proven medical products and pharmaceuticals and cost-effective solutions that enhance supply chain efficiency from hospital to home. Cardinal Health connects patients, providers, payers, pharmacists and manufacturers for integrated care coordination and better patient management. Backed by nearly 100 years of experience, with more than 50,000 employees in nearly 70 countries, Cardinal Health ranks among the top 25 on the Fortune 500. Since launching Operational Excellence, Cardinal Health has engaged more than 18,000 employees in 6,000+ projects which have improved processes an average of 40 to 60%. Plus, Cardinal Health has promoted more than 300 individuals into new leadership roles upon completing their OpEx assignments.
            </p>
        <h4><strong>Quiroproductos de Cuauhtemoc Overview</strong></h4>
            <p>
                Quiroproductos started operations at Cuauhtémoc, Chihuahua, Mexico in 1990 as a subsidiary of Baxter Co.; then, in 1993, was spun-off to Allegiance Co., and since 1999 was acquired by Cardinal Health, Inc. Today, the Cuauhtémoc facility has 625 direct employees and 166 indirect employees. The 470,754-square feet building is the base of a dynamic process that manufactures healthcare products with a labor force of 68% female and 32% male.
            </p>
        <h4><strong>Product and Process</strong></h4>
            <p>
                The product portfolio of Quiroproductos includes Surgical Drapes for different types of procedures, Face Masks, Surgical Gowns with all types of Doctor-Patient protection, Back Table Covers, Multipacks and some pouches. Products are manufactured to the highest standards of quality and regulated by bodies, such as the U.S. Food & Drug Administration (FDA) and the British Standards Institution (BSI). Value streams were designed to allow continuous flow where the Warehouse, Lamination Areas, Cutting Areas and Assembly Areas are efficiently connected.
            </p> 
        <h4><strong>Continuous Improvement</strong></h4>
            <p>
                The Quiroproductos de Cuauhtémoc continuous improvement culture is guided by Cardinal Health Operating System principles: “Create Value for the Customer,” “Align Value Streams,” “Create Flow and Customer Driven Pull,” “Seek Perfection” and “Respect Every Individual.” Quiroproductos is applying the DMAIC Methodology and leading projects through people (Sponsors, Black Belts, Kaizen Leaders, Yellow Belts and High Performance Teams). They eliminate waste and reduce variation every day by focusing on VoC, VoB and VoE. Every year they perform the Lean Roadmap to Success which is an internal Lean Assessment based on the <em>Shingo Model</em>.
            </p> 
        <h4><strong>High Performance Teams (HPTs)</strong></h4>
            <p>
                The continuous improvement philosophy is strongly supported by High Performance Teams (HPTs), which constantly receive training on Lean Six sigma tools, personal growing, technical skills, etc.
            </p> 
        <h4><strong>People & Employee Morale</strong></h4>
            <p>
                The recognition program includes seniority recognition, perfect attendance, Every One Matters recognition (EOM), ring of honor, monthly excellence of manufacturing cells. Annual employee events are held, such as Mother’s Day, summer party, children’s day, Gembas focused to eliminate unsafety conditions, team buildings, among others. The social responsibility committee support different activities involving employees, some of those activities are: CAH Foundation, Employee Donations through United Way, Family Values Workshop, My Early Childhood Workshop, among others.
            </p> 
        <h4><strong>Achievements</strong></h4>    
        <ul class="square">
          <li>2002 Manufacturing Award (Service Level)</li>
          <li>2005 Manufacturing Award Medical Product and Services (Service Level)</li>
          <li>2006 Manufacturing Award Medical Product and Services (Plan Attainment)</li>
          <li>2011 Manufacturing Award Medical Segment Operations (Goals Achievements)</li>
          <li>2013 Winners of “Foro Estatal de Trabajo en Equipo” in the Kaizen category.</li>
          <li>2015 Manufacturing Award Medical Segment Operations (Excellence in Cost)</li>
          <li>2016 Winners of “Foro Estatal de Trabajo en Equipo” in the Short Kaizen category.</li>
          <li>2016 Quiroproductos obtained the best results of VoE across Cardinal Health (Employee Engagement, Manager Effectiveness and Inclusion)</li>
        </ul>	
        <h4><strong>Voice of the Customer, Business and Employees</strong></h4>    
        <ul class="square">
          <li>External Quality reflected on “<u>Complaints per Millions” (CPM’s)</u> was dramatically reduced from 2.45 average in FY12 to .58 in FY17.</li>
          <li>Service Level tracked by “<u>P Vs A</u>” metric increased from 92% average in FY12 to 95% in FY17.</li>
          <li>Every year from FY12, they have reduced hours of the system by 5% average. This means that each year is more <u>efficient and productive.</u></li>
          <li>FY12 metrics were: Employee Engagement = 84%, Manager Effectiveness = 75%, Inclusion = 79%. FY16 metrics were: Employee Engagement = 97%, Manager Effectiveness = 92%, Inclusion = 94%.</li>
        </ul>
        <h4><strong>Environmental, Health and Safety (EH&S)</strong></h4>    
        <ul class="square">
          <li>At the end of FY12, the “<u>Total Recordable Incident Rate</u>” (TRIR) was 1.24. Right now, in FY17 the “TRIR” is .24. The size of the reduction was 80%.</li>
          <li>They also improved “<u>Water Consumption</u>” since FY12 to FY17 by 31.5%.</li>
          <li>In FY12, they <u>Recycled</u> 55% of the total scrap number. In FY17, they recycled more than 90%.</li>
          <li>They went from recycling 60% in 2013 to 100% in 2016.</li>
        </ul>	
        <h4><strong>Operational Excellence</strong></h4>    
        <ul class="square">
          <li>In FY12, the percentage of people <u>involved in Operational Excellence</u> was 51%. In FY17 the percentage is 91.5%.</li>
          <li>During FY12, people were only performing 44 <u>Gembas</u>. During FY17, they performed 330 Gembas.</li>
          <li>During FY12, frontline employees performed 67 <u>Short Kaizen</u> events. During FY17, they performed 126 Short Kaizen events.</li>
          <li>During FY12, Leadership performed <u>67 Kaizen</u> events. During FY16, they performed 83 Kaizen events.</li>
          <li>· In FY12, the result of the internal lean assessment called “<u>Lean Roadmap to Success” (LRTS)</u> was 3.01. In FY17, the LRTS result was 3.90.</li>
        </ul>

        <h5><strong>For more information, contact:</strong></h5>	
        <p><strong>Ramon Quintana</strong>, Operational Excellence Black Belt &nbsp; | &nbsp; Phone: (625) 5819850 &nbsp; | &nbsp; Email: Ramon.Quintana@cardinalhealth.com  &nbsp;</p>
        <br>
    </div>
		 <div class="row">
      	<section class="vertical tabs gallery row">
              <ul class="tab-nav three columns two_up tiles">
                <li class="active"><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1507322755/DSC_1317_so12pz.jpg"></a></li>
                <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1507322747/DSC_1215_wufvr8.jpg"></a></li>
                <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1507322747/DSC_1222_bmbipx.jpg"></a></li>
                <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1507322748/DSC_1232_vfktjp.jpg"></a></li>
                <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1507322748/DSC_1238_p3bkpo.jpg"></a></li>                  
                <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1507322747/DSC_1253_vfivfx.jpg"></a></li>                                    
                <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1507322752/DSC_1261_hokm9a.jpg"></a></li>
                <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1507322751/DSC_1265_jpxymg.jpg"></a></li>
                <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1507322754/DSC_1280_t8e3ix.jpg"></a></li>
                <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1507322752/DSC_1288_ghzf7m.jpg"></a></li>
                <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1507322752/DSC_1308_abnxtq.jpg"></a></li>
                <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1507322754/DSC_1311_mkigf3.jpg"></a></li>
                <li><a href="#"><img class="photo" src="https://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1507322747/DSC_1207_wkpaam.jpg"></a></li>
              </ul>
              <div class="tab-content active nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1507322755/DSC_1317_so12pz.jpg">
              </div>
              <div class="tab-content nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1507322747/DSC_1215_wufvr8.jpg">
              </div>
							<div class="tab-content nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1507322747/DSC_1222_bmbipx.jpg">
              </div>
							<div class="tab-content nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1507322748/DSC_1232_vfktjp.jpg">
              </div>
              <div class="tab-content nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1507322748/DSC_1238_p3bkpo.jpg">
              </div>
              <div class="tab-content nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1507322747/DSC_1253_vfivfx.jpg">
              </div>
              <div class="tab-content nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1507322752/DSC_1261_hokm9a.jpg">
              </div>
              <div class="tab-content nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1507322751/DSC_1265_jpxymg.jpg">
              </div>
              <div class="tab-content nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1507322754/DSC_1280_t8e3ix.jpg">
              </div>
              <div class="tab-content nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1507322752/DSC_1288_ghzf7m.jpg">
              </div>
              <div class="tab-content nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1507322752/DSC_1308_abnxtq.jpg">
              </div>
              <div class="tab-content nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1507322754/DSC_1311_mkigf3.jpg">
              </div>
              <div class="tab-content nine columns">
                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1507322747/DSC_1207_wkpaam.jpg">
              </div>
          </section>
      </div>
</article>
