<!-- InstanceBeginEditable name="main" -->
<article class="container recipient">
	<div class="row text-center">
		<h2>Land Apparel S.A.</h2>
    <br>
		<img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_200/v1489701803/PrizeRecipients/2017/Landau/LandauMadeBetterLogo_4C_vector.png" alt="Landau">
    </div>
    <div class="row">
		<h3>Land Apparel S.A. Receives International Recognition for Operational Excellence</h3>
        <p><em>Summary: After trained examiners and accomplished business professionals performed a thorough assessment of its facility, Land Apparel S.A. has been awarded the internationally recognized Shingo Bronze Medallion from the Shingo Institute, part of the Jon M. Huntsman School of Business.</em></p>
        <p>LOGAN, Utah – The Shingo Institute, part of the Jon M. Huntsman School of Business at Utah State University, has awarded Land Apparel S.A., in Puerto Cortés, Honduras, with the Shingo Bronze Medallion.  </p>
        <p>“Receipt of the Shingo Bronze Medallion signifies an organization’s mastery of fundamental tools and techniques for improving an organization's operations,” said Ken Snyder, executive director at the Shingo Institute. “Organizations that receive the Bronze Medallion are making great progress on their journey to achieving enterprise excellence.”</p>
        <p>The Shingo Bronze Medallion is the third of three awards bestowed on organizations by the Shingo Institute. The highest achievement is the Shingo Prize.</p>
        <p>Land Apparel, an American family-owned business, began operations in April 1997 in the city of Puerto Cortés, Honduras. Land Apparel is a cutting and sewing business devoted to manufacturing medical and restaurant professional uniforms, with sewing flexibility to produce more than 400 styles. This sound and trustworthy business has approximately 500 associates, three factory buildings and an average weekly qualified-labor production capacity of 5,000 dozen units. </p>
        <p>Marcela Orellana, Land Apparel’s operations and continuous improvement manager, says, “In our facility, we direct efforts to achieve sustainable continuous improvement in all processes, products and services. This is how we generate value for our customers. Our number one priority is the integral development of our associates. We are building our strategy through eight systems based on the operational excellence model, focusing our efforts on achieving the strategic objectives. The Shingo Model has been an inspiration in our journey to be a world-class company.”</p>
        <p>Land Apparel has noted a number of significant improvements. Turnover has reduced from 88% to 6% in the last 10 years, 719 improvements have been implemented through quick kaizen ideas, and the defect indicator measured at the distribution center in the US has reduced by 85% in the last 6 years. Over the last 7 years, Land Apparel has generated $1,589,226 in savings through formal kaizen projects coming from employees; decreased machine break hours by 63% during the last 5 years; and improved delivery to customers from 87% to 99% in the last 8 years.</p>
        <p>By “challenging” or applying for an award, organizations invite a group of accomplished professionals and trained examiners to thoroughly review their culture and operations. The examiners evaluate the challengers based on a rigorous set of standards and the Shingo Institute awards the organizations according to their assessment results.</p>
        <p>Team members from Land Apparel will receive the award during the Awards Gala at the 29th Shingo International Conference held the week of April 24-28, 2017 in Atlanta, Georgia, USA. The conference is a five-day event featuring a selection of workshops, plant tours, keynote speakers and breakout sessions designed to provide ongoing knowledge, insights and experience for organizations in their pursuit of operational excellence.</p>

		<h5><strong>About the Shingo Institute</strong></h5>
		<p>The Shingo Institute is home of the Shingo Prize, an award that recognizes organizations that demonstrate an exceptional culture that fosters continuous improvement. Part of the Jon M. Huntsman School of Business at Utah State University, the Shingo Institute is named after Japanese industrial engineer and Toyota advisor, Shigeo Shingo. Dr. Shingo distinguished himself as one of the world’s thought leaders in concepts, management systems and improvement techniques that have become known as the Toyota Production System.</p>
		<p>Drawing from Dr. Shingo’s teachings and years of experience working with organizations worldwide, the Shingo Institute developed the Shingo Model™ which is the basis for its several educational offerings, including workshops, study tours and conferences. Workshops are available in multiple languages through the Institute’s licensed affiliates. For more information on workshops, affiliates, or to register to attend the International Shingo Conference, please visit <a href="/">www.shingo.org</a>.</p>

		</h5><strong>Landau Uniforms, Inc.</strong></h5>
		<p>Land Apparel’s parent company, Landau Uniforms, Inc., is a family-owned business now managed by the third Landau generation. Landau Uniforms, based in Olive Branch, Mississippi, has sold medical uniforms since 1938. Its medical scrub and chef wear brands include Landau, Scrubzone, Urbane, Smitten, Workflow, Lynx and Chefwear. To learn more, visit <a href="http://www.landau.com" target="blank">www.landau.com</a>.</p>
		<h4>Contact</h4>
		<p><strong>Dominic Bria</strong>, Marketing Manager - Shingo Institute &nbsp; | &nbsp; Phone: 435-797-0771 &nbsp; | &nbsp; Email: <a href="mailto:dominic.bria@usu.edu">dominic.bria@usu.edu</a></p>
  </div>
</article>
<!-- InstanceEndEditable -->
