<article class="container recipient">
	<div class="row text-center">
    	<h2>Ipsen Biopharm Limited</h2>
      <h3>Wrexham, UK</h3>
      <br>
        <p class="text-centr">
        <img src="http://res.cloudinary.com/shingo/image/upload/v1535037675/PrizeRecipients/2018/ipsenlogo.jpg" alt="Ipsen">
				</p>
        <h5>Read the press release <a href="bronze-ipsenbio-pr">here.</a></h5>
        <br>
    </div>
    <div class="row">
			<h4><strong>Corporate Overview</strong></h4>
				<p>Ipsen is a global specialty care-driven pharmaceutical group with
					total sales close to €1.9 billion in 2017 (uplift of 21% v 2016). Ipsen
					sells more than 20 drugs in more than 115 countries, with a direct
					commercial presence in more than 30 countries. The Group has more
					than 4,900 employees worldwide. Ipsen’s ambition is to be a leading
					global biotech company focused on innovation and speciality care.
					Its fields of expertise cover oncology, neurotoxins and rare diseases
					(adult & pediatric).</p>
					<p>In 2017, Ipsen’s R&D expenditures exceeded €266 million. R&D
					is focused on its innovative and differentiated technological
					platforms, peptides and toxins, located in the heart of the leading
					biotechnological and life sciences hubs. Within Ipsen’s Technical
					Operations division there are 7 manufacturing sites across the world,
					of which Wrexham is the sole manufacturer of Neurotoxins.
				</p>
			<h4> <strong>Ipsen Biopharm Ltd: Wrexham</strong> </h4>
				<p>Our Wrexham site is the UK Biologics Manufacturing and Development Campus.</p>
				<p>Located in North Wales, we have 375 amazing employees producing
				circa 3.7 Million Vials per year for our patients in 75 territories across the
				world. Our sales have grown double digit levels for the last eight years.</p>
				<p>Dating back to 1990, the Wrexham facility is the sole provider of Dysport
				which is a €300 million franchise and Ipsen’s third largest product.
				Dysport® & Azzalure® are both developed and produced on our site,
				Wrexham also serves as the logistics platform for the UK.</p>
				<p>Activities at Ipsen Biopharm Wrexham include:</p>
					<ul style="list-style-type: circle; margin-left: 2rem">
						<li>Biologics (neuro toxin) active substance manufacturing</li>
						<li>Biologics Aseptic Fill Finish, secondary packaging and packaging</li>
						<li>Distribution</li>
						<li>Quality Assurance systems</li>
						<li>Pharmaceutical development and life cycle management of new toxin projects</li>
						<li>UK & Ireland Finance, Purchasing and HR Shared service</li>
					</ul>
				<p>Patient Care is at the forefront of all our employees thoughts and our
					site vision is to “Be the Best at improving people’s lives” </p>
				<p>Our site products are Dysport which is a lyophilised product containing
					either 500 units or 300 units per vial for the therapeutic market and
					Azzalure 125 units per vial for the aesthetic market.</p>
				<p>It is registered in 75 territories for the treatment of various conditions including:</p>
					<ul style="list-style-type: circle; margin-left: 2rem">
						<li>Cervical Dystonia</li>
						<li>Glabeller lines</li>
						<li>Spasticity</li>
						<li>Cerebral palsy</li>
						<li>Hemifacial Spasm</li>
						<li>Blepherospasm</li>
					</ul>
				<p>We handle highly potent products which require specific equipment to
				protect both people and product. Containment of our toxin activities is
				through isolators and barrier systems. </p>
				<p>Our facility is hence designed with appropriate containment via
				air pressure cascades and isolator technology. We understand the importance of Robust Training System and Robust Documentation
				and Procedures.</p>
				<p>The process starts with the manufacture of the Biological Active
				Substance (BAS) in our dedicated Unit 10 Primary facility, where we
				also manufacture clinical trials material</p>
				<p>The Drug Substance is then diluted into batch specific formulations
				and filled into glass vials under sterile conditions in our dedicated Unit
				10 Secondary facility and Building 2 facility</p>
				<p>The Drug Product is then tested in our Unit 11 QC Laboratory.</p>
				<p>Finally, the Drug Product is packed in our Unit 9 packing facility ready
				for distribution</p>
				<p>We also have onsite Maintenance, Projects, Facilities, EHS, HR, Finance
				and Biologics Developments Department</p>
			<h4> <strong>Quality System</strong> </h4>
				<p>Our Quality Management systems oversee the full lifecycle of the
				Product. Pre, In Process and Final Product Testing are captured
				throughout the manufacturing cycle.</p>
				<p>Quality Assurance of all documentation, inspection steps and
				a competency based training regime ensure compliance to our
				International governing bodies such as MHRA and FDA.</p>
			<h4> <strong>Enterprise Excellence</strong> </h4>
				<p>Ipsen’s global Manufacturing & Supply Organization started it’s
				transformation journey back in 2008 with the launch of Operational
				Excellence (OE).</p>
				<p>The primary driver for this programme was to bring the ratio Cost of
				Goods Sold (CoGS) versus total revenues down to a level close to the
				pharmaceutical industry average, less than 20% for all sites.</p>
				<p>Our Wrexham site 2008 Operational Excellence (OE) programme
				consisted of a series of improvement projects aimed at delivering
				quick and substantial cost savings. In support of this, a significant
				training commitment was undertaken to equip our employees with the
				necessary lean and six-sigma tools and methodologies (5S, DMAIC
				approach…). It was therefore primarily financially driven.</p>
				<p>In 2010 Wrexham site evolved the lean tools to include SQCPDE
				based on Hoshin Kanri, to complement the OE program. In November
				2012 The Manufacturing Institute (TMI) carried out a benchmarking
				assessment against the Shingo model and we achieved an overall result
				of 52% and had strengths and opportunities identified in a gap analysis.</p>
				<p>Upon the arrival of our Executive Vice President Technical Operations
				Jonathan Barnsley in 2014, the TechOps Leadership Team (TOLT)
				recognized the need to re-examine our ambition and transformation
				strategy to ‘Become Best in Class’ by 2020 in terms of robust delivery of
				quality products and innovative services as well as the definition of long
				term targets centred on the five pillars of Environment Health & Safety
				(EHS), People, Quality, Cost and Customer. Our transformation strategy
				‘Enterprise Excellence’ (EE) was launched in February 2015, Wrexham’s
				‘Be The Best’ vision was created. The five pillars are supported by all
				site teams.</p>
				<p>All 24 teams have daily, weekly and monthly reviews supporting our
				robust approach to safety and individual development in a healthy work
				environment to deliver great customer service and improve patients
				and people’s lives. </p>
				<p>In February 2016 our Wrexham site had a maturity assessment carried
				out by ‘KEA partners’ based on the Shingo model to establish an
				Enterprise Excellence EE maturity score (all IPSEN manufacturing sites
				were assessed). We achieved an overall result of 54% and identified the
				main improvement opportunities which created a ‘gap’ analysis. Strong
				alignment of the Senior Leadership Team (SLT) has been achieved and
				the Extended Leadership Team (ELT) is our site EE organisation matrix.
				In October 2017 The Manufacturing Institute (TMI) carried out a further
				benchmarking assessment against the Shingo model and we achieved
				an overall result 56% with encouragement to submit an application for
				a Shingo Challenge. In June 2018 our site achieved an overall result of
				63% from the Shingo Institute.</p>
				<p>Among the many challenges facing the site, sustaining a continuous
				improvement mind set through engagement of our team members has
				ranked high. Through our daily ‘Leaders on the Shop Floor’ initiative
				the SLT and ELT engage with our associates each day to identify
				improvements. We encourage our teams to think systemically and
				scientifically. The SLT & ELT help with resources, provide freedom in
				making decisions and get feedback on ways to improve our site and
				encourage all team members to ‘Be The Best’ they can be every day.
				Every idea is very important, each kaizen event moves us closer to
				achieving our vision. The ‘Leaders on the Shop Floor’ was identified by
				the Shingo Institute as benchmark Best Practice.</p>
			<h4> <strong>Noteworthy Achivements</strong> </h4>
			<h5> <strong>Wrexham Site</strong> </h5>
				<ul style="list-style-type: circle; margin-left: 2rem">
					<li>Winners of Ipsen group Safety Award for 2015 and 2016 for zero
						lost time accidents.</li>
					<li>Winners of the Ipsen Group Gold Simplification (Continuous
						Improvement) Award 2015.</li>
					<li>2017 saw the first commercial batch of Dysport produced in our
						brand new State Of The Art Manufacturing Building 2.</li>
					<li>Wrexham has been awarded circa £25M to build new State
						Of The Art Packing Lines and a Word Class Campus style
						Learning Academy.</li>
					<li>2017 saw the completion of our pioneering recombinant toxin
						development/manufacturing facility, the only one of its kind in the
						world.</li>
					<li>Proud that Wrexham scores 85% in a resent engagement survey. This
						is 6 points above the Ipsen group and higher than the previous survey.</li>
					<li>Enterprise Excellence Recognition in June 2018 from the Shingo
						Institute for ‘Shingo Bronze Medallion Recipients’.</li>
				</ul>
			<h5> <strong>Environment, Health & Safety</strong> </h5>
				<ul style="list-style-type: circle; margin-left: 2rem">
					<li>S3 initiative launched to encourage people to Step up, Speak out
						and Stay Safe is our behaviour based safety program.</li>
					<li>Our Hazard Reporting System and Communication Process is key
						to our accident prevention.</li>
					<li>Trained first aiders and EHS representatives in every area
						and function.</li>
					<li>EHS Training Platform for all New Starters and ongoing
						refresher training.</li>
					<li>Wrexham has a clear Waste minimization and segregation policy which
						everyone follows.</li>
					<li>Wrexham is committed to the environment and we ensure that our
						operations and activities are managed in a way to minimise our
						environmental impact. Recent achievements include zero waste
						to landfill, 100% green energy supply to the site for electricity and
						gas giving us a zero carbon footprint.</li>
				</ul>
			<h5> <strong>People</strong> </h5>
				<ul style="list-style-type: circle; margin-left: 2rem">
					<li>Staff turn over has reduced from 10% down to less than 5% over
						the last 2 years.</li>
					<li>Our Well Being program called Choices is available to all our
						employee’s. This includes Life Style Medicals, local sport facilities,
						cycle to work schemes, Community help line, lunch time walks, Sports and Social club and much more…</li>
					<li>We have a fantastic Restaurant onsite offering subsidised fresh
						made healthy options</li>
					<li>Our Little GEM and Big GEM recognition schemes promotes
						managers, peers and associates to recognise each other for “Going
						the ‘Extra Mile’ (GEM). The GEM recognition scheme was identified
						by the Shingo Institute as benchmark Best Practise. </li>
					<li>We have ‘Be Better Always’ (BBA) awards which are presented at the
						annual Staff Conference and nominees are identified for corporate
						Enterprise Excellence Award.</li>
					<li>Development and progression of our people is important to us and is
						discussed and reviewed through our Personal Development Meeting
						(PDM) process for every employee.</li>
					<li>Wrexham site is committed to supporting STEM (Science,
						Technology, Engineering and Maths) activities to support young
						people in the community to develop their skills.</li>
					<li>Nominated as one of three finalist in the National STEM Awards
						2017, hosted at the House of Lords.</li>
				</ul>
			<h5> <strong>Quality</strong> </h5>
			<ul style="list-style-type: circle; margin-left: 2rem">
				<li>As a Pharmaceutical Company we are strictly regulated by authorities
					such as the FDA, MHRA, ANVISA and many others. Since 2009
					we have had 23 Regulatory Audits to GMP (Good Manufacturing
					Processes) of pharmaceutical quality systems and are compliant.</li>
				<li>We have a robust Quality System that requires us to record
					every Unplanned Event (UE) and react to these UE’s through our
					Correctve Action, Preventative Action (CAPA) process, which is
					tracked electronically through our Trackwise system to ensure
					product quality and compliance. All UE undergo RCA (root cause
					analysis) to ensure true cause is identified – the key driver is to
					avoid re-occurance.</li>
				<li>Our Year to date First Time Quality rate is 89% against our target
					of 88%.</li>
				<li>All associates are trained in practical problem solving and Lean
					Tools. Key users are coached and evaluated on the job by Subject
					Matter Experts.</li>
			</ul>
			<h5> <strong>Cost</strong> </h5>
			<ul style="list-style-type: circle; margin-left: 2rem">
				<li>Dysport Cost per Unit reduced by 20% over last 5 years.</li>
				<li>Significant investment to enable increased capacity (triple capacity
					over 5 years) to fulfil future growth and future sales. </li>
				<li>Over £2.8M saved this year to date through Continuous Improvement
					initiatives and a further £170K per year identified. </li>
				<li>£40M site investment in last 2 years.</li>
			</ul>
			<h5> <strong>Customer</strong> </h5>
				<ul style="list-style-type: circle; margin-left: 2rem">
					<li>The Dysport product demand has shown a steady growth of 14%
						year on year over a 5 year period</li>
					<li>Our “Patient” is at the heart of what we do. We have consistently
						exceeded our customer’s on time in full (OTIF) target of 99.5%
						over the past 8 years. A result we are very proud of and strive to
						maintain.</li>
					<li>Biologics Development progress:<br>
						Toxin E: First Recombinant Toxin CMC Development &
						Clinical Manufacture.<br>
						Cell Based Assay (CBA) development/optimisation, validation and
						submission to EU. (CBA is Alternative to Testing on Animals).<br>
						Collaborations: University of Manchester, UCL, Exeter, CPI-NBMC,
						IP students, Consultants (T. Hunt).<br>
						Building our Biologics Capabilities, Scientific Culture & Expertise
						with 40 new appointments in 2017.
					</li>
				</ul>
			<h4><strong>Contact</strong></h4>
			<p><strong>Ken Jones</strong>, Director of Enterprise Excellence - Ipsen Biopharm Ltd &nbsp; | &nbsp; Email: <a href="mailto:ken.jones@ipsen.com">ken.jones@ipsen.com</a></p>
</article>
