<!-- InstanceBeginEditable name="main" -->
<article class="container recipient">
	<div class="row text-center">
        <h2>Forest Tosara Limited</h2>
        <img src="https://res.cloudinary.com/shingo/image/upload/c_fit,h_100/v1456781069/pr/Lake_Region_Medical.jpg" alt="Lake Regional"></p>
        <h5>Read the press release <a href="https://s3.amazonaws.com/shingo-press-releases/PR+-+Forest+Tosara.pdf">here.</a></h5>
        <br>
    </div>
    <div class="row">
		
    </div>
</article>
<!-- InstanceEndEditable -->
