
<!-- InstanceBeginEditable name="main" -->
  <article class="container recipient">
  	<div class="row text-center">
      	<h2>Vistaprint Deer Park Australia</h2>
          <br>
          <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,w_225/v1406050829/vplogo_pz7pbt.png" alt="Vistaprint logo">
          <br><br>
          <h5>Read the press release <a href="../pr/pr_vistaprint-australia_bronze.html">here.</a></h5>
          <br>
      </div>
      <div class="row">
      	<p>On the 10th of July 2014 Vistaprint Deer Park celebrated its 4th Birthday with an announcement that it had been recognised with a bronze Shingo medallion.</p>
          <p>The Deer Park plant becomes the first plant in Australasia, the first Printing company globally and one of the youngest plants ever to be recognised by the Shingo Institute.</p>
          <h4>Overview</h4>
          <p>Vistaprint is the leading online provider of marketing products (business cards, brochures, posters, custom apparel and advertising media etc.) and services to small businesses around the globe. Vistaprint offers affordable, high-quality customized products for small and micro businesses wanting to make a professional impression with their customers.</p>
          <p>Vistaprint has over 4,100 employees spanning four manufacturing facilities and 13 offices worldwide, including its corporate headquarters at Venlo in the Netherlands.</p>
          <h4>Our Heritage</h4>
          <p>In 1995 Vistaprint was born in a small apartment in Paris, France as a direct marketing catalogue company and rapidly evolved into an e-commerce company by 1998.</p>
          <p>By 2004 the company decided to take manufacturing in-house by opening our European manufacturing plant in Venlo, Holland followed shortly after in 2005 with our North American plant in Windsor, Canada. </p>
          <p>More recently, Vistaprint Australia opened its Greenfield plant in Deer Park which targets the large and emerging markets in the Asia Pacific region and, since its opening in 2010, the plant has experienced phenomenal growth equivalent to approximately 30-40% per year. </p>
          <p>However, being the smallest of the three facilities, this affords Deer Park the agility to remain a centre of excellence and a pioneer regarding Lean Thinking amongst the group.</p>
          <h4>Our Company &amp; Technology</h4>
          <p>Our proprietary Internet-based order processing systems receive and store thousands of individual print jobs every day and, using complex algorithms, efficiently aggregate multiple individual print jobs for printing as a single press-run. Our systems intelligently search pending individual print jobs, select jobs having similar printing parameters for combination into a single larger aggregate job and calculate the optimal allocation of print orders that will result in the lowest production cost. As a result, we are able to effect mass customisation and, in so doing, significantly reduce the costs and inefficiencies associated with traditional short run printing.</p>
          <h4>Customer value &amp; competitive performance</h4>
          <p>Uniquely, Vistaprint operates in a low-volume, low cost spectrum of the marketplace aiming to deliver “competition crushing” performance at stunning value for money.</p>
          <p>In order to achieve this position and continue to operate in Australia, a high cost country, we have dramatically reduced unit cost and improved labour productivity since 2010.</p>
          <p>We pride ourselves on an intimate knowledge of what delights our customers which means actively listening to the many voices of our valued customers and continuously aiming to enhance the website and customer experience. As a result our customer loyalty indicator has improved significantly.</p>
          <p>Our customers also demand fast response times and often next day delivery, so we have needed to track and continuously improve order processing time. As a result, since 2010, manufacturing throughput time, as defined by our measure of the time it take to fulfill a customer’s print image to the shipment of the item (commonly referred to as Rip-to-Ship), has reduced from ~ 10 hours to ~8 hours  whilst on time shipments (OTS) remains consistently above 99%.</p>
          <h4>Our Enduring Values</h4>
          <p>At the core of our company culture and at the very top of our strategic agenda are our enduring values. They're inspiring, actionable and relevant to everyone in the Vistaprint family as well as securely aligned to our Vision and audacious goals. Living our enduring values has helped us guide towards a winning culture and help us towards our vision. </p>
          <p>To focus our efforts ensuring we are all moving towards the same direction, we use a common policy deployment which aligns our corporate and organizational goals and defines clear, cross-functional accountability for achieving challenging targets.</p>
          <p>In 2009, Vistaprint developed its own globally standardised Vistaprint Production System (VPS) in order to move away from traditional manufacturing and to recognise behaviours and system that put people &amp; culture, customer value, and Lean continuous improvement at its core. VPS is now maturing and its principles are being embraced across the whole of enterprise.</p>
          <h4>People, Culture &amp; Continuous improvement</h4>
          <p>Together the team has built the Deer Park plant around an ethos and company culture that respects individuals, empowers employees and passion for continuous improvement that has achieved some impressive results:
              <ul class="square">
                  <li>Zero Lost Time Injuries since launch</li>
                  <li>996 implemented improvement ideas since Feb 2011</li>
                  <li>Average of 14 suggestions per person per year at a 85% Completion Rate</li>
                  <li>Over 120 Kaizen Workshops and activities since 2010</li>
                  <li>Our Vistacademy provides lean training and provides significant investment to develop our fantastic people</li>
                  <li>Workplace health checks</li>
                  <li>All leadership spends a minimum of one day on the shop floor</li>
                  <li>Weekly all-hands “clocks” group meeting</li>
                  <li>Development of Vistawiki as a resource centre to share information</li>
                  <li>Numerous Vistaprint Team building activities locally and with the global team</li>
              </ul>
          ...All of which has defined Vistaprint Deer Park as a truly great place to work!</p>
          <h4>Contact</h4>
          <p><strong>Jim Glover</strong>, Lean/Quality Manager &nbsp; | &nbsp; Phone: 613.8390 3743 &nbsp; | &nbsp; Mobile: 614.1756 9874 &nbsp; | &nbsp; Fax: 613.8390 3799 &nbsp; | &nbsp; Email: <a href="mailto:jglover@vistaprint.com">jglover@vistaprint.com</a><br>
          <br>
          Vistaprint<br>
          66 Paramount Boulevard,<br>
          Derrimut, Victoria, Australia 3030</p>
      </div>
      <br>
      <div class="row">
      	<section class="vertical tabs gallery row">
              <ul class="tab-nav three columns two_up tiles">
                  <li class="active"><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,w_80,h_80/v1406050829/All_Hands_abehd1.jpg"></a></li>
                  <li><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,w_80/v1430337997/play_button_xkj5u6.jpg"></a></li>
                  <li><a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80,w_80/v1406056613/Bronze_Celebration_Team_Photo_dydswc.jpg"></a></li>
              </ul>
              <div class="tab-content active nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1406050829/All_Hands_abehd1.jpg" alt="Vistaprint Australia - Shingo Bronze Medallion Winner 2014">
              </div>
              <div class="tab-content nine columns">
                  <iframe width="600" height="338" src="https://www.youtube.com/embed/SzYlX6Oydqg?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="tab-content nine columns">
                  <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,w_600,h_350/v1406056613/Bronze_Celebration_Team_Photo_dydswc.jpg" alt="Vistaprint Bronze Medallion Winners">
              </div>
          </section>
      </div>
  </article>
  <!-- InstanceEndEditable -->
