<article class="container recipient">
  <div class="row text-center">
    <h2>Letterkenny Army Depot.</h2>
    <p class="text-centr">
      <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_200/v1493671095/PrizeRecipients/2017/LetterKenny/Leadcol_transparent.png"
        alt="Landau">
    </p>
    <h5>Read the press release <a href="bronze-letterkenny-pr">here.</a></h5>
    <br>
  </div>
  <div class="row">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Letterkenny Army Depot (LEAD) is the Department of Defense facility for Tactical
      Missile Air Defense System manufacturing, repair and overhaul support.&nbsp; LEAD is designated the Center of Industrial
      and Technical Excellence (CITE) for Air Defense and Tactical Missile Systems, Mobile Electric Power Generation Equipment,
      Route Clearance Vehicles and PATRIOT Missile Recertification.</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Letterkenny provides worldwide support to soldiers and organizations by sending Depot
      expertise forward to sites within the United States and overseas. Employees are equipped to hand-off Depot refurbished
      equipment, provide assistance in equipment operations and support the soldiers and war efforts by assigning personnel
      to bases and support facilities.</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LEAD&rsquo;s customer base includes the U.S. Army Aviation and Missile Command, U.S. Army
      Tank-Automotive Armament Command, U.S. Army Communications and Electronics Command, Special Operations Command, Joint
      Program Executive Office for Chemical Biological Defense, and other government and public sector entities.&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Depot continues to make further strides along the path that led to its renowned
      reputation as a lean and efficient industrial operation with an unwavering customer focus. Through the application
      of lean as well as an empowered workforce, the Depot conducted hundreds of improvement studies generating millions
      of dollars in savings to the taxpayer. The Depot has received recognition on nine other occasions by the Shingo Institute.</p>
    <p><strong>PATRIOT Launcher New Build Manufacturing</strong></p>
    <p>In 2009, LEAD leveraged its experience and capabilities gained from the Maintenance, Repair &amp; Operations (MRO) of
      PATRIOT Air and Missile Defense Systems to successfully partner as a subcontractor with Raytheon, who would manage
      the majority of the supply logistics while LEAD would provide skilled manpower and infrastructure necessary to integrate,
      test, paint, package and ship missile launchers.</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Low rate initial production of assets began in late 2010 with full rate production beginning
      August 2011. LEAD met or exceeded the incremental delivery requirement by completing the initial contract for 37 assets
      on June 28, 2013 (three months internal to Raytheon&rsquo;s contractual commitment to the USG).</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; During the first two years of full rate production, LEAD was presented supplier awards
      by its corporate partner. As a result of excellent performance and competence to offer solutions to the customer&rsquo;s
      evolving requirements, Raytheon provided ongoing funded contracts for 50 additional assets through July 2015, with
      proposed further foreign military sales workload.</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Directorate of Industrial Operations, Air Defense Systems Branch, integrates the sub-assemblies
      and operationally tests each asset and is dedicated to the New Build program. Other work centers across all Depot programs
      perform the quality control, packaging, supply, fabrication and paint operations but are not dedicated to the performance
      of the New Build program.&nbsp;&nbsp;</p>
    <p>This is LEAD&rsquo;s first submission in collaboration with a private corporate partner for a product to be recognized
      for operational excellence. It is also the first time that an Army Depot built a new PATRIOT air and missile defense
      system major end item. Delight the customer led to more business and recognition from the customer.</p>
    <p><strong>People:</strong></p>
    <p>The Depot employs approximately 3,700 skilled artisans consisting of government employees, contractors, military personnel
      and a variety of tenant employees. Employee technical and administrative skills include electronic assembly, system
      test, repair and diagnostics, mechanical/pneumatic/hydraulic component assembly/troubleshooting, power generation expertise,
      manufacturing, engineering and design contracting, supply and transportation services, information management, program
      management as well as many others. The employees of Air Defense Systems Branch consist of Department of the Army civilians,
      as well as contractor-supplied personnel, are required to complete a cross-training program for each work process performed
      in the shop.</p>
    <p><strong>Depot Achievements:</strong></p>
    <ul class="square">
      <li>2014 Raytheon Operational Excellence Supplier Award</li>
      <li>2013 Raytheon Four-Star Service Excellence Award</li>
      <li>2012 Raytheon Supplier Excellence - Partner Performance Award</li>
      <li>2012 Raytheon Four-Star Supplier Award</li>
      <li>2011 Raytheon Three-Star Supplier Award</li>
      <li>Ten-time recipient of Shingo Medallions</li>
      <li>Two-time winner of the Army Superior Unit Award</li>
      <li>Department of Defense Award for Continuous Process Improvement</li>
      <li>Defense Logistics Agency Customer of the Year Award</li>
      <li>Secretary of the Army Environmental Awards</li>
    </ul>
    <p><strong>Safety and Environmental:</strong></p>
    <ul class="square">
      <li>Voluntary Protection Program (VPP) Star certification for exemplary achievement in employee safety and health Award
        2012</li>
      <li>ISO 14001 environmental certification since 2004</li>
      <li>ISO 18001 safety certification since 2007</li>
    </ul>
    <p><strong>Quality:</strong></p>
    <ul clas="square">
      <li>ISO 9001 certified (since 2004)</li>
      <li>100 percent cross training</li>
      <li>Process documented work instructions</li>
      <li>LEAD Quality Control inspection, Customer inspection and DCMA inspection</li>
    </ul>
    <p><strong>Delivery:</strong></p>
    <ul class="square">
      <li>100 percent on time delivery to our customer</li>
    </ul>
    <p><strong>Cost:</strong></p>
    <ul class="square">
      <li>Direct labor hours for whole program reduced by 40%</li>
      <li>Direct labor hours for assembly and testing reduced by 38%</li>
      <li>Unit Funded Cost reduced by 17%</li>
    </ul>
    <p><strong>Lean Initiatives:</strong></p>
    <ul class="square">
      <li>June 2010 Initial Program Value Stream Analysis (VSA)</li>
      <li>February 2011 In Process VSA</li>
      <li>February 2013 In Process VSA</li>
      <li>PATRIOT New Build parts warehouse improvements, building 378</li>
      <li>Eliminated need to remove/replace sub-assemblies from end item if faulty during on board diagnostic testing</li>
      <li>Charge the purchase of safety and ancillary equipment to the program/customer, not the Depot&rsquo;s overhead, as normally
        done for other Maintenance, Repair and Operations programs</li>
      <li>Eliminated wasteful material handling and movement of missile round trainers between load tests</li>
      <li>Eliminated wasteful movement of product for welding/non-destructive testing on launcher mechanics</li>
      <li>Optimized shop layout best flow</li>
      <li>Recovered production space for other production use</li>
    </ul>
    <p><strong>Why is this important?</strong></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LEAD&rsquo;s lean culture provided a natural transition as the workforce began to stand
      up the new build program utilizing lean tools, systems and principles. With the highest priority on safety, the first
      steps focused on ensuring a safe as well as productive working environment. The process all started with a value stream
      analysis of the production line to instill lean up-front to ensure the process is efficient.</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; It was important to ensure that all work centers involved in the process were identified
      and understood what was expected as the new partnership with Raytheon accompanied a different type of work than previously
      performed. Specific contract requirements were incorporated into the lean focus as many were new requirements to the
      Depot. Additionally, with the ever-increasing demands on existing work space, it was important to focus on maximizing
      the utilization of the space allocated to the program.</p>
    <p>Through successful efforts the Depot was able to accept additional out-of-scope work from the customer and perform it
      in the existing space with the same number of people. Letterkenny&rsquo;s efforts continue to evolve as the program
      is executed, benefitting from experience and lessons learned.</p>
  </div>
  <div class="row">
    <section class="vertical tabs gallery row">
      <ul class="tab-nav three columns two_up tiles">
        <li class="active">
          <a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1493671095/PrizeRecipients/2017/LetterKenny/IMG_2875b.jpg"></a>
        </li>
        <li>
          <a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1493671095/PrizeRecipients/2017/LetterKenny/IMG_2028.jpg"></a>
        </li>
        <li>
          <a href="#"><img class="photo" src="http://res.cloudinary.com/shingo/image/upload/c_thumb,h_80/v1493671095/PrizeRecipients/2017/LetterKenny/IMG_2022.jpg"></a>
        </li>
      </ul>
      <div class="tab-content active nine columns">
        <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1493671095/PrizeRecipients/2017/LetterKenny/IMG_2875b.jpg">
      </div>
      <div class="tab-content nine columns">
        <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1493671095/PrizeRecipients/2017/LetterKenny/IMG_2028.jpg">
      </div>
      <div class="tab-content nine columns">
        <img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_350,w_600/v1493671095/PrizeRecipients/2017/LetterKenny/IMG_2022.jpg">
      </div>
    </section>
  </div>
</article>