<!-- InstanceBeginEditable name="main" -->
<article class="container recipient">
	<div class="row text-center">
		<h2>Ipen Biopharm Limited</h2>
    <br>
		<img src="http://res.cloudinary.com/shingo/image/upload/v1535037675/PrizeRecipients/2018/ipsenlogo.jpg" alt="Ipsen">
    </div>
    <div class="row">
		<h3 class="text-center"><br>Ipsen Biopharm Wrexham Receives International Recognition for Operational Excellence</h3><br>
		<p><em>Summary: After trained examiners and accomplished business professionals performed a thorough assessment of its facility, Ball Beverage Packaging Mont has been awarded the internationally recognized Shingo Silver Medallion from the Shingo Institute, part of the Jon M. Huntsman School of Business</em></p>

		<p>LOGAN, Utah – The Shingo Institute, a program in the Jon M. Huntsman School of Business at Utah State University, has awarded the Ipsen Biopharm Wrexham site in North Wales with the Shingo Bronze Medallion.</p>

		<p>“Receipt of the Shingo Bronze Medallion signifies an organization’s mastery of fundamental tools and techniques for improving an organization's operations,” said Ken Snyder, executive director at the Shingo Institute. “Organizations that receive the Bronze Medallion are making great progress on their journey to achieving enterprise excellence.”</p>

		<p>The Shingo Bronze Medallion is the third of three awards bestowed on organizations by the Shingo Institute. The highest achievement is the Shingo Prize.</p>

		<p>Ipsen is a global specialty care-driven pharmaceutical group with total sales close to €1.9 billion in 2017. Ipsen sells more than 20 drugs in more than 115 countries, with a direct commercial presence in more than 30 countries. The Wrexham site is the UK Biologics Manufacturing and Development Campus. Located in North Wales, they have 375 employees producing circa 3.7 million vials per year for patients in 75 territories across the world. Dating back to 1990, the Wrexham facility is the sole provider of Dysport, which is a €300 million franchise and Ipsen’s third largest product.</p>

		<p>Nick Davis, Vice President of Manufacturing, says, “It has been fantastic to be part of our enterprise excellence journey. To date, challenging for the Shingo Prize has created a focus and purpose in the teams that has really accelerated the journey over the last 18 months. In this, we have become entwined with the Shingo principles, learning that they are what we do and not in addition to what we do. Having a panel of trusted and respected experts from the Shingo Institute assess our progress against each of the principles has given us really strong insights and practical feedback that will undoubtedly help us with the next stage of our Enterprise Excellence Journey—one that we know never ends.”</p>

		<p>The global supply chain director, Jeremy Tidmarsh, says, “Being the first Biopharm company to achieve a Shingo Bronze medallion is a massive acknowledgment of the transformation that Ipsen Wrexham has started. I’m so proud of our amazing staff who have embraced the challenge to: ‘Be the Best at improving people’s lives.’ I see it every day! Awesome, just awesome!”</p>

		<p>Ipsen Biopharm Wrexham has noted a number of significant improvements as a result of their Shingo journey. Recent achievements include zero waste to landfill, 100% green energy supply to the site for electricity, and gas giving them a zero carbon footprint. Staff turnover has reduced from 10% down to less than 5% over the last two years. Regarding cost, over £2.8M was saved this year to date through continuous improvement initiatives and a further £170K per year identified. They also have consistently exceeded customer on time in full (OTIF) target of 99.5% over the past eight years.</p>

		<p>By “challenging” or applying for an award, organizations invite a group of accomplished professionals and trained examiners to thoroughly review their culture and operations. The examiners evaluate the challengers based on a rigorous set of standards and the Shingo Institute awards the organizations according to their assessment results.</p>

		<p>Team members from Ipsen Biopharm Wrexham will receive the award during the Awards Gala at the Shingo Conference held the week of April 28–May 3, 2019 in Cincinnati, Ohio, USA. The conference is a five-day event featuring a selection of workshops, plant tours, keynote speakers, and breakout sessions designed to provide ongoing knowledge, insights, and experience for organizations in their pursuit of operational excellence.</p>

		<h5><strong>About the Shingo Institute</strong></h5>
		<p>The Shingo Institute is home of the Shingo Prize, an award that recognizes organizations that demonstrate an exceptional culture that fosters continuous improvement. Part of the Jon M. Huntsman School of Business at Utah State University, the Shingo Institute is named after Japanese industrial engineer and Toyota advisor, Shigeo Shingo. Dr. Shingo distinguished himself as one of the world’s thought leaders in concepts, management systems and improvement techniques that have become known as the Toyota Production System.</p>
		<p>Drawing from Dr. Shingo’s teachings and years of experience working with organizations worldwide, the Shingo Institute developed the Shingo Model™ which is the basis for its several educational offerings, including workshops, study tours and conferences. Workshops are available in multiple languages through the Institute’s licensed affiliates. For more information on workshops, affiliates, or to register to attend the International Shingo Conference, please visit <a href="/">www.shingo.org</a>.</p>

		<h4>Contact</h4>
		<p><strong>Dominic Bria</strong>, Marketing Manager - Shingo Institute &nbsp; | &nbsp; Phone: 435-797-0771 &nbsp; | &nbsp; Email: <a href="mailto:dominic.bria@usu.edu">dominic.bria@usu.edu</a></p>
  </div>
</article>
<!-- InstanceEndEditable -->
