<!-- InstanceBeginEditable name="main" -->
<article class="container recipient">
  <div class="row text-center">
    <h2>Letterkenny Army Depot</h2>
    <br>
    <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_200/v1493671095/PrizeRecipients/2017/LetterKenny/Leadcol_transparent.png"
      alt="Landau">
  </div>
  <div class="row">
    <h3>Letterkenny Army Depot’s PATRIOT Launcher New Build Program Receives International Recognition for Operational Excellence</h3>
    <p><em>Summary: After trained examiners and accomplished business professionals performed a thorough assessment of its facility, <strong>Letterkenny Army Depot</strong> has been awarded the internationally recognized Shingo Bronze Medallion from the Shingo Institute, part of the Jon M. Huntsman School of Business.</em></p>
    <p>LOGAN, Utah &ndash; <a href="http://www.shingoprize.org">The Shingo Institute</a>, part of the <a href="http://www.huntsman.usu.edu">Jon M. Huntsman School of Business</a>  at <a href="http://www.usu.edu">Utah State University</a>, has awarded Letterkenny Army Depot (LEAD) in Chambersburg,
      Pennsylvania, USA with the Shingo Bronze Medallion. LEAD, the first Army depot to win a prestigious Shingo medallionnod
      in 2005, earned its 10th Shingo medallion with its Phased Array Tracking Radar to Intercept on Target (PATRIOT) Launcher
      New Build Program.</p>
    <p>&ldquo;Receipt of the Shingo Bronze Medallion signifies an organization&rsquo;s mastery of fundamental tools and techniques
      for improving an organization's operations,&rdquo; said Ken Snyder, executive director at the Shingo Institute. &ldquo;Organizations
      that receive the Bronze Medallion are making great progress on their journey to achieving enterprise excellence.&rdquo;</p>
    <p>The Shingo Bronze Medallion is the third of three awards bestowed on organizations by the Shingo Institute. The highest
      achievement is the Shingo Prize.</p>
    <p>The PATRIOT launcher new build program began in 2009 with private industry managing the majority of the supply logistics,
      while LEAD provided highly skilled artisans with over 20 years of PATRIOT experience and infrastructure necessary to
      integrate, test, paint, package and ship missile launchers.</p>
    <p>Through the utilization of lean tools, systems and principles, as well as an empowered workforce, the PATRIOT launcher
      new build team exceeded the customer requirements and completed additional program workload with existing space and
      the same number of people while maintaining a 100% on-time delivery record.</p>
    <p>&ldquo;This is a great achievement for Letterkenny as it is the first time that an Army depot built a new PATRIOT air
      and missile defense system major end item,&rdquo; said Col. Deacon Maddox, LEAD&rsquo;s commander.</p>
    <p>By &ldquo;challenging&rdquo; or applying for an award, organizations invite a group of accomplished professionals and
      trained examiners to thoroughly review their culture and operations. The examiners evaluate the challengers based on
      a rigorous set of standards and the Shingo Institute awards the organizations according to their assessment results.</p>
    <p>Team members from LEAD will receive the award during the Awards Gala at the 29th Shingo International Conference held
      the week of April 24-28, 2017 in Atlanta, Georgia, USA. The conference is a five-day event featuring a selection of
      workshops, plant tours, keynote speakers and breakout sessions designed to provide ongoing knowledge, insights and
      experience for organizations in their pursuit of operational excellence.</p>

    <h5><strong>About the Shingo Institute</strong></h5>
    <p>The Shingo Institute is home of the Shingo Prize, an award that recognizes organizations that demonstrate an exceptional
      culture that fosters continuous improvement. Part of the Jon M. Huntsman School of Business at Utah State University,
      the Shingo Institute is named after Japanese industrial engineer and Toyota advisor, Shigeo Shingo. Dr. Shingo distinguished
      himself as one of the world’s thought leaders in concepts, management systems and improvement techniques that have
      become known as the Toyota Production System.</p>
    <p>Drawing from Dr. Shingo’s teachings and years of experience working with organizations worldwide, the Shingo Institute
      developed the Shingo Model™ which is the basis for its several educational offerings, including workshops, study tours
      and conferences. Workshops are available in multiple languages through the Institute’s licensed affiliates. For more
      information on workshops, affiliates, or to register to attend the International Shingo Conference, please visit
      <a href="/">www.shingo.org</a>.</p>

    <p><strong>About Letterkenny Army Deport </strong></p>
    <p>Letterkenny Army Depot (LEAD) is the Department of Defense facility for Tactical Missile Air Defense System manufacturing,
      repair and overhaul support. LEAD is designated as the Center of Industrial and Technical Excellence for air defense
      and tactical missile systems, mobile electric power generation equipment, route clearance vehicles and PATRIOT missile
      recertification.</p>
    <p>LEAD provides worldwide support to soldiers and organizations by sending depot expertise forward to sites within the
      United States and overseas. Employees are equipped to hand-off depot refurbished equipment, provide assistance in equipment
      operations and support the soldiers and war efforts by assigning personnel to bases and support facilities. To learn
      more, visit <a href="http://www.letterkenny.army.mil/">www.letterkenny.army.mil</a>.</p>

    <h4>Contact</h4>
    <p><strong>Dominic Bria</strong>, Marketing Manager - Shingo Institute &nbsp; | &nbsp; Phone: 435-797-0771 &nbsp; | &nbsp;
      Email: <a href="mailto:dominic.bria@usu.edu">dominic.bria@usu.edu</a></p>
  </div>
</article>
<!-- InstanceEndEditable -->