  <!-- InstanceBeginEditable name="main" -->
  <article class="container" id="affiliates">
  	<div class="row">
      	<div class="nine centered columns text-center">
              <h2 class="quattrocento">Meet Our Affiliates</h2>
              <h5><i class="icon-dot"></i> <i class="icon-dot"></i> <i class="icon-dot"></i></h5>
              <h4>Shingo Institute Licensed Affiliates bring years of experience and a wide array of expertise to our clients. They serve as an extension of the Shingo Institute team as they share, promote and deploy the <em>Shingo Model™</em> throughout the world.</h4>
          </div>
      </div>
      <br>
      <div class="row">
          <ul class="afflist three_up tiles centered hide-for-small">
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/arches">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,h_150,w_300/v1423525503/AL_logo_no-white_sbdl8o.png" alt="Arches Leadership">
                              </div>
                              <h4>Arches Leadership</h4>
                              <p>LANGUAGES: English</p><br>
                          </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/gbmp">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,h_150,w_300/v1414709918/GBMP_-_SmallTransparent_c295tz.png" alt="GBMP">
                              </div>
                              <h4>GBMP</h4>
                              <p>LANGUAGES: English, Spanish</p><br>
                          </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/lensys">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,h_150,w_300/v1423612267/lensys_logo_yktjvq.png">
                              </div>
                              <h4>Lensys</h4>
                              <p>LANGUAGES: Spanish, English</p><br>
                          </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/opex-academy">
                              <div class="text-center">
                                  <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_150,w_300/v1474482204/Affiliates/OpexConsult.png" alt="Opex Academy">
                              </div>
                              <h4>Opex Academy</h4>
                              <p>LANGUAGES: English, Spanish</p><br>
                          </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/sapartners">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,h_150,w_300/v1394229830/sapartners_-_Small_lzv0y1.png">
                              </div>
                              <h4>S A Partners</h4>
                              <p>LANGUAGES: English, Mandarin</p><br>
                          </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/sisu">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_150,w_300/v1392764444/SISU_Plastic_logo_w-text_jpg_mam8tq.jpg">
                              </div>
                              <h4>SISU</h4>
                              <p>LANGUAGES: English, Spanish</p><br>
                           </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/efeso">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,h_150,w_300/v1441123059/EFESO_Q_cuc0vu.png">
                              </div>
                              <h4>EFESO Consulting</h4>
                              <p>LANGUAGES: English, Hindi, Spanish, Portuguese/Brazilian, German, French, Italian, Japanese</p>
                          </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/tmi">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,h_150,w_300/v1423263184/TMIlogo_blue_transp_ictwjn.png">
                              </div>
                              <h4>The Manufacturing Institute</h4>
                              <p>LANGUAGES: English, German, French</p><br>
                          </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/ul">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,g_center,h_150,w_125/v1392227490/UL_Enterprise_red_rgb_qlscjg.png">
                              </div>
                              <h4>UL</h4>
                              <p>LANGUAGES: English, Mandarin, Cantonese, Spanish, Italian</p>
                          </a>
                      </div>
                  </div>
              </li>
  						<li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/iex">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,g_center,h_150,w_300/v1455922983/Affiliates/iexlogo_1.png">
                              </div>
                              <h4>Institute for Enterprise Excellence</h4>
                              <p>LANGUAGES: English</p>
                          </a>
                      </div>
                  </div>
              </li>
  						<li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/young">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,g_center,h_150,w_300/v1457457180/Affiliates/younglogo.jpg">
                              </div>
                              <h4>Young Consulting Group</h4>
                              <p>LANGUAGES: Chinese, English</p>
                          </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/truenorth">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_150/v1460386115/Affiliates/TruthNorth.jpg">
                              </div>
                              <h4>True North-Compass, LLC</h4>
                              <p>LANGUAGES: English</p><br>
                          </a>
                      </div>
                  </div>
              </li>
              <li>
            	<div class="row">
                    <div class="twelve columns centered">
                        <a href="affiliates/spg">
                            <div class="text-center">
                                <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_200/v1461189633/SPG_-_Logo_jywliv.jpg">
                            </div>
														<br>
                            <h4>Sustainable Performance Group </h4>
                            <p>LANGUAGES: English, Spanish</p>
                        </a>
                    </div>
                </div>
            </li>
						<li>
            	<div class="row">
                    <div class="twelve columns centered">
                        <a href="affiliates/mobius">
                            <div class="text-center">
                                <img src="https://res.cloudinary.com/shingo/image/upload/c_crop,g_center,h_230,w_300,y_0/c_scale,h_150/v1461591180/Affiliates/Mobius_Logo.jpg">
                            </div>
                            <h4>Möbius Business Redesign</h4>
                            <p>LANGUAGES: English, Dutch, French</p>
                        </a>
                    </div>
                </div>
            </li>
          </ul>
          <ul class="afflist centered show-for-small">
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/arches">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,h_150,w_300/v1423525503/AL_logo_no-white_sbdl8o.png" alt="Arches Leadership">
                              </div>
                              <h4>Arches Leadership</h4>
                              <p>LANGUAGES: English</p>
                          </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/gbmp">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,h_150,w_300/v1414709918/GBMP_-_SmallTransparent_c295tz.png" alt="GBMP">
                              </div>
                              <h4>GBMP</h4>
                              <p>LANGUAGES: English, Spanish</p>
                          </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/lensys">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,h_150,w_300/v1423612267/lensys_logo_yktjvq.png">
                              </div>
                              <h4>Lensys</h4>
                              <p>LANGUAGES: Spanish, English</p>
                          </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/opex-academy">
                              <div class="text-center">
                                  <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_150,w_300/v1474482204/Affiliates/OpexConsult.png" alt="Opex Academy">
                              </div>
                              <h4>Opex Academy</h4>
                              <p>LANGUAGES: English, Spanish</p>
                          </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/sapartners">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,h_150,w_300/v1394229830/sapartners_-_Small_lzv0y1.png">
                              </div>
                              <h4>S A Partners</h4>
                              <p>LANGUAGES: English, Mandarin</p>
                          </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/sisu">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_fill,h_150,w_300/v1392764444/SISU_Plastic_logo_w-text_jpg_mam8tq.jpg">
                              </div>
                              <h4>SISU</h4>
                              <p>LANGUAGES: English</p>
                           </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/efeso">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,h_150,w_300/v1414709274/solving_efeso_dvn8s2.png">
                              </div>
                              <h4>Solving Efeso</h4>
                              <p>LANGUAGES: English, Hindi, Spanish, Portuguese/Brazilian, German, French, Italian</p>
                          </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/tmi">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,h_150,w_300/v1423263184/TMIlogo_blue_transp_ictwjn.png">
                              </div>
                              <h4>The Manufacturing Institute</h4>
                              <p>LANGUAGES: English, German, French</p><br> <!--To line up with the other elements-->
                          </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/ul">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,g_center,h_150,w_125/v1392227490/UL_Enterprise_red_rgb_qlscjg.png">
                              </div>
                              <h4>UL</h4>
                              <p>LANGUAGES: English, Mandarin, Cantonese, Spanish, Italian</p>
                          </a>
                      </div>
                  </div>
              </li>
  						<li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/iex">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,g_center,h_150,w_300/v1455922983/Affiliates/iexlogo_1.png">
                              </div>
                              <h4>Institute for Enterprise Excellence</h4>
                              <p>LANGUAGES: English</p>
                          </a>
                      </div>
                  </div>
              </li>
  						<li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/young">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_pad,g_center,h_150,w_300/v1457457180/Affiliates/younglogo.jpg">
                              </div>
                              <h4>Young Consulting Group</h4>
                              <p>LANGUAGES: Chinese, English</p>
                          </a>
                      </div>
                  </div>
              </li>
              <li>
              	<div class="row">
                      <div class="twelve columns centered">
                          <a href="affiliates/truenorth">
                              <div class="text-center">
                                  <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_150/v1460386115/Affiliates/TruthNorth.jpg">
                              </div>
                              <h4>True North-Compass, LLC</h4>
                              <p>LANGUAGES: English</p><br>
                          </a>
                      </div>
                  </div>
              </li>
              <li>
            	<div class="row">
                    <div class="twelve columns centered">
                        <a href="affiliates/spg">
                            <div class="text-center">
                                <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_200/v1461189633/SPG_-_Logo_jywliv.jpg">
                            </div>
														<br>
                            <h4>Sustainable Performance Group </h4>
                            <p>LANGUAGES: English, Spanish</p>
                        </a>
                    </div>
                </div>
            </li>
						<li>
            	<div class="row">
                    <div class="twelve columns centered">
                        <a href="affiliates/mobius">
                            <div class="text-center">
                                <img src="https://res.cloudinary.com/shingo/image/upload/c_crop,g_center,h_230,w_300,y_0/c_scale,h_150/v1461591180/Affiliates/Mobius_Logo.jpg">
                            </div>
                            <h4>Möbius Business Redesign</h4>
                            <p>LANGUAGES: English, Dutch, French</p>
                        </a>
                    </div>
                </div>
            </li>
          </ul>
      </div>
  </article>
  <article class="container" id="providers">
	<div class="row">
			<div class="nine centered columns text-center">
						<h2 class="quattrocento">Licensed Online Provider</h2>
						<h5><i class="icon-dot"></i> <i class="icon-dot"></i> <i class="icon-dot"></i></h5>
						<!-- <h4>Shingo Institute Licensed Affiliates bring years of experience and a wide array of expertise to our clients. They serve as an extension of the Shingo Institute team as they share, promote and deploy the <em>Shingo Model™</em> throughout the world.</h4> -->
				</div>
		</div>
	<br>
    <div class="row">
        <ul class="text-center">
            <li>
            	<div class="row">
                    <div class="twelve columns centered">
                        <a href="affiliates/myeducator">
                            <div class="text-center">
                                <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_100/v1461429737/Affiliates/MyEducator.png" alt="Myeducator">
                            </div>
                            <h4>MyEducator</h4>
                            <p>LANGUAGES: English, Spanish</p><br>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
			</div>
		</article>
  <article class="container" id="becomeAFF">
  	<div class="row">
      	<h4 class="text-center">Interested in becoming a Licensed Affiliate of the Shingo Institute?</h4>
          <br>
          <p>To be considered for affiliation with the Shingo Institute, an organization must become educated and familiar with the Shingo Institute, the <em>Shingo Model™</em> and the Shingo Prize. This can be achieved by attending the Annual Shingo Conference, attending the Shingo workshops and courses, as well as participating in a Study Tour.</p>
          <p>An organization must be well established and have a minimum of 10 full-time consultants. The consultants should have expertise in the following areas: lean, continuous Improvement, operational excellence, enterprise excellence, executive coaching and senior management training. It is preferred that a member of your organization has worked for or has participated in the consultation of a Shingo Prize-winning organization with specialized industry expertise.</p>
          <p>The Shingo Institute seeks to affiliate with organizations that are well established in targeted regions.</p>
          <div class="text-center">
          	<div class="medium primary btn"><a href="https://usu.co1.qualtrics.com/SE/?SID=SV_3V28dNiGxpde1ZH" target="_blank">Apply now</a></div>
          </div>
      </div>
  </article>
  <script>
  	$(document).ready(function(e) {
          $('ul.afflist').each(function(){
              // get current ul
              var $ul = $(this);
              // get array of list items in current ul
              var $liArr = $ul.children('li');
  			// Sort the array of li elements
  			var m = $liArr.length, t, i;
  			$liArr.detach();
  			while(m){
  				i = Math.floor(Math.random() * m--);
  				t = $liArr[m];
  				$liArr[m] = $liArr[i];
  				$liArr[i] = t;
  			}
  			// Attach the randomized li elements back to the ul
  			$liArr.appendTo($ul);
        });
  });
  </script>
  <!-- InstanceEndEditable -->
