<!-- InstanceBeginEditable name="main" -->
  <article class="container" id="affiliate">
  	<div class="row">
      	<div class="eight columns">
          	<h2 class="text-center">EFESO Consulting</h2>
              <h5 class="text-center"><a href="https://www.efeso.com/" target="_new">efeso.com</a></h5>
              <br>
  						<p>EFESO Consulting has been active in the consulting industry for more than 35 years, supporting many of the leading global brands in both mature and emerging markets. EFESO has 450 consultants with real world hands-on experience capable of designing and implementing client strategies and action plans worldwide. Consultants work from 27 offices globally and represent more than 40 nationalities, working on over 900 assignments annually in over 75 countries. The organization’s international scope and local delivery capability ensures that clients have access to specialist skills they require, whether at national, regional or global levels.</p>
  						<p>EFESO creates tangible and measurable results from the start of their engagements, and fees can easily be justified by the benefits they generate in top- and bottom-line. On average they generate a ROI of 5 to 1 in the first year of engagement, with a strong client retention rate of over 90%. The organization’s focus is on the delivery of excellence programs through people, processes and systems, with an emphasis on human dynamics. EFESO calls it the E-Factor—engaging, empowering, enabling and energizing. Their clients call it success!</p>
              <br>
              <p><strong>Contact:</strong> Mark Baker | <a href="mailto:mark.baker@efeso.com">mark.baker@efeso.com</a> | +1 770 988 2603</p>
          </div>
          <div class="four columns">
  					<p> </p>
  					<p> </p>
          	<h4>Languages</h4>
              <p>English, Hindi, Spanish, Portuguese/Brazilian, German, French, Italian, Japanese</p>
              <h4>Locations</h4>
              <p>Global</p>
              <h4>Industries</h4>
              <p>Aerospace, Distribution, Food, FMCG, Healthcare, Luxury, Manufacturing, Pharmaceutical, Retail</p>
              <br>
              <div class="text-center"><img src="https://res.cloudinary.com/shingo/image/upload/c_scale,w_300/v1441123059/EFESO_Q_cuc0vu.png"></div>
          </div>
      </div>
  </article>
  <article class="container" id="seCF">
      <div class="row">
          <h3 class="roboto">Certified Facilitators</h3>
      </div>
  </article>
  <article class="container">
      <div class="row">
      	<div class="six columns cf">
          	<div class="cf-name">
              	<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1406136211/Bob_Armor_pxu89e.jpg">
                  <h4>Bob Armor</h4>
                  <p>Manager</p>
              </div>
              <p><strong>Bob Armor</strong> is a manager of EFESO Consulting’s United States office in Atlanta, Georgia. Mr. Armor has over 20 years’ experience in operations management, serving in plant operations leadership roles for the printing and fulfillment industries with organizations such as Harland Clarke. Most recently he worked in packaging and converting industries implementing WCOM with organizations such as Bemis Corp. Mr. Armor is a certified facilitator for the Shingo Institute and a recipient of the Malcolm Baldrige award. He graduated from Kansas State University with a degree in industrial engineering.</p>
          </div>
  				<div class="six columns cf">
          	<div class="cf-name">
              	<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,e_grayscale,g_face,h_350,w_300/v1422636724/BAKER_Mark_PPC_19_qob9lc.jpg">
                  <h4>Mark Baker</h4>
                  <p>Director, Leadership Excellence</p>
              </div>
              <p><strong>Mark Baker</strong> was recently the executive director of the Shingo Institute and remains actively connected as a certified facilitator and Shingo Prize examiner. He began his career as a mechanical engineer for Honda Motor Company in production systems development, then after earning his MBA he spent the next 22 years with a large multinational corporation in a variety of operational leadership roles. During his career, Mr. Baker has lived in four countries (US, Japan, China and France) and worked extensively in 30 countries around the world. He has spent his career focused on improving business operations, strategy deployment and quality management.</p>
          </div>
      </div>
      <div class="row">
  			<div class="six columns cf">
  				<div class="cf-name">
  						<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,e_grayscale,g_face,h_350,w_300/v1423242612/Carlo_Baroncelli_kxs3is.jpg">
  							<h4>Carlo Baroncelli</h4>
  							<p>Co-founder</p>
  					</div>
  					<p><strong>Carlo Baroncelli</strong> is one of the founders of EFESO Consulting and has more than 30 years’ experience in operations strategy and world-class operations management, leading programs for multinational companies, from product development to supply chain domain. His experience encompasses many industrial sectors, from automotive to pharmaceutical, packaging, mechanical, paper, steel, public administration, and most recently, the process industry. Mr. Baroncelli has been a member of EFESO Consulting’s Board of Directors since 2007 and is responsible for knowledge development. He is a certified facilitator for the Shingo Institute and has a Ph.D. in management engineering and bachelors’ degrees in industrial engineering and operations planning.</p>
  			</div>
      	<div class="six columns cf">
          	<div class="cf-name">
              	<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1406435947/George_Cevallos_dz5kz1.jpg">
                  <h4>George Cevallos</h4>
                  <p>Senior Manager, EFESO Consulting North America</p>
              </div>
              <p><strong>George Cevallos</strong> is a senior manager for EFESO Consulting North America with has over 25 years’ experience in industrial engineering and operations management, including program management and non-destructive inspection (NDI) with the U.S Air Force Logistics Command. He led the implementation of total productive maintenance (TPM) in the Clarke American Base Operations’ printing facility where he was a recipient of the Malcolm Baldrige Award. Mr. Cevallos has managed and consulted many international manufacturing organizations implementing world-class operations management (WCOM) in various industries, including print, packaging, chemical, food &amp; beverage, paper, etc. He graduated from Texas A&amp;M University with a degree in industrial engineering, is a certified facilitator for the Shingo Institute and a former president of the Institute of Industrial Engineers San Antonio Chapter.</p>
          </div>
      </div>
      <div class="row">
  			<div class="six columns cf">
  				<div class="cf-name">
  						<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1410890342/Konto_Chan_hjvmnx.jpg">
  							<h4>Konto Chan</h4>
  							<p>Principal, EFESO Consulting North America</p>
  					</div>
  					<p><strong>Konto Chan</strong> is a principal for EFESO Consulting North America. Mr. Chan has managed and consulted multinational companies in implementing world-class operations management for over 20 years across many industrial sectors, including food processing and packaging, metalworking, fiber-based material, automotive, personal care, textiles and consumer goods. Mr. Chan was the first U.S. scholar who translated and presented the companywide TPM methodology in the early 1990s after he returned from his graduate study at Nagoya Institute of Technology in Japan. He has coached many companies to achieve multiple levels of the prestigious TPM Awards by JIPM. Mr. Chan is a certified facilitator for the Shingo Institute and earned a master’s degree in industrial engineering from the University of Alabama.</p>
  			</div>
      	<div class="six columns cf">
          	<div class="cf-name">
              	<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1408473995/Gwen_Engelen_gp1ven.jpg">
                  <h4>Gwen Engelen</h4>
                  <p>Vice President, Benelux</p>
              </div>
              <p><strong>Gwen Engelen</strong> is vice president of EFESO Consulting. Ms. Engelen was previously managing director of Flecto, a consulting firm founded in 2000 specializing in behavioral change. Ms. Engelen was involved as educational expert in the launch of Performance Behaviour, a continuous improvement program to increase efficiency and reduce the costs of an organization by developing a culture of ownership, engagement and discipline. The Flecto team joined forces with EFESO Consulting in 2012. Ms. Engelen is a certified facilitator for the Shingo Institute, and she studied applied educational sciences at Twente University and psychology at the Münich University.</p>
          </div>
      </div>
      <div class="row">
  			<div class="six columns cf">
  				<div class="cf-name">
  						<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1406136214/Rajinder_Singh_i70rel.jpg">
  							<h4>Rajinder Singh</h4>
  							<p>Country Head and Vice President, EFESO Consulting India</p>
  					</div>
  					<p><strong>Rajinder Singh</strong> is country head and vice president of EFESO Consulting India. Mr. Singh has over 30 years’ hands-on experience in designing and implementing manufacturing systems based on lean principles. His rich experience with multinationals, such as Ford and Delphi, along with his passion for lean thinking has made him one of the leading lean consultants in India. As a consultant he has executed several high-impact projects with companies in India, Dubai, Egypt, Singapore, Germany, China and Mauritius. Mr. Singh is a certified facilitator for the Shingo Institute and holds a bachelor’s degree in industrial engineering from IIT Roorkee.</p>
  			</div>
      	<div class="six columns cf">
          	<div class="cf-name">
              	<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1406136208/Paulo_Yida_v7zg4r.jpg">
                  <h4>Paulo Yida</h4>
                  <p>Vice President, EFESO Consulting South America</p>
              </div>
              <p><strong>Paulo Yida</strong> is vice president of EFESO Consulting South America and has over 25 years’ experience in world-class operations management, leading programs for multinational companies. His experience encompasses many industrial sectors, from automotive to paper, packaging, steel and recently pharmaceutical. As a consultant he executed high-impact projects with companies in Brazil, Argentina, México, Italy, Portugal, Spain and Sweden. Mr. Yida is a certified facilitator for the Shingo Institute and has an MBA in marketing and a bachelor’s degree in electrical engineering.</p>
          </div>
      </div>
  </article>
  <!-- InstanceEndEditable -->
