<!-- InstanceBeginEditable name="main" -->
<article class="container" id="affiliate">
	<div class="row">
    	<div class="eight columns">
        	<h2 class="text-center">Institute for Enterprise Excellence</h2>
            <h5 class="text-center"><a href="http://instituteforexcellence.org/" target="_blank">instituteforexcellence.org/</a></h5>
            <br>
            	<p>The Institute for Enterprise Excellence’s (IEX) mission is to "bring purpose to life" through advancing the understanding and use of a principle-based model that helps everyone in an organization work toward a common purpose. This includes the practical application of principles, systems and tools in pursuit of enterprise excellence.</p>
							<p>The need for ever better results is putting unprecedented pressure on leaders today. Continuous improvement often feels more like constant chaos leaving many disillusioned and flat-out tired. How do we change this trend? At IEX, we focus on getting results without the standard fire fighting or heroic efforts, which often leave people depleted. How do we accomplish this? By working with leaders to identify their purpose and aligning people with principles that enable a culture of excellence. A culture where intrinsic motivation drives individual performance and teams work to create a future worth working for.</p>
            <br>
            <!-- <div class="text-center">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/CJtfmtCBB58?rel=0" frameborder="0" allowfullscreen></iframe>
            </div> -->
            <br>
          <!--  <p><strong>Contact:</strong> Jacob Raymer | Email needed | Phone Contact Needed </p>    Contact:   | <a href="mailto:robert@archesleadership.com">robert@archesleadership.com</a> | +1 435.512.2508 -->
        </div>
        <div class="four columns">
        	<h4>Languages</h4>
            <p>English</p>
            <h4>Locations</h4>
            <p>North America</p>
            <!-- <h4>Industries</h4>
            <p>Industries Needed</p> -->
            <div class="text-center"><img src="http://res.cloudinary.com/shingo/image/upload/c_scale,w_300/v1455922983/Affiliates/iexlogo_1.png"></div>
        </div>
    </div>
</article>
<article class="container" id="archesCF">
    <div class="row">
        <h3 class="roboto">Certified Facilitators</h3>
    </div>
</article>
<article class="container">
    <div class="row">
    	<div class="six columns cf">
        	<div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,e_grayscale,g_face,h_350,w_300/v1455923710/Affiliates/Jacob_Raymer.jpg" alt="Jake Raymer">
                <h4>Jacob Raymer</h4>
                <p>Founder,<br> Institute for Enterprise Excellence</p>
            </div>
						<p><strong>Jacob Raymer</strong>  is an internationally recognized speaker addressing corporate and public audiences on the subjects of leadership roles and responsibilities, cultural transformation, and how to achieve enterprise excellence with the right behavior and sustainable long-term results. As the Shingo Institute’s former director of education, Mr. Raymer co-created the <em>Shingo Model</em>™ and developed and trained Shingo examiners and 1000s of individuals worldwide on how to assess and implement lean transformation. In 2006, he pioneered a concept called key behavior indicators (KBI). Organizations are usually familiar with key performance indicators (KPI) but often fail to focus on the behavior in how to achieve such performance results. With the combining of KPI and KBI, IEX has led the development of learning and application of behavior-based strategy deployment; building systems to drive the right behavior; mapping principle-behavior, systems and tools; and internal assessments.</p>
        </div>
    	<div class="six columns cf">
        	<div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,e_grayscale,g_face,h_350,w_300/v1457040760/Affiliates/MaxBrown.jpg" alt="Max Brown">
                <h4>Max Brown</h4>
                <p>Partner,<br> Institute for Enterprise Excellence</p>
            </div>
						<p><strong>Max Brown</strong> is a speaker, leadership coach and author. As a partner at IEX, Mr. Brown works with leading organizations to create purpose-driven workplaces. Over the past 20 years, he has made nearly 3,000 presentations and met with leaders in locations all around the world. Mr. Brown regularly presents at one of GE’s highest-rated leadership programs sharing insights from his book, <em>Leadership Vertigo: Why Even the Best Leaders Go Off Course and How They Can Get Back On Track</em>. Mr. Brown is a recommended “all-star” keynote speaker from the International Association of Business Communicators, and his keynotes consistently receive rave reviews. He has a certificate in leadership coaching from Georgetown University, a master’s degree in organizational learning from George Mason University, and graduated <em>magna cum laude</em> from Brigham Young University. He also speaks Mandarin Chinese after seven years of living in Taipei and Shanghai.</p>
        </div>
    </div>
</article>
<!-- InstanceEndEditable -->
