
<!-- InstanceBeginEditable name="main" -->
<article class="container" id="affiliate">
	<div class="row">
    	<div class="eight columns">
        	<h2 class="text-center">Lensys Consultoría S.A de C.V</h2>
            <h5 class="text-center"><a href="https://www.lensys.mx/">lensys.mx</a></h5>
            <br>
            <p>Part of the Lensys Group, Lensys Training Center S.A de C.V.’s (Lensys) primary goal is training and consulting in connection with design, development and evaluation of models, principles, systems and tools for implementing enterprise excellence. With more than 30 years in the automotive industry and 10 years of different consulting experiences focused on operational excellence (lean enterprise) for its clients, Lensys has been a key factor in the development of several companies. One way Lensys accomplishes its mission is through promoting understanding and sharing successful methodologies of manufacturing and business through its services and events.</p>
            <br>
            <div class="text-center">
                <iframe src="https://player.vimeo.com/video/120183071?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <br>
            <p><strong>Contact:</strong> Francisco Ramírez | <a href="mailto:f.ramirez@lensys.com.mx">f.ramirez@lensys.com.mx</a> | +52 442.222.6954</p>
        </div>
        <div class="four columns">
        	<h4>Languages</h4>
            <p>Spanish, English</p>
            <h4>Locations</h4>
            <p>Mexico, Latin America (any Spanish-speaking country)</p>
            <h4>Industries</h4>
            <p>Automotive, Aerospace, Electronics, Food, Medical Care, Pharmaceutical, Chemical, Home Appliance, Manufacturing &amp; Services</p>
            <div class="text-center"><img src="https://res.cloudinary.com/shingo/image/upload/c_scale,w_300/v1423612267/lensys_logo_yktjvq.png"></div>
        </div>
    </div>
</article>
<article class="container" id="lensysCF">
    <div class="row">
        <h3 class="roboto">Certified Facilitators</h3>
    </div>
</article>
<article class="container">
    <div class="row">
    	<div class="six columns cf">
        	<div class="cf-name">
            	<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,e_grayscale,g_face,h_350,w_300/v1439398757/Francisco_hw5yff.jpg" alt="Francisco Ramirez">
                <h4>Francisco Ramírez</h4>
                <p>Executive Director</p>
            </div>
            <p><strong>Francisco Ramírez</strong> is the founder and executive director of Lensys, a lean consulting firm that dedicates its efforts to providing companies with the tools that will bring higher competitiveness. Mr. Ramirez gained a wealth of knowledge to help companies succeed through his 30 years of experience at TREMEC, a Mexican auto parts company and Shingo Prize recipient. As a lean trainer and coach of operational excellence, Mr. Ramirez has worked with more than 80 Mexican companies and facilitated more than 6,000 people. He is also the author of <em>A3 y Punto</em>.</p>
        </div>
        <div class="six columns cf">
        	<div class="cf-name">
            	<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,e_grayscale,g_face,h_350,w_300/v1395956754/Primitivo_Reyes_yqp50i.jpg" alt="Primitivo Reyes">
                <h4>Primitivo Reyes</h4>
                <p>Consultant</p>
            </div>
            <p><strong>Primitivo Reyes</strong> has more than 33 years’ manufacturing experience with three different companies – Emerson, Philco and Federal Mogul – implementing quality and lean manufacturing systems to improve quality and productivity. Dr. Reyes also has extensive experience as a teacher of undergraduate and master’s level courses at several universities in Mexico, and he has spent the last 14 years as an independent consultant, advisor and trainer assisting more than 100 companies and organizations develop world-class methods, innovations and competitiveness. He has coached 110 problem-solving and improvement projects with a focus on operational excellence, lean manufacturing thinking and methods, and lean six sigma green belt and black belt training.</p>
        </div>
    </div>
</article>
<!-- InstanceEndEditable -->
