<!-- InstanceBeginEditable name="main" -->
<article class="container" id="affiliate">
	<div class="row">
    	<div class="eight columns">
        	<h2 class="text-center">Möbius Business Redesign</h2>
            <h5 class="text-center"><a href="https://www.mobius.eu">www.mobius.eu</a></h5>
            <br>
            <p>Möbius is a consultancy firm with an international customer portfolio. CEO and Professor Hendrik Vanmaele started the company in 1997 as a spin-off from the University of Ghent. Today, Möbius works and researches in close partnership with a network of universities and business schools throughout Europe, one of which is the Vlerick Business School in Brussels.</p>
						<p>With a prime focus on Europe, Möbius’ 150 consultants assist clients in translating strategy into every fiber of the organization through management advice, coaching and implementation. Their ambition is to bring lasting impact to Möbius customers and their employees, as well as the customer’s customers. They do this by combining breakthrough projects, continuous improvement philosophy and leadership coaching to create a high-performance culture focused on ever-improving business results. Over the years, Möbius has gained a leading positioning within healthcare and life sciences, chemical, food and beverage, hi-tech and aerospace.</p>
            <br>
            <!-- <div class="text-center">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/ssdNi3-uLSM?rel=0" frameborder="0" allowfullscreen=""></iframe>
            </div> -->
            <br>
            <p><strong>Contact:</strong> Möbius Business Redesign &nbsp;|&nbsp; <a href="mailto:info@mobius.eu">info@mobius.eu</a> &nbsp;|&nbsp; +32 9 280 74 20</p>
        </div>
        <div class="four columns">
        	<h4>Languages</h4>
            <p>English, Dutch, French</p>
            <h4>Locations</h4>
            <p>Belgium, France, The Netherlands, UK, Germany, Austria, Turkey</p>
            <h4>Industries</h4>
            <p> Financial Services, Healthcare, Public Sector, Chemical Industry, FMCG, Recycling, Services industries, Transport, Utilities, Telecom, Manufacturing, Food & Beverages, Retail, Pharmaceutical</p>
            <div class="text-center"><img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_200/v1461591180/Affiliates/Mobius_Logo.jpg" alt="Mobius"></div>
        </div>
    </div>
</article>
<article class="container" id="sapCF">
    <div class="row">
        <h3 class="roboto">Certified Facilitators</h3>
    </div>
</article>
<article class="container">
    <div class="row">
    	<div class="six columns cf">
        	<div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,e_grayscale,g_face,h_350,w_300/v1470069371/Affiliates/Mobius/PeterDeClerck.jpg" alt="Peter De Clerck">
                <h4>Peter De Clerck</h4>
                <p>Consultant</p>
            </div>
            <p><strong>Peter De Clerck</strong> is a consultant with Möbius and has extensive experience in E2E improvement programs applying lean methodology in IT services, primarily within Western Europe and Asia. He was involved in setting up maturity assessments and training organizations in commencing their lean journey. He is a strong believer of the Shingo Model because of its true emphasis on shifting behavior in shaping an organization’s way forward. Recently, he has been instrumental in applying the Shingo Model in manufacturing. Mr. De Clerck earned a degree in business engineering in 2009 at the University of Leuven and was awarded in 2015 for his efforts in a large lean program setting up a back-office service center for a service provider in Germany.</p>
        </div>
        <div class="six columns cf">
        	<div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,e_grayscale,g_face,h_350,w_300/v1470069345/Affiliates/Mobius/LotteMeirvenne.jpg" alt="Lotte Van Meirvenne">
                <h4>Lotte Van Meirvenne</h4>
                <p>Consultant</p>
            </div>
            <p><strong>Lotte Van Meirvenne</strong> is a consultant with Möbius and lead of the internal Operational Excellence Knowledge group of Möbius. Since the start of her career, she has mainly realized improvement projects for multinational companies in the industry sector, but also gained experience in the health sector. Ms. Van Meirvenne graduated from the University of Ghent as a commercial engineer with a master’s degree in operations management. She has a lean six sigma black belt and is a certified facilitator for the Shingo Institute. She is proud to be a member of the Belgian Manager Marathon Club and shows the same perseverance in the marathon to enterprise excellence.</p>
        </div>
    </div>
    <!-- <div class="row">
    	<div class="six columns cf">
        	<div class="cf-name">
            	<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1428942596/Gary_Griffiths_z5tlmd.jpg" alt="Gary Griffiths">
                <h4>Gary Griffiths</h4>
                <p>Partner</p>
            </div>
            <p><strong>Gary Griffiths</strong> is a partner, global program manager and recipient of the Shingo Research Award. He has a background in industrial engineering and over 20 years’ experience in continuous improvement and lean thinking. Combining practice with research throughout his career, Mr. Griffiths earned a master’s degree in 2000 from the University of Wales and is currently studying for a PhD that is focused on the application of lean thinking to improve corporate learning programs and business performance.</p>
        </div>
        <div class="six columns cf">
        	<div class="cf-name">
            	<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1428942596/Chris_Butterworth_sexdu2.jpg" alt="Chris Butterworth">
                <h4>Chris Butterworth</h4>
                <p>Managing Director, S A Partners Asia Pacific</p>
            </div>
            <p><strong>Chris Butterworth</strong> has been a partner with S A Partners for almost 15 years. He was the overall program manager for the work featured in the Shingo Research Award-winning book, <em>Staying Lean</em>. Mr. Butterworth is currently the managing director of S A Partners Asia Pacific, and his main work involves helping executive teams embed a long-term culture of sustainable improvement. Mr. Butterworth started his lean journey at Jaguar Cars over 25 years ago and now works extensively in the non-manufacturing sector.</p>
        </div>
    </div>
    <div class="row">
    	<div class="six columns cf">
        	<div class="cf-name">
            	<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1403026417/John_Quirke_x0ze8b.jpg">
                <h4>John Quirke</h4>
                <p>Managing Partner</p>
            </div>
            <p><strong>John Quirke</strong>, with degree studies in chemistry, biology, environmental science and law, completed his initial engineering training in Japan with Fujitsu Isotec. Prior to joining S A Partners, Mr. Quirke worked with a number of Blue Chip corporations including J&amp;J and Millipore, with responsibility for lean six sigma implementation across European sites. He has worked in a variety of sectors including electronics, medical device, pharmaceutical and food. Mr. Quirke is currently managing partner for the Irish business and medical device and pharma sectors. He is also a certified master lean coach with Cardiff University.</p>
        </div>
        <div class="six columns cf">
        	<div class="cf-name">
            	<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1420586629/Alex_Teoh_lvokuw.jpg">
                <h4>Alex Teoh</h4>
                <p>Principal Consultant, S A Partners Asia Pacific</p>
            </div>
            <p><strong>Alex Teoh</strong> is a dedicated lean professional with 20 years of experience in lean implementation. Mr. Teoh has coached and consulted multinational companies across both manufacturing and service sectors, including engine assembly, semiconductors, PCB assembly, Tier 1 automobile systems assembly, food processing and packaging, bottling, apparel and footwear manufacturing, and a wide-range of healthcare and logistic services. Mr. Teoh is currently the principal consultant for SA Partners Asia Pacific.</p>
        </div>
    </div> -->
</article>
<!-- InstanceEndEditable -->
