<!-- InstanceBeginEditable name="main" -->
<article class="container" id="affiliate">
	<div class="row">
    	<div class="eight columns">
        	<h2 class="text-center">MyEducator</h2>
            <h5 class="text-center"><a href="https://www.myeducator.com">https://www.myeducator.com</a></h5>
            <br>
            <p>MyEducator is an educational software company that provides an easy-to-use online learning platform, hosting university courses and corporate training content. The company was founded in 2012 by two university professors who wanted to lower the price of textbooks for students with a new breed of online textbook that would be a comprehensive course using dynamic digital content. Many of MyEducator's online courses are intended to replace the traditional, hardbound textbooks used in college classes. MyEducator's learning platform includes features such as an interactive glossary and flashcards, auto-graded assessments, instructional videos, highlighting and note taking, analytics, and more.</p>
            <br>
            <div class="text-center">
                <!-- <iframe src="https://www.myeducator.com/info/" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
            </div>
            <br>
            <p><strong>Contact:</strong> Kaden Comadena &nbsp; | &nbsp; <a href="mailto:info@myeducator.com">info@myeducator.com</a> &nbsp; | &nbsp; (801) 607-1626</p>
        </div>
        <div class="four columns">
        	<h4>Languages</h4>
            <p>English, Spanish</p>
            <h4>Locations</h4>
            <p>Main offices in Orem, Utah, USA. MyEducator products are used by over 40 organizations in 33 countries.</p>
            <h4>Industries</h4>
            <p>Online Education and Training, Technology</p>
            <div class="text-center"><img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_100/v1461429737/Affiliates/MyEducator.png" alt="MyEducator"></div>
        </div>
    </div>
</article>
<article class="container" id="archesCF">
    <div class="row">
        <!-- <h3 class="roboto">Certified Facilitators</h3> -->
    </div>
</article>
<!-- InstanceEndEditable -->
