<!-- InstanceBeginEditable name="main" -->
<article class="container" id="affiliate">
	<div class="row">
    	<div class="eight columns">
        	<h2 class="text-center">S A Partners</h2>
            <h5 class="text-center"><a href="http://sapartners.com/shingo">sapartners.com/shingo</a></h5>
            <br>
            <p>S A Partners – a consulting, training and coaching business with a global reach with businesses in Europe, Asia Pacific and North America – strives to help organizations create better, easier, sustainable journeys toward business excellence. Professor Peter Hines, a multiple winner of the Shingo Research Award, leads the organization. The main focus of S A Partners is in food &amp; drink, manufacturing engineering, pharmaceutical, medical device, retail, distribution, banking, mining and utility industries. Mr. Hines and Mr. Gary Griffiths are senior faculty members of the Shingo Institute and have been involved in the re-development of Shingo Institute training courses.</p>
            <br>
            <div class="text-center">
                <iframe width="640" height="360" src="http://www.youtube.com/embed/ssdNi3-uLSM?rel=0" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <br>
            <p><strong>Contact:</strong> Peter Hines | <a href="mailto:peter.hines@sapartners.com">peter.hines@sapartners.com</a> | +44 07778.840979</p>
        </div>
        <div class="four columns">
        	<h4>Languages</h4>
            <p>English, Mandarin</p>
            <h4>Locations</h4>
            <p>North America, Europe, Asia, Middle East, Asia Pacific, Australia</p>
            <h4>Industries</h4>
            <p>Food &amp; Drink, Manufacturing, Pharmaceutical &amp; Medical Device, Retail &amp; Distribution, Utilities, Higher Education, Public Sector, Healthcare, Financial Services</p>
            <div class="text-center"><img src="http://res.cloudinary.com/shingo/image/upload/c_fill,h_100,w_300/v1394229830/sapartners_-_Small_lzv0y1.png"></div>
        </div>
    </div>
</article>
<article class="container" id="sapCF">
    <div class="row">
        <h3 class="roboto">Certified Facilitators</h3>
    </div>
</article>
<article class="container">
    <div class="row">
    	<div class="six columns cf">
        	<div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1428942596/Peter_Hines_oe4zxe.jpg" alt="Peter Hines">
                <h4>Peter Hines</h4>
                <p>Chairman</p>
            </div>
            <p>Peter Hines has been a recognized leader in lean thinking for the last 20 years, with extensive research, writing, teaching and consulting experience around the world. He is a prize-winning author and recipient of multiple Shingo Research &amp; Professional Publication awards. Professor Hines teaches courses at Cardiff University and is co-founder of its Lean Enterprise Research Center – the world’s largest academic research center involved with lean thinking. At S A Partners, his main work involves helping companies develop sustainable lean journeys by utilizing the Shingo approach. Through the years, Professor Hines has worked in a wide range of manufacturing and service businesses.</p>
        </div>
        <div class="six columns cf">
        	<div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1403026417/Simon_Grogan_c648mk.jpg">
                <h4>Simon Grogan</h4>
                <p>Managing Consultant &amp; Director, S A Partners Europe</p>
            </div>
            <p><strong>Simon Grogan</strong> joined S A Partners in 2001 following a successful career in the automotive, construction and electronics industries. Mr. Grogan specializes in creating sustainable improvement within organizations, blending his people and process improvements skills. He is comfortable working across a variety of sectors and organization levels, and he mentored a client to the UK’s first Shingo Silver Medallion.</p>
        </div>
    </div>
    <div class="row">
    	<div class="six columns cf">
        	<div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1428942596/Gary_Griffiths_z5tlmd.jpg" alt="Gary Griffiths">
                <h4>Gary Griffiths</h4>
                <p>Partner</p>
            </div>
            <p><strong>Gary Griffiths</strong> is a partner, global program manager and recipient of the Shingo Research Award. He has a background in industrial engineering and over 20 years’ experience in continuous improvement and lean thinking. Combining practice with research throughout his career, Mr. Griffiths earned a master’s degree in 2000 from the University of Wales and is currently studying for a PhD that is focused on the application of lean thinking to improve corporate learning programs and business performance.</p>
        </div>
        <div class="six columns cf">
        	<div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1428942596/Chris_Butterworth_sexdu2.jpg" alt="Chris Butterworth">
                <h4>Chris Butterworth</h4>
                <p>Managing Director, S A Partners Asia Pacific</p>
            </div>
            <p><strong>Chris Butterworth</strong> has been a partner with S A Partners for almost 15 years. He was the overall program manager for the work featured in the Shingo Research Award-winning book, <em>Staying Lean</em>. Mr. Butterworth is currently the managing director of S A Partners Asia Pacific, and his main work involves helping executive teams embed a long-term culture of sustainable improvement. Mr. Butterworth started his lean journey at Jaguar Cars over 25 years ago and now works extensively in the non-manufacturing sector.</p>
        </div>
    </div>
    <div class="row">
    	<div class="six columns cf">
        	<div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1403026417/John_Quirke_x0ze8b.jpg">
                <h4>John Quirke</h4>
                <p>Managing Partner</p>
            </div>
            <p><strong>John Quirke</strong>, with degree studies in chemistry, biology, environmental science and law, completed his initial engineering training in Japan with Fujitsu Isotec. Prior to joining S A Partners, Mr. Quirke worked with a number of Blue Chip corporations including J&amp;J and Millipore, with responsibility for lean six sigma implementation across European sites. He has worked in a variety of sectors including electronics, medical device, pharmaceutical and food. Mr. Quirke is currently managing partner for the Irish business and medical device and pharma sectors. He is also a certified master lean coach with Cardiff University.</p>
        </div>
        <div class="six columns cf">
        	<div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1420586629/Alex_Teoh_lvokuw.jpg">
                <h4>Alex Teoh</h4>
                <p>Principal Consultant, S A Partners Asia Pacific</p>
            </div>
            <p><strong>Alex Teoh</strong> is a dedicated lean professional with 20 years of experience in lean implementation. Mr. Teoh has coached and consulted multinational companies across both manufacturing and service sectors, including engine assembly, semiconductors, PCB assembly, Tier 1 automobile systems assembly, food processing and packaging, bottling, apparel and footwear manufacturing, and a wide-range of healthcare and logistic services. Mr. Teoh is currently the principal consultant for SA Partners Asia Pacific.</p>
        </div>
    </div>
</article>
<!-- InstanceEndEditable -->
