<!-- InstanceBeginEditable name="main" -->
<article class="container" id="affiliate">
	<div class="row">
    	<div class="eight columns">
        	<h2 class="text-center">SISU Consulting Group</h2>
            <h5 class="text-center"><a href="http://ownthegap.com">ownthegap.com</a></h5>
            <br>
            <p>SISU Consulting Group is an internationally recognized and award-winning firm dedicated to helping organizations drive superior business results by creating continuous improvement cultures where “improving the work is the work.” With consultants supporting organizations both domestically and internationally, SISU has become a pioneer in the implementation of principle-based daily management systems characterized by high levels of employee engagement and rapid rates of sustained improvement.</p>
            <p>SISU’s associates are certified facilitators with the Shingo Institute and have worked with some of the world’s leading companies to develop sustained cultures of excellence from the ground up. Many of these companies are Shingo Prize recipients and Shingo Research Award recipients. SISU’s methodology has successfully been used by more than 200 organizations in manufacturing and service environments.</p>
            <br>
            <p><strong>Contact:</strong> Michael Martyn | <a href="mailto:mikem@sisucg.com">mikem@sisucg.com</a> | +1 503.750.6900</p>
        </div>
        <div class="four columns">
        	<h4>Languages</h4>
            <p>English, Spanish</p>
            <h4>Locations</h4>
            <p>North America, Europe, Central America</p>
            <h4>Industries</h4>
            <p>Manufacturing, Precision Machining, Food Processing, Retail, Energy, Healthcare, Higher Education</p>
            <div class="text-right"><img src="http://res.cloudinary.com/shingo/image/upload/c_scale,w_300/v1392764444/SISU_Plastic_logo_w-text_jpg_mam8tq.jpg"></div>
        </div>
    </div>
</article>
<article class="container" id="sisuCF">
    <div class="row">
        <h3 class="roboto">Certified Facilitators</h3>
    </div>
</article>
<article class="container">
    <div class="row">
    	<div class="six columns cf">
        	<div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1420497367/Mike-Martyn-web_kr6swd.jpg" alt="Mike Martyn">

                <h4>Mike Martyn</h4>
                <p>Founder</p>
            </div>
            <p><strong>Mike Martyn</strong> is the founder of SISU Consulting Group, an internationally recognized and award-winning firm dedicated to helping organizations drive superior business results by creating continuous improvement cultures where “improving the work is the work.” Prior to founding SISU, Mr. Martyn worked in private equity, successfully turning around companies in both manufacturing and service industries. A two-time recipient of the Shingo Research Award, he has personally coached more than 100 organizations in implementing the principles of operational excellence, including Baxter Healthcare, State Farm, La-Z-Boy, OC Tanner, University of Washington, Aera Energy, Boston Scientific and Christie Clinic. Many of his clients have successfully challenged and received Shingo recognition. Mr. Martyn has been involved with the Shingo Institute since 2001, serving in a variety of roles, most recently as senior curriculum advisor and as a member of the Shingo Examiner Committee.</p>
        </div>
    	<div class="six columns cf">
        	<div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,e_grayscale,g_face,h_350,w_300/v1431372713/Eilish_Henery_rmfk7m.jpg" alt="Eilish Henry">

                <h4>Eilish Henry</h4>
                <p>Director, SISU Europe</p>
            </div>
            <p><strong>Eilish Henry</strong> is the director of SISU Europe and a certified facilitator for the Shingo Institute. Ms. Henry was the first Shingo global coach appointed in Europe and is a highly experienced Shingo examiner, helping a large number of organizations achieve levels of Shingo recognition. She has worked across a wide range of sectors, including central government, healthcare, medical devices, chemicals, packaging, automotive, aerospace and financial services. In 2004, Ms. Henry was awarded the Order of the British Empire (OBE) for her work in leading large cultural change programs in the UK public sector.</p>
        </div>
    </div>
    <div class="row">
    	<div class="six columns cf">
        	<div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1392753974/jhirsbrunner_o9ou89.jpg" alt="Jason Hirsbrunner">

                <h4>Jason Hirsbrunner</h4>
                <p>Consultant</p>
            </div>
            <p><strong>Jason Hirsbrunner</strong> is a consultant with SISU Consulting Group and the chief operation officer for Christie Clinic. As COO, he has responsibility for all clinical and support departments. In addition, Mr. Hirsbrunner oversees the clinic’s lean healthcare initiative. Since 2010, Christie Clinic has implemented daily kaizen across more than 40 clinical and non-clinical departments, engaging 800 employees across 11 locations and resulting in a 7.8% increase in patient satisfaction, 22.1% increase in net income and the implementation of more than 21,000 ideas.</p>
        </div>
        <div class="six columns cf">
        	<div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1392753975/Eric_Burton_vghxha.jpg" alt="Eric Burton">

                <h4>Eric Burton</h4>
                <p>Consultant</p>
            </div>
            <p><strong>Eric Burton</strong> is a consultant with SISU Consulting Group and the director of global continuous improvement at Morinda. Before joining Morinda, he was a continuous improvement manager at US Synthetic, a 2011 Shingo Prize recipient. While at US Synthetic, Mr. Burton contributed to the reduction of overall customer lead times from 32 days to three, improved product yields from 82% to 97%, and decreased lead time in engineering on concept to test results by 83%. He specializes in working with leaders creating flow and developing problem-solving systems, which facilitate daily engagement of people across all levels of the organization.</p>
        </div>
    </div>
    <div class="row">
        <div class="six columns cf">
        	<div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1430749574/Alex_Dobsky_kq54h5.jpg" alt="Alex Dobsky">

                <h4>Alex Dobsky</h4>
                <p>Consultant</p>
            </div>
            <p><strong>Alex Dobsky</strong> is a consultant with SISU Consulting Group and the director of operations and supply chain for Timberline Manufacturing Company. From 2004 to 2012, Mr. Dobsky worked at US Synthetic from the initial stages of the company’s lean implementation until after their reception of the Shingo Prize for Operational Excellence. During his time at US Synthetic he was instrumental in developing a complete system of onboarding and coaching for the organization, as well as reducing total training lead time from 90 days to 15 days, while tripling the job skills developed.</p>
        </div>
        <div class="six columns cf">
        	<div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1438027954/Dave_Rowlands_0012_y8yqfu.jpg" alt="Dave Rowlands">

                <h4>Dave Rowlands</h4>
                <p>Consultant</p>
            </div>
						<p><strong>Dave Rowlands</strong> is a consultant with SISU Consulting Group and has extensive experience with the <em>Shingo Model</em>, serving on the board for 10 years and working as a senior team leader for the Shingo Prize. Prior to consulting, Mr. Rowlands gained valuable experience in private industry, spending 18 years with Xerox and 6 years in private equity. He specializes in enterprise-wide transformations in large service organizations and has developed training, coaching and maturity assessments to support this work. Mr. Rowlands has a PhD in chemistry, a MBA in finance and is the author of two books: <em>What is Lean Six Sigma?</em> and <em>The Lean Six Sigma Pocket Toolbook.</em></p>
            <!-- <p><strong>Dave Rowlands</strong> is a consultant with SISU Consulting Group and has extensive experience with the Shingo Model, serving on the board for 10 years and working as a senior team leader for the Shingo Prize.  Prior to consulting, Mr. Rowlands gained valuable experience in private industry, spending 18 years with Xerox and 6 years in private equity.  He specializes in enterprise-wide transformations in large service organizations and has developed training, coaching and maturity assessments to support this work.  Mr. Rowlands has a PhD. in Chemistry, a MBA in Finance and is the author of two books: “What is Lean Six Sigma?” and “The Lean Six Sigma Pocket Toolbook.”</p> -->
        </div>
    </div>
		<div class="row">
        <div class="six columns cf">
        	<div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,e_grayscale,g_face,h_350,w_300/v1461421319/Affiliates/SISU/AdamBuckley.jpg" alt="Adam Buckley">

                <h4>Adam Buckley</h4>
                <p>Consultant</p>
            </div>
            <p><strong>Adam Buckley</strong> is a consultant with SISU Europe and has 15 years of experience within industry, holding senior management positions across manufacturing, service and the public sector organizations. He now works in a consultative and advisory capacity supporting leaders of international organizations delivering ambitious cultural and operational change programs. Mr. Buckley has an in-depth knowledge and understanding of the <em>Shingo Model</em>™ after leading the team that successfully launched the Shingo Prize in the UK and Europe in 2008. He continues to guide organizations along their journey in achieving Shingo recognition.</p>
        </div>
        <div class="six columns cf">
        	<!-- <div class="cf-name">
            	<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1438027954/Dave_Rowlands_0012_y8yqfu.jpg" alt="Dave Rowlands">

                <h4>Dave Rowlands</h4>
                <p>Consultant</p>
            </div>
						<p><strong>Dave Rowlands</strong> is a consultant with SISU Consulting Group and has extensive experience with the <em>Shingo Model</em>, serving on the board for 10 years and working as a senior team leader for the Shingo Prize. Prior to consulting, Mr. Rowlands gained valuable experience in private industry, spending 18 years with Xerox and 6 years in private equity. He specializes in enterprise-wide transformations in large service organizations and has developed training, coaching and maturity assessments to support this work. Mr. Rowlands has a PhD in chemistry, a MBA in finance and is the author of two books: <em>What is Lean Six Sigma?</em> and <em>The Lean Six Sigma Pocket Toolbook.</em></p> -->
            <!-- <p><strong>Dave Rowlands</strong> is a consultant with SISU Consulting Group and has extensive experience with the Shingo Model, serving on the board for 10 years and working as a senior team leader for the Shingo Prize.  Prior to consulting, Mr. Rowlands gained valuable experience in private industry, spending 18 years with Xerox and 6 years in private equity.  He specializes in enterprise-wide transformations in large service organizations and has developed training, coaching and maturity assessments to support this work.  Mr. Rowlands has a PhD. in Chemistry, a MBA in Finance and is the author of two books: “What is Lean Six Sigma?” and “The Lean Six Sigma Pocket Toolbook.”</p> -->
        </div>
    </div>
</article>
<!-- InstanceEndEditable -->
