<!-- InstanceBeginEditable name="main" -->
<article class="container" id="affiliate">
	<div class="row">
    	<div class="eight columns">
        	<h2 class="text-center">Sustainable Performance Group (SPG)</h2>
            <h5 class="text-center"><a href="http://www.sustainablepg.com" target="_blank">www.sustainablepg.com</a></h5>
            <br>
            <p>Sustainable Performance Group (SPG) is a customer-centric consulting firm that believes in making clients succeed. SPG builds capability in its clients to successfully charter the continuous improvement journey, adding bottom-line benefits along each stage of evolution. SPG helps clients drive competitive advantage by effectively developing and implementing integrated improvement strategies. Operational excellence, supply chain optimization, organizational strategy, leadership development, and deriving value from ERP systems are areas in which they excel.</p>
            <p>SPG’s manufacturing practice solutions address the needs of operations leaders, who often attempt to achieve increasingly challenging targets for productivity, cost, quality, delivery on-time, and safety while simultaneously dealing with aging assets, a bimodal workforce, legacy cultural issues, and systemic challenges that impede progress. Continuous improvement program leaders are challenged to provide the right amount and quality of support to the organization, manage simultaneous deployments with limited resources, and entrench new work practices into the daily operating practices of the plants to avoid regression and rework.</p>
            <br>
            <!-- <div class="text-center">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/-WX8DV_KLv0" frameborder="0" allowfullscreen></iframe>
            </div> -->
            <p><strong>Contact:</strong> Tom Wieck | <a href="mailto:tom.wieck@SustainablePG.com">tom.wieck@SustainablePG.com</a> | (515) 318-1442</p>
        </div>
        <div class="four columns">
        	<h4>Languages</h4>
            <p>English, Spanish</p>
            <h4>Locations</h4>
            <p>North America</p>
            <h4>Industries</h4>
            <p>Agriculture, Chemical, Food and Beverage, Medical Manufacturing, Petroleum, Pharmaceutical</p>
            <br>
            <div class="text-center"><img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_200/v1461189633/SPG_-_Logo_jywliv.jpg"></div>
        </div>
    </div>
</article>
<article class="container" id="gbmpCF">
    <div class="row">
        <!-- <h3 class="roboto">Certified Facilitators</h3> -->
    </div>
</article>
<!-- <article class="container">
    <div class="row">
    	<div class="six columns cf">
        	<div class="cf-name">
            	<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1406135743/Bruce_Hamilton_gu3g50.jpg" alt="Bruce Hamilton">
                <h4>Bruce Hamilton</h4>
                <p>President</p>
            </div>
            <p><strong>Bruce Hamilton</strong> brings hands-on experience to GBMP as a manager, teacher and change agent. He has spoken internationally on lean manufacturing, employee involvement, continuous improvement and implementing change, and has contributed to numerous texts on reliable methods ranging from visual control to variety reduction. Prior to joining GBMP, Mr. Hamilton was general manager of United Electric Controls Company, a 1990 Shingo Prize recipient. He led efforts at United Electric to transform its production from a traditional batch factory to a single-piece flow environment that has become an international showcase. His expertise covers both the technical side of lean manufacturing and the equally important soft skills needed to engage and inspire employees and managers.</p>
        </div>
        <div class="six columns cf">
        	<div class="cf-name">
            	<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1420497345/Patricia-Wardwell-web_jzhfdl.jpg" alt="Patricia Wardwell">
                <h4>Patricia Wardwell</h4>
                <p>Chief Operating Officer</p>
            </div>
            <p><strong>Patricia Wardwell</strong>, with over 20 years of manufacturing experience, specializes in hands-on lean training and implementation in a variety of industries, as well as lean healthcare. Prior to joining GBMP, she was vice president of operations at United Electric Controls Company, a 1990 Shingo Prize recipient. Ms. Wardwell has been involved with continuous improvement efforts on the shop floor and in support areas since 1987 and has been a speaker at many regional and national conferences on related topics. She has led numerous cross-functional improvement teams in areas ranging from shipping to assembly to machining. She also led a team that successfully implemented a new, company-wide business information system and was co-leader of a successful ISO9001 implementation team.</p>
        </div>
    </div>
    <div class="row">
        <div class="six columns cf">
        	<div class="cf-name">
            	<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_350,w_300/v1406135743/Mike_Orzen_gsdlxi.jpg" alt="Mike Orzen">
                <h4>Mike Orzen</h4>
                <p>Lean IT Pioneer</p>
            </div>
            <p><strong>Mike Orzen</strong>’s career, with more than 20 years of coaching experience, includes the successful application of lean in many environments including manufacturing, service, IT, healthcare, supply chain logistics, banking, insurance, aerospace, and food &amp; beverage. Mike is also a faculty member at the Lean Enterprise Institute and ThedaCare HealthCare Value Network, a Shingo Prize examiner, as well as president of Mike Orzen &amp; Associates. Prior to opening Mike Orzen &amp; Associates, he served as plant manager of a medical implants facility, where he led a company-wide lean transformation and strategic deployment. Mike is author of the award-winning book <em>Lean IT: Enabling &amp; Sustaining Your Lean Enterprise</em> and holds degrees from Stanford University and the University of Oregon.</p>
        </div>
        <div class="six columns cf">
        	<div class="cf-name">
            	<img src="https://res.cloudinary.com/shingo/image/upload/c_crop,g_face,h_4000,w_2800,x_500/c_fill,g_face,h_350,w_300/v1428940864/Larry_Anderson_retaax.jpg" alt="Larry Anderson">
                <h4>Larry Anderson</h4>
                <p>Facilitator</p>
            </div>
            <p><strong>Larry Anderson</strong> has over 40 years of manufacturing experience and has been an examiner for the Shingo Prize since 1999. He brings both a strong management and manufacturing shop floor background to the GBMP team, with extensive experience as a lead examiner for the Shingo Institute. Additionally, he personally assisted two recent Shingo Medallion recipients. A people-oriented leader with a bottom-line focus, Mr. Anderson possesses exceptional motivational skills that come across both in the classroom and on the front-line. He is a registered professional engineer with a bachelor’s degree in mechanical engineering from Texas Tech University.</p>
        </div>
    </div>
		<div class="row">
        <div class="six columns cf">
        	<div class="cf-name">
            	<img src="https://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_300,w_300/v1461182449/Affiliates/DanFleming1.png" alt="Dan Fleming">
                <h4>Dan Fleming</h4>
                <p>Director of Consulting Services,<br>GBMP </p>
            </div>
            <p><strong>Dan Fleming</strong> brings 30+ years of experience in operations and engineering to GBMP including more than 25 years of hands-on experience learning, leading and teaching the principles and tools of the Toyota Production System and continuous improvement. Prior to his current role, Mr. Fleming was a continuous improvement manager at GBMP for 14 years and was the lead developer of GBMP’s highly regarded Lean in Healthcare Certificate Course, which was one of the first of its kind in healthcare. Over the past five years, Mr. Fleming has been the lead faculty on programs taught at more than 30 hospitals, medical clinics and nursing homes. Previously, he was the director of operations at United Electric Controls Company, a Shingo Prize recipient.</p>
        </div>
        <div class="six columns cf">
        	<div class="cf-name">
            	<img src="https://res.cloudinary.com/shingo/image/upload/c_crop,g_face,h_4000,w_2800,x_500/c_fill,g_face,h_350,w_300/v1428940864/Larry_Anderson_retaax.jpg" alt="Larry Anderson">
                <h4>Larry Anderson</h4>
                <p>Facilitator</p>
            </div>
            <p><strong>Larry Anderson</strong> has over 40 years of manufacturing experience and has been an examiner for the Shingo Prize since 1999. He brings both a strong management and manufacturing shop floor background to the GBMP team, with extensive experience as a lead examiner for the Shingo Institute. Additionally, he personally assisted two recent Shingo Medallion recipients. A people-oriented leader with a bottom-line focus, Mr. Anderson possesses exceptional motivational skills that come across both in the classroom and on the front-line. He is a registered professional engineer with a bachelor’s degree in mechanical engineering from Texas Tech University.</p>
        </div>
    </div>
</article> -->
<!-- InstanceEndEditable -->
